<div class="list-container">
  <igx-list #players [isLoading]="loading">
    <ng-template igxDataLoading>
        <div class="center-message">
          <span>Loading players...</span>
          <div class="loading-indicator">
            <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
          </div>
        </div>
    </ng-template>
    <igx-list-item [isHeader]="true">Players</igx-list-item>
    <igx-list-item *ngIf="!searchResult.Players.length">No matching players...</igx-list-item>
    <igx-list-item #item *ngFor="let user of searchResult.Players | reduceQuickSearchResult">
      <div class="horizontal-center">
        <igx-avatar [src]="user.steamUser.avatarIcon" [initials]="user.steamUser.steamID" roundShape="true">
        </igx-avatar>
        <igx-avatar [src]="'assets/country-flags/svg/' + user.steamUser.country.toLowerCase() + '.svg'" [roundShape]="true" [title]="user.steamUser.country" class="country-badge-small"></igx-avatar>
        <div class="horizontal-info__left">
          <span class="title">
            <a [routerLink]="['/players', user.steamUser.customURL || user.steamUser.steamID64]">
              {{ user.steamUser.steamID }}
              <!-- <igx-avatar [src]="'assets/csgo-ranks/icons/skillgroup14.png'" class="skill-badge" [roundShape]="true"></igx-avatar> -->
            </a>
          </span>
          <span class="subtitle">{{ user.steamUser.realname }}</span>
        </div>
        
        <div class="horizontal-info__right--column">
          <div class="horizontal-center">
            <igx-circular-bar class="icon-avatar" [value]="user.userStats.killDeathRatio" [max]="2" [animate]="true" [textVisibility]="false" title="KDR"></igx-circular-bar>
            <span class="title margin-left player-summary-stat">{{ user.userStats.killDeathRatio }}</span>
          </div>
          <div class="horizontal-center">
            <igx-icon fontSet="weapon-icons" name="headshot" class="icon-avatar"></igx-icon>
            <span class="title margin-left player-summary-stat">{{ user.userStats.headshotPercentage | number:'1.2' }}%</span>
          </div>
        </div>
      </div>
    </igx-list-item>
    <igx-list-item *ngIf="searchResult.Players.length > 3">
      <button igxButton="flat" igxRipple class="submit-button" [routerLink]="['/search/players', 'name=' + term]">View more players...</button>
    </igx-list-item>
  </igx-list>
  <igx-list [isLoading]="loading">
    <ng-template igxDataLoading>
      <div class="center-message">
        <span>Loading teams...</span>
        <div class="loading-indicator">
          <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
        </div>
      </div>
    </ng-template>
    <igx-list-item [isHeader]="true">Teams</igx-list-item>
    <igx-list-item *ngIf="!searchResult.Teams.length">No matching teams...</igx-list-item>
    <igx-list-item *ngFor="let team of searchResult.Teams | reduceQuickSearchResult">
      <div class="horizontal-center">
        <igx-avatar [src]="team.TeamAvatar" [initials]="team.TeamName" roundShape="true">
        </igx-avatar>
        <div class="horizontal-info__left">
          <span class="title">
            <a [routerLink]="['/team', team.CustomURL]">
              {{ team.TeamName }}
            </a>
          </span>
        </div>
        
        <div class="horizontal-info__right">
          {{ team.Members.length }} Members
        </div>
      </div>
    </igx-list-item>
    <igx-list-item *ngIf="searchResult.Teams.length > 3">
      <button igxButton="flat" igxRipple class="submit-button" [routerLink]="['/search/teams', 'name=' + term]">View more teams...</button>
    </igx-list-item>
  </igx-list>
</div>