igx-icon {
  cursor: pointer;
  user-select: none;
}

.steam-groups {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.steam-group-name {
  margin-left: 1em;
}

.card-column {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 4px;
}

.create-team-card {
  margin-bottom: 8px;
}

.team-card {
  margin-bottom: 4px;
}
