<igx-buttongroup class="search-type" [multiSelection]="false" (onSelect)="searchType = $event.index + 1">
  <button igxButton igxRipple>Players</button>
  <button igxButton igxRipple>Teams</button>
</igx-buttongroup>

<app-player-search *ngIf="searchType === 1" [authUser]="authUser"></app-player-search>
<app-team-search *ngIf="searchType === 2" [authUser]="authUser"></app-team-search>

<!-- <igx-tabs tabsType="fixed">
  <igx-tabs-group label="Players">
    <app-player-search [authUser]="authUser"></app-player-search>
    <app-players></app-players>
  </igx-tabs-group>
  <igx-tabs-group label="Teams">
    <app-team-search [authUser]="authUser"></app-team-search>
    <app-teams></app-teams>
  </igx-tabs-group>
</igx-tabs> -->