/* ICONS BADGES AVATARS */
igx-icon {
  user-select: none;
}

igx-card-actions igx-badge {
  margin-right: 8px;
}

igx-grid-cell > igx-avatar {
  margin-right: 8px;
}
/* END ICONS */

/* NAVBAR */
.igx-navbar {
  padding: 0 1rem;
}
/* END NAVBAR */

/* NAVDRAWER */
.igx-nav-drawer__aside--pinned {
  position: fixed;
}

.igx-nav-drawer__item, .igx-nav-drawer__item--active {
  clip-path: none;
}
/* END NAVDRAWER */

/* SNACKBAR */
igx-snackbar {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
  z-index: 10000;
}
/* END SNACKBAR */

/* DIVIDER */
igx-divider {
  width: 100%;
}
/* END DIVIDER */

igx-card-content h4 {
  margin: 24px 0px 0px 8px;
}

// .igx-linear-bar__base {
//   height: 12px;
// }

/* List */
.igx-list__item-thumbnail {
  align-self: inherit;
}
/* END List */

.color-success {
  color: var(--ig-success-500);
}

.color-error {
  color: var(--ig-error-500);
}

.color-warn {
  color: var(--ig-warn-500);
}
