<div class="overview-container-card">
  <igx-card [elevated]="true">
    <igx-card-header>
      <igx-avatar src="/assets/login/bge-white-2024.svg" igxCardThumbnail shape="circle" />
      <h1 igxCardHeaderTitle i18n>{{ tournament?.name }} StarCraft II Circuit</h1>
      <a i18n [routerLink]="['../registration/', bgeBalkanId]" igxButton="contained" style="margin-top: 12px" i18n>Sign-up to participate</a>
    </igx-card-header>
    <igx-card-content>
      <div>
        <p i18n>BGE Balkan is a regional StarCraft II circuit that takes place every week. Players from the Balkan region compete in a series of matches to earn points and prizes.</p>
        <p i18n>The circuit is open to all players from the Balkan region, and it's free to participate. The top players from each week will earn points that will count towards guaranteed €150 prize pool at the end of the month.</p>
        <p i18n>50% of all donations during game days are added on top of the guaranteed prize pool for the month. You can donate through:</p>
        <ul>
          <li>Revolut: <span class="highlight">&#64;bellumgens</span></li>
          <li>GitHub sponsors: <a href="https://github.com/sponsors/BellumGens?o=esb" target="_blank" >https://github.com/sponsors/BellumGens</a></li>
        </ul>
        <p i18n>Matches are played on the EU server, and players are required to join the <a href="https://discord.gg/7Zt8VZJ" target="_blank" rel="noopener">BGE Balkan Discord</a> to communicate with the admins and other players. See the full <a href="/assets/bge/BGE Balkan Circuit Terms and Conditions Rulebook.pdf" target="_blank" rel="noopener">Rulebook</a> for more information.</p>
      </div>
      <div class="participants-container">
        <h4 i18n style="width: 100%">Participants</h4>
        @if (loading) {
          <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
        }
        @for (registration of registrations | async; track registration) {
          <div class="registration-slot">
            <igx-avatar [src]="registration.user.sc2Details?.avatarUrl || ''" [initials]="registration.user.username" size="medium" shape="circle">
            </igx-avatar>
            <igx-avatar [src]="registration.country | countrySVG" shape="circle" [title]="registration.country" class="country-badge-small"></igx-avatar>
            <a [routerLink]="['/players/', registration.user.id, 'sc']">{{ registration.battleTag }}</a>
            @if (registration.companyId) {
              <span>[{{ registration.companyId }}]</span>
            }
          </div>
        }
        <igx-divider></igx-divider>
      </div>

      <div class="group-columns">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3320904478097217"
            crossorigin="anonymous"></script>
        <!-- Display Ad horizontal 1 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-3320904478097217"
            data-ad-slot="9044957402"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        @for (group of groups | async; track group.id) {
          <igx-grid
            cellSelection="none"
            [data]="group.participants">
            <igx-grid-toolbar>
              <igx-grid-toolbar-title>{{group.name}}</igx-grid-toolbar-title>
              <igx-grid-toolbar-actions>
                <button igxIconButton="flat" igxRipple (click)="refreshGroups()">
                  <igx-icon>refresh</igx-icon>
                </button>
              </igx-grid-toolbar-actions>
            </igx-grid-toolbar>
            <igx-column field="user" i18n-header header="Player">
              <div *igxCell="let value">
                <igx-avatar igxListThumbnail
                  [initials]="value.username"
                  class="avatar-small"
                  shape="circle">
                </igx-avatar>
                <span igxListLineTitle>
                  {{ value.username }}
                </span>
              </div>
            </igx-column>
            <igx-column field="country" i18n-header header="Country">
              <div *igxCell="let value">
                <igx-avatar igxListThumbnail
                  [src]="value | countrySVG"
                  shape="circle" class="avatar-small">
                </igx-avatar>
                <span igxListLineTitle>
                  {{ value }}
                </span>
              </div>
            </igx-column>
            <igx-column field="companyId" i18n-header header="Team">
            </igx-column>
            <igx-column field="matches" dataType="number" i18n-header header="Matches" width="9%">
            </igx-column>
            <igx-column field="wins" dataType="number" i18n-header header="Wins" width="8%">
            </igx-column>
            <igx-column field="losses" dataType="number" i18n-header header="Losses" width="8%">
            </igx-column>
            <igx-column field="playerPoints" dataType="number" i18n-header header="Points" width="7%">
            </igx-column>
          </igx-grid>
        }
      </div>


      <igx-grid cellSelection="none"
        [data]="sc2matches | async"
        height="650px"
        [groupingExpressions]="grouping"
        i18n-emptyGridMessage
        emptyGridMessage="No matches found..."
        [isLoading]="loadingMatches">

        <igx-grid-toolbar>
          <igx-grid-toolbar-title i18n>{{ tournament?.name }} Match Results</igx-grid-toolbar-title>
          <igx-grid-toolbar-actions>
            <button igxIconButton="flat" igxRipple (click)="refreshMatches()">
              <igx-icon>refresh</igx-icon>
            </button>
            <a href="https://play.toornament.com/en_US/tournaments/8376728902519046144/matches/schedule" target="_blank" rel="noopener" i18n>Weekly Bracket</a>
          </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="startTime" width="220px" dataType="date" i18n-header header="Start time">
          <ng-template igxCell let-value>
            {{ value | date:'MMM d, y, h:mm a' }}
          </ng-template>
        </igx-column>

        <igx-column field="matchDetails" i18n-header header="Match" [filterable]="false">
          <div *igxCell="let cell = cell" class="horizontal-center">
            <igx-avatar igxListThumbnail
              [src]="cell.row.data.player1.sc2Details?.avatarUrl || ''"
              [initials]="cell.row.data.player1.username"
              class="avatar-small"
              shape="circle">
            </igx-avatar>
            <span [class]="cell.row.data.player1Points > cell.row.data.player2Points ? 'highlight grid-team-name color-success' : 'grid-team-name'">
              {{ cell.row.data.player1.username }}
              @if (cell.row.data.player1Points > cell.row.data.player2Points) {
                <igx-icon i18n-title title="Winner">check</igx-icon>
              }
            </span>

            <span class="grid-vs-divider">vs.</span>

            <igx-avatar
              [src]="cell.row.data.player2.sc2Details?.avatarUrl || ''"
              [initials]="cell.row.data.player2.username"
              class="avatar-small"
              shape="circle">
            </igx-avatar>
            <span [class]="cell.row.data.player2Points > cell.row.data.player1Points ? 'highlight grid-team-name color-success' : 'grid-team-name'">
              {{ cell.row.data.player2.username }}
              @if (cell.row.data.player2Points > cell.row.data.player1Points) {
                <igx-icon i18n-title title="Winner">check</igx-icon>
              }
            </span>
          </div>
        </igx-column>

        <igx-column width="150px" field="videoLink" i18n-header header="Video" [filterable]="false">
          <ng-template igxCell let-value>
            @if (value) {
              <a [href]="value" target="_blank" class="horizontal-center">
                <igx-icon name="youtube" family="login-icons"></igx-icon>
                <span i18n>Video</span>
              </a>
            }
          </ng-template>
        </igx-column>

        <igx-column width="150px" field="demoLink" i18n-header header="Replay" [filterable]="false">
          <ng-template igxCell let-value>
            @if (value) {
              <a [href]="value" target="_blank" class="horizontal-center">
                <igx-icon>link</igx-icon>
                <span i18n>Replay</span>
              </a>
            }
          </ng-template>
        </igx-column>

        <!-- <ng-template igxGridDetail let-dataItem>
          @for (map of dataItem.maps; track map.id) {
            <div class="horizontal-center">
              <div class="score-container">
                @if (map.winnerId === dataItem.player1Id) {
                  <igx-icon>check</igx-icon>
                }
              </div>
              <div>{{ map.map | sc2MapName }}</div>
              <div class="score-container">
                @if (map.winnerId === dataItem.player2Id) {
                  <igx-icon>check</igx-icon>
                }
              </div>
            </div>
          }

          @if (dataItem.noShow) {
            <div class="horizontal-center" i18n>Forfeited</div>
          }

          @if (!dataItem.maps.length && !dataItem.noShow) {
            <div class="horizontal-center" i18n>The match has not been played yet, or there's no results on record...</div>
          }
        </ng-template> -->
      </igx-grid>
    </igx-card-content>
  </igx-card>
</div>
