<igx-list [isLoading]="loading">
  <ng-template igxDataLoading>
    <div class="center-message">
      <span>Loading teams...</span>
      <div class="loading-indicator">
        <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
      </div>
    </div>
  </ng-template>
  <igx-list-item [isHeader]="true">Newest Teams</igx-list-item>
  <igx-list-item *ngFor="let team of csgoTeams" class="navigatable" [routerLink]="['/team', team.CustomUrl]">
    <igx-avatar igxListThumbnail [src]="team.TeamAvatar" [initials]="team.TeamName" roundShape="true">
    </igx-avatar>
    <h2 igxListLineTitle>
      <a>{{ team.TeamName }}</a>
    </h2>
  
    <div igxListAction>
      {{ team.Members.length }} Members
    </div>
  </igx-list-item>
</igx-list>
