<igx-list [isLoading]="loading">
  <ng-template igxDataLoading>
    <div class="center-message">
      <span>Loading teams...</span>
      <div class="loading-indicator">
        <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
      </div>
    </div>
  </ng-template>
  <igx-list-item [isHeader]="true">Teams</igx-list-item>
  <igx-list-item *ngFor="let team of csgoTeams">
    <div class="horizontal-center">
      <igx-avatar [src]="team.TeamAvatar" [initials]="team.TeamName" roundShape="true">
      </igx-avatar>
      <div class="horizontal-info__left">
        <span class="title">
          <a [routerLink]="['/team', team.TeamId]">
            {{ team.TeamName }}
          </a>
        </span>
      </div>
    
      <div class="horizontal-info__right">
        {{ team.Members.length }} Members
      </div>
    </div>
  </igx-list-item>
</igx-list>
