:host {
  display: flex;
  flex-direction: column;
  padding: 12px 12px;
  min-height: calc(100% - 48px);

  .registration-title {
    margin-top: 8px;
  }

  .accept-terms-checkbox {
    margin: 12px;
  }

  .submit-registration {
    height: 48px;
    margin: 8px auto;
  }

  .registration-form-input {
    width: 380px;
    margin: 4px 0;
  }

  .team-avatar {
    width: 32px;
    min-width: 32px;
    height: 32px;
  }

  .form-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .terms-dialog {
    width: 650px;
  }

  @media only screen and (max-width: 550px) {
    .registration-form-input {
      width: 348px;
    }

    .terms-dialog {
      width: 380px;
    }

    .registration-title {
      font-size: 2.6rem;
      line-height: 3rem;
    }
  }
}
