<div class="loading-overview">
  <form class="registration-form" #userRegistration="ngForm" (ngSubmit)="submitRegistration()">
    <h4>Setup your account</h4>
    <igx-input-group type="border">
      <label for="username" igxLabel>Username</label>
      <igx-prefix>
        <igx-icon>person</igx-icon>
      </igx-prefix>
      <input #userName igxInput id="username" required name="username" [(ngModel)]="userAccount.username" />
      <igx-hint class="color-error" *ngIf="inUse">
        Username already taken...
      </igx-hint>
    </igx-input-group>

    <igx-input-group type="border">
      <label igxLabel for="email">Email</label>
      <igx-prefix>
        <igx-icon>email</igx-icon>
      </igx-prefix>
      <input type="email" id="email" #orderEmail name="email" igxInput required pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userAccount.email" />
    </igx-input-group>

    <igx-input-group type="border">
      <label for="password" igxLabel>Password</label>
      <input #password igxInput type="password" required id="password" name="password" [(ngModel)]="userAccount.password" />
    </igx-input-group>

    <igx-input-group type="border">
      <label for="confirmPassword" igxLabel>Confirm Password</label>
      <input #confirmPassword igxInput type="password" required id="confirmPassword" name="confirmPassword" [(ngModel)]="userAccount.confirmPassword" />
      <igx-hint class="color-error" *ngIf="userRegistration.touched && confirmPassword.value !== userAccount.password">
        Doesn't match...
      </igx-hint>
    </igx-input-group>

    <button igxButton="outlined"
            class="submit-button space-out"
            [disabled]="!userRegistration.touched || !userRegistration.valueChanges || userRegistration.invalid || submitInProgress">
      Register
    </button>
  </form>
</div>
