<igx-list *ngIf="applications.length">
  <igx-list-item [isHeader]="true">Notifications for {{ team.TeamName }}</igx-list-item>
  <igx-list-item *ngFor="let notification of applications | sortApplications">
    <div [class]="'horizontal-center ' + notificationClass[notification.State]">
      <igx-avatar [src]="notification.UserInfo.avatarFull" [initials]="notification.UserInfo.steamID" roundShape="true">
      </igx-avatar>
      <div class="horizontal-info__left">
        <span class="title">
          <a [routerLink]="['players', notification.ApplicantId]">{{ notification.UserInfo.steamID }}</a> has applied to join your team!
        </span>
        <span class="subtitle">Application: {{ notification.Message }}</span>
        <span class="subtitle">{{ notification.Sent | date }}</span>
      </div>
      <div class="horizontal-info__right">
        <button igxButton="flat" [disabled]="notification.State | disabledNotifications" (click)="approveApplication(notification)">Approve</button>
        <button igxButton="flat" [disabled]="notification.State | disabledNotifications" (click)="rejectApplication(notification)">Reject</button>
      </div>
    </div>
  </igx-list-item>
</igx-list>