<igx-list [isLoading]="true">
  <ng-template igxDataLoading>
      <div class="center-message"><span>Fetching data from our server...</span></div>
  </ng-template>
  <ng-template igxEmptyList>
      <div class="center-message"><span>No new notifications.</span></div>
  </ng-template>
  <igx-list-item *ngFor="let notification of applications | sortApplications">
    <div [class]="'horizontal ' + notificationClass[notification.State]">
      <igx-avatar [src]="notification.UserInfo.avatarFull" roundShape="true">
      </igx-avatar>
      <div class="horizontal-info__left">
        <span class="title">
          <a [href]="notification.UserInfo.customURL">{{ notification.UserInfo.steamID }}</a> has applied to join your team!
        </span>
        <span class="subtitle">Application: {{ notification.Message }}</span>
        <span class="subtitle">Submitted on: {{ notification.Sent | date }}</span>
      </div>
      <div class="horizontal-info__right">
        <button igxButton="flat" [disabled]="notification.State | disabledNotifications">Approve</button>
      </div>
      <div class="horizontal-info__right">
        <button igxButton="flat" [disabled]="notification.State | disabledNotifications">Reject</button>
      </div>
    </div>
  </igx-list-item>
</igx-list>
<app-success-error></app-success-error>