<div class="list-container">
  <igx-list #players [isLoading]="loading">
    <ng-template igxDataLoading>
        <div class="center-message">
          <span i18n>Loading players...</span>
          <div class="loading-indicator">
            <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
          </div>
        </div>
    </ng-template>
    <igx-list-item *ngIf="searchResult.steamUser?.steamUser" [isHeader]="true" i18n>Steam User</igx-list-item>
    <igx-list-item *ngIf="searchResult.steamUser?.steamUser"
                  [routerLink]="['/players', searchResult.steamUser.steamUser.customURL || searchResult.steamUser.steamUser.steamID64]"
                  class="navigatable">
      <igx-avatar igxListThumbnail [src]="searchResult.steamUser.steamUser.avatarIcon" [initials]="searchResult.steamUser.steamUser.realname" shape="circle">
      </igx-avatar>
      <igx-avatar *ngIf="searchResult.steamUser.steamUser.country"
                  [src]="searchResult.steamUser.steamUser.country | countrySVG"
                  shape="circle"
                  [title]="searchResult.steamUser.steamUser.country"
                  class="country-badge-small">
      </igx-avatar>

      <h2 igxListLineTitle>{{ searchResult.steamUser.steamUser.steamID }}</h2>
      <h4 igxListLineSubTitle>{{ searchResult.steamUser.steamUser.realname }}</h4>

      <div igxListAction *ngIf="!searchResult.steamUser.userStatsException else private">
          <div class="horizontal-center space-between">
            <igx-circular-bar class="icon-avatar" [value]="searchResult.steamUser.userStats?.killDeathRatio" [max]="2" [animate]="true" [textVisibility]="false" title="KDR"></igx-circular-bar>
            <span>{{ searchResult.steamUser.userStats?.killDeathRatio }}</span>
          </div>

          <div class="horizontal-center space-between">
            <igx-icon family="weapon-icons" name="headshot" class="icon-avatar"></igx-icon>
            <span>{{ searchResult.steamUser.userStats?.headshotPercentage | number:'1.2' }}%</span>
          </div>
      </div>
    </igx-list-item>
    <igx-list-item [isHeader]="true" i18n>Players</igx-list-item>
    <igx-list-item *ngIf="!searchResult.players.length">
      <span igxListLine i18n>No matching players...</span>
    </igx-list-item>
    <igx-list-item *ngFor="let user of searchResult.players | reduceQuickSearchResult"
                  [routerLink]="['/players', user.customURL || user.id]"
                  class="navigatable">
      <igx-avatar igxListThumbnail [src]="user.avatarIcon" [initials]="user.realname" shape="circle">
      </igx-avatar>
      <igx-avatar *ngIf="user.country"
                  [src]="user.country | countrySVG"
                  shape="circle"
                  [title]="user.country"
                  class="country-badge-small">
      </igx-avatar>

      <h2 igxListLineTitle>{{ user.username }}</h2>
      <h4 igxListLineSubTitle>{{ user.realname }}</h4>

      <div igxListAction *ngIf="!user.steamPrivate else private">
          <div class="horizontal-center space-between">
            <igx-circular-bar class="icon-avatar" [value]="user.killDeathRatio" [max]="2" [animate]="true" [textVisibility]="false" title="KDR"></igx-circular-bar>
            <span>{{ user.killDeathRatio }}</span>
          </div>

          <div class="horizontal-center space-between">
            <igx-icon family="weapon-icons" name="headshot" class="icon-avatar"></igx-icon>
            <span>{{ user.headshotPercentage | number:'1.2' }}%</span>
          </div>
      </div>
    </igx-list-item>
    <igx-list-item *ngIf="searchResult.players.length > 3">
      <button igxButton="flat" igxRipple class="submit-button" [routerLink]="['/search/players', 'name=' + term]" i18n>View more players...</button>
    </igx-list-item>
  </igx-list>
  <igx-list [isLoading]="loading">
    <ng-template igxDataLoading>
      <div class="center-message">
        <span i18n>Loading teams...</span>
        <div class="loading-indicator">
          <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
        </div>
      </div>
    </ng-template>
    <igx-list-item [isHeader]="true" i18n>Teams</igx-list-item>
    <igx-list-item *ngIf="!searchResult.teams.length">
      <span igxListLine i18n>No matching teams...</span>
    </igx-list-item>
    <igx-list-item *ngFor="let team of searchResult.teams | reduceQuickSearchResult" class="navigatable" [routerLink]="['/team', team.customUrl]">
      <igx-avatar igxListThumbnail [src]="team.teamAvatar" [initials]="team.teamName" shape="circle">
      </igx-avatar>
      <h2 igxListLineTitle>{{ team.teamName }}</h2>
    </igx-list-item>
    <igx-list-item *ngIf="searchResult.teams.length > 3">
      <button igxButton="flat" igxRipple class="submit-button" [routerLink]="['/search/teams', 'name=' + term]" i18n>View more teams...</button>
    </igx-list-item>
  </igx-list>
  <igx-list [isLoading]="loading">
    <ng-template igxDataLoading>
      <div class="center-message">
        <span i18n>Loading strategies...</span>
        <div class="loading-indicator">
          <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
        </div>
      </div>
    </ng-template>
    <igx-list-item [isHeader]="true" i18n>Strategies</igx-list-item>
    <igx-list-item *ngIf="!searchResult.strategies.length">
      <span igxListLine i18n>No matching strategies...</span>
    </igx-list-item>
    <igx-list-item *ngFor="let strat of searchResult.strategies | reduceQuickSearchResult" class="navigatable" [routerLink]="['/team', strat.customUrl]">
      <igx-avatar igxListThumbnail [src]="strat.image" [initials]="strat.title" shape="circle">
      </igx-avatar>
      <h2 igxListLineTitle>{{ strat.title }}</h2>
    </igx-list-item>
    <igx-list-item *ngIf="searchResult.strategies.length > 3">
      <button igxButton="flat" igxRipple class="submit-button" [routerLink]="['/strategies', 'name=' + term]" i18n>View more strategies...</button>
    </igx-list-item>
  </igx-list>

  <ng-template #private>
    <span i18n>Private</span>
  </ng-template>
</div>
