<div *ngIf="!player" class="loading-overview">
  <igx-circular-bar class="loading-user-data" [indeterminate]="true"></igx-circular-bar>
</div>

<div class="loading-overview" *ngIf="player?.steamUserException">
  <h1>Player not found...</h1>
</div>

<div *ngIf="player" class="overview-container-card">
  <h1 *ngIf="newUser">Now it's time to complete your profile</h1>

  <div class="overview-container" *ngIf="!player.steamUserException">
    <div class="left-details-container">
      <igx-avatar [src]="player?.steamUser?.avatarFull" [initials]="player?.steamUser?.steamID" class="player-avatar">
      </igx-avatar>
      <igx-avatar *ngIf="player?.steamUser?.country" [src]="player?.steamUser?.country | playerCountry" [roundShape]="true" [title]="player?.steamUser?.country" class="country-badge-large"></igx-avatar>
      <h1 class="igx-card-header__title"><a [href]="player?.steamUser?.customURL | steamCustomUrl" target="_blank" rel="noopener">{{ player?.steamUser?.steamID }}</a></h1>
      <h4 class="igx-card-header__subtitle">{{ player?.steamUser?.realname }}</h4>
    </div>

    <div class="player-stats__container">
      <div class="player-overview-container">
        <h4>Overview</h4>
        
        <div *ngIf="player.registered && !playerIsUser">
          <button igxButton="raised" [disabled]="true">Send message <igx-icon>mail</igx-icon></button>
          <button *ngIf="authUser?.TeamAdmin.length > 0" igxButton="flat" igxRipple class="title margin-left" [igxToggleAction]="teamInvite">
            Invite to team
            <igx-icon>arrow_drop_down</igx-icon>
          </button>
          <igx-drop-down (onSelection)="inviteToTeam($event)" #teamInvite>
            <igx-drop-down-item class="team-invites" [value]="team" *ngFor="let team of authUser?.TeamAdmin">
              <igx-avatar [src]="team.TeamAvatar" [initials]="team.TeamName" roundShape="true">
              </igx-avatar>
              <span class="title margin-left">
                {{ team.TeamName }}
              </span>
            </igx-drop-down-item>
          </igx-drop-down>
        </div>

        <div *ngIf="!player.registered">
          This player is not registered! If you own the profile then register to complete it.
          <app-login *ngIf="!authUser"></app-login>
        </div>
      </div>

      <div *ngIf="player?.userStats" class="player-detail-stats-container">
        <igx-card class="player-detail__stats">
          <igx-card-header>
            <h4 class="igx-card-header__title">KDR</h4>
          </igx-card-header>
          <igx-card-content class="center-items">
            <igx-circular-bar [value]="player.userStats.killDeathRatio" [max]="2" [animate]="true" title="KDR" [text]="player.userStats.killDeathRatio"></igx-circular-bar>
          </igx-card-content>
        </igx-card>

        <igx-card class="player-detail__stats">
          <igx-card-header>
            <h4 class="igx-card-header__title">Headshots</h4>
          </igx-card-header>
          <igx-card-content class="center-items">
            <igx-circular-bar [value]="player.userStats.headshotPercentage" [max]="100" [animate]="true" title="Headshot Percentage" [text]="player.userStats.headshotPercentage + '%'"></igx-circular-bar>
          </igx-card-content>
        </igx-card>
        <igx-card class="player-detail__stats">
          <igx-card-header>
            <h4 class="igx-card-header__title">Accuracy</h4>
          </igx-card-header>
          <igx-card-content class="center-items">
            <igx-circular-bar [value]="player.userStats.accuracy" [max]="100" [animate]="true" [text]="player.userStats.accuracy + '%'"></igx-circular-bar>
          </igx-card-content>
        </igx-card>

        <igx-card class="player-detail__stats">
          <igx-card-header>
            <h4 class="igx-card-header__title">Top weapon</h4>
          </igx-card-header>
          <igx-card-content class="center-items">
            <div>
              <igx-icon class="weapon-image" fontSet="weapon-icons" [name]="player.userStats.favouriteWeapon?.name"
                [title]="player?.userStats?.favouriteWeapon | topWeaponAlt">
              </igx-icon>
            </div>
            <div>
              <h5>{{ player?.userStats?.favouriteWeapon?.name }}</h5>
            </div>
          </igx-card-content>
        </igx-card>

        <igx-card class="player-detail__stats" *ngIf="player.registered">
          <igx-card-header>
            <h4 class="igx-card-header__title">Teams</h4>
          </igx-card-header>
          <igx-card-content>
            <igx-avatar class="team-avatar-link" *ngFor="let team of player?.teams" [initials]="team.TeamName" [src]="team.TeamAvatar" [title]="team.TeamName" [routerLink]="['/team', team.TeamId]" roundShape="true" [size]="'large'">
            </igx-avatar>
            <h4 *ngIf="!player?.teams.length">Not a member of a team yet.</h4>
          </igx-card-content>
        </igx-card>
      </div>

      <div *ngIf="player.userStatsException" class="player-stats__container">
        <h4>Steam account is private.</h4>
        <p>If this is your account, you need to change the privacy level of your account, so we can access game stats from Steam.</p>
        <p>To do this go to <span class="highlight">Steam Profile --> Edit Profile --> Privacy Settings --> Set: 'My profile: Public' and 'Game details: public'</span></p>
      </div>
    </div>
  </div>

  <div class="overview-container" *ngIf="player.registered">
      <!-- Availability -->
      <div class="left-details-container">
          <h4>Availability</h4>
          <app-availability [availability]="player?.availability" (availabilityChanged)="submitAvailability($event)" [editable]="playerIsUser"></app-availability>

          <!-- Playstyle Roles -->
          <h4>Playstyle</h4>
          <div class="horizontal-center">
            <label for="primary-role">Primary</label>
            <div class="horizontal-info__right">
              <button id="primary-role" igxButton="flat" igxRipple [disabled]="!playerIsUser" [igxToggleAction]="primaryRole" igxRippleCentered="true">
                {{ player?.roles[player.primaryRole].Name }}
                <igx-icon *ngIf="playerIsUser" fontSet="material">arrow_drop_down</igx-icon>
              </button>
              <igx-drop-down #primaryRole (onSelection)="selectPrimary($event)">
                <igx-drop-down-item *ngFor="let role of player?.roles" [isSelected]="role.Id === player.primaryRole">
                  {{ role.Name }}
                </igx-drop-down-item>
              </igx-drop-down>
            </div>
          </div>

          <div class="horizontal-center">
            <label for="secondary-role">Secondary</label>
            <div class="horizontal-info__right">
              <button id="secondary-role" igxButton="flat" igxRipple [disabled]="!playerIsUser" [igxToggleAction]="secondaryRole" igxRippleCentered="true">
                {{ player?.roles[player.secondaryRole].Name }}
                <igx-icon *ngIf="playerIsUser" fontSet="material">arrow_drop_down</igx-icon>
              </button>
              <igx-drop-down #secondaryRole (onSelection)="selectSecondary($event)">
                <igx-drop-down-item *ngFor="let role of player?.roles" [isSelected]="role.Id === player.secondaryRole">
                    {{ role.Name }}
                </igx-drop-down-item>
              </igx-drop-down>
            </div>
          </div>
          
          <!-- END Playstyle Roles -->
      </div>
      <!-- END Availability -->
      
      <div class="player-detail-stats-container">
        <div class="list-container">
          <igx-list *ngIf="!player.userStatsException">
            <igx-list-item [isHeader]="true">Weapons</igx-list-item>
            <igx-list-item *ngFor="let weapon of player.userStats.weapons | sortWeapons">
              <div class="horizontal-center">
                <igx-icon class="weapon-image-small" fontSet="weapon-icons" [name]="weapon.name"></igx-icon>
                <div class="horizontal-info__left">
                  <span class="highlight">
                    {{ weapon.name }}
                  </span>
                </div>
              
                <div class="horizontal-info__right">
                  {{ weapon.kills }} kills
                </div>
              </div>
            </igx-list-item>
          </igx-list>
        </div>

        <!-- Map Pool -->
        <igx-card class="player-detail__stats-span">
          <igx-card-header>
            <h4 class="igx-card-header__title">Maps</h4>
          </igx-card-header>
          <igx-card-content>
            <app-map-pool [readOnly]="!playerIsUser"
              [mapPool]="player?.mapPool"
              (update)="mapChange($event)"></app-map-pool>
          </igx-card-content>
        </igx-card>
        <!-- END Map Pool -->
      </div>
        
  </div>
</div>