.player-roles__container {
  display: flex;
  flex-flow: column;
}

.no-margin {
  margin: 0;
}

.team-invites {
  height: 56px;
  padding: 8px;
}

/* User Profile */
.player-avatar {
  width: 144px;
  height: 144px;
  border-radius: 16px;
}

.team-avatar-link {
  cursor: pointer;
  margin: 0 16px 16px 0;
}

.team-avatar-link:focus,
.team-avatar-link:active {
  outline: none;
}

.igx-card-header__title {
  margin-top: 16px;
}

.country-badge-large {
  position: relative;
  top: -63px;
  left: -38px;
  width: 52px;
  height: 52px;
  min-width: 52px;
}
/* END User Profile */

/* User Overview */

.player-overview-container {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.player-stats__container {
  width: 100%;
}

.player-detail-stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-bottom: 16px;
}

.player-detail-stats-maps-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-bottom: 16px;
}

.player-detail__stats {
  border: 1px solid var(--igx-card-outline-color);
}

.player-detail__stats .igx-circular-bar__text {
  font-size: 1.55rem;
}

.player-detail-stats-loading {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
}

.weapon-image {
  height: 100%;
  width: 100%;
}

.weapon-image-small {
  height: 60px;
  width: 100px;
}
/* END User Overview */

.map-pool-header {
  justify-content: space-between;
}

@media only screen and (max-width: 620px) {
  .player-detail-stats-maps-container {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}