.player-roles__container {
  display: flex;
  flex-flow: column;
}

.no-margin {
  margin: 0;
}

.team-invites {
  height: 56px;
  padding: 8px;
}

.title.margin-left {
  margin-left: 8px;
}

/* User Profile */
.player-avatar {
  width: 144px;
  height: 144px;
  border-radius: 16px;
}

.igx-card-header__title {
  margin-top: 16px;
}

.country-badge-large {
  position: relative;
  top: -109px;
  left: -38px;
  width: 52px;
  height: 52px;
  min-width: 52px;
}
/* END User Profile */

/* User Overview */
.overview-container {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: nowrap;
}

.player-stats__container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.player-overview-container {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.player-detail__stats {
  flex: 1 0 264px;
  width: 264px;
  min-width: 264px;
}

.player-detail__stats-span {
  flex: 1 1 75%;
}

.player-detail__stats-span .igx-card {
  min-height: 276px;
}

.player-detail__stats,
.player-detail__stats-span {
  margin-right: 16px;
  margin-bottom: 16px;
}

.player-detail__stats .igx-circular-bar__text {
  font-size: 1.70rem;
}

.player-detail-stats-container {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.player-detail__stats .igx-circular-bar {
  width: 238px;
  height: 238px;
}

.player-detail__stats .igx-card igx-card-header {
  padding: 16px 16px 0px 16px;
}

.center-items {
  text-align: center;
}

.weapon-wrapper {
  display: flex;
  align-items: center;
}

.weapon-image {
  flex: 1 1 auto;
  height: 210px;
  width: 222px;
}

.weapon-name {
  text-align: center;
}
/* END User Overview */

