.player-roles__container {
  display: flex;
  flex-flow: column;
}

.no-margin {
  margin: 0;
}

.team-invites {
  height: 56px;
  padding: 8px;
}

/* User Profile */
.player-avatar {
  width: 144px;
  height: 144px;
  border-radius: 16px;
}

.team-avatar-link {
  cursor: pointer;
}

.team-avatar-link:focus,
.team-avatar-link:active {
  outline: none;
}

.igx-card-header__title {
  margin-top: 16px;
}

.country-badge-large {
  position: relative;
  top: -109px;
  left: -38px;
  width: 52px;
  height: 52px;
  min-width: 52px;
}
/* END User Profile */

/* User Overview */
.player-overview-container {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.player-stats__container {
  max-width: 100%;
}

.list-container {
  margin-right: 16px;
  margin-bottom: 16px;
}

.list-container .igx-list {
  height: auto;
}

.player-detail__stats {
  display: flex;
  flex: 1 1 200px;
}

.player-detail__stats-span {
  display: flex;
  flex: 1 1 66%;
}

.player-detail__stats igx-card-header,
.player-detail__stats-span igx-card-header {
  height: 50px;
}

.player-detail__stats .igx-card,
.player-detail__stats-span .igx-card {
  width: 100%;
}

.player-detail__stats,
.player-detail__stats-span {
  margin-bottom: 16px;
}

.player-detail__stats:not(:last-child) {
  margin-right: 16px;
}

.player-detail__stats .igx-circular-bar__text {
  font-size: 1.55rem;
}

.player-detail-stats-container {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  flex-flow: row wrap;
}

.player-detail-stats-loading {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
}

.player-detail__stats .igx-circular-bar {
  width: 156px;
  height: 156px;
}

.player-detail__stats .igx-card igx-card-header {
  padding: 16px 16px 0px 16px;
}

.center-items {
  text-align: center;
}

.weapon-wrapper {
  display: flex;
  align-items: center;
}

.weapon-image {
  height: 128px;
  width: 200px;
}

.weapon-image-small {
  height: 60px;
  width: 100px;
}

.weapon-name {
  text-align: center;
}
/* END User Overview */

@media screen and (max-width: 460px) {

  .player-detail__stats {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    min-width: 100%;
  }

  .player-detail__stats,
  .player-detail__stats:not(:last-child) {
    margin-right: 0;
  }

}