.tabs-avatar {
  background: none;
}

.card-wrapper.profile-view-layout {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.player-avatar {
  width: 144px;
  height: 144px;
  border-radius: 16px;
}

@media screen and (max-width: 1280px) {
  .overview-container-card {
    width: auto;
    margin: 0;
  }

  .card-wrapper {
    padding: 20px;
    margin: 0;
  }

  .profile-container, .player-detail__stats {
    max-width: 320px;
  }
}
