<igx-tabs>
  <igx-tab-item routerLinkActive #rla1="routerLinkActive"
    [selected]="rla1.isActive">
    <igx-tab-header routerLink="cs">
      <igx-icon igxPrefix>people_outline</igx-icon>
      <div igxTabHeaderLabel i18n>Details</div>
    </igx-tab-header>
  </igx-tab-item>
  <igx-tab-item routerLinkActive #rla2="routerLinkActive"
    [selected]="rla2.isActive">
    <igx-tab-header routerLink="sc">
      <igx-icon igxPrefix>sports_esports</igx-icon>
      <div igxTabHeaderLabel i18n>Competitions</div>
    </igx-tab-header>
  </igx-tab-item>
</igx-tabs>
