<igx-dialog closeOnOutsideSelect="true" title="Choose login provider">
  <div class="login-buttons">
    <button *ngFor="let provider of loginProviders"
            igxButton="raised"
            class="submit-button navigatable"
            [igxButtonBackground]="loginColors[provider.Name]"
            igxButtonColor="#fff"
            (click)="login(provider.Name)">
      <igx-icon fontSet="login-icons" [name]="provider.Name"></igx-icon>
      <igx-divider [vertical]="true" [inset]="'0 0 0 8px'" [ngClass]="'login-divider'"></igx-divider>
      <span class="submit-button">{{ provider.Name }}</span>
    </button>
  </div>
</igx-dialog>
