<div class="strat-filter-header">
  <span class="igx-card-header__title">Filters:</span>
  <igx-chips-area>
    <igx-chip *ngFor="let map of maps" class="maps-chip" [selected]="true" [selectable]="true">
      {{ map.map }}
    </igx-chip>
  </igx-chips-area>
</div>
<div class="card-wrapper">
  <igx-card type="outlined" *ngFor="let strat of strats">
    <igx-card-header>
      <h4 class="igx-card-header__title">{{ strat.Title }}</h4>
    </igx-card-header>
    <igx-card-media>
      <img *ngIf="strat.Image" [src]="strat.Image" class="strat-image" />
    </igx-card-media>
    <igx-card-content>
      <p class="igx-card-header__subtitle">{{ strat.Description }}</p>
    </igx-card-content>
    <igx-card-actions reverse="true">
      <button igxButton="flat" igxRipple>
        <igx-icon title="delete strategy">delete_forever</igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon title="edit strategy">edit</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
</div>