@use '@infragistics/igniteui-angular/theming' as igx;
@forward '@infragistics/igniteui-angular/theming';

$primary: #2176FF;
$secondary: #F9B218;
$gray: #E4E9EF;
$background: #11162A;
$banner-background: #192348;
$background-gradient: linear-gradient(to right, $background, #11162A);
$background-gradient-lighter: linear-gradient(135deg, #2f3978 0%, #11162A 100%);

$app-palette: igx.palette(
  $primary: $primary,
  $secondary: $secondary,
  $surface: $background,
  $gray: $gray
);
