@use '@infragistics/igniteui-angular/theming' as *;
@forward '@infragistics/igniteui-angular/theming';

$primary: white;
$secondary: #FFB408;
$grays: white;
$background: #192053;
$banner-background: #2C3D93;
$background-gradient: linear-gradient(to right, $background, #04081D);
$background-gradient-lighter: linear-gradient(135deg, #2f3978 0%, #10193f 100%);

$app-palette: palette($primary: $primary, $secondary: $secondary, $grays: $grays);
@include palette($app-palette);
