/* You can add global styles to this file, and also import other style files */
/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@use "variables" as *;
// Specifies large size for all components to match the previous defaults
// This may not be needed for your project. Please consult https://www.infragistics.com/products/ignite-ui-angular/angular/components/general/update-guide for more details.
:root {
    --ig-size: var(--ig-size-large);
}
@import "minireset.css/minireset";

@include core();

@include typography(
  $font-family: "'Poppins', sans-serif"
);

@import "../../common/src/styles.scss";

$include: (igx-avatar,
           igx-navbar,
           igx-list,
           igx-ripple,
           igx-icon,
           igx-button,
           igx-icon-button,
           igx-dialog,
           igx-input-group,
           igx-drop-down,
           igx-badge,
           igx-card,
           igx-checkbox,
           igx-tabs,
           igx-snackbar,
           igx-circular-bar,
           // igx-linear-bar,
           igx-switch,
           igx-divider,
           igx-time-picker,
           igx-date-picker,
           igx-calendar,
           igx-nav-drawer,
           igx-banner);

@include dark-theme(
    $palette: $app-palette,
    $exclude: map-keys(map-remove($components, $include...),)
);

/* Navbar */
$navbar-theme: navbar-theme(
  $background: $background-gradient,
  $shadow: 0px 15px 30px 0px rgba(0,0,0,0.4)
);
@include css-vars($navbar-theme);
/* END Navbar */

/* Nav Drawer */
$navdrawer-theme: navdrawer-theme(
  $background: $background-gradient,
  $item-hover-background: rgba(0, 0, 0, 0.11),
  $item-active-background: rgba(0, 0, 0, 0.11),
  $item-active-text-color: $secondary,
  $item-active-icon-color: $secondary,
  $item-hover-text-color: $secondary,
  $item-hover-icon-color: $secondary
);
@include css-vars($navdrawer-theme);
/* END Nav Drawer */

/* Card */
$card-theme: card-theme($background: $background-gradient-lighter,
                        $resting-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4),
                        $hover-shadow: 0px 15px 30px 0px rgba(0,0,0,0.7));
@include css-vars($card-theme);
/* END Card */

/* List */
$list-theme: list-theme($background: transparent,
                        $item-background-active: rgba(0, 0, 0, 0.11));
@include css-vars($list-theme);
/* END List */

/* Input Group */
$input-group-theme: input-group-theme($search-background: transparent, $size: 48px);
@include css-vars($input-group-theme);
/* END Input Group */

/* Banner */
$banner-theme: banner-theme($banner-background: $banner-background);
@include css-vars($banner-theme);
/* END Banner */

/* Tabs */
$tabs-theme: tabs-theme($item-hover-background: rgba(0, 0, 0, 0.11),
                            $item-active-background: rgba(0, 0, 0, 0.11),
                            $item-background: $background,
                            $indicator-color: $secondary);
@include css-vars($tabs-theme);
/* END Tabs */

/* Snackbar */
$snackbar-theme: snackbar-theme($background: $banner-background, $border-radius: 24px);
@include css-vars($snackbar-theme);
/* END Snackbar */

/* Progress Circular */
$circular-progress-bar-theme: progress-circular-theme($base-circle-color: rgba(0, 0, 0, 0.14), $progress-circle-color: $secondary);
@include css-vars($circular-progress-bar-theme);
/* END Progress Circular */

@import "../../common/src/styles-overrides.scss";

.space-out {
  margin-bottom: 24px;
}

.margin-top {
  margin-top: 12px;
}

/* WATERMARKS */

.csgo-watermark {
  background-image: url('/assets/wallpapers/csgo-watermark.webp');
}

.sc2-watermark {
  background-image: url('/assets/wallpapers/sc2-watermark.webp');
}

.watermark {
  min-width: 300px;
  min-height: 131px;
  background-position: center;
  background-repeat: no-repeat;
}

/* END WATERMARKS */

@media only screen and (max-width: 550px) {
  .match-time {
    grid-column: 1 / -1;
  }

  .match-winner {
    grid-template-columns: 0px minmax(65px, 1fr) minmax(161px, 1fr) minmax(74px, 1fr);
  }
}
