<div class="registration-form">
  <h6>Associated Logins</h6>

  <button *ngFor="let provider of providers"
          igxButton="raised"
          class="submit-button navigatable"
          [igxButtonBackground]="loginColors[provider.name]"
          igxButtonColor="#fff"
          (click)="login(provider)"
          [disabled]="disableLogin(provider.name)">
    <igx-icon fontSet="login-icons" [name]="provider.name.toLowerCase()"></igx-icon>
    <igx-divider [vertical]="true" [inset]="'0 0 0 8px'" [ngClass]="'login-divider'"></igx-divider>
    <span class="submit-button">{{ disableLogin(provider.name) ? provider.name : 'Add ' + provider.name }}</span>
    <igx-icon class="color-success">{{ disableLogin(provider.name) ? 'done' : '' }}</igx-icon>
  </button>

  <span class="highlight navigatable" (click)="openRegistration()">Create username and password</span>

  <h6>Additional Preferences</h6>

  <div class="horizontal-center">
    <label for="userVisibility">Show profile in searches</label>
    <igx-switch class="horizontal-info__right" #teamVisibility id="userVisibility" name="userVisibility" [(ngModel)]="preferences.searchVisible" (ngModelChange)="submitPreferences()"></igx-switch>
  </div>

  <h6>Tournament Registration</h6>

  <igx-list>
    <igx-list-item *ngFor="let registration of registrations">
      <h2 igxListLineTitle>Registration for {{ registration.game ? 'StarCraft II' : 'CS:GO' }}</h2>
      <h4 igxListLineSubTitle>Confirmation code <span class="highlight">{{registration.hash}}</span></h4>
      <div class="horizontal-center" igxListAction>
        <span [ngClass]="{'color-warn': !registration.state, 'color-success': registration.state }">{{ registration.state ? 'Confirmed' : 'Pending' }}</span>
        <igx-icon class="navigatable" *ngIf="!registration.state" (click)="confirmReg.open(registration)" title="Delete this application">delete_forever</igx-icon>
      </div>
    </igx-list-item>
  </igx-list>

  <button igxButton="raised" igxRipple class="submit-button" (click)="confirm.open()">
    <igx-icon title="delete account">delete_forever</igx-icon>
    Delete Account Forever
  </button>
</div>

<!-- Confirm -->
<bg-confirm #confirm title="Are you sure?" (ok)="deleteAccount()">
  Pressing OK will delete your user account permanently...
</bg-confirm>
<bg-confirm #confirmReg title="Are you sure?" (ok)="deleteRegistration($event)">
  Pressing OK will delete your tournament registration permanently...
</bg-confirm>
<!-- END Confirm -->
