<igx-card [horizontal]="true" elevated>
  <igx-card-media width="550px">
      <img ngSrc="/assets/partners/Sponsors-techhub.png" width="1080" height="1080" />
  </igx-card-media>

  <div igxLayout igxLayoutDir="column" igxFlex [igxFlexGrow]="1">
      <igx-card-header>
          <h5 igxCardHeaderTitle>TechHub.bg</h5>
          <a href="https://techhub.bg/" target="_blank">https://techhub.bg/</a>
      </igx-card-header>

      <igx-card-content>
        <p i18n>We are thrilled to announce a 3-year partnership between Bellum Gens Elite Stara Zagora and TechHub.bg! 🤝</p>
        <p i18n>TechHub.bg makes tech shopping both easy and inspiring! With a wide range of high-quality products for home and office, they build a trusted community of enthusiasts and professionals. Your satisfaction is their top priority – discover the difference with TechHub.bg!</p>
        <p i18n>Together, we are committed to fostering the growth and development of esports in our region. This collaboration will bring new opportunities, events, and initiatives to support our vibrant gaming community. 🎮✨</p>
      </igx-card-content>

      <igx-card-actions [vertical]="false">
        @for (item of social; track item.name) {
          <a igxIconButton igxRipple igxEnd [href]="item.url" target="_blank" [title]="item.url">
            <igx-icon family="login-icons" [name]="item.icon"></igx-icon>
          </a>
        }
      </igx-card-actions>
  </div>
</igx-card>
