<igx-list *ngIf="authUser">
  <igx-list-item [isHeader]="true">Notifications for {{ authUser.SteamUser.steamID }}</igx-list-item>
  <igx-list-item *ngIf="!authUser?.Notifications?.length"><span>No new notifications.</span></igx-list-item>
  <igx-list-item *ngFor="let notification of authUser?.Notifications | sortNotifications:pipeTrigger">
    <div [class]="'horizontal-center ' + notificationClass[notification.State]">
      <igx-avatar [src]="notification.TeamInfo.TeamAvatar" [initials]="notification.TeamInfo.TeamName" roundShape="true">
      </igx-avatar>
      <div class="horizontal-info__left">
        <span class="title">
          You have been invited to join <a [routerLink]="['team', notification.TeamInfo.TeamId]">{{ notification.TeamInfo.TeamName }}</a>
        </span>
        <span class="subtitle">{{notification.Sent | date}}</span>
      </div>
      <div class="horizontal-info__right" *ngIf="notification.State | disabledNotifications:true">
        <button igxButton="flat" igxRipple (click)="acceptInvitation(notification, $event)">Accept</button>
        <button igxButton="flat" igxRipple (click)="rejectInvitation(notification, $event)">Reject</button>
      </div>
      <div class="horizontal-info__right" *ngIf="notification.State | disabledNotifications">
        <button igxButton="flat" igxRipple [disabled]="true">{{ notification.State | notificationState }}</button>
      </div>
    </div>
  </igx-list-item>
</igx-list>