@use "../../../variables" as *;

:host ::ng-deep {
  @include core();

  @include grid(grid-theme($content-background: $banner-background, $header-background: $background));

  @include grid-toolbar(grid-toolbar-theme($background-color: $background));

  .avatar-small {
    --size: 30px;
  }

  .avatar-tiny {
    --size: 20px;
  }

  .avatar-no-background {
    --background: transparent;
  }

  .avatar-no-background .igx-avatar__image {
    background-size: auto;
  }

  .card-wrapper.profile-view-layout {
    grid-template-columns: minmax(260px, 1fr) minmax(260px, 4fr);
  }

  .grid-team-name {
    display: flex;
    width: 120px;
    align-items: center;
  }

  @media screen and (max-width: 1280px) {
    .card-wrapper.profile-view-layout {
      grid-template-columns: 1fr;
    }
  }
}
