@if (loading) {
  <bg-loading>
  </bg-loading>
}

<div class="card-wrapper profile-view-layout">
  <div class="profile-container">
    <div>
      <igx-avatar [src]="player.sc2Details?.avatarUrl" [initials]="player.steamUser?.steamID" class="player-avatar">
      </igx-avatar>
    </div>
    <h1 class="igx-card-header__title"><a [href]="player.sc2Details.profileUrl" target="_blank" rel="noopener">{{ player.sc2Details.battleNetBattleTag }}</a></h1>
    <h4 class="igx-card-header__subtitle">{{ player.username }}</h4>
  </div>
</div>
