@use "../../../variables" as *;

:host ::ng-deep {
  $grid-custom: grid-theme(
    $schema: $dark-material-schema,
    $content-background: var(--ig-surface-300),
    $header-background: var(--ig-surface-500)
  );
  @include tokens($grid-custom, $mode: 'scoped');

  $toolbar-custom: grid-toolbar-theme(
    $schema: $dark-material-schema,
    $background: var(--ig-surface-500)
  );
  @include tokens($toolbar-custom, $mode: 'scoped');

  .avatar-small {
    --size: 30px;
  }

  .avatar-tiny {
    --size: 20px;
  }

  .avatar-no-background {
    --background: transparent;
  }

  .avatar-no-background .igx-avatar__image {
    background-size: auto;
  }

  .card-wrapper.profile-view-layout {
    grid-template-columns: minmax(260px, 1fr) minmax(260px, 4fr);
  }

  .grid-team-name {
    display: flex;
    width: 120px;
    align-items: center;
  }

  @media screen and (max-width: 1280px) {
    .card-wrapper.profile-view-layout {
      grid-template-columns: 1fr;
    }
  }
}
