.overlay-background {
  background-color: rgba($color: #000, $alpha: 0.25)
}

.csgo-watermark {
  background-image: url('/assets/wallpapers/csgo-watermark.webp');
}

.sc2-watermark {
  background-image: url('/assets/wallpapers/sc2-watermark.webp');
}

.watermark {
  background-position: center;
  background-repeat: no-repeat;
}
