<div class="home-page-slide slide1">
  <div class="slide-info">
    <h1>EB-League CS:GO</h1>
    <p>Лигата по CS:GO ще включва 16 отбора, които ще бъдат разделени в 2 групи по 8 отбора.</p>
    <p>Започвайки седмицата на 27ми януари, всеки отбор игра 1 среща седмично срещу друг отбор в групата. След 7 седмици всички възможни опоненти в групите са изчерпани и 2та най-добри отбора от всяка група отиват на LAN финали, като първи отбор в група А ще играе полуфинал с втория отбор от група Б, и обратното - първия отбор от група Б играе срещу втория от група А.</p>
  </div>
</div>

<div class="content-container">
  <div class="content-container-column left-column">
    <h4>Формат на седмичните срещи</h4>
    <p>Срещите, които отборите играят всяка седмица са формат best-of-one, което значи, че върху седемте карти в active duty се прави вето с по 3 бана и оставащата една карта е тази която се играе. Ветото се случва непосредствено преди срещата, като в него участват капитаните на всеки от отборите. Картата се играе до 16 рунда за единия отбор (със смяна на страните на 15). Ако до 30 рунда няма победител (резултата е 15-15) се играят продължения до определяне на победител.</p>
  </div>
</div>

