<igx-dialog #createTeam [closeOnOutsideSelect]="true" *ngIf="authUser">
  <div class="create-team">
    <span class="highlight">Import from Steam Group</span>
    <igx-input-group type="search">
      <igx-prefix>
          <igx-icon>search</igx-icon>
      </igx-prefix>
      <label for="searchGroups" igxLabel>Search Groups</label>
      <input #search igxInput id="searchGroups" [(ngModel)]="searchGroups">
      <igx-suffix *ngIf="search.value.length > 0" (click)="searchGroups = null">
          <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <igx-list>
      <ng-template igxEmptyList>
        <p>No Steam groups found...</p>
      </ng-template>
      <igx-list-item *ngFor="let group of groups | groupsFilter:searchGroups" (click)="createFromSteam(group)">
        <igx-avatar igxListThumbnail [src]="group.avatarFull" [initials]="group.groupName" [roundShape]="true">
        </igx-avatar>
        <div igxListLineTitle>
          {{ group.groupName }}
        </div>
      </igx-list-item>
    </igx-list>
    <span class="highlight">Register with form</span>
    <form #teamRegistration="ngForm" (ngSubmit)="createFromForm()">
      <igx-input-group>
        <label igxLabel for="teamName">Team name</label>
        <igx-prefix>
          <igx-icon>text_fields</igx-icon>
        </igx-prefix>
        <input #teamName
                id="teamName"
                igxInput
                name="teamName" minlength="2" [required]="true" [(ngModel)]="newTeam.TeamName">
        <igx-suffix *ngIf="teamName.value.length > 0" (click)="newTeam.TeamName = null">
            <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <igx-input-group>
        <label igxLabel for="teamDescripton">Team motto</label>
        <igx-prefix>
          <igx-icon>text_fields</igx-icon>
        </igx-prefix>
        <textarea #teamDescripton
                  name="teamDescripton"
                  id="teamDescripton"
                  igxInput
                  minlength="2"
                  [required]="true"
                  [(ngModel)]="newTeam.Description">
        </textarea>
        <igx-suffix *ngIf="teamDescripton.value.length > 0" (click)="newTeam.Description = null">
            <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <igx-input-group>
        <igx-prefix>
          <igx-icon>link</igx-icon>
        </igx-prefix>
        <label igxLabel for="teamAvatar">Team Avatar URL</label>
        <input #teamAvatar
                igxInput
                type="url"
                id="teamAvatar"
                pattern="^(?:http(s)?:\/\/)[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                name="teamAvatar" [(ngModel)]="newTeam.TeamAvatar">
        <igx-suffix *ngIf="teamAvatar.value.length > 0" (click)="newTeam.TeamAvatar = null">
            <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <button igxButton igxRipple [disabled]="!teamRegistration.touched || teamRegistration.invalid || inProgress" class="submit-button">
        {{ inProgress ? 'Registering...' : 'Register' }}
      </button>
    </form>
  </div>
</igx-dialog>
