<div class="overview-container-card">
  <div class="team-details-header">
    <igx-avatar [initials]="team?.teamName" [src]="team?.teamAvatar" [roundShape]="true" [size]="'large'">
    </igx-avatar>
    <div class="horizontal-info__left">
      <h1 class="igx-card-header__title">{{ team?.teamName }}</h1>
      <h3 class="igx-card-header__subtitle">{{ team?.description }}</h3>
    </div>
    <div *ngIf="!isMember && team?.teamId" class="horizontal-info__right">
      <app-team-application [authUser]="authUser" [team]="team"></app-team-application>
    </div>
    <div *ngIf="isMember && team?.discord" class="horizontal-info__right">
      <a [href]="team.discord" target="_blank" rel="noopener">
        <igx-icon class="discord-icon" family="login-icons" name="discord-full-logo"></igx-icon>
      </a>
    </div>
  </div>
  <igx-tabs>
    <igx-tab-item routerLinkActive #rla1="routerLinkActive"
                  [selected]="rla1.isActive">
      <igx-tab-header routerLink="details">
        <div class="horizontal-center">
          <igx-icon>people_outline</igx-icon>
          <div class="igx-tabs__item-label" i18n>Details</div>
        </div>
      </igx-tab-header>
    </igx-tab-item>

    <igx-tab-item routerLinkActive #rla2="routerLinkActive"
                  [selected]="rla2.isActive">
      <igx-tab-header routerLink="competitions">
        <div class="horizontal-center">
          <igx-icon>sports_esports</igx-icon>
          <div class="igx-tabs__item-label" i18n>Competitions</div>
        </div>
      </igx-tab-header>
    </igx-tab-item>

    <igx-tab-item *ngIf="isMember"
                  routerLinkActive #rla2="routerLinkActive"
                  [selected]="rla2.isActive">
      <igx-tab-header routerLink="strategies">
        <div class="horizontal-center">
          <igx-icon>playlist_add_check</igx-icon>
          <div class="igx-tabs__item-label" i18n>Strategies</div>
        </div>
      </igx-tab-header>
    </igx-tab-item>

    <igx-tab-item *ngIf="isAdmin"
                  routerLinkActive #rla3="routerLinkActive"
                  [selected]="rla3.isActive">
      <igx-tab-header routerLink="preferences">
        <div class="horizontal-center">
          <igx-icon>settings</igx-icon>
          <div class="igx-tabs__item-label" i18n>Settings</div>
        </div>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <router-outlet></router-outlet>
</div>
