<bg-login-dialog #loginDialog></bg-login-dialog>

<igx-carousel #carousel class="carousel" [loop]="true" [interval]="10000" [navigation]="navigation">
  <igx-slide>
    <div class="home-page-slide slide1">
      <div class="slide-info">
        <h1>Esports Business League - Bulgaria</h1>
        <p>First season of the Esports Business League competition in Bulgaria will be opened for registration soon.</p>
        <button igxButton="raised" (click)="navigateToEbleague()">Learn More</button>
      </div>
    </div>
  </igx-slide>

  <igx-slide>
    <div class="home-page-slide slide2">
      <div class="slide-info">
        <h1>Design and Share CS:GO Strategies</h1>
        <p>The only online CS:GO strategy editor freely available to everyone! Discuss public strategies with everyone and build private strategies for your team only.</p>
        <button igxButton="raised" routerLink="/strategies">Browse Strategies</button>
        <button igxButton="outlined" igxButtonColor="#fff" *ngIf="!authUser" (click)="loginDialog.openLogin()" class="space-out-button">Sign-up Now</button>
      </div>
    </div>
  </igx-slide>

  <igx-slide>
    <div class="home-page-slide slide3">
      <div class="slide-info">
        <h1>Manage your CS:GO Team</h1>
        <p>Recruit your team and manage your team member roles, team strategies, practice times and more....</p>
        <button igxButton="raised" *ngIf="!authUser else loggedIn" (click)="loginDialog.openLogin()" class="space-out-button">Sign-up Now</button>
        <ng-template #loggedIn>
          <button igxButton="raised" (click)="openTeams()" class="space-out-button">Team Section</button>
        </ng-template>
      </div>
    </div>
  </igx-slide>
</igx-carousel>

<div class="content-container">
  <div class="content-container-column left-column">
    <img src="/assets/wallpapers/strat-editor.webp" class="preview-image" alt="Strategy Editor" />
  </div>
  <div class="content-container-column">
    <h4>CS:GO Strategy Editor</h4>
    <p>Bellum Gens provides an in-browser CS:GO strategy editor, with all maps available. You can pick a map and draw strategies on the map radar, then share with the community for discussions, or make it private and share it with your team only.</p>
    <button igxButton="raised" routerLink="/strategies" class="nav-button">Browse Strategies</button>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h4>Bellum Gens is still in Beta. We appreciate your feedback!</h4>
    <div>
      <button type="button" igxButton="outlined">
        <a href="https://github.com/BellumGens/bellum-gens/issues" target="_blank" rel="noopener">Submit an Issue</a>
      </button>
      <button igxButton="outlined" class="space-out-button" (click)="tweet()">
        Tweet to us
      </button>
    </div>
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column left-column">
    <h4>Bellum Gens enables your CS:GO Team</h4>
    <p>Bellum Gens is a CS:GO team finding and team management application, which allows players to look for teams matching their skill and availability, and team owners to manage their teams' roster and general organization. Because CS:GO is a team game!</p>
    <button igxButton="raised" (click)="loginDialog.openLogin('Sign-up to access the team section in the header!')" class="nav-button">Register your Team</button>
  </div>

  <div class="content-container-column left-column">
    <img src="/assets/wallpapers/team-page.webp" class="preview-image" alt="CS:GO Team Overview" />
  </div>
</div>
