<igx-carousel #carousel class="carousel" [loop]="true" [interval]="10000" [navigation]="navigation">
  <igx-slide>
    <div class="slide slide1">
      <div class="slide-info">
        <h1>Esports Business League - Bulgaria</h1>
        <p>Esports Business League Season 2 is coming up!</p>
        <button igxButton="raised" (click)="navigateToEbleague()">Learn More</button>
      </div>
    </div>
  </igx-slide>

  <igx-slide>
    <div class="slide slide2">
      <div class="slide-info">
        <h1>Design and Share CS:GO Strategies</h1>
        <p>The only online CS:GO strategy editor freely available to everyone! Discuss public strategies with everyone and build private strategies for your team only.</p>
        <button igxButton="raised" routerLink="/strategies">Browse Strategies</button>
        <button igxButton="outlined" igxButtonColor="#fff" *ngIf="!authUser" (click)="openLogin()" class="space-out-button">Sign-up Now</button>
      </div>
    </div>
  </igx-slide>

  <igx-slide>
    <div class="slide slide3">
      <div class="slide-info">
        <h1>Manage your CS:GO Team</h1>
        <p>Recruit your team and manage your team member roles, team strategies, practice times and more....</p>
        <button igxButton="raised" *ngIf="!authUser else loggedIn" (click)="openLogin()">Sign-up Now</button>
        <ng-template #loggedIn>
          <button igxButton="raised" routerLink="myteams">Team Section</button>
        </ng-template>
      </div>
    </div>
  </igx-slide>
</igx-carousel>

<div class="content-container">
  <div class="content-container-column left-column">
    <img src="/assets/wallpapers/strat-editor.webp" class="preview-image" alt="Strategy Editor" />
  </div>
  <div class="content-container-column">
    <h4>CS:GO Strategy Editor</h4>
    <p>Bellum Gens provides an in-browser CS:GO strategy editor, with all maps available. You can pick a map and draw strategies on the map radar, then share with the community for discussions, or make it private and share it with your team only.</p>
    <button igxButton="raised" routerLink="/strategies" class="nav-button">Browse Strategies</button>
  </div>

  <div class="content-container-row min-height-row">
    <igx-divider></igx-divider>
    <h4>Bellum Gens is fully open source! We appreciate your feedback!</h4>
    <div>
      <button type="button" igxButton="outlined">
        <a href="https://github.com/BellumGens/bellum-gens/issues" target="_blank" rel="nofollow">Submit an Issue</a>
      </button>
      <button igxButton="outlined" class="space-out-button" (click)="tweet()">
        Tweet to us
      </button>
    </div>
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column left-column">
    <h4>Bellum Gens enables your CS:GO Team</h4>
    <p>Bellum Gens is a CS:GO team finding and team management application, which allows players to look for teams matching their skill and availability, and team owners to manage their teams' roster and general organization. Because CS:GO is a team game!</p>
    <button igxButton="raised" routerLink="myteams" class="nav-button">Register your Team</button>
  </div>

  <div class="content-container-column left-column">
    <img src="/assets/wallpapers/team-page.webp" class="preview-image" alt="CS:GO Team Overview" />
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h4 id="partners">Partners</h4>
    <div class="horizontal-center">
      <a href="https://www.vmware.com/" target="_blank" rel="nofollow" title="VMware is a global leader in cloud infrastructure and business mobility. The company helps customers realize possibilities by accelerating their digital transformation journeys. Over the range of 12 years VMware Bulgaria has transformed from a purely R&D facility to a multifunctional hub with product, revenue generating professional services and business operations teams and is now one of the three core strategic sites for VMware globally.">
        <igx-icon fontSet="partners" name="vmware" class="partner gold"></igx-icon>
      </a>
      <!-- <a href="https://www.modis.com/en-bg/" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="modis" title="Modis is a global leader in professional solutions for IT, Engineering and Life Sciences. With more than 20 years of experience the company has established office locations in Europe, North America, Asia and Australia." class="partner gold"></igx-icon>
      </a> -->
    </div>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h4 id="aboutus">About us</h4>
    <p>
      Bellum Gens is founded by two passionate about gaming friends. Bellum Gens is an esports organization focused on the development and popularization of esports in Bulgaria.
    </p>

    <h4>Contacts</h4>

    <form #subscription="ngForm" (ngSubmit)="subscribe()">
      <div class="horizontal">
        <igx-input-group type="border" class="subscription-form-input">
          <label igxLabel for="subemail">Email</label>
          <igx-prefix>
            <igx-icon>email</igx-icon>
          </igx-prefix>
          <input type="email" id="subemail" #subMail name="subemail" igxInput pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userEmail" />
          <igx-suffix *ngIf="subMail.value" (click)="userEmail = null">
            <igx-icon>clear</igx-icon>
          </igx-suffix>
          <igx-hint>Subscribe to our newsletter.</igx-hint>
        </igx-input-group>

        <button igxButton="outlined" class="submit-email" [disabled]="subscription.invalid || !userEmail">Subscribe</button>
      </div>
    </form>

    <div class="contacts">
      <a href="mailto:info@eb-league.com" title="Email">
        <igx-icon>email</igx-icon>
      </a>
      <a href="https://www.facebook.com/bellumgens/" title="Facebook" target="_blank" rel="nofollow">
        <igx-icon fontSet="login-icons" name="facebook"></igx-icon>
      </a>
      <a href="https://twitter.com/BellumGens" title="Twitter" target="_blank" rel="nofollow">
        <igx-icon fontSet="login-icons" name="twitter"></igx-icon>
      </a>
      <a href="https://www.linkedin.com/company/bellum-gens/" title="Follow us on Linked-in" target="_blank" rel="nofollow">
        <igx-icon fontSet="login-icons" name="linkedin"></igx-icon>
      </a>
      <a href="https://discord.gg/bnTcpa9" title="Discord" target="_blank" rel="nofollow">
        <igx-icon fontSet="login-icons" name="discord"></igx-icon>
      </a>
    </div>
  </div>
</div>
