.preview-image {
  -webkit-box-shadow: 0px 24px 48px -12px rgba(4,8,29,0.45);
  -moz-box-shadow: 0px 24px 48px -12px rgba(4,8,29,0.45);
  box-shadow: 0px 24px 48px -12px rgba(4,8,29,0.45);
  border-radius: 20px;
}

.space-out-button {
  margin-left: 12px;
}

.nav-button {
  width: 250px;
}

.carousel {
  height: 450px;
}

.subscription-form-input {
  min-width: 360px;
}

.submit-email {
  height: 50px;
  margin: 0 8px;
}

.contacts {
  display: flex;
  min-width: 128px;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 16px;
}

.partner {
  margin: 16px;
}

.platinum {
  width: 380px;
  height: 300px;
}

.gold {
  width: 220px;
  height: 150px;
}

.logistics {
  width: 150px;
}

.slide2 {
  background-image: url('/assets/wallpapers/csgo_wallpaper_nologo.webp');
  background-position-y: -100px;
}

.slide3 {
  background-image: url('/assets/wallpapers/carousel_image_1.webp');
  background-position: center;
}

@media only screen and (max-width: 1280px) {
  .slide2 {
    background-size: auto;
    background-position: center;
    background-position-y: -100px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1500px) {
  .slide2{
    background-position-y: 0px;
  }
}

@media only screen and (min-width: 2000px) {
  .slide2, .slide3 {
    background-position-y: -150px;
  }
}

@media only screen and (max-width: 550px) {
  .submit-email {
    height: 48px;
    margin: 8px auto;
  }

  .success-dialog-content {
    width: 380px;
  }

  .platinum {
    width: 348px;
    height: 200px;
  }
}
