<igx-dialog [closeOnOutsideSelect]="true" [title]="title">
  <bg-login-buttons></bg-login-buttons>

  <form class="login-buttons" #userLogin="ngForm" (ngSubmit)="loginWithForm()">
    <h6 style="text-align: center;">or login with form</h6>
    <igx-input-group class="login-button" type="border">
      <label for="username" igxLabel>Username</label>
      <igx-prefix>
        <igx-icon>person</igx-icon>
      </igx-prefix>
      <input #userName igxInput id="username" [required]="true" name="username" [(ngModel)]="logininfo.username" />
    </igx-input-group>

    <igx-input-group class="login-button" type="border">
      <label for="passwordField" igxLabel>Password</label>
      <input #passwordField igxInput type="password" [required]="true" id="passwordField" name="passwordField" [(ngModel)]="logininfo.password" />
    </igx-input-group>

    <igx-checkbox id="rememberme" name="rememberme" [(ngModel)]="logininfo.rememberMe">
      Remember me
    </igx-checkbox>

    <label class="register-link navigatable" (click)="openRegistration()">Don't have an account?</label>

    <button igxButton="outlined"
            class="submit-button space-out"
            [disabled]="!userLogin.touched || !userLogin.valueChanges || userLogin.invalid || submitInProgress">
      Login
    </button>
  </form>
</igx-dialog>
