<igx-dialog closeOnOutsideSelect="true" [title]="title">
  <form class="login-buttons" #userLogin="ngForm" (ngSubmit)="loginWithForm()">
    <igx-input-group class="login-button" type="border">
      <label for="username" igxLabel>Username</label>
      <igx-prefix>
        <igx-icon>person</igx-icon>
      </igx-prefix>
      <input #userName igxInput id="username" required name="username" [(ngModel)]="logininfo.username" />
    </igx-input-group>

    <igx-input-group class="login-button" type="border">
      <label for="passwordField" igxLabel>Password</label>
      <input #passwordField igxInput type="password" required id="passwordField" name="passwordField" [(ngModel)]="logininfo.password" />
    </igx-input-group>

    <igx-checkbox #rememberme id="rememberme" name="rememberme" [(ngModel)]="logininfo.rememberMe">
      Remember me
    </igx-checkbox>

    <button igxButton="outlined"
            class="submit-button space-out"
            [disabled]="!userLogin.touched || !userLogin.valueChanges || userLogin.invalid || submitInProgress">
      Login
    </button>

    <label class="register-link navigatable" (click)="openRegistration()">Don't have an account?</label>
  </form>

  <bg-login-buttons></bg-login-buttons>
</igx-dialog>
