.login-buttons {
  display: grid;
  row-gap: 24px;
  justify-content: center;
  padding: 12px;
}

.login-buttons button:not(:first-child) {
  margin-top: 8px;
}

.login-button {
  width: 250px;
}

.register-link {
  font-size: 0.75rem;
}
