.login-buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 24px 24px;
}

.login-buttons button:not(:first-child) {
  margin-top: 8px;
}

.login-button {
  width: 250px;
}
