<div class="home-page-slide-columns slide slide1">
  <div class="slide-info-column overlay-background">
    <h1>EB-League CS:GO</h1>
    <p i18n>Teams from the <span class="title">CS:GO</span> league will be separated into groups of 4-8 teams.</p>
    <p i18n>Each team plays 1-2 matches a week against other teams from the same group. At the end of the group stage, the best teams of each group go to the finals.</p>
    <button igxButton="contained"
            routerLink="/tournament/csgo/"
            i18n>To the CS:GO League</button>
  </div>

  <div class="slide-info-column overlay-background">
    <h1>EB-League StarCraft II</h1>
    <p i18n>Players from the <span class="title">StarCraft II</span> league will be separated into groups of 4-8 players.</p>
    <p i18n>Each player plays 1-2 matches a week against other players from the same group. At the end of the group stage, the best players of each group go to the finals.</p>
    <button igxButton="contained"
            routerLink="/tournament/sc2/"
            i18n>To the StarCraft II League</button>
  </div>
</div>

<div class="content-container">

  <div class="content-container-row">
    <h2 i18n>Weekly match format</h2>
    <a href="/assets/files/EB-League-Rulebook.pdf" target="_blank" i18n>CS:GO Rulebook</a>
  </div>

  <div class="content-container-row">
    <p i18n>Group stage matches are being played weekly Monday-Thursday. All matches are played sequentially in the evening, after working hours, starting from 7:30pm EET. Each match except the first one starts 15 minutes after the previous match has finished. Weekly schedule for the entire group stage would be available prior to the league start date. The schedule is subject to change, if and only if a participant has managed to reach an agreement with all other affected participants by the change.</p>
  </div>


  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Match rules</h2>
  </div>

  <div class="content-container-column watermark csgo-watermark">
    <p i18n>Weekly matches are in best-of-one (BO1) or best-of-three (BO3) format with map veto on the current active duty maps at the start of the league. The map veto takes place 10-15 minutes prior to the match and is performed by the team captains and an admin. Which side teams start on is decided either by the team not picking the map, or with a knife round, the winner of which picks the side. Each map is played until one of the teams wins 16 rounds and teams are switching sides after 15 rounds have been played. If there's no winner after 30 rounds - score is 15-15 - then the match goes into overtime. Each overtime is 6 rounds in length and each team starts on the side the team has been before the start of the overtime. Teams are switching sides in overtime after 3 rounds have been played. If an overtime reaches a score of 3-3, then a new overtime is played. Each player starts an overtime with maximum cash - $16000 - so each round of the overtime is a guaranteed gun round.</p>
  </div>

  <div class="content-container-column watermark sc2-watermark">
    <p i18n>Weekly matches are in best-of-three (BO3) format with map veto with 2 bans and 2 picks from the maps in the current ladder pool at the start of the league. The map veto takes place 10-15 minutes prior to the match, and is performed by the players, the match caster and an admin. Each map is played until one of the two players emerges victorious. The 3rd decider map is played only in the case of a 1-1 score.</p>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Double elimination format</h2>
  </div>

  <div class="content-container-row">
    <p i18n>Tournament participants are being separated into groups and the first opponents are being drawn. Each group has two brackets - winners and losers bracket. All participants start in the winners bracket and after a loss are being moved to the losers bracket. Participants are eliminated after they accumulate a loss in the losers bracket.</p>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Group points</h2>
  </div>

  <div class="content-container-column watermark csgo-watermark">
    <p i18n>Each match in the group stage of the league gives the teams between 0 and 3 points. After all group stage matches have been played, the 2 teams with the most points from each group proceed to the finals. If two teams have equal points, then round difference is taken into account. In the case of equal points and round difference, the result of the direct duel between the two teams is taken into account.</p>
    <ul>
      <li i18n>3 points for a win in regulation</li>
      <li i18n>2 points for a win in overtime</li>
      <li i18n>1 point for a loss in overtime</li>
      <li i18n>0 points for a loss in regulation</li>
    </ul>
  </div>

  <div class="content-container-column watermark sc2-watermark">
    <p i18n>Each match in the group stage of the league gives the participants between 0 and 3 points. After all group stage matches have been played, the 2 players with the most points from each group proceed to the finals. In the case of equal points, the result of the direct duel between the two participants is taken into account.</p>
    <ul>
      <li i18n>3 points for a 2:0 win</li>
      <li i18n>2 points for a 2:1 win</li>
      <li i18n>1 point for a 1:2 loss</li>
      <li i18n>0 points for a 0:2 loss</li>
    </ul>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Assistive software usage (cheats)</h2>
    <p i18n>Usage of assistive software of any kind, which can be classified as a cheat, is strictly forbidden. Each match in the league would be streamed live and would be moderated by an admin. In the case of a suspicion of cheating, the case will be investigated by the admins and if the admins conclude that theres evidence beyond a reasonable doubt for cheating, then the player (StarCraft II), or team (CS:GO), which the player participates in would be <span class="highlight">disqualified</span>!!! Esports Business League is an amateur event, where players need to show their own abilities, and not the abilities of a software which assists and alters their gameplay. Our goal is to provide the best experience for all participants!</p>
  </div>
</div>

