<app-app-shell *ngIf="loading">
</app-app-shell>

<div class="loading-overview" *ngIf="!player || player?.steamUserException">
  <h4 class="highlight">Steam CS:GO player profile not found...</h4>
</div>

<div class="search-result-summary">
  <div *ngIf="newUser">
    <h4>Welcome <span class="highlight">{{ player.steamUser.steamID }}</span>!</h4>
    <p>Now it's time to complete your profile! Fill in your <span class="highlight">preferred playstyle</span>, you <span class="highlight">availability</span> and your <span class="highlight">preferred map pool</span>.</p>
  </div>

  <div *ngIf="player && !player.steamUserException && !player?.registered">
    This player is not registered! If you own the profile then <a (click)="openLogin()" class="navigatable">register</a> to complete it.
  </div>

  <div *ngIf="player?.userStatsException">
    <h4>Steam account is private.</h4>
    <p>If this is your account, you need to change the privacy level of your account, so we can access game stats from Steam.</p>
    <p>To do this go to <span class="highlight">Steam Profile --> Edit Profile --> Privacy Settings --> Set: 'My profile: Public' and 'Game details: public'</span></p>
  </div>
</div>

<div *ngIf="player && !player.steamUserException" class="card-wrapper profile-view-layout">
  <div>
    <div>
      <igx-avatar [src]="player.steamUser?.avatarFull" [initials]="player.steamUser?.steamID" class="player-avatar">
      </igx-avatar>
      <igx-avatar *ngIf="player.steamUser?.country" [src]="player.steamUser?.country | playerCountry" [roundShape]="true" [title]="player.steamUser?.country" class="country-badge-large"></igx-avatar>

      <!-- <button igxButton="raised" [disabled]="true">Send message <igx-icon>mail</igx-icon></button> -->
      <button *ngIf="player?.registered && !playerIsUser && teamsAdmin?.length > 0"
              igxButton="fab"
              igxRipple
              title="Invite to team"
              class="invite-button"
              [igxToggleAction]="teamInvite">
        <igx-icon>people</igx-icon>
        <igx-icon>arrow_drop_down</igx-icon>
      </button>
      <igx-drop-down (onSelection)="inviteToTeam($event)" #teamInvite>
        <igx-drop-down-item class="team-invites" [value]="team" *ngFor="let team of teamsAdmin">
          <igx-avatar [src]="team.teamAvatar" [initials]="team.teamName" [roundShape]="true">
          </igx-avatar>
          <span class="title margin-left">
            {{ team.teamName }}
          </span>
        </igx-drop-down-item>
      </igx-drop-down>
    </div>
    <h1 class="igx-card-header__title"><a [href]="player.steamUser | steamCustomUrl" target="_blank" rel="noopener">{{ player.steamUser?.steamID }}</a></h1>
    <h4 class="igx-card-header__subtitle">{{ player.steamUser?.realname }}</h4>
    <igx-avatar class="team-avatar-link"
                *ngFor="let team of userTeams | async"
                [initials]="team.teamName"
                [src]="team.teamAvatar"
                [title]="team.teamName"
                [routerLink]="['/team', team.customUrl]"
                [roundShape]="true"
                [size]="'small'">
    </igx-avatar>

    <igx-select *ngIf="!player.userStatsException"
                id="primary-role"
                name="primary-role"
                [disabled]="!playerIsUser"
                [ngModel]="player.primaryRole"
                (ngModelChange)="selectPrimary($event)">
      <label for="primary-role" igxLabel>Primary Role</label>
      <igx-select-item *ngFor="let role of roles" [disabled]="role.id === player.secondaryRole" [value]="role.id">{{ role.name }}</igx-select-item>
    </igx-select>
    <igx-select *ngIf="!player.userStatsException"
                id="secondary-role"
                name="secondary-role"
                [disabled]="!playerIsUser"
                [ngModel]="player.secondaryRole"
                (ngModelChange)="selectSecondary($event)">
      <label for="secondary-role" igxLabel>Secondary Role</label>
      <igx-select-item *ngFor="let role of roles" [disabled]="role.id === player.primaryRole" [value]="role.id">{{ role.name }}</igx-select-item>
    </igx-select>
  </div>

  <igx-card *ngIf="!player.userStatsException" class="player-detail__stats">
    <igx-card-header>
      <h4 class="igx-card-header__title">KDR</h4>
    </igx-card-header>
    <igx-card-content class="center-items">
      <igx-circular-bar class="stats-progress"
                        [value]="player.userStats.killDeathRatio"
                        [max]="2"
                        [animate]="true"
                        title="KDR"
                        [text]="player.userStats.killDeathRatio.toString()">
      </igx-circular-bar>
    </igx-card-content>
  </igx-card>

  <igx-card *ngIf="!player.userStatsException" class="player-detail__stats">
    <igx-card-header>
      <h4 class="igx-card-header__title">Headshots</h4>
    </igx-card-header>
    <igx-card-content class="center-items">
      <igx-circular-bar class="stats-progress" [value]="player.userStats.headshotPercentage" [max]="100" [animate]="true" title="Headshot Percentage" [text]="player.userStats.headshotPercentage + '%'"></igx-circular-bar>
    </igx-card-content>
  </igx-card>

  <igx-card *ngIf="!player.userStatsException" class="player-detail__stats">
    <igx-card-header>
      <h4 class="igx-card-header__title">Accuracy</h4>
    </igx-card-header>
    <igx-card-content class="center-items">
      <igx-circular-bar class="stats-progress" [value]="player.userStats.accuracy" [max]="100" [animate]="true" [text]="player.userStats.accuracy + '%'"></igx-circular-bar>
    </igx-card-content>
  </igx-card>

  <igx-card *ngIf="!player.userStatsException" class="player-detail__stats">
    <igx-card-header>
      <h4 igxCardHeaderTitle>Top weapon</h4>
    </igx-card-header>
    <igx-card-content class="center-items">
      <div>
        <igx-icon class="weapon-image" fontSet="weapon-icons" [name]="player.userStats.favouriteWeapon?.name"
          [title]="player.userStats.favouriteWeapon | topWeaponAlt">
        </igx-icon>
      </div>
      <div>
        <h5>{{ player.userStats.favouriteWeapon?.name }}</h5>
      </div>
    </igx-card-content>
  </igx-card>

  <igx-card *ngIf="!player.userStatsException" class="player-detail__stats">
    <igx-card-header>
      <h4 igxCardHeaderTitle>Availability</h4>
    </igx-card-header>
    <igx-card-content>
      <app-availability [availability]="availability" (availabilityChanged)="submitAvailability($event)" [editable]="playerIsUser"></app-availability>
    </igx-card-content>
  </igx-card>

  <igx-card *ngIf="!player.userStatsException" class="player-detail__stats">
    <igx-card-header>
      <h4 igxCardHeaderTitle>Weapons</h4>
    </igx-card-header>
    <igx-card-content>
      <igx-list *ngIf="!player.userStatsException" displayDensity="compact">
        <igx-list-item *ngFor="let weapon of player.userStats.weapons | sortWeapons">
          <igx-icon igxListThumbnail class="weapon-image-small" fontSet="weapon-icons" [name]="weapon.name"></igx-icon>
          <span igxListLineTitle>
            <a>{{ weapon.name }}</a>
          </span>

          <div igxListAction>
            {{ weapon.kills }} kills
          </div>
        </igx-list-item>
      </igx-list>
    </igx-card-content>
  </igx-card>

  <!-- Map Pool -->
  <igx-card *ngIf="!player.userStatsException" class="player-detail__stats map-pool">
    <igx-card-header>
      <h4 igxCardHeaderTitle>{{ viewAll ? 'All' : 'Active Duty' }} Maps</h4>
      <button igxButton="flat" igxRipple (click)="viewAll = !viewAll">{{viewAll ? 'View Active Duty' : 'View All'}}</button>
    </igx-card-header>
    <igx-card-content>
      <app-map-pool [readOnly]="!playerIsUser"
                    [viewAll]="viewAll"
                    [mapPool]="mapPool"
                    (update)="mapChange($event)"></app-map-pool>
    </igx-card-content>
  </igx-card>
  <!-- END Map Pool -->
</div>
