<div class="horizontal">
  <igx-calendar class="schedule-calendar" (onSelection)="daySelected($event)" [specialDates]="datesWithMatches">

  </igx-calendar>

  <div class="match-details">
    <h4>График за <span class="highlight">{{ today | date }}</span></h4>

    <div *ngIf="loading else emptymatches" class="loading-overview">
      <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
    </div>
    <ng-template #emptymatches>
      <p *ngIf="!selectedMatches.length">Няма намерени срещи в този ден...</p>
    </ng-template>

    <div class="match-score match-summary" *ngFor="let match of selectedMatches">
      <div class="match-time highlight">{{ match.StartTime | date:'shortTime' }}</div>

      <div class="align-right">
        <span class="match-text-content team-name">{{ match.Team1.TeamName }}</span>
        <igx-avatar [src]="match.Team1.TeamAvatar" [initials]="match.Team1.TeamName" roundShape="true"></igx-avatar>
      </div>

      <span class="match-text-content team-name align-center">vs.</span>

      <div>
        <igx-avatar [src]="match.Team2.TeamAvatar" [initials]="match.Team2.TeamName" roundShape="true"></igx-avatar>
        <span class="match-text-content team-name">{{ match.Team2.TeamName }}</span>
      </div>

      <div class="results-container match-score" *ngFor="let map of match.Maps">
        <span></span>

        <div class="match-result-content align-right">
          {{ map.Team1Score }}
        </div>

        <igx-avatar [src]="map.Map | csgomapimage" [initials]="map.Map | csgomapname" [title]="map.Map | csgomapname"></igx-avatar>

        <div class="match-result-content">
          {{ map.Team2Score }}
        </div>
      </div>
    </div>
  </div>

  <ng-content></ng-content>
</div>
