<igx-expansion-panel class="search-box">
  <igx-expansion-panel-header>
    <igx-expansion-panel-title>Search players</igx-expansion-panel-title>
  </igx-expansion-panel-header>
  <igx-expansion-panel-body class="search-body">
    <label for="lineup">Players playing as:</label>
    <div class="search-radio-group">
        <igx-radio-group id="lineup" class="role-slots">
          <igx-radio *ngFor="let slot of activeLineup" [(ngModel)]="searchModel.role" [value]="slot.role">{{ slot.roleName }}</igx-radio>
        </igx-radio-group>
    </div>
    <igx-input-group>
      <igx-prefix>
          <igx-icon>search</igx-icon>
      </igx-prefix>
      <label igxLabel for="overlap">Minimum availability overlap of...</label>
      <input #overlap type="number" [(ngModel)]="searchModel.scheduleOverlap" igxInput>
      <igx-suffix *ngIf="overlap.value !== '0'">
          <igx-icon (click)="searchModel.scheduleOverlap = 0">clear</igx-icon>
      </igx-suffix>
      <igx-hint>
        Hours
      </igx-hint>
    </igx-input-group>
    
    <igx-input-group>
      <igx-prefix>
          <igx-icon>search</igx-icon>
      </igx-prefix>
      <label igxLabel for="search">Player name contains...</label>
      <input #search [(ngModel)]="searchModel.name" igxInput>
      <igx-suffix *ngIf="search.value.length">
          <igx-icon (click)="searchModel.name = ''">clear</igx-icon>
      </igx-suffix>
      <igx-hint>
        Searching by name ignores other search criterial...
      </igx-hint>
    </igx-input-group>
    <button class="submit-button" igxButton="flat" (click)="searchPlayers()">Submit</button>
  </igx-expansion-panel-body>
</igx-expansion-panel>