<form (ngSubmit)="searchPlayers()">
  <div class="form-row">
    <div>
      <label for="lineup">Players playing as</label>
      <igx-radio-group id="lineup" class="role-slots">
        <igx-radio *ngFor="let slot of activeLineup" [(ngModel)]="searchModel.role" name="role" [value]="slot.role">{{ slot.roleName }}</igx-radio>
      </igx-radio-group>
    </div>

    <div *ngIf="authUser && authUser.teamAdmin">
      <label for="availability">A minimum overlap with my</label>
      <div class="search-radio-group">
        <igx-radio-group id="availability" class="role-slots">
          <igx-radio [(ngModel)]="userOverlap" name="userOverlap" [value]="0">Availability</igx-radio>
          <igx-radio [(ngModel)]="userOverlap" name="userOverlap" [value]="1">Team practice</igx-radio>
        </igx-radio-group>
      </div>

      <button type="button" *ngIf="userOverlap" igxButton="flat" igxRipple [igxToggleAction]="teamSelect">
        {{teamName}}
        <igx-icon fontSet="material" class="drop-down-arrow">arrow_drop_down</igx-icon>
      </button>
      <igx-drop-down (onSelection)="selectTeam($event)" #teamSelect>
        <igx-drop-down-item class="team-invites" [value]="team" *ngFor="let team of authUser?.teamAdmin">
          <igx-avatar [src]="team.TeamAvatar" [initials]="team.TeamName" roundShape="true">
          </igx-avatar>
          <span class="title margin-left">
            {{ team.TeamName }}
          </span>
        </igx-drop-down-item>
      </igx-drop-down>
    </div>

    <div class="slider-holder" *ngIf="authUser">
      <label for="overlap">Minimum overlap of</label>
      <igx-slider #overlap name="scheduleOverlap" [minValue]="0" [maxValue]="60" [(ngModel)]="searchModel.scheduleOverlap">
  
      </igx-slider>
      <label>Hours availability</label>
    </div>
  </div>
  <button class="submit-button" igxButton="outlined" igxRipple>Search</button>
</form>
<div *ngIf="!authUser">
  <p><b class="highlight">NOTE: </b>Signing in gives you access to more search options!</p>
  <app-login></app-login>
</div>