<div class="overview-container-card">
  <igx-select class="space-out-button" [(ngModel)]="selectedTournament" (ngModelChange)="selectTournament($event)">
    <label igxLabel i18n>Select tournament</label>
    <igx-select-item *ngFor="let tournament of tournaments" [value]="tournament">
      {{ tournament.name }}
    </igx-select-item>
  </igx-select>

  <igx-grid cellSelection="none"
            [data]="matches"
            height="550px"
            [primaryKey]="'id'"
            (rowDeleted)="deleteMatch($event)"
            #matchGrid
            i18n-emptyGridMessage
            emptyGridMessage="No matches found..."
            [isLoading]="loading"
            [allowFiltering]="true">

    <igx-grid-toolbar>
      <igx-grid-toolbar-title i18n>{{ selectedTournament ? selectedTournament.name : 'No' }} StarCraft II matches</igx-grid-toolbar-title>
      <igx-grid-toolbar-actions>
        <button igxButton="outlined" (click)="addNewMatch(); newMatchDialog.open()">
          <igx-icon>add_circle_outline</igx-icon>
          <span i18n>New match</span>
        </button>
      </igx-grid-toolbar-actions>
    </igx-grid-toolbar>

    <igx-column field="startTime" width="220px" [dataType]="'date'" i18n-header header="Start time">
      <ng-template igxCell let-value>
        {{ value | date:'MMM d, y, h:mm a' }}
      </ng-template>
    </igx-column>

    <igx-column field="teams" i18n-header header="Match" [filterable]="false">
      <div *igxCell="let cell = cell">
        <igx-avatar igxListThumbnail
                    [src]="cell.row.data.player1.avatarMedium"
                    [initials]="cell.row.data.player1.username"
                    shape="circle">
        </igx-avatar>
        <span [class]="cell.row.data.player1Points > cell.row.data.player2Points ? 'highlight grid-team-name' : 'grid-team-name'">
          {{ cell.row.data.player1.battleNetId }}
        </span>

        <span class="grid-vs-divider">vs.</span>

        <igx-avatar
                    [src]="cell.row.data.player2.avatarMedium"
                    [initials]="cell.row.data.player2.username"
                    shape="circle">
        </igx-avatar>
        <span [class]="cell.row.data.player2Points > cell.row.data.player1Points ? 'highlight grid-team-name' : 'grid-team-name'">
          {{ cell.row.data.player2.battleNetId }}
        </span>
      </div>
    </igx-column>

    <igx-column width="150px" field="videoLink" i18n-header header="Video" [filterable]="false">
      <ng-template igxCell let-value>
        <a *ngIf="value" [href]="value" target="_blank" class="horizontal-center">
          <igx-icon>link</igx-icon>
          <span>link</span>
        </a>
        <span *ngIf="!value" i18n>No video</span>
      </ng-template>
    </igx-column>

    <igx-column width="150px" field="demoLink" i18n-header header="Replay" [filterable]="false">
      <ng-template igxCell let-value>
        <a *ngIf="value" [href]="value" target="_blank" class="horizontal-center">
          <igx-icon>link</igx-icon>
          <span>link</span>
        </a>
        <span *ngIf="!value" i18n>No replay</span>
      </ng-template>
    </igx-column>

    <igx-column field="actions" width="160px" header=" " [filterable]="false">
      <div class="match-actions" *igxCell="let cell = cell">
        <igx-icon class="navigatable" title="Добави резултати" (click)="editMatch(cell.row.data, newMatchMapDialog)">add</igx-icon>
        <igx-icon class="navigatable" (click)="editMatch(cell.row.data, newMatchDialog)">edit</igx-icon>
        <igx-icon class="navigatable" (click)="confirmMatch.open(cell.row.data)">delete_forever</igx-icon>
      </div>
    </igx-column>

    <ng-template igxGridDetail let-dataItem>
      <div class="horizontal-center" *ngFor="let map of dataItem.maps">
        <div class="score-container">
          <igx-icon *ngIf="map.winnerId === dataItem.player1Id">check</igx-icon>
        </div>

        <div>{{ map.map | sc2MapName }}</div>

        <div class="score-container">
          <igx-icon *ngIf="map.winnerId === dataItem.player2Id">check</igx-icon>
        </div>
      </div>

      <div class="horizontal-center" *ngIf="dataItem.noShow" i18n>Walkover</div>

      <div class="horizontal-center" *ngIf="!dataItem.maps.length && !dataItem.noShow" i18n>The match has not been played yet, or there's no results on record...</div>
    </ng-template>
  </igx-grid>

  <igx-card  class="margin-top">
    <igx-card-header>
      <igx-avatar igxCardThumbnail shape="circle" src="/assets/wallpapers/sc2-watermark.webp"></igx-avatar>
      <h1 igxCardHeaderTitle i18n>{{selectedTournament ? selectedTournament.name : 'No'}} Participants</h1>
      <h2 igxCardHeaderSubtitle i18n>Drag and drop participants into the groups</h2>
    </igx-card-header>
    <igx-card-content>
      <div class="horizontal-center registration-container">
        <igx-circular-bar *ngIf="loading" [indeterminate]="true"></igx-circular-bar>
        <div *ngFor="let registration of registrations | notInGroup:'tournamentSC2GroupId':pipeTrigger" class="registration-slot">
          <igx-avatar [src]="registration.user.avatarMedium"
                      [initials]="registration.user.username"
                      size="medium"
                      shape="circle"
                      [igxDrag]="registration">
          </igx-avatar>
          <igx-badge *ngIf="registration.state === 0"
                     type="warning"
                     icon="priority_high"
                     i18n-title
                     title="This registration is still not confirmed! The registration fee has to be paid in order to confirm the registration!"
                     class="registration-badge-style">
          </igx-badge>

          <a [href]="environment.bellumgens + '/players/' + (registration.user.customURL || registration.userId)" target="_blank">{{ registration.battleTag }}</a>
        </div>
      </div>
      <div class="card-wrapper">
        <igx-card *ngFor="let group of groups" elevated>
          <igx-card-header>
            <igx-avatar igxCardThumbnail shape="circle" src="/assets/wallpapers/sc2-watermark.webp"></igx-avatar>
            <h1 *ngIf="!group.inEdit" igxCardHeaderTitle>{{group.name}}</h1>
            <igx-input-group *ngIf="group.inEdit" igxCardHeaderTitle>
              <label igxLabel for="groupName" i18n>Group name</label>
              <input type="text" id="groupName" name="groupName" #groupName igxInput [required]="true" [(ngModel)]="group.name" />
              <igx-suffix *ngIf="groupName.value" (click)="group.name = null">
                <igx-icon>clear</igx-icon>
              </igx-suffix>
            </igx-input-group>

            <div class="action-buttons">
              <igx-icon class="navigatable action-icon-button" i18n-title title="Edit" *ngIf="!group.inEdit" (click)="group.inEdit = true">edit</igx-icon>
              <igx-icon class="navigatable action-icon-button" i18n-title title="Delete" *ngIf="!group.inEdit" (click)="confirmGroup.open(group.id)">delete</igx-icon>

              <igx-icon class="navigatable action-icon-button" *ngIf="group.inEdit" (click)="group.inEdit = false">cancel</igx-icon>
              <igx-icon class="navigatable action-icon-button" *ngIf="group.inEdit" (click)="submitGroup(group)">done</igx-icon>
            </div>
          </igx-card-header>

          <igx-card-content>
            <igx-list class="group-list" igxDrop (dropped)="addToGroup($event, group)">
              <igx-list-item *ngFor="let participant of group.participants">
                <igx-avatar igxListThumbnail [src]="participant.user.avatarMedium" shape="circle"></igx-avatar>
                <a igxListLineTitle [href]="environment.bellumgens + '/players/' + (participant.user.customURL || participant.userId)" target="_blank">
                  {{ participant.user.username }}
                </a>
                <span igxListLineTitle>
                  {{ participant.battleTag }}
                </span>
                <igx-icon class="navigatable" i18n-title title="Remove from group" (click)="removeFromGroup(participant, group)">delete</igx-icon>
              </igx-list-item>
            </igx-list>
          </igx-card-content>
        </igx-card>

        <igx-card class="new-group-card" elevated>
          <igx-card-header>
            <igx-avatar igxCardThumbnail shape="circle" src="/assets/wallpapers/sc2-watermark.webp"></igx-avatar>
            <h1 *ngIf="!newGroup.inEdit" igxCardHeaderTitle i18n>New group</h1>

            <igx-input-group *ngIf="newGroup.inEdit" igxCardHeaderTitle>
              <label igxLabel for="groupName" i18n>Group name</label>
              <input type="text" id="groupName" name="groupName" #groupName igxInput [required]="true" [(ngModel)]="newGroup.name" />
              <igx-suffix *ngIf="groupName.value" (click)="newGroup.name = null">
                <igx-icon>clear</igx-icon>
              </igx-suffix>
            </igx-input-group>
          </igx-card-header>

          <igx-card-content class="new-group-body">
            <igx-icon *ngIf="!newGroup.inEdit" class="navigatable" (click)="newGroup.inEdit = true">add_circle_outline</igx-icon>

            <button type="button" *ngIf="newGroup.inEdit" igxButton (click)="newGroup.inEdit = false" i18n>Cancel</button>
            <button type="button" *ngIf="newGroup.inEdit" igxButton (click)="submitGroup(newGroup)" i18n>Submit</button>
          </igx-card-content>
        </igx-card>
      </div>
    </igx-card-content>
  </igx-card>
</div>

<igx-dialog #newMatchDialog
            i18n-title
            title="New match"
            i18n-leftButtonLabel
            leftButtonLabel="Cancel"
            (leftButtonSelect)="newMatchDialog.close()"
            i18n-rightButtonLabel
            rightButtonLabel="Submit"
            (rightButtonSelect)="submitMatch(matchGrid); newMatchDialog.close()">
  <igx-date-picker [(ngModel)]="matchInEdit.startTime" mode="dialog">
    <label igxLabel i18n>Start date</label>
  </igx-date-picker>

  <igx-time-picker [itemsDelta]="{hours: 1, minutes: 15, seconds: 1}" [(ngModel)]="matchInEdit.startTime" mode="dialog">
    <label igxLabel i18n>Start time</label>
  </igx-time-picker>

  <igx-select [(ngModel)]="matchInEdit.groupId">
    <label igxLabel i18n>Group</label>
    <igx-select-item *ngFor="let group of groups"
                      [value]="group.id">{{ group.name }}</igx-select-item>
    <igx-hint i18n>*If the match is during the group stage</igx-hint>
  </igx-select>

  <igx-select [(ngModel)]="matchInEdit.player1Id" required>
    <label igxLabel i18n>Player 1</label>
    <igx-select-item *ngFor="let registration of registrations"
                      [value]="registration.userId"
                      [text]="registration.battleTag">
      <igx-avatar [src]="registration.user.avatarMedium" [initials]="registration.battleTag"></igx-avatar>
      {{ registration.battleTag }}
    </igx-select-item>
  </igx-select>

  vs.

  <igx-select [(ngModel)]="matchInEdit.player2Id" required>
    <label igxLabel i18n>Player 2</label>
    <igx-select-item *ngFor="let registration of registrations"
                      [value]="registration.userId"
                      [text]="registration.battleTag">
      <igx-avatar [src]="registration.user.avatarMedium" [initials]="registration.battleTag"></igx-avatar>
      {{ registration.battleTag }}
    </igx-select-item>
  </igx-select>

  <igx-input-group>
    <label igxLabel i18n>Video Link</label>
    <igx-prefix>
      <igx-icon>link</igx-icon>
    </igx-prefix>
    <input igxInput
           type="url"
           pattern="^(?:http(s)?:\/\/)[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
           #videoLink
           [(ngModel)]="matchInEdit.videoLink" />
    <igx-suffix *ngIf="videoLink.value.length > 0" (click)="matchInEdit.videoLink = null">
        <igx-icon>clear</igx-icon>
    </igx-suffix>
  </igx-input-group>

  <igx-input-group>
    <label igxLabel i18n>Demo Link</label>
    <igx-prefix>
      <igx-icon>link</igx-icon>
    </igx-prefix>
    <input igxInput
           type="url"
           pattern="^(?:http(s)?:\/\/)[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
           #demoLink
           [(ngModel)]="matchInEdit.demoLink" />
    <igx-suffix *ngIf="demoLink.value.length > 0" (click)="matchInEdit.demoLink = null">
        <igx-icon>clear</igx-icon>
    </igx-suffix>
  </igx-input-group>
</igx-dialog>

<igx-dialog #newMatchMapDialog
            i18n-title
            title="Results"
            i18n-leftButtonLabel leftButtonLabel="Cancel"
            (leftButtonSelect)="newMatchMapDialog.close()"
            i18n-rightButtonLabel rightButtonLabel="Submit"
            (rightButtonSelect)="submitMatch(matchGrid); newMatchMapDialog.close()">

  <div class="horizontal-center">
    <igx-input-group>
      <label igxLabel i18n>Points {{ matchInEdit.player1?.battleNetId }}</label>
      <input type="number" igxInput [(ngModel)]="matchInEdit.player1Points" />
    </igx-input-group>
    <span class="grid-vs-divider">:</span>
    <igx-input-group>
      <label igxLabel i18n>Points {{ matchInEdit.player2?.battleNetId }}</label>
      <input type="number" igxInput [(ngModel)]="matchInEdit.player2Points" />
    </igx-input-group>
  </div>

  <div *ngFor="let map of matchInEdit.maps">
    <igx-select [(ngModel)]="map.map">
      <label igxLabel i18n>Map</label>
      <igx-select-item *ngFor="let map of mapList" [value]="map.id">{{ map.map }}</igx-select-item>
    </igx-select>

    <igx-select [(ngModel)]="map.winnerId">
      <label igxLabel i18n>Winner</label>
      <igx-select-item *ngFor="let registration of registrations | getPlayers:matchInEdit.player1Id:matchInEdit.player2Id"
                        [value]="registration.userId"
                        [text]="registration.battleTag">
        <igx-avatar [src]="registration.user.avatarMedium" [initials]="registration.battleTag"></igx-avatar>
        {{ registration.battleTag }}
      </igx-select-item>
    </igx-select>

    <button igxButton class="submit-button delete-map" (click)="deleteMatchMap(map, matchInEdit.maps)">
      <igx-icon>delete_forever</igx-icon>
      <span i18n>Delete</span>
    </button>
  </div>

  <igx-checkbox *ngIf="!matchInEdit.maps || !matchInEdit.maps.length" [(ngModel)]="matchInEdit.noShow" i18n>Walkover</igx-checkbox>

  <button *ngIf="matchInEdit.id"
          igxButton="outlined"
          (click)="matchInEdit.maps.push({ sc2MatchId: matchInEdit.id })">
    <igx-icon>add_circle_outline</igx-icon>
    <span i18n>Add a match map</span>
  </button>
</igx-dialog>

<bg-confirm #confirmGroup i18n-title title="Are you sure?" (ok)="deleteGroup($event)">
  <p i18n>This would permanently delete the group... Teams would automatically be removed from the group.</p>
</bg-confirm>

<bg-confirm #confirmMatch i18n-title title="Are you sure?" (ok)="matchGrid.deleteRowById($event.Id)">
  <p i18n>This will delete the match permanently...</p>
</bg-confirm>
