<app-app-shell *ngIf="!strat"></app-app-shell>

<igx-card *ngIf="strat" class="strategy-details" type="outlined" [horizontal]="horizontal">

  <div igxLayout igxLayoutDir="column" igxFlex igxFlexGrow="1">
    <igx-card-media *ngIf="strat.Url | isVideo else imageContent" height="100%">
      <iframe [src]="strat.Url | safeVideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </igx-card-media>

    <igx-card-header>
      <h1 igxCardHeaderTitle>{{ strat.Title }}</h1>
      <h3 igxCardHeaderSubtitle>{{ strat.Description }}</h3>
      <h5 igxCardHeaderSubtitle class="card-smaller-subtitle">
        <span *ngIf="strat.UserId">Author: <a [routerLink]="['/players', strat.UserId]">{{ strat.Owner }}</a></span>
        Last Edit: {{ strat.LastUpdated | date }}
      </h5>

      <button igxButton="fab"
              [ngClass]="strat.Votes | hasVoted:0:authUser:pipeTrigger"
              igxRipple
              (click)="voteStrat(strat, 0)">
        <igx-icon title="vote up">thumb_up</igx-icon>
        <span *ngIf="strat.Votes | votes:0:pipeTrigger">
          {{strat.Votes | votes:0:pipeTrigger}}
        </span>
      </button>
      <button igxButton="fab"
              [ngClass]="strat.Votes | hasVoted:1:authUser:pipeTrigger"
              igxRipple
              (click)="voteStrat(strat, 1)">
        <igx-icon title="vote down">thumb_down</igx-icon>
        <span *ngIf="strat.Votes | votes:1:pipeTrigger">
          {{strat.Votes | votes:1:pipeTrigger}}
        </span>
      </button>
    </igx-card-header>

    <ng-template #imageContent>
      <igx-card-media class="strategy-image-container">
        <img *ngIf="strat.Image" [src]="strat.Image" [alt]="strat.Title" />
      </igx-card-media>
    </ng-template>
  </div>

  <igx-divider [vertical]="horizontal"></igx-divider>

  <igx-card-actions layout="justify">
    <igx-list class="list-container comments-container">
      <igx-list-item>
        Comments
      </igx-list-item>
      <igx-list-item *ngFor="let comment of strat.Comments">
        <igx-avatar igxListThumbnail [src]="comment.UserAvatar" [roundShape]="true"></igx-avatar>
        <h3 igxListLineTitle>{{ comment.Comment }}</h3>
        <igx-icon igxListActions class="navigatable" [igxToggleAction]="useractions" [overlaySettings]="overlaySettings">more_vert</igx-icon>

        <igx-drop-down #useractions (onSelection)="$event.cancel = true; useractions.close()">
          <igx-drop-down-item (click)="editComment(comment)">
            <igx-icon title="edit strategy">edit</igx-icon>
            <span class="title margin-left">Edit</span>
          </igx-drop-down-item>
          <igx-drop-down-item (click)="confirm.open(strat)">
            <igx-icon title="delete strategy">delete_forever</igx-icon>
            <span class="title margin-left">Delete</span>
          </igx-drop-down-item>
        </igx-drop-down>
      </igx-list-item>
    </igx-list>

    <div class="horizontal">
      <igx-avatar [src]="authUser?.steamUser.avatarIcon" [roundShape]="true"></igx-avatar>
      <form #strategyForm="ngForm" (ngSubmit)="submitComment()">
        <igx-input-group type="box" class="comment-input">
          <label for="comment" igxLabel>Write your comment...</label>
          <textarea [disabled]="!authUser" #commentBox id="comment" name="comment" igxInput [(ngModel)]="newComment.Comment"></textarea>
          <button igxSuffix
                  igxButton="fab"
                  [ngClass]="strat.Votes | hasVoted:1:authUser:pipeTrigger"
                  [disabled]="!newComment.Comment">
            <igx-icon>send</igx-icon>
          </button>
        </igx-input-group>
      </form>
    </div>
  </igx-card-actions>

</igx-card>

<!-- Confirm -->
<app-confirm #confirm title="Are you sure?" (ok)="deleteComment($event)">
  Pressing OK will permanently remove this strategy...
</app-confirm>
<!-- END Confirm -->
