<igx-card *ngIf="strat" class="strategy-details" type="outlined" [horizontal]="true">

  <div igxLayout igxLayoutDir="column" igxFlex igxFlexGrow="1">
    <igx-card-header>
      <h1 igxCardHeaderTitle>{{ strat.Title }}</h1>
      <h3 igxCardHeaderSubtitle>{{ strat.Description }}</h3>
      <h5 igxCardHeaderSubtitle class="card-smaller-subtitle">Last Edit: {{ strat.LastUpdated | date }}</h5>
      
      <button igxButton="flat" igxRipple (click)="voteStrat(strat, 0)">
        <igx-icon title="vote up">thumb_up</igx-icon>
        <span *ngIf="strat.Votes | votes:0:pipeTrigger">
          {{strat.Votes | votes:0:pipeTrigger}}
        </span>
      </button>
      <button igxButton="flat" igxRipple (click)="voteStrat(strat, 1)">
        <igx-icon title="vote down">thumb_down</igx-icon>
        <span *ngIf="strat.Votes | votes:1:pipeTrigger">
          {{strat.Votes | votes:1:pipeTrigger}}
        </span>
      </button>
    </igx-card-header>

    <igx-card-media>
      <iframe class="video-frame" *ngIf="strat.Url | isVideo" [src]="strat.Url | safeVideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <img *ngIf="strat.Image" [src]="strat.Image" class="strat-image" />
    </igx-card-media>
  </div>

  <igx-divider [vertical]="true"></igx-divider>

  <igx-card-actions layout="justify">
    <igx-list class="list-container comments-container">
      <igx-list-item>
        Comments
      </igx-list-item>
      <igx-list-item *ngFor="let comment of strat.Comments">
        <igx-avatar igxListThumbnail [src]="comment.UserAvatar" [roundShape]="true"></igx-avatar>
        <h3 igxListLineTitle>{{ comment.Comment }}</h3>
      </igx-list-item>
    </igx-list>
    
    <div class="horizontal">
      <igx-avatar [src]="authUser?.steamUser.avatarIcon" [roundShape]="true"></igx-avatar>
      <igx-input-group type="box">
        <label for="comment" igxLabel>Write comment...</label>
        <textarea [disabled]="!authUser" igxInput [(ngModel)]="newComment.Comment"></textarea>
      </igx-input-group>
    </div>
  </igx-card-actions>

</igx-card>