<igx-carousel #carousel class="carousel" [loop]="true" [interval]="10000" [navigation]="navigation">
  <igx-slide>
    <div class="slide slide0">
      <div class="slide-info">
        <h2 class="horizontal"><igx-icon family="partners" name="bge-white" class="event-icon"></igx-icon>Bellum Gens Elite</h2>
        <p i18n>Bellum Gens Elite - Stara Zagora 2024 featured the top StarCraft II talent clashing in a 4-day LAN event! Clement "Clem" Desplanches is the champion of Bellum Gens Elite Stara Zagora 2024!</p>
        <a routerLink="/bellumgenselite" igxButton="contained" i18n>Learn More</a>
      </div>
    </div>
  </igx-slide>

  <igx-slide>
    <div class="slide slide1">
      <div class="slide-info">
        <h2 class="horizontal"><igx-icon family="partners" name="eb-league-white" class="event-icon"></igx-icon>Esports Business League</h2>
        <p i18n>Esports Business League is a gaming event for your office! Build better team bonds by friendly or competative gaming, or get your team to compete against other companies to show how good you are!</p>
        <a [href]="environment.ebleague" target="_blank" rel="noopener" igxButton="contained" i18n>Go to EB-League</a>
      </div>
    </div>
  </igx-slide>

  <igx-slide>
    <div class="slide slide2">
      <div class="slide-info">
        <h2 i18n>Manage your CS:GO Team</h2>
        <p i18n>Recruit your team and manage your team member roles, team strategies, practice times and more. The only online CS:GO strategy editor freely available to everyone! Discuss public strategies with everyone and build private strategies for your team.</p>
        <button igxButton="contained" *ngIf="!authUser else loggedIn" (click)="openLogin()" i18n>Sign-up Now</button>
        <ng-template #loggedIn>
          <button igxButton="contained" routerLink="/team/myteams" i18n>Go to Team Section</button>
        </ng-template>
      </div>
    </div>
  </igx-slide>
</igx-carousel>

<div class="content-container">
  <div class="content-container-row">
    <h2 id="aboutus" i18n>About us</h2>
    <p i18n>Bellum Gens is a gaming and esports event organizer and consultant focused on the development and popularization of esports in Bulgaria. We want to make esports a recognizable topic for the business and thus to help the development of all esports project in Bulgaria and on the Balkans. If you take interest in esports and want to advertise through esports, position your brand in tournaments, streams, or other gaming and esports channels, then we can help! Contact us for more information on available opportunities.</p>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column">
    <img ngSrc="/assets/wallpapers/bge-starazagora.webp" width="600" height="401" class="preview-image" alt="Strategy Editor" />
  </div>
  <div class="content-container-column align-center">
    <h3 i18n>Esports Events</h3>
    <p i18n>Bellum Gens is the organizer of the premier Bellum Gen Elite esports event. First held in the town of Stara Zagora, under the name <span class="highlight">Bellum Gens Elite - Stara Zagora</span>, BGE brought the top Counter-Strike talent in the region to compete under one roof for a prize pool of $10,000! <span class="highlight">Bellum Gens Elite Stara Zagora 2024</span> features top StarCraft II players from around the world with a prize pool of €10000!</p>
    <a igxButton="contained" routerLink="/bellumgenselite" class="nav-button">Bellum Gens Elite</a>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column align-center">
    <h3 i18n>Team Building and Gaming</h3>
    <p i18n>Bellum Gens is the organizer of the Esports Business League - a competitive amateur gaming event for the office. Miltiple companies in Bulgaria participated in seasons one and two of the <span class="highlight">Esports Business League</span> both for fun and team building and to show which company has the best gamers among their employees!</p>
    <a igxButton="contained" [href]="environment.ebleague" target="_blank" rel="noopener" class="nav-button" i18n>Esports Business League</a>
  </div>
  <div class="content-container-column">
    <img ngSrc="/assets/wallpapers/eb-league.webp" width="600" height="340" class="preview-image" alt="CS:GO Team Overview" />
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column">
    <img ngSrc="/assets/wallpapers/team-page.webp" width="600" height="314" class="preview-image" alt="CS:GO Team Overview" />
  </div>
  <div class="content-container-column align-center">
    <h3 i18n>Team Management</h3>
    <p i18n>Bellum Gens offers a CS:GO team finding and team management application, which allows players to look for teams matching their skill and availability, and team owners to manage their teams' roster and general organization. Because CS:GO is a team game!</p>
    <button igxButton="outlined" routerLink="/team/myteams" class="nav-button" i18n>Register your Team</button>
  </div>

  <!-- <div class="content-container-row">
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column">
    <img ngSrc="/assets/wallpapers/strat-editor.webp" width="600" height="347" class="preview-image" alt="Strategy Editor" />
  </div>
  <div class="content-container-column align-center">
    <h3 i18n>CS:GO Strategy Editor</h3>
    <p i18n>Bellum Gens provides an in-browser CS:GO strategy editor with all maps available. You can pick a map and draw strategies on the map radar, then share with the community for discussions, or make it private and share it with your team only.</p>
    <button igxButton="outlined" routerLink="/strategies" class="nav-button" i18n>Browse Strategies</button>
  </div> -->

  <div class="content-container-row min-height-row">
    <igx-divider></igx-divider>
    <h4 i18n>We're fully open source! We appreciate your feedback!</h4>
    <div class="horizontal-center">
      <a igxButton="outlined" class="space-out-button" href="https://github.com/BellumGens/bellum-gens/issues" target="_blank" rel="noopener">
        <igx-icon>bug_report</igx-icon>
        <span i18n>Submit an Issue</span>
      </a>
      <button igxButton="outlined" class="space-out-button" (click)="tweet()">
        <igx-icon family="login-icons" name="twitter"></igx-icon>
        <span i18n>Tweet to us</span>
      </button>
      <a igxButton="outlined" class="space-out-button" href="https://github.com/sponsors/BellumGens?o=esb" target="_blank" rel="noopener">
        <igx-icon family="health-icons" name="heart-care"></igx-icon>
        <span i18n>Sponsor us on GitHub</span>
      </a>
    </div>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 id="partners" i18n>Partners</h2>
    <div class="horizontal-center">
      <a href="https://visitstarazagora.bg/en" i18n-title title="Visit Stara Zagora" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/visit-stara-zagora.png" width="519" height="330" i18n-alt alt="Visit Stara Zagora" class="partner gold" />
      </a>
      <a href="https://bulstream.com/" title="Bulstream" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/bulstream.png" width="512" height="512" alt="Bulstream" class="partner gold" />
      </a>
      <a href="https://techhub.bg/" title="TechHub.bg" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/Logo_Techhub_white.png" width="512" height="512" alt="TechHub.bg" class="partner gold" />
      </a>
    </div>
    <div class="horizontal-center">
      <a href="https://www.facebook.com/BGStarCraftLeague" i18n-title title="Bulgarian StarCraft League a one of a kind StarCraft II league in Bulgaria and are contributing to the development of Bulgarian talent in this esport! All StarCraft 2 games in the Esports Business League are casted by the them!" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/bsl.webp" width="134" height="134" i18n-alt alt="Bulgarian StarCraft League a one of a kind StarCraft II league in Bulgaria and are contributing to the development of Bulgarian talent in this esport! All StarCraft 2 games in the Esports Business League are casted by the them!" class="partner logistics" />
      </a>
      <a href="https://www.starazagora.bg/" i18n-title title="Stara Zagora is a 6000+ year-old city in the center of Bulgaria. We partner with Stara Zagora Municipality for the Bellum Gens Elite - Stara Zagora premier esports event!" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/logo-stz.png" width="384" height="134" i18n-alt alt="Stara Zagora is a 6000+ year-old city in the center of Bulgaria. We partner with Stara Zagora Municipality for the Bellum Gens Elite - Stara Zagora premier esports event!" class="partner logistics" />
      </a>
      <a href="https://zagorkacompany.bg/pivovarna/the-beerfest" title="Beerфестът" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/beerfest.webp" width="140" height="140" alt="Beerфестът" class="partner logistics" />
      </a>
      <!-- <a href="http://bprogaming.com/" i18n-title title="BPro Gaming is the first professional esports club in Bulgaria. Since 2015 BPro has developed a number of professional players, team and infrastructure." target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/bpro.webp" width="134" height="112" i18n-alt alt="BPro Gaming is the first professional esports club in Bulgaria. Since 2015 BPro has developed a number of professional players, team and infrastructure." class="partner logistics" />
      </a>
      <a href="https://www.vmware.com/" target="_blank" rel="noopener" i18n-title title="VMware is a global leader in cloud infrastructure and business mobility. The company helps customers realize possibilities by accelerating their digital transformation journeys. Over the range of 12 years VMware Bulgaria has transformed from a purely R&D facility to a multifunctional hub with product, revenue generating professional services and business operations teams and is now one of the three core strategic sites for VMware globally.">
        <igx-icon family="partners" name="vmware" class="partner gold"></igx-icon>
      </a>
      <a href="https://careers.paysafe.com/sofiaengineeringteams/" target="_blank" rel="noopener" i18n-title title="With over 1200 employees, Paysafe is one of the largest software companies and is one of the most desirable employers in Bulgaria.">
        <igx-icon family="partners" name="paysafe" class="partner gold"></igx-icon>
      </a>
      <a href="https://www.modis.com/en-bg/" target="_blank" rel="noopener">
        <igx-icon family="partners" name="modis" title="Modis is a global leader in professional solutions for IT, Engineering and Life Sciences. With more than 20 years of experience the company has established office locations in Europe, North America, Asia and Australia." class="partner gold"></igx-icon>
      </a> -->
    </div>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n id="contacts">Follow us for updates</h2>
  </div>

  <div class="content-container-row">
    <div class="contacts">
      <a href="https://www.facebook.com/bellumgens/" i18n-title title="Like us on Facebook" target="_blank" rel="noopener">
        <img ngSrc="/assets/social/facebook-150x150.webp" width="150" height="150" alt="Facebook" />
      </a>
      <a href="https://twitter.com/BellumGens" i18n-title title="Follow us on Twitter" target="_blank" rel="noopener">
        <img ngSrc="/assets/social/twitter-150x150.webp" width="150" height="150" alt="Twitter" />
      </a>
      <a href="https://www.linkedin.com/company/bellum-gens/" i18n-title title="Follow us on Linked-in" target="_blank" rel="noopener">
        <img ngSrc="/assets/social/linkedin-150x150.webp" width="150" height="150" alt="Linked-in" />
      </a>
      <a href="https://discord.gg/bnTcpa9" i18n-title title="Join our Discord server" target="_blank" rel="noopener">
        <img ngSrc="/assets/social/discord-150x150.webp" width="150" height="150" alt="Discord" />
      </a>
      <a href="https://www.twitch.tv/bge_starazagora" i18n-title title="Follow us on Twitch" target="_blank" rel="noopener">
        <img ngSrc="/assets/social/twitch-150x150.webp" width="150" height="150" alt="Twitch" />
      </a>
    </div>

    <h2 i18n>Subscribe</h2>

    <form #subscription="ngForm" (ngSubmit)="subscribe()">
      <div class="horizontal">
        <igx-input-group type="border" class="subscription-form-input">
          <label igxLabel for="subemail" i18n>Email</label>
          <igx-prefix>
            <igx-icon>email</igx-icon>
          </igx-prefix>
          <input type="email" id="subemail" #subMail name="subemail" igxInput pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userEmail" />
          <igx-suffix *ngIf="subMail.value" (click)="userEmail = null">
            <igx-icon>clear</igx-icon>
          </igx-suffix>
          <igx-hint i18n>Get email updates from us!</igx-hint>
        </igx-input-group>

        <button type="submit" igxButton="outlined" class="submit-email" [disabled]="subscription.invalid || !userEmail" i18n>Subscribe</button>
      </div>
    </form>
  </div>
</div>
