:host {
  .slide {
    display: flex;
    width: 100%;
    height: 450px;
    align-items: center;
  }

  .slide-info {
    width: 80%;
    min-width: 380px;
    padding: 16px;
    vertical-align: middle;
    margin: auto;
  }

  .slide-info h2 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .slide-info h4 {
    font-size: 1.75rem;
    margin: 0;
  }

  .slide-info p {
    font-size: 1rem;
    margin: 16px 0 16px 0;
  }

  .nav-button {
    width: 250px;
  }

  .carousel {
    --igx-carousel-button-background: transparent;
    height: 450px;
  }

  .slide0 {
    background-image: url('/assets/bge/clem-champion-1.jpg');
    background-position-y: -310px;
  }

  .slide1 {
    background-image: url('/assets/wallpapers/carousel-season2.webp');
  }

  .slide2 {
    background-image: url('/assets/wallpapers/csgo_wallpaper_nologo.webp');
    background-position-y: -100px;
  }

  // .slide3 {
  //   background-image: url('/assets/wallpapers/carousel_image_1.webp');
  //   background-position: center;
  // }

  .event-icon {
    width: 92px;
    height: 82px;
  }

  // @media only screen and (max-width: 550px) {
  //   .platinum {
  //     width: 348px;
  //     height: 150px;
  //   }
  // }

  @media only screen and (max-width: 1280px) {
    .slide0 {
      background-position-y: 0px;
      background-position-x: 0px;
    }
    .slide2 {
      background-size: auto;
      background-position: center;
      background-position-y: -100px;
    }
    .slide-info h2 {
      font-size: 1.75rem;
      margin: 0;
    }
  }

  @media only screen and (min-width: 1281px) and (max-width: 1500px) {
    .slide2{
      background-position-y: 0px;
    }
  }

  @media only screen and (min-width: 2000px) {
    .slide0 {
      background-position-y: -500px;
    }
    .slide2, .slide3 {
      background-position-y: -115px;
    }
  }
}
