:host {
  .slide {
    display: flex;
    width: 100%;
    height: 450px;
    align-items: center;
  }

  .slide-info {
    width: 80%;
    min-width: 380px;
    padding: 16px;
    vertical-align: middle;
    margin: auto;
  }

  // .slide-info h2 {
  //   margin: 0;
  // }

  // .slide-info h4 {
  //   font-size: 1.75rem;
  //   margin: 0;
  // }

  // .slide-info p {
  //   margin: 16px 0 16px 0;
  // }

  .nav-button {
    width: 250px;
  }

  .carousel {
    --igx-carousel-button-background: transparent;
    height: 450px;
  }

  .slide0 {
    background-image: url('/assets/wallpapers/clem-champion-1.webp');
    background-position-y: -310px;

    @media only screen and (width > 1280px) and (width < 1750px) {
      background-position-y: -244px;
    }
  }

  .slide1 {
    background-image: url('/assets/wallpapers/carousel-season2.webp');
  }

  .slide2 {
    background-image: url('/assets/wallpapers/csgo_wallpaper_nologo.webp');
    background-position-y: -100px;
  }

  // .slide3 {
  //   background-image: url('/assets/wallpapers/carousel_image_1.webp');
  //   background-position: center;
  // }

  .event-icon {
    width: 88px;
    height: 88px;
  }

  @media only screen and (min-width: 2000px) {
    .slide0 {
      background-position-y: -500px;
    }
    .slide2, .slide3 {
      background-position-y: -115px;
    }
  }

  @media only screen and (max-width: 1280px) {
    .slide0 {
      background-position-y: 0px;
      background-position-x: 0px;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .slide2 {
      background-size: auto;
      background-position: center;
      background-position-y: -100px;
    }
  }

  @media only screen and (max-width: 820px) {
    .slide-info h1 {
      font-size: 52px;
      margin: 0;
    }
  }

  @media only screen and (max-width: 550px) {
    .slide-info h1 {
      font-size: 30px;
      line-height: normal;
    }

    .event-icon {
      width: 44px;
      height: 44px;
    }
  }
}
