<form #userPreferences="ngForm" (ngSubmit)="submitPreferences()">
  <div class="preferences-container">
    <igx-input-group>
      <label for="userEmail" igxLabel>Email address</label>
      <input #userEmail igxInput id="userEmail" type="email" name="userEmail" [(ngModel)]="preferences.email" />
      <igx-suffix *ngIf="userEmail.value.length > 0" (click)="userEmail.value = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <div class="horizontal-center margin-top">
      <label for="userVisibility">Show in searches</label>
      <igx-switch class="horizontal-info__right" #teamVisibility id="userVisibility" name="userVisibility" [(ngModel)]="preferences.searchVisible"></igx-switch>
    </div>
  </div>
  <button igxButton="raised" igxRipple class="preferences-submit" [disabled]="!userPreferences.touched || userPreferences.invalid">Update User Preferences</button>
</form>