<div class="card-wrapper">
  <p *ngIf="!authUser" i18n>You need to login to view your teams.</p>
  <button *ngIf="authUser" class="submit-button" igxButton="outlined" igxRipple (click)="createTeam.open()" i18n><igx-icon>add_circle_outline</igx-icon>Create New CS:GO Team</button>

  <igx-card class="team-card" *ngFor="let team of teams | async">
    <igx-card-header>
      <igx-avatar igxCardThumbnail [src]="team.teamAvatar" [initials]="team.teamName" [roundShape]="true"></igx-avatar>
      <h3 igxCardHeaderTitle>{{ team.teamName }}</h3>
    </igx-card-header>
    <igx-card-content>
      <p>{{ team.description }}</p>
    </igx-card-content>
    <igx-card-actions>
      <button igxButton="outlined" igxRipple [routerLink]="['/team', team.customUrl]" i18n><igx-icon>visibility</igx-icon>Team Details</button>
      <button igxButton="outlined" igxRipple (click)="confirm.open(team)" i18n><igx-icon>delete_forever</igx-icon> Abandon Team</button>
    </igx-card-actions>
  </igx-card>
</div>

<app-team-new #createTeam [authUser]="authUser"></app-team-new>

<bg-confirm #confirm i18n-title title="Are you sure?" (ok)="abandonTeam($event)">
  <p i18n>You will leave this team permanently. If you own the team and are the only team member, then the team will also be deleted...</p>
</bg-confirm>
