@use "../../../variables" as *;

:host ::ng-deep {
  .group-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    padding: 48px 0;
  }

  $grid-custom: grid-theme(
    $content-background: var(--ig-surface-300),
    $header-background: var(--ig-surface-500)
  );
  @include tokens($grid-custom);

  $toolbar-custom: grid-toolbar-theme($background: var(--ig-surface-500));
  @include tokens($toolbar-custom);
}

