@use "../../../variables" as *;

:host ::ng-deep {
  .group-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    padding: 48px 0;
  }

  $grid-custom: grid-theme(
    $schema: $dark-material-schema,
    $content-background: var(--ig-surface-300),
    $header-background: var(--ig-surface-500)
  );
  @include tokens($grid-custom, $mode: 'scoped');

  $toolbar-custom: grid-toolbar-theme(
    $schema: $dark-material-schema,
    $background: var(--ig-surface-500)
  );
  @include tokens($toolbar-custom, $mode: 'scoped');
}

