<div class="card-wrapper">
  @for (member of crewMembers; track member.name) {
    <igx-card elevated>
      <igx-card-header>
        <h1 igxCardHeaderTitle>{{ member.name }}</h1>
        <h2 igxCardHeaderSubtitle>{{ member.position }}</h2>
        <h3 igxCardHeaderSubtitle i18n>Birthplace: {{ member.birthplace }}</h3>
      </igx-card-header>
      <igx-card-media>
        <img [ngSrc]="member.image" width="640" height="426" [alt]="member.name" />
      </igx-card-media>
      <igx-card-actions>
        @for (social of member.social; track social.name) {
          <a igxButton [href]="social.url" target="_blank" rel="noopener" igxEnd>
            <igx-icon family="login-icons" [name]="social.icon"></igx-icon>
            <span>{{ social.name }}</span>
          </a>
        }
      </igx-card-actions>
    </igx-card>
  }
</div>
