$primary: white !default;
$secondary: #FFB408 !default;
$background: #192053;
$banner-background: #2C3D93;
$background-gradient: linear-gradient(to right, $background, #04081D);
$background-gradient-lighter: linear-gradient(135deg, rgba(47,57,120,1) 0%, rgba(16,25,63,1) 100%);

