/* You can add global styles to this file, and also import other style files */
/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";
@import "~minireset.css/minireset";

@include igx-core();

@include igx-typography(
  $font-family: "'Poppins', sans-serif"
);

@import "style-vars.scss";
@import "../src-common/styles.scss";

$include: (igx-avatar,
           igx-navbar,
           igx-list,
           igx-ripple,
           igx-icon,
           igx-overlay,
           igx-button,
           igx-dialog,
           igx-input-group,
           igx-drop-down,
           igx-badge,
           igx-card,
           igx-checkbox,
           igx-tabs,
           igx-snackbar,
           igx-circular-bar,
           igx-linear-bar,
           igx-switch,
           igx-divider,
           igx-chip,
           igx-date-picker,
           igx-calendar,
           igx-nav-drawer,
           igx-banner);

@include igx-dark-theme(
    $palette: $app-palette,
    $exclude: map-keys(map-remove($components, $include...),),
    $legacy-support: false
);

/* Navbar */
$navbar-theme: igx-navbar-theme(igx-palette($background, $secondary),
                                $background: $background-gradient,
                                $shadow: 0px 15px 30px 0px rgba(0,0,0,0.4),
                                $hover-icon-color: $secondary);
@include igx-css-vars($navbar-theme);
/* END Navbar */

/* Nav Drawer */
$navdrawer-theme: igx-navdrawer-theme(igx-palette($background, $secondary),
                                $background: $background-gradient,
                                $item-active-text-color: $secondary,
                                $item-active-icon-color: $secondary,
                                $item-hover-text-color: $secondary,
                                $item-hover-icon-color: $secondary);
@include igx-css-vars($navdrawer-theme);
/* END Nav Drawer */

/* Card */
$card-theme: igx-card-theme($background: $background-gradient-lighter,
                            $header-text-color: rgba(255, 255, 255, 0.87),
                            $resting-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4),
                            $hover-shadow: 0px 15px 30px 0px rgba(0,0,0,0.7));
@include igx-css-vars($card-theme);
/* END Card */

/* List */
$list-theme: igx-list-theme($background: transparent,
                            $header-background: transparent,
                            $item-background: transparent,
                            $item-background-active: rgba(0, 0, 0, 0.11));
@include igx-css-vars($list-theme);
/* END List */

/* Input Group */
$input-group-theme: igx-input-group-theme($search-background: transparent,
                                          $idle-text-color: white,
                                          $filled-text-color: white,
                                          $focused-text-color: white,
                                          $placeholder-color: #999);
@include igx-css-vars($input-group-theme);
/* END Input Group */

/* Banner */
$banner-theme: igx-banner-theme($banner-background: $banner-background);
@include igx-css-vars($banner-theme);
/* END Banner */

/* Tabs */
$tabs-theme: igx-tabs-theme($item-background: $background, $indicator-color: $secondary);
@include igx-css-vars($tabs-theme);
/* END Tabs */

/* Drop Down */
$drop-down-theme: igx-drop-down-theme($background-color: $background);
@include igx-css-vars($drop-down-theme);
/* END Drop Down */

/* Dialog */
$dialog-theme: igx-dialog-theme($background: $background);
@include igx-css-vars($dialog-theme);
/* END Dialog */

/* Snackbar */
$snackbar-theme: igx-snackbar-theme($background: $banner-background, $border-radius: 24px);
@include igx-css-vars($snackbar-theme);
/* END Snackbar */

/* Button */
$button-theme: igx-button-theme($fab-resting-shadow: none,
                                $fab-hover-shadow: none,
                                $fab-focus-shadow: none,
                                $fab-text-color: $primary,
                                $fab-hover-text-color: $secondary,
                                $fab-background: transparent);
@include igx-css-vars($button-theme);
/* END Button */

/* Progress Circular */
$circular-progress-bar-theme: igx-progress-circular-theme($progress-circle-color: $secondary);
@include igx-css-vars($circular-progress-bar-theme);
/* END Progress Circular */

/* Time Picker */
$overlay-theme: igx-overlay-theme($background-color: rgba(35, 51, 132, 0.7));
@include igx-css-vars($overlay-theme);
/* END Time Picker */

@import "../src-common/styles-overrides.scss";

:root {
  --igx-avatar-initials-background: transparent;
}

html {
  height: auto;
}

/* HOME */
.home-page-slide-columns {
  display: grid;
  height: auto;
  grid-template-columns: minmax(45%, 1fr) minmax(45%, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 16px;
  padding: 48px 48px 12px 48px;
}

.slide-info-column {
  max-width: 680px;
  min-width: 380px;
  padding: 52px;
  vertical-align: middle;
  margin: auto;
}

.slide-info-column h1 {
  font-size: 1.75rem;
  font-weight: 800;
  margin: 0;
}

.slide-info-column h4 {
  font-size: 1.75rem;
  margin: 0;
}

.slide-info-column p {
  font-size: 1rem;
  margin: 0 0 16px 0;
}

.twitch-stream {
  width: 630px;
  height: 400px;
}

.twitch-holder {
  text-align: center;
}
/* END HOME */

/* Registrations */
.registration-container {
  padding-bottom: 12px;
}

.registration-slot {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4px 12px;
  width: 120px;
  min-height: 125px;
  word-break: break-all;
}

.registration-slot > a {
  font-size: 0.80rem;
}

.registration-badge-style {
  position: absolute;
  left: 74px;
}

.empty-group-list {
  height: 300px;
  display: flex;
  align-items: center;
}
/* END Registrations */

/* Admin */
.new-group-card {
  border: 1px dashed #aaa;
}

.new-group-card:hover {
  border: 1px dashed #fff;
}

.new-group-body {
  min-height: 350px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.new-group-body igx-icon {
  width: 120px;
  height: 120px;
  font-size: 90pt;
}

.group-list {
  min-height: 350px;
}

.new-group-body igx-icon:hover {
  color: #fff;
}

.group-card-content {
  padding: 0;
}

.action-icon-button {
  margin: 0 4px;
}

.action-icon-button:hover {
  color: $secondary;
}

.action-buttons {
  display: flex;
  align-items: center;
  padding-right: 4px;
}
/* END Admin */

/* SCHEDULE */
.card-wrapper.igx-tabs__group {
  display: grid;
}
/* END SCHEDULE */

@media only screen and (max-width: 1280px) {
  .home-page-slide-columns {
    grid-template-columns: minmax(380px, 1fr);
    padding: 16px 16px 12px 16px;
  }
}
