<igx-dialog closeOnOutsideSelect="true" title="Sign in with Steam" width="600px">
  <button type="icon" IgxButton class="steam-login navigatable" (click)="login('Steam')"></button>
</igx-dialog>

<button igxButton="raised" igxRipple *ngIf="!authUser" (click)="openLogin()">Login</button>
<div *ngIf="authUser">
  <button class="profile-button" #profileButton igxButton="flat" igxRipple [igxToggleAction]="userProfile" [overlaySettings]="overlaySettings">
    <igx-avatar [src]="authUser.steamUser.avatarMedium" [initials]="authUser.steamUser.steamID" roundShape="true">
    </igx-avatar>
    <igx-icon class="drop-down-arrow">arrow_drop_down</igx-icon>
  </button>
  <igx-drop-down #userProfile>
    <div class="profile-container">
      <igx-tabs [tabsType]="'fixed'">
        <igx-tabs-group class="profile-content">
          <ng-template igxTab>
            <div class="horizontal-center">
              <igx-icon>person</igx-icon>
              <div class="igx-tabs__item-label">User Profile</div>
            </div> 
          </ng-template>
          <div class="center-items profile-view">
            <igx-avatar [src]="authUser.steamUser.avatarFull" [initials]="authUser.steamUser.steamID" roundShape="true" [size]="'large'">
            </igx-avatar>
            <h1 class="igx-card-header__title highlight navigatable profile-username" [routerLink]="['/players', authUser.id]">{{ authUser.steamUser.steamID }}</h1>
            <h4 class="igx-card-header__subtitle">{{ authUser.steamUser.realname }}</h4>
          </div>
          <div *ngIf="authUser" class="profile-completeness">
            <igx-linear-bar [type]="profileCompleteness.progressType" class="completeness-bar" [max]="4" [value]="profileCompleteness.profileStage" text="Profile Completeness" [textTop]="true"></igx-linear-bar>
            <div class="completeness-item">
              <igx-icon class="completeness-icon" [color]="profileCompleteness.availability ? profileCompleteness.doneColor : profileCompleteness.pendingColor">{{profileCompleteness.availability ? profileCompleteness.doneIcon : profileCompleteness.pendingIcon}}</igx-icon>
              <span>Availability</span>
            </div>
            <div class="completeness-item">
              <igx-icon class="completeness-icon" [color]="profileCompleteness.primaryRole ? profileCompleteness.doneColor : profileCompleteness.pendingColor">{{profileCompleteness.primaryRole ? profileCompleteness.doneIcon : profileCompleteness.pendingIcon}}</igx-icon>
              <span>Primary Role</span>
            </div>
            <div class="completeness-item">
              <igx-icon class="completeness-icon" [color]="profileCompleteness.secondaryRole ? profileCompleteness.doneColor : profileCompleteness.pendingColor">{{profileCompleteness.secondaryRole ? profileCompleteness.doneIcon : profileCompleteness.pendingIcon}}</igx-icon>
              <span>Secondary Role</span>
            </div>
            <div class="completeness-item">
              <igx-icon class="completeness-icon" [color]="profileCompleteness.mapPool ? profileCompleteness.doneColor : profileCompleteness.pendingColor">{{profileCompleteness.mapPool ? profileCompleteness.doneIcon : profileCompleteness.pendingIcon}}</igx-icon>
              <span>Preferred maps</span>
            </div>
          </div>
          <button class="submit-button" igxButton="outlined" igxRipple (click)="logout()"><igx-icon>exit_to_app</igx-icon>logout</button>
        </igx-tabs-group>
  
        <igx-tabs-group class="profile-content">
          <ng-template igxTab>
            <div class="horizontal-center">
              <igx-icon>settings</igx-icon>
              <div class="igx-tabs__item-label">Preferences</div>
            </div> 
          </ng-template>
  
          <app-user-preferences class="preferences-divider" [authUser]="authUser"></app-user-preferences>
        </igx-tabs-group>
      </igx-tabs>
    </div>
  </igx-drop-down>
</div>