.steam-login-container {
  align-content: center;
}

.drop-down-arrow {
  margin: 0;
}

.profile-button {
  height: 58px;
}

.profile-button:hover,
.profile-button:active,
.profile-button:focus {
  background-color: transparent;
}

.profile-view {
  padding: 40px 0;
}

.profile-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-width: 347px;
}

.profile-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 515px;
  padding: 8px;
}

.preferences-divider {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: space-between;
}

.profile-username {
  margin-top: 8px;
}

.completeness-icon {
  margin-right: 16px;
}

.profile-completeness,
.completeness-bar {
  margin-bottom: 16px;
}

.completeness-item {
  display: flex;
  padding: 4px;
}

.completeness-item span {
  font-size: 0.9rem;
}

.login-buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 24px 24px;
}