<div class="content-container">

  <div class="content-container-row">
    <h1 i18n>Order the official Esports Business League jersey!</h1>
  </div>

  <div class="content-container-column">
    <p i18n>The 2020 Esports Business League jersey is available!</p>

    <p i18n>Made of 100% sportswear ventilated polyester, with high quality print, the official jersey is available in limited quantity! The jersey is ideal both for extended gaming sessions and sports activities in the open! Only 300 units of the 2020 jersey are being sold. We have both male and female cuts available. All orders are being shipped C.O.D. Free shipment for orders over 100 BGN.</p>

    <h4 i18n>Price <del>{{basePrice}} BGN</del>&nbsp;@if (basePromo) {
      <span class="highlight">{{ basePrice - basePrice * basePromo }} BGN</span>
    }</h4>
  </div>

  <div class="content-container-column">
    <img ngSrc="/assets/wallpapers/jersey-front-back.webp" width="600" height="572" alt="Esports Business League jersey" />
  </div>

  <bg-orderform class="content-container-row"></bg-orderform>
</div>
