:host {
  .floating-button {
    margin: 16px;
  }

  .order-form-input {
    margin: 8px;
  }

  .order-summary {
    display: flex;
    flex-flow: column;
    width: 270px;
    margin: 8px;
    text-align: right;
  }

  .order-summary > span {
    font-size: 1.25rem;
    margin: 8px;
  }

  igx-select, button, igx-input-group {
    text-align: left;
    width: 270px;
  }

  @media only screen and (max-width: 550px) {

    igx-select, button, igx-input-group {
      text-align: left;
      width: 100%;
    }

    .order-summary {
      width: 100%;
      margin: 0 16px 0 0;
    }
  }

}
