<div class="content-container">

  <div class="content-container-row">
    <h1>Поръчай официалната EB-League тениска!</h1>
  </div>

  <div class="content-container-column left-column">
    <p>Направена от висококачествена материя и печат, тениската е налична в лимитирана серия. Имаме налични както мъжки, така и адаптирани дамски модели. Поръчките се извършват единствено с наложен платеж при доставка по куриер.</p>

    <h4>Поръчай с 20% отстъпка по време на финалите на EB-League на 11-12 април!</h4>

    <p>Възползвай се от 20% намаление от цената, ако поръчаш по време на финалите на 11 или 12 април. Промоцията е валидна от 10am, 11 април (събота) до 11:59pm 12 април (неделя).</p>

    <h4>Цена 60 лв</h4>
    <!-- <h6>Отстъпка -12 лв</h6>
    <h6>Доставка 5 лв</h6>
    <h4>Общо {{promo ? '53 лв' : '65 лв'}}</h4> -->
  </div>

  <div class="content-container-column">
    <img src="/assets/wallpapers/jersey.webp" alt="Esports Business League jersey" />
  </div>

  <form class="content-container-row">
    <h1>Поръчай официалната EB-League тениска!</h1>
  </form>
</div>
