:host {
  .floating-button {
    margin: 16px;
  }

  .order-form-input {
    margin: 8px;
  }

  .order-summary {
    display: flex;
    flex-flow: column;
    width: 270px;
    margin: 8px;
    text-align: right;
  }

  .order-summary > span {
    font-size: 1.25rem;
    margin: 8px;
  }

  igx-select, button, igx-input-group {
    text-align: left;
    width: 270px;
  }

}
