<div class="content-container">

  <div class="content-container-row">
    <h1>Поръчай официалната EB-League тениска!</h1>
  </div>

  <div class="content-container-column left-column">
    <p>Тениската от сезон 1 на Esports Business League, е вече налична!</p>

    <p>Направена от 100% дишащ полиестер, с висококачествен печат, тениската е налична в лимитирана серия. Идеална е както за продължителни гейминг сесии, така и за спорт на открито! Серията в продажба е само 300 бройки. Имаме налични както мъжки, така и адаптирани дамски модели. Поръчките се извършват единствено с наложен платеж при доставка по куриер, до изчерпване на количествата.</p>

    <h4>Цена 60 лв.</h4>
  </div>

  <div class="content-container-column">
    <img src="/assets/wallpapers/jersey-front-back.webp" alt="Esports Business League jersey" />
  </div>

  <form #orderForm="ngForm" (ngSubmit)="placeOrder()" class="content-container-row ">
    <div class="horizontal">
      <div class="column-container">
        <div class="horizontal-center" *ngFor="let jersey of order.jerseys; let i = index">
          <igx-select [value]="jersey.cut" (onSelection)="selectJerseyCut(jersey, $event)" type="border" class="order-form-input" name="jerseyCut">
            <label igxLabel>Кройка</label>
            <igx-select-item *ngFor="let cut of cuts" [value]="cut.cut">
              {{ cut.text }}
            </igx-select-item>
          </igx-select>

          <igx-select [value]="jersey.size" (onSelection)="selectJerseySize(jersey, $event)" type="border" class="order-form-input" name="jerseySize">
            <label igxLabel>Размер</label>
            <igx-select-item *ngFor="let size of allSizes | filterSizes:jersey.cut" [value]="size.size">
              {{ size.text }}
            </igx-select-item>
          </igx-select>

          <igx-icon *ngIf="order.jerseys.length > 1 " (click)="order.jerseys.splice(i, 1)">clear</igx-icon>
        </div>
      </div>

      <div class="order-summary">
        <span>Тениски {{order.jerseys.length}} x 60лв. = {{ order.jerseys.length * 60 }} лв.</span>

        <igx-input-group class="order-form-input" type="border">
          <label igxLabel for="firstName">Код за отстъпка</label>
          <igx-prefix>
            <igx-icon>money_off</igx-icon>
          </igx-prefix>
          <input id="promocode" #promocode name="promocode" igxInput (blur)="checkForPromo()" [(ngModel)]="order.promocode" />
          <igx-suffix *ngIf="promocode.value" (click)="order.promocode = null">
            <igx-icon>clear</igx-icon>
          </igx-suffix>

          <igx-hint class="color-error" *ngIf="invalidPromo">
            Кодът е невалиден...
          </igx-hint>
        </igx-input-group>

        <span *ngIf="promo > 0" class="color-success">{{ promo * 100 }}% Отстъпка = -{{ (order.jerseys.length * 60) * promo }} лв.</span>
        <span>Доставка = 5 лв.</span>
        <igx-divider></igx-divider>
        <span>Общо = {{ (order.jerseys.length * 60) * (1 - promo) + 5 }} лв.</span>
      </div>
    </div>

    <div class="horizontal floating-button">
      <button type="button" igxButton="outlined" (click)="order.jerseys.push({ cut: 0, size: 3 })">
        <igx-icon>add</igx-icon> Добави още една
      </button>
    </div>

    <div class="horizontal">
      <igx-input-group class="order-form-input" type="border">
        <label igxLabel for="firstName">Име</label>
        <igx-prefix>
          <igx-icon>text_fields</igx-icon>
        </igx-prefix>
        <input id="orderemail" #firstName name="firstName" igxInput required [(ngModel)]="order.firstName" />
        <igx-suffix *ngIf="firstName.value" (click)="order.firstName = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <igx-input-group class="order-form-input" type="border">
        <label igxLabel for="lastName">Фамилия</label>
        <igx-prefix>
          <igx-icon>text_fields</igx-icon>
        </igx-prefix>
        <input id="lastName" #lastName name="lastName" igxInput required [(ngModel)]="order.lastName" />
        <igx-suffix *ngIf="lastName.value" (click)="order.lastName = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <igx-input-group class="order-form-input" type="border">
        <label igxLabel for="orderemail">Имейл адрес</label>
        <igx-prefix>
          <igx-icon>email</igx-icon>
        </igx-prefix>
        <input type="email" id="orderemail" #orderEmail name="orderemail" igxInput required pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="order.email" />
        <igx-suffix *ngIf="orderEmail.value" (click)="order.email = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </div>

    <div class="horizontal">
      <igx-input-group class="order-form-input" type="border">
        <igx-prefix>
          <igx-icon title="Телефон">phone</igx-icon>
          +359
        </igx-prefix>
        <input id="orderPhone"
               #orderPhone
               class="input-phone-number"
               name="orderPhone"
               igxInput
               required
               [igxMask]="'000 00 00 00'"
               [igxTextSelection]="true"
               placeholder="--- -- -- --"
               [(ngModel)]="order.phoneNumber" />
        <igx-suffix *ngIf="orderPhone.value" (click)="order.phoneNumber = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <igx-input-group class="order-form-input" type="border">
        <label igxLabel for="orderCity">Град</label>
        <igx-prefix>
          <igx-icon>home</igx-icon>
        </igx-prefix>
        <input id="orderCity" #orderCity name="orderCity" igxInput required [(ngModel)]="order.city" />
        <igx-suffix *ngIf="orderCity.value" (click)="order.city = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <igx-input-group class="order-form-input" type="border">
        <label igxLabel for="orderAddress">Адрес</label>
        <igx-prefix>
          <igx-icon>home</igx-icon>
        </igx-prefix>
        <input id="orderAddress" #orderAddress name="orderAddress" igxInput required [(ngModel)]="order.streetAddress" />
        <igx-suffix *ngIf="orderAddress.value" (click)="order.streetAddress = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </div>

    <div class="horizontal floating-button">
      <button igxButton="outlined" [disabled]="!orderForm.touched || orderForm.invalid || inProgress">Поръчай</button>
    </div>

  </form>
</div>
