.strat-editor-host {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.editor-elements {
  display: flex;
  flex-flow: column;
  color: white;
  max-width: 230px;
  padding: 0 4px;
}

.map-choice {
  margin: 0px 4px 4px 0px;
}

.editor-element-icon {
  width: 36px;
  height: 36px;
  min-width: 36px;
  margin: 4px;
}

.selected-element {
  outline: 2px solid #FF0A3A;
}

.editor-elements-section {
  margin-bottom: 32px;
}

.hidden-layer {
  opacity: 0.6;
}