<div class="home-page-slide">
  <div class="slide slide1">
    <div class="slide-info">
      <h1>CS:GO Championship</h1>
      <p>16 teams will compete in a league, earning points every week towards the league finals. The top 4 teams will battle it out in a LAN finals event! Reserve your team's spot now!</p>
      <button igxButton="raised" igxButtonColor="#fff" routerLink="/strategies">Sign-up Now</button>
    </div>
  </div>
  <div class="slide slide2">
    <div class="slide-info">
      <h1>StarCraft II Championship</h1>
      <p>32 individuals will compete in a league, earning points every week towards the league finals. Top 8 individuals will battle it out in a LAN finals event! Reserve your spot now!</p>
      <button igxButton="raised" igxButtonColor="#fff" routerLink="/strategies">Sign-up Now</button>
    </div>
  </div>
</div>
