<div class="home-page-slide">
  <div class="slide slide1">
    <div class="slide-info">
      <h1>CS:GO Championship</h1>
      <p>Първото издание на Esports Business League ще се проведе есента на 2019. До 16 отбора ще премерят сили в CS:GO лига, всеки срещу всеки и ще събират точки за участие в LAN финалите.</p>
      <button igxButton="raised" igxButtonColor="#fff" disabled="true">Записване от 1 Октомври 2019</button>
    </div>
  </div>
  <div class="slide slide2">
    <div class="slide-info">
      <h1>StarCraft II Championship</h1>
      <p>Първото издание на Esports Business League ще се проведе есента на 2019. До 32 състезателя ще премерят сили в StarCraft II лига, всеки срещу всеки и ще събират точки за участие в LAN финалите.</p>
      <button igxButton="raised" igxButtonColor="#fff" disabled="true">Записване от 1 Октомври 2019</button>
    </div>
  </div>
</div>

<div class="content-container">
  <form #email="ngForm" class="content-container-row registration-form" (ngSubmit)="subscribe()">
    <igx-divider></igx-divider>
    <h4>Регистрацията ще бъде отворена на 1ви Октомври, 2019.</h4>
    <p>Ако искате да получавате известия от нас, моля оставете вашият имейл адрес!</p>
    <div class="horizontal">
      <igx-input-group class="registration-form-input" type="border">
        <label igxLabel for="email">Имейл адрес</label>
        <igx-prefix>
          <igx-icon>email</igx-icon>
        </igx-prefix>
        <input type="email" id="email" #userMail name="email" igxInput pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userEmail" />
        <igx-suffix *ngIf="userMail.value" (click)="userEmail = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <button igxButton="outlined" class="submit-email">Запиши се</button>
    </div>
    <igx-divider></igx-divider>
  </form>

  <div class="content-container-column left-column">
    <img src="/assets/wallpapers/LandingPage_image_1.png" class="preview-image" alt="Esports Business League" />
  </div>
  <div class="content-container-column">
    <h4>Какво е Esports Business League?</h4>
    <p>Esports Business League предоставя арена за аматьорска състезание между отбори сформирани на работното място. Първият сезон на лигата ще се проведе в рамките на 8 седмици, като всяка седмица ще се провеждат по 2 срещи, след работно време в делнични дни (без петък). Лигата ще приключи с LAN финали до които ще достигнат отборите и играчите с най-много събрани точки през сезона. Всички срещи от лигата ще бъдат излъчвани и коментирани на живо по <a href="https://www.twitch.tv/" target="_blank" rel="noopener">twitch.tv</a>.</p>
  </div>

  <div class="content-container-column left-column">
    <h4>Условия за записване</h4>
    <p>Единственото условие за участие е всички членове на отбора да бъдат текущи сложители на работното място към което е асоцииран отбора. Същото условие важи и за индивидуалните състезатели (StarCraft II). При записване ще се изисква да се предостави информация за това коя е компанията която отбора/индивидуалния състезател представлява.</p>
    <p>Записването ще бъде отворено до изтичане на крайния срок, или достигане на максималния брой отбори (16 CS:GO), или индивидуални състезатели (32 StarCraft II). Приключването на регистрацията изисква и заплащането на входна такса - 300лв. с вкл. ДДС на отбор или 60лв. с вкл. ДДС на индивидуален състезател.</p>
    <p>Всички учасници ще получат ексклузивно Esports Business League jersey!</p>
  </div>
  <div class="content-container-column">
    <img src="/assets/wallpapers/LandingPage_image_2.png" class="preview-image" alt="Terms and Conditions" />
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h4>Формат на Лигата</h4>
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column justify-start">
    <h4>CS:GO Лига</h4>
    <p>Пълна информация за формата на лигата можете да намерите <a>тук</a></p>
  </div>

  <div class="content-container-column justify-start">
    <h4>StarCraft II Лига</h4>
    <p>Пълна информация за формата на лигата можете да намерите <a>тук</a></p>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h4>Награди</h4>
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column justify-start">
    <h4>CS:GO Лига</h4>
    <p>Отборите финалисти в лигата по CS:GO ще се състезават за награди на обща стойност €8000.</p>
    <p>Отборът победител в CS:GO лигата ще получи Global Elite Pass за ESL One Cologne 2020.</p>
    <img src="/assets/wallpapers/csgo-global-elite.png" alt="ESL One Cologne 2020 Global Elite Pass (5 man)" />
  </div>

  <div class="content-container-column justify-start">
    <h4>StarCraft II Лига</h4>
    <p>Финалистите в лигата по StarCraft II ще се състезават за награди на обща стойност €2000.</p>
    <p>Победителят в StarCraft II лигата ще получи най-високият клас билет за BlizCon 2020.</p>
    <img src="/assets/wallpapers/blizcon-logo.jpg" alt="BlizCon 2020 Ticket" />
  </div>
</div>
