<div class="home-page-slide-columns">
  <div class="slide slide1">
    <div class="slide-info-column">
      <h1>CS:GO League</h1>
      <p>Регистрацията за първия сезон на Esports Business League е отворена! Първото издание на Esports Business League ще се проведе пролетта на 2020.</p>
      <igx-linear-bar [max]="16"
                      [value]="registrations | getRegCount:gameEnum.CSGO:pipeTrigger"
                      [text]="(registrations | getRegCount:gameEnum.CSGO:pipeTrigger) + ' / 16 записани до момента'"
                      type="success"></igx-linear-bar>
      <button igxButton="raised"
              igxButtonColor="#fff"
              [disabled]="userCheck"
              (click)="selectGame(gameEnum.CSGO)">Записване за CS:GO лига</button>
    </div>
  </div>
  <div class="slide slide2">
    <div class="slide-info-column">
      <h1>StarCraft II League</h1>
      <p>Регистрацията за първия сезон на Esports Business League е отворена! Първото издание на Esports Business League ще се проведе пролетта на 2020.</p>
      <igx-linear-bar [max]="32"
                      [value]="registrations | getRegCount:gameEnum.StarCraft2:pipeTrigger"
                      [text]="(registrations | getRegCount:gameEnum.StarCraft2:pipeTrigger) + ' / 32 записани до момента'"
                      type="success"></igx-linear-bar>
      <button igxButton="raised" igxButtonColor="#fff" [disabled]="userCheck" (click)="selectGame(gameEnum.StarCraft2)">Записване за StarCraft II лига</button>
    </div>
  </div>
</div>

<app-login-dialog #loginDialog></app-login-dialog>
<app-team-new #newTeam [authUser]="authUser"></app-team-new>

<div class="content-container">
  <form #tapplication="ngForm" class="content-container-row registration-form" (ngSubmit)="leagueRegistration()">

    <igx-divider></igx-divider>
    <h4 id="registration" class="registration-title">Регистрация</h4>

    <igx-select name="game" required [disabled]="!authUser" class="registration-form-input" [(ngModel)]="application.Game" (ngModelChange)="showDetails()">
      <label igxLabel>{{ authUser ? 'Изберете лига (игра)' : 'Първо трябва да влезете в акаунта си'}}</label>
      <igx-select-item *ngFor="let game of games" [value]="game.id">
        {{ game.name }}
      </igx-select-item>
    </igx-select>

    <div #appDetails class="application-details">

      <igx-input-group class="registration-form-input">
        <label igxLabel for="email">Имейл адрес</label>
        <igx-prefix>
          <igx-icon>email</igx-icon>
        </igx-prefix>
        <input type="email" id="email" #userMail name="email" required igxInput pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="application.Email" />
        <igx-suffix *ngIf="userMail.value" (click)="application.Email = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <igx-select id="team" #team name="team" required [(ngModel)]="application.TeamId" class="registration-form-input" *ngIf="application.Game === gameEnum.CSGO" >
        <label igxLabel for="email">Изберете своя отбор</label>
        <igx-prefix>
          <igx-icon>people</igx-icon>
        </igx-prefix>
        <igx-select-item *ngFor="let team of authUser?.teams" [value]="team.TeamId" [text]="team.TeamName">
          <igx-avatar [src]="team.TeamAvatar" [initials]="team.TeamName" class="team-avatar" roundShape="true"></igx-avatar>
          <p class="team-name">{{ team.TeamName }}</p>
        </igx-select-item>
        <igx-select-item (click)="newTeam.open(false)">
          Създай нов отбор...
        </igx-select-item>
      </igx-select>

      <igx-input-group class="registration-form-input" *ngIf="application.Game === gameEnum.StarCraft2" >
        <label igxLabel for="email">Battle tag</label>
        <igx-prefix>
          <igx-icon fontSet="login-icons" name="BattleNet"></igx-icon>
        </igx-prefix>
        <input id="battletag" #battletag name="battletag" required igxInput pattern="^[a-zA-Z0-9._%+-]+#[0-9]{4,6}$" [(ngModel)]="application.BattleNetId" />
        <igx-suffix *ngIf="battletag.value" (click)="application.BattleNetId = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <igx-input-group class="registration-form-input">
        <label igxLabel for="company">Компания</label>
        <igx-prefix>
          <igx-icon>work</igx-icon>
        </igx-prefix>
        <input id="company" #company name="company" igxInput [igxAutocomplete]="companiesDD" [(ngModel)]="application.CompanyId" required />
        <igx-suffix *ngIf="company.value" (click)="application.CompanyId = null">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
        <igx-hint>*Тази информация няма да бъде видима никъде...</igx-hint>
      </igx-input-group>
      <igx-drop-down #companiesDD maxHeight="320px">
        <igx-drop-down-item *ngFor="let company of companies | startsWith:application.CompanyId" [value]="company">
          {{ company }}
        </igx-drop-down-item>
      </igx-drop-down>

      <div class="horizontal-center">
        <igx-checkbox #termsAccepted id="accept" name="accept" class="accept-terms-checkbox">
          <label for="accept">Приемам <span class="highlight navigatable" (click)="scrollToTerms($event)">условията за записване</span>.</label>
        </igx-checkbox>
      </div>

      <button igxButton="outlined" class="submit-registration" [disabled]="tapplication.invalid || !termsAccepted.checked || inProgress">Регистрирай ме</button>
    </div>
    <igx-divider></igx-divider>
  </form>

  <div class="content-container-column left-column">
    <img src="/assets/wallpapers/LandingPage_image_1.webp" class="preview-image" alt="Esports Business League" />
  </div>
  <div class="content-container-column">
    <h4>Какво е Esports Business League?</h4>
    <p>Esports Business League предоставя арена за аматьорско състезание между отбори сформирани на работното място. Първият сезон на лигата ще се проведе в рамките на 8 седмици. Срещите се провеждат след работно време от понеделник до четвъртък включително. Лигата ще приключи с LAN финали до които ще достигнат отборите и играчите с най-много събрани точки през сезона. Всички срещи от лигата ще бъдат излъчвани и коментирани на живо по <a href="https://www.twitch.tv/" target="_blank" rel="noopener">twitch.tv</a>.</p>
    <h4>Кога?</h4>
    <p>Регистрации се приемат между 15ти Октомври, 2019 и 6ти Декември, 2019, или до изчерпване на местата.</p>
    <p>Провеждането на първи сезон на лигата ще започне на <span class="highlight">27ми Януари, 2020</span>.</p>
    <p>LAN финалите на първи сезон на лигата ще бъдат на <span class="highlight">4-5ти Април, 2020</span>.</p>
  </div>

  <div class="content-container-column left-column">
    <h4 id="terms">Условия за записване</h4>
    <p>Единственото условие за участие е всички членове на отбора да бъдат текущи служители на работното място към което е асоцииран отбора. Отборът може да има резерви, които трябва да отговарят на същото условие, но могат да бъдат добавяни и след регистрацията. Индивидуалните състезатели (StarCraft II) трябва да бъдат активно заети към работното място, с което се асоциират в регистрацията. При записване ще се изисква да се предостави информация за това коя е компанията която отбора/индивидуалния състезател представлява.</p>
    <p>Записването ще бъде отворено до изтичане на крайния срок, 6ти Декември, 2019, или достигане на максималния брой отбори (16 CS:GO), или индивидуални състезатели (32 StarCraft II). Приключването на регистрацията изисква и заплащането на входна такса - 300лв. с вкл. ДДС на отбор или 60лв. с вкл. ДДС на индивидуален състезател. Заплащането на таксата става по банков път след регистрацията.</p>
    <p>Всеки отбор ще получи като подарък 5 ексклузивни Esports Business League jersey. Всеки индивидуален състезател също ще получи като подарък jersey.</p>
  </div>

  <div class="content-container-column">
    <img src="/assets/wallpapers/LandingPage_image_2.webp" class="preview-image" alt="Terms and Conditions" />
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>Формат на Лигата</h2>
  </div>

  <div class="content-container-column">
    <h4>CS:GO Лига</h4>
    <ul>
      <li>8 седмици - формат лига</li>
      <li>2 срещи седмично за всеки отбор</li>
      <li>Всяка среща е best-of-one с overtime</li>
      <li>Всеки срещу всеки, до изчерпване на противниците</li>
      <li>Всеки отбор събира точки седмично</li>
      <li>LAN финал уикенд между 4те отбора събрали най-много точки</li>
      <li>Пълна информация за формата ще намерите <a routerLink="/tournament/format">тук</a></li>
    </ul>
  </div>

  <div class="content-container-column">
    <h4>StarCraft II Лига</h4>
    <ul>
      <li>8 седмици - формат лига</li>
      <li>4 срещи седмично за всеки играч</li>
      <li>Всяка среща е best-of-two с възможност за равенство</li>
      <li>Всеки срещу всеки, до изчерпване на противниците</li>
      <li>Всеки играч събира точки седмично</li>
      <li>LAN финал уикенд между 8те играча събрали най-много точки</li>
      <li>Пълна информация за формата ще намерите <a routerLink="/tournament/format">тук</a></li>
    </ul>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>Награди</h2>
  </div>

  <div class="content-container-column justify-start">
    <h4>CS:GO Лига</h4>
    <p>Отборите финалисти в лигата по CS:GO ще се състезават за награди на обща стойност €8000.</p>
    <p>За отборът победител в CS:GO лигата ще закупим Global Elite Pass за ESL One Cologne 2020, ако до приключване на регистрацията pass-овете не са изчерпани. Ако са изчерпани, тогава ще предоставим друга награда на еквивалентна стойност.</p>
    <p>За отборът, класирал се втори, ще има награда на стойност €2000.</p>
    <p>Остатъкът от наградния фонд ще бъде разпределен между останалите участници във финалите.</p>
    <img src="/assets/wallpapers/Global_elite_experience.webp" alt="ESL One Cologne 2020 Global Elite Pass (5 man)" />
  </div>

  <div class="content-container-column justify-start">
    <h4>StarCraft II Лига</h4>
    <p>Финалистите в лигата по StarCraft II ще се състезават за награди на обща стойност €2000.</p>
    <p>За победителят в StarCraft II лигата ще закупим най-високия клас билет за BlizzCon 2020. Ако победителят няма възможност да пътува, тогава ще предоставим друга награда на еквивалентна стойност.</p>
    <p>За състезателя, класирал се втори, ще има стандартен билет за BlizzCon, или друга награда на еквивалентна стойност.</p>
    <p>Остатъкът от наградния фонд ще бъде разпределен между останалите участници във финалите.</p>
    <img src="/assets/wallpapers/blizz_con.webp" alt="BlizCon 2020 Ticket" />
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>Контакти</h2>
    <p>Изпращайте ни въпроси на <a href="mailto:info@eb-league.com">info@eb-league.com</a></p>
    <p>Или в социалните мрежи <a href="https://www.facebook.com/esportsbleague/" target="_blank" rel="noopener">facebook</a>, <a href="https://twitter.com/EsportBLeague" target="_blank" rel="noopener">twitter</a></p>

    <form #subscription="ngForm" class="content-container-row registration-form" (ngSubmit)="subscribe()">
      <p>Ако искате да получавате известия от нас, моля оставете вашия имейл адрес!</p>
      <div class="horizontal">
        <igx-input-group type="border" class="subscription-form-input">
          <label igxLabel for="subemail">Имейл адрес</label>
          <igx-prefix>
            <igx-icon>email</igx-icon>
          </igx-prefix>
          <input type="email" id="subemail" #subMail name="subemail" igxInput pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userEmail" />
          <igx-suffix *ngIf="subMail.value" (click)="userEmail = null">
            <igx-icon>clear</igx-icon>
          </igx-suffix>
        </igx-input-group>

        <button igxButton="outlined" class="submit-email" [disabled]="subscription.invalid || !userEmail">Запиши се</button>
      </div>
    </form>
  </div>
</div>

<igx-dialog title="Регистрацията ви е получена!" [closeOnOutsideSelect]="true" #successMsg>
  <div class="success-dialog-content">
    <p>Вашата регистрация ще бъде потвърдена след като преведете таксата за участие (60лв. с ДДС за лигата по StarCraft II, или 300лв. с ДДС за лигата по CS:GO).</p>
    <p>Банковата ни сметка е</p>
    <ul>
      <li>Име на Банката: <span class="highlight">{{ bankaccountinfo.bank }}</span></li>
      <li>Титуляр: <span class="highlight">{{ bankaccountinfo.name }}</span></li>
      <li>Сметка: <span class="highlight">{{ bankaccountinfo.account }}</span></li>
      <li>BIC: <span class="highlight">{{ bankaccountinfo.bic }}</span></li>
    </ul>
    <p>Моля при превода да сложите в основанието уникалния код, който сме генерирали за вашата регистрация: <span class="highlight">{{ application.Hash }}</span>. Можете да намерите кода и през вашият профил.</p>
    <p>Ако ви е нужна фактура, моля да се свържете с нас на <a href="mailto:info@eb-league.com">info@eb-league.com</a>!</p>
  </div>
</igx-dialog>
