
<div class="player-overview">
  <igx-card *ngIf="steamUser">
    <igx-card-header>
        <igx-avatar [src]="steamUser.avatarFull" roundShape="true" [size]="'large'">
          <igx-avatar [src]="'assets/country-flags/svg/' + steamUser.country.toLowerCase() + '.svg'" class="country-badge-large"></igx-avatar>
        </igx-avatar>
        <div class="player__info">
          <h1 class="igx-card-header__title">{{ steamUser.steamID }}</h1>
          <h3 class="igx-card-header__subtitle">{{ steamUser.realname }}</h3>
        </div>
        <div class="player__info">
          <h1 class="igx-card-header__title">{{ steamUser.steamID }}</h1>
          <h3 class="igx-card-header__subtitle">{{ steamUser.realname }}</h3>
        </div>
    </igx-card-header>
    <igx-card-content>
      <p class="igx-card-content__text">{{steamUser.summary}}</p>
    </igx-card-content>
  </igx-card>
</div>