.country-badge-large {
  position: absolute;
  top: -4px;
  left: 52px;
  width: 32px;
  height: 32px;
  min-width: 32px;
}

.player__info {
  margin-left: 16px;
}

.player-overview {
  margin-top: 16px;
  margin-right: 16px;
}