<div class="card-with-margins">
  <igx-card>
    <igx-card-header>
      <igx-avatar [src]="player?.steamUser?.avatarFull" roundShape="true" [size]="'large'">
        <igx-avatar *ngIf="player?.steamUser?.country" [src]="'assets/country-flags/svg/' + player?.steamUser?.country.toLowerCase() + '.svg'" [title]="player?.steamUser?.country" class="country-badge-large"></igx-avatar>
      </igx-avatar>
      <div class="player__info">
        <h1 class="igx-card-header__title"><a [href]="'https://steamcommunity.com/id/' + player?.steamUser?.customURL" target="_blank">{{ player?.steamUser?.steamID }}</a></h1>
        <h3 class="igx-card-header__subtitle">{{ player?.steamUser?.realname }}</h3>
      </div>

      <div class="player-stats__container">
        <div class="player-detail__stats">
          <h3 class="no-margin">KDR:</h3>
          <igx-circular-bar class="stats-progress" [value]="player?.userStats?.killDeathRatio" [max]="2" [animate]="true" title="KDR" [text]="player?.userStats?.killDeathRatio"></igx-circular-bar>
        </div>
        <div class="player-detail__stats">
          <h3 class="no-margin">Headshots:</h3>
          <igx-circular-bar class="stats-progress" [value]="player?.userStats?.headshotPercentage" [max]="100" [animate]="true" title="Headshot Percentage" [text]="player?.userStats?.headshotPercentage + '%'"></igx-circular-bar>
        </div>
        <div class="player-detail__stats">
          <h3 class="no-margin">Accuracy:</h3>
          <igx-circular-bar class="stats-progress" [value]="player?.userStats?.accuracy" [max]="100" [animate]="true" [text]="player?.userStats?.accuracy + '%'"></igx-circular-bar>
        </div>
        <div class="player-detail__stats">
            <h3 class="no-margin">Top Weapon:</h3>
            <img [src]="'assets/weapon-icons/svg_normal/weapon_' + player?.userStats?.favouriteWeapon.name + '.svg'"
                [alt]="'Top Weapon with ' + player?.userStats?.favouriteWeapon.kills + ' kills: ' + player?.userStats?.favouriteWeapon.name"
                [title]="player?.userStats?.favouriteWeapon.kills + ' kills'" /> 
        </div>
        <div *ngIf="playerIsUser && player.userStatsException" class="player-stats__container">
          <h3>Your Steam account is private.</h3>
          <p>In order to allow us to retrieve your ingame statistics, you need to change the privacy level of your account, so we can access them from Steam.</p>
          <p>To do this go to Steam Profile --> Edit Profile --> Privacy Settings --> Set: 'My profile: Public' and 'Game details: public'</p>
        </div>
        <!-- <div class="player-detail__stats">
          <img src="assets/csgo-ranks/status-icons/skillgroup14.png" alt="rank" />
        </div> -->
      </div>
      <!-- TODO: Invite to your team -->
      <div class="player-stats__container" *ngIf="authUser?.TeamAdmin.length > 0">
        <button igxButton="flat" [igxToggleAction]="teamInvite">
          Invite to team
          <igx-icon fontSet="material" class="drop-down-arrow">arrow_drop_down</igx-icon>
        </button>
        <igx-drop-down (onSelection)="inviteToTeam($event)" #teamInvite>
          <igx-drop-down-item class="team-invites" [value]="team" *ngFor="let team of authUser?.TeamAdmin">
            <igx-avatar [src]="team.TeamAvatar" roundShape="true">
            </igx-avatar>
            <span class="title margin-left">
              {{ team.TeamName }}
            </span>
          </igx-drop-down-item>
        </igx-drop-down>
      </div>
      <!-- END Invite to your team -->
    </igx-card-header>
    <igx-card-content *ngIf="player">

<!-- Availability -->
      <div *ngIf="player.availability">
        <h4>Availability:</h4>
        <igx-chips-area>
          <igx-chip *ngFor="let weekday of player.availability" [selectable]="playerIsUser" [removable]="playerIsUser && weekday.Available" [selected]="weekday.Available" (onSelection)="daySelected($event)" (onRemove)="dayDeselected($event)">
              <span class='igx-chip__text'>{{ weekday.Day | weekday }}</span>
              <span class='igx-chip__subtext' *ngIf="weekday.Available">{{ weekday.From | date:'H:mm' }}-{{ weekday.To | date:'H:mm' }}</span>
          </igx-chip>
        </igx-chips-area>
        <div class="available-time-container">
          <div>
            <h4 *ngIf="playerIsUser && selectedDay">Available times for <span class="highlight" [textContent]="selectedDay ? (selectedDay.Day | weekday) : ''"></span>:</h4>
            <div class="availability-time" *ngIf="playerIsUser && selectedDay">
              <igx-time-picker #from class="time-picker player__info" [disabled]="!playerIsUser" [value]="dateFromString(this.selectedDay.From)" [itemsDelta]="{hours: 1, minutes: 15}" (onValueChanged)="fromChange($event)">
                
              </igx-time-picker>
              <igx-time-picker #to class="time-picker player__info" [disabled]="!playerIsUser" [value]="dateFromString(this.selectedDay.To)" [itemsDelta]="{hours: 1, minutes: 15}" (onValueChanged)="toChange($event)">
                
              </igx-time-picker>
            </div>
          </div>
          <!-- Playstyle Roles -->
          <div class="player-roles__container">
            <h4>Preferred <span class="highlight">playstyle</span>:</h4>
            <div class="player-role-chooser">
              <h4 class="no-margin">Primary Role:</h4>
              <button igxButton="flat" [disabled]="!playerIsUser" [igxToggleAction]="primaryRole" igxRippleCentered="true">
                {{ player.roles[player.primaryRole].Name }}
                <igx-icon *ngIf="playerIsUser" fontSet="material">arrow_drop_down</igx-icon>
              </button>
              <igx-drop-down #primaryRole (onSelection)="selectPrimary($event)">
                <igx-drop-down-item *ngFor="let role of player.roles" [isSelected]="role.Id === player.primaryRole">
                  {{ role.Name }}
                </igx-drop-down-item>
              </igx-drop-down>
            </div>
            <div class="player-role-chooser">
              <h4 class="no-margin">Secondary Role:</h4>
              <button igxButton="flat" [disabled]="!playerIsUser" [igxToggleAction]="secondaryRole" igxRippleCentered="true">
                {{ player.roles[player.secondaryRole].Name }}
                <igx-icon *ngIf="playerIsUser" fontSet="material">arrow_drop_down</igx-icon>
              </button>
              <igx-drop-down #secondaryRole (onSelection)="selectSecondary($event)">
                <igx-drop-down-item *ngFor="let role of player.roles" [isSelected]="role.Id === player.secondaryRole">
                    {{ role.Name }}
                </igx-drop-down-item>
              </igx-drop-down>
            </div>
          </div>
          <!-- END Playstyle Roles -->
        </div>
      </div>
<!-- END Availability -->

<!-- Map Pool -->
    <div *ngIf="player">
        <h4>Maps played:</h4>
        <div class="card-wrapper">
          <div class="map-column map-wrapper" *ngFor="let map of player.mapPool | ordermaps:'IsPlayed'">
            <igx-card [class]="map.IsPlayed ? '' : 'map-inactive'">
              <img width="100%" height="100%" [src]="map | mapimage" />
              <igx-card-actions>
                <span class="highlight">{{ map | mapname }}</span>
                <div class="igx-card-actions__igroup--end">
                  <igx-checkbox [(ngModel)]="map.IsPlayed" [value]="map" [disabled]="!playerIsUser" (change)="mapChange($event)"></igx-checkbox>
                </div>
              </igx-card-actions>
            </igx-card>
          </div>
        </div>
      </div>
  <!-- END Map Pool -->

    </igx-card-content>
  </igx-card>
</div>

<app-success-error></app-success-error>