.country-badge-large {
  position: absolute;
  top: -4px;
  left: 52px;
  width: 32px;
  height: 32px;
  min-width: 32px;
}

.player__info {
  margin-left: 16px;
}

.player-stats__container {
  display: flex;
  flex-flow: row;
  margin-left: auto;
}

.player-detail__stats {
  display: flex;
  flex-flow: row;
  align-items: center;
  vertical-align: middle;
  margin-left: 32px;
}

.availability-time {
  display: flex;
  flex-flow: row;
  align-items: center;
  vertical-align: middle;
}

.player-overview {
  margin-top: 16px;
  margin-right: 16px;
}

.stats-progress {
  margin-left: 4px;
  width: 64px;
  min-width: 64px;
  height: 64px;
}

.progress-circular__text {
  font-size: 1.70rem;
}

.no-margin {
  margin: 0;
}

.igx-chip__text {
  font-size: 1rem;
  font-weight: 600;
}

.igx-chip__subtext {
  font-size: 0.55rem;
  font-weight: 200;
}

.highlight {
  color: #e41c77;
  font-weight: 600;
}