.country-badge-large {
  position: absolute;
  top: -4px;
  left: 52px;
  width: 32px;
  height: 32px;
  min-width: 32px;
}

.player__info {
  margin-left: 16px;
}

.player-stats__container {
  display: flex;
  flex-flow: row;
  margin-left: auto;
}

.player-detail__stats {
  display: flex;
  flex-flow: row;
  align-items: center;
  vertical-align: middle;
  margin-left: 64px;
}

.player-overview {
  margin-top: 16px;
  margin-right: 16px;
}

.stats-progress {
  margin-left: 8px;
  width: 52px;
  min-width: 52px;
  height: 52px;
}

.no-margin {
  margin: 0;
}

.igx-chip__text {
  font-size: 13pt;
}