<div class="overview-container-card">
  <igx-tabs>
    <igx-tabs-group class="home-page-slide-columns" *ngFor="let week of schedule">
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>calendar_today</igx-icon>
          <div class="igx-tabs__item-label">{{week.name}}</div>
        </div>
        <div>{{week.start | date}} - {{week.end | date}}</div>
      </ng-template>

      <igx-card *ngFor="let day of week.days">
        <igx-card-header>
          <h1 igxCardHeaderTitle>{{day.day | date}}</h1>
        </igx-card-header>
        <igx-card-content>
          <div class="space-out" *ngFor="let slot of day.slots">
            <div class="horizontal-center space-between">
              <igx-time-picker class="slot-timepicker" [disabled]="!slot.inEdit" [(ngModel)]="slot.start">

              </igx-time-picker>

              <igx-select class="slot-select" [(ngModel)]="slot.match.Team1Id" [disabled]="!slot.inEdit">
                <label igxLabel>Отбор 1</label>
                <igx-select-item *ngFor="let registration of registrations"
                                  [value]="registration.TeamId"
                                  [text]="registration.Team.TeamName">
                  <igx-avatar [src]="registration.Team.TeamAvatar" [initials]="registration.Team.TeamName"></igx-avatar>
                  {{ registration.Team.TeamName }}
                </igx-select-item>
              </igx-select>

              vs.

              <igx-select class="slot-select" [(ngModel)]="slot.match.Team2Id" [disabled]="!slot.inEdit">
                <label igxLabel>Отбор 2</label>
                <igx-select-item *ngFor="let registration of registrations"
                                  [value]="registration.TeamId"
                                  [text]="registration.Team.TeamName">
                  <igx-avatar [src]="registration.Team.TeamAvatar" [initials]="registration.Team.TeamName"></igx-avatar>
                  {{ registration.Team.TeamName }}
                </igx-select-item>
              </igx-select>

              <button *ngIf="!slot.inEdit" igxButton (click)="slot.inEdit = true">Edit</button>

              <div *ngIf="slot.inEdit">
                <igx-icon class="navigatable action-icon-button" (click)="submitMatch(slot)">done</igx-icon>
                <igx-icon *ngIf="slot.inEdit" class="navigatable action-icon-button" (click)="slot.inEdit = false">cancel</igx-icon>
              </div>
            </div>

            <div *ngIf="slot.match.Team1Id && slot.match.Team2Id" class="horizontal-center space-evenly">
              <span>Резултат</span>

              <igx-input-group>
                <label igxLabel>Точки отбор 1</label>
                <input type="number" igxInput [disabled]="!slot.inEdit" [(ngModel)]="slot.match.Team1Points" />
              </igx-input-group>
              :
              <igx-input-group>
                <label igxLabel>Точки отбор 2</label>
                <input type="number" igxInput [disabled]="!slot.inEdit" [(ngModel)]="slot.match.Team2Points" />
              </igx-input-group>
            </div>

            <div *ngIf="slot.match.Team1Id && slot.match.Team2Id" class="horizontal-center space-evenly">

              <igx-select id="mapSelector" class="space-out" name="mapSelector" [(ngModel)]="slot.match">
                <label for="mapSelector" igxLabel>Карта</label>
                <igx-select-item *ngFor="let map of mapList" [value]="map.id">
                  {{ map.map }}
                </igx-select-item>
              </igx-select>

              <igx-input-group>
                <label igxLabel>Рундове отбор 1</label>
                <input type="number" igxInput [disabled]="!slot.inEdit" [(ngModel)]="slot.match.Team1Points" />
              </igx-input-group>
              :
              <igx-input-group>
                <label igxLabel>Рундове отбор 2</label>
                <input type="number" igxInput [disabled]="!slot.inEdit" [(ngModel)]="slot.match.Team2Points" />
              </igx-input-group>
            </div>

            <igx-input-group *ngIf="slot.match.Team1Id && slot.match.Team2Id">
              <label igxLabel>Видео Линк</label>
              <input igxInput [disabled]="!slot.inEdit" [(ngModel)]="slot.match.VideoLink" />
            </igx-input-group>

            <igx-input-group *ngIf="slot.match.Team1Id && slot.match.Team2Id">
              <label igxLabel>Demo Линк</label>
              <input igxInput [disabled]="!slot.inEdit" [(ngModel)]="slot.match.DemoLink" />
            </igx-input-group>
          </div>
        </igx-card-content>
      </igx-card>
    </igx-tabs-group>
  </igx-tabs>

  <igx-card type="outlined">
    <igx-card-header>
      <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/csgo-watermark.webp"></igx-avatar>
      <h1 igxCardHeaderTitle>Участници - CS:GO Лига</h1>
      <h2 igxCardHeaderSubtitle>Драг и дроп за да влезат в някоя от групите</h2>
    </igx-card-header>
    <igx-card-content>
      <div class="horizontal-center registration-container">
        <igx-circular-bar *ngIf="loading" [indeterminate]="true"></igx-circular-bar>
        <div *ngFor="let registration of registrations | notInGroup:'TournamentCSGOGroupId':pipeTrigger" class="registration-slot">
          <igx-avatar [src]="registration.Team.TeamAvatar"
                      [initials]="registration.Team.TeamName"
                      size="medium"
                      roundShape="true"
                      [igxDrag]="registration">
          </igx-avatar>
          <igx-badge *ngIf="registration.State === 0"
                     type="warning"
                     icon="priority_high"
                     title="Тази регистрация още не е потвърдена. Не е платена таксата за участие."
                     class="registration-badge-style">
          </igx-badge>

          <a [href]="environment.bellumgens + '/team/' + registration.Team.CustomUrl" target="_blank">{{ registration.Team.TeamName }}</a>
        </div>
      </div>
      <div class="card-wrapper">
        <igx-card *ngFor="let group of groups">
          <igx-card-header>
            <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/csgo-watermark.webp"></igx-avatar>
            <h1 *ngIf="!group.inEdit" igxCardHeaderTitle>{{group.Name}}</h1>
            <igx-input-group *ngIf="group.inEdit" igxCardHeaderTitle>
              <label igxLabel for="groupName">Име на групата</label>
              <input type="text" id="groupName" name="groupName" #groupName igxInput required [(ngModel)]="group.Name" />
              <igx-suffix *ngIf="groupName.value" (click)="group.Name = null">
                <igx-icon>clear</igx-icon>
              </igx-suffix>
            </igx-input-group>

            <div class="action-buttons">
              <igx-icon class="navigatable action-icon-button" title="Редактирай групата" *ngIf="!group.inEdit" (click)="group.inEdit = true">edit</igx-icon>
              <igx-icon class="navigatable action-icon-button" title="Изтрий групата" *ngIf="!group.inEdit" (click)="confirm.open(group.Id)">delete</igx-icon>

              <igx-icon class="navigatable action-icon-button" *ngIf="group.inEdit" (click)="group.inEdit = false">cancel</igx-icon>
              <igx-icon class="navigatable action-icon-button" *ngIf="group.inEdit" (click)="submitGroup(group)">done</igx-icon>
            </div>
          </igx-card-header>

          <igx-card-content>
            <igx-list class="group-list" igxDrop (dropped)="addToGroup($event, group)">
              <igx-list-item *ngFor="let participant of group.Participants">
                <igx-avatar igxListThumbnail [src]="participant.Team.TeamAvatar" [initials]="participant.Team.TeamName" roundShape="true"></igx-avatar>

                <a [href]="environment.bellumgens + '/team/' + participant.Team.CustomUrl"
                   igxListLineTitle
                   target="_blank">
                  {{ participant.Team.TeamName }}
                </a>

                <igx-icon class="navigatable" title="Премахни от групата" (click)="removeFromGroup(participant, group)">delete</igx-icon>
              </igx-list-item>
            </igx-list>
          </igx-card-content>
        </igx-card>

        <igx-card class="new-group-card">
          <igx-card-header>
            <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/csgo-watermark.webp"></igx-avatar>
            <h1 *ngIf="!newGroup.inEdit" igxCardHeaderTitle>Нова група</h1>

            <igx-input-group *ngIf="newGroup.inEdit" igxCardHeaderTitle>
              <label igxLabel for="groupName">Име на групата</label>
              <input type="text" id="groupName" name="groupName" #groupName igxInput required [(ngModel)]="newGroup.Name" />
              <igx-suffix *ngIf="groupName.value" (click)="newGroup.Name = null">
                <igx-icon>clear</igx-icon>
              </igx-suffix>
            </igx-input-group>
          </igx-card-header>

          <igx-card-content class="new-group-body">
            <igx-icon *ngIf="!newGroup.inEdit" class="navigatable" (click)="newGroup.inEdit = true">add_circle_outline</igx-icon>

            <button type="button" *ngIf="newGroup.inEdit" igxButton (click)="newGroup.inEdit = false">Cancel</button>
            <button type="button" *ngIf="newGroup.inEdit" igxButton (click)="submitGroup(newGroup)">Submit</button>
          </igx-card-content>
        </igx-card>
      </div>
    </igx-card-content>
  </igx-card>
</div>

<bg-confirm #confirm title="Сигурни ли сте?" (ok)="deleteGroup($event)">
  Това ще изтрие групата перманентно... Отборите ще трябва да се разпределят в нови групи.
</bg-confirm>
