:host {
  --igx-avatar-initials-background: transparent;
}

.new-group-card {
  border: 1px dashed #aaa;
}

.new-group-card:hover {
  border: 1px dashed #fff;
}

.new-group-body {
  min-height: 350px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.new-group-body igx-icon {
  width: 120px;
  height: 120px;
  font-size: 90pt;
}

.new-group-body igx-icon:hover {
  color: #fff;
}

