<div class="overview-container-card">
  <igx-card type="outlined">
    <igx-card-header>
      <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/csgo-watermark.webp"></igx-avatar>
      <h1 igxCardHeaderTitle>Участници - CS:GO Лига</h1>
      <h2 igxCardHeaderSubtitle>Драг и дроп за да влезат в някоя от групите</h2>
    </igx-card-header>
    <igx-card-content>
      <div class="horizontal-center registration-container">
        <igx-circular-bar *ngIf="loading" [indeterminate]="true"></igx-circular-bar>
        <div *ngFor="let registration of registrations | notInGroup:'TournamentCSGOGroupId':pipeTrigger" class="registration-slot">
          <igx-avatar [src]="registration.Team.TeamAvatar"
                      [initials]="registration.Team.TeamName"
                      size="medium"
                      roundShape="true"
                      [igxDrag]="registration">
          </igx-avatar>
          <igx-badge *ngIf="registration.State === 0"
                     type="warning"
                     icon="priority_high"
                     title="Тази регистрация още не е потвърдена. Не е платена таксата за участие."
                     class="registration-badge-style">
          </igx-badge>

          <a [href]="environment.bellumgens + '/team/' + registration.Team.CustomUrl" target="_blank">{{ registration.Team.TeamName }}</a>
        </div>
      </div>
      <div class="card-wrapper">
        <igx-card *ngFor="let group of groups">
          <igx-card-header>
            <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/csgo-watermark.webp"></igx-avatar>
            <h1 *ngIf="!group.inEdit" igxCardHeaderTitle>{{group.Name}}</h1>
            <igx-input-group *ngIf="group.inEdit" igxCardHeaderTitle>
              <label igxLabel for="groupName">Име на групата</label>
              <input type="text" id="groupName" name="groupName" #groupName igxInput required [(ngModel)]="group.Name" />
              <igx-suffix *ngIf="groupName.value" (click)="group.Name = null">
                <igx-icon>clear</igx-icon>
              </igx-suffix>
            </igx-input-group>

            <div class="action-buttons">
              <igx-icon class="navigatable action-icon-button" title="Редактирай групата" *ngIf="!group.inEdit" (click)="group.inEdit = true">edit</igx-icon>
              <igx-icon class="navigatable action-icon-button" title="Изтрий групата" *ngIf="!group.inEdit" (click)="confirm.open(group.Id)">delete</igx-icon>

              <igx-icon class="navigatable action-icon-button" *ngIf="group.inEdit" (click)="group.inEdit = false">cancel</igx-icon>
              <igx-icon class="navigatable action-icon-button" *ngIf="group.inEdit" (click)="submitGroup(group)">done</igx-icon>
            </div>
          </igx-card-header>

          <igx-card-content>
            <igx-list class="group-list" igxDrop (dropped)="addToGroup($event, group)">
              <igx-list-item *ngFor="let participant of group.Participants">
                <igx-avatar igxListThumbnail [src]="participant.Team.TeamAvatar" [initials]="participant.Team.TeamName" roundShape="true"></igx-avatar>

                <a [href]="environment.bellumgens + '/team/' + participant.Team.CustomUrl"
                   igxListLineTitle
                   target="_blank">
                  {{ participant.Team.TeamName }}
                </a>

                <igx-icon class="navigatable" title="Премахни от групата" (click)="removeFromGroup(participant, group)">delete</igx-icon>
              </igx-list-item>
            </igx-list>
          </igx-card-content>
        </igx-card>

        <igx-card class="new-group-card">
          <igx-card-header>
            <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/csgo-watermark.webp"></igx-avatar>
            <h1 *ngIf="!newGroup.inEdit" igxCardHeaderTitle>Нова група</h1>

            <igx-input-group *ngIf="newGroup.inEdit" igxCardHeaderTitle>
              <label igxLabel for="groupName">Име на групата</label>
              <input type="text" id="groupName" name="groupName" #groupName igxInput required [(ngModel)]="newGroup.Name" />
              <igx-suffix *ngIf="groupName.value" (click)="newGroup.Name = null">
                <igx-icon>clear</igx-icon>
              </igx-suffix>
            </igx-input-group>
          </igx-card-header>

          <igx-card-content class="new-group-body">
            <igx-icon *ngIf="!newGroup.inEdit" class="navigatable" (click)="newGroup.inEdit = true">add_circle_outline</igx-icon>

            <button type="button" *ngIf="newGroup.inEdit" igxButton (click)="newGroup.inEdit = false">Cancel</button>
            <button type="button" *ngIf="newGroup.inEdit" igxButton (click)="submitGroup(newGroup)">Submit</button>
          </igx-card-content>
        </igx-card>
      </div>
    </igx-card-content>
  </igx-card>
</div>

<bg-confirm #confirm title="Сигурни ли сте?" (ok)="deleteGroup($event)">
  Това ще изтрие групата перманентно... Отборите ще трябва да се разпределят в нови групи.
</bg-confirm>
