.country-badge-large {
  position: absolute;
  top: -8px;
  left: 60%;
  width: 40px;
  height: 40px;
  min-width: 40px;
}

.country-badge-medium {
  position: absolute;
  top: -6px;
  left: 60%;
  width: 32px;
  height: 32px;
  min-width: 32px;
}

.member-slot {
  display: flex;
	flex-flow: column nowrap;
  align-items: center;
  padding: 16px;
}

.member-slot.five-slots {
  width: 20%;
}

.horizontal-space-between.padding-top,
.horizontal.padding-top {
  padding-top: 32px;
}

.empty-role {
  width: 88px;
  height: 88px;
}

.empty-role-active {
  --my-color: #3040AA;
  box-shadow: inset 0 0 0 2px var(--my-color);
  --igx-avatar-icon-color: var(--my-color);
  --igx-avatar-icon-background: rgba(0, 0, 0, 0.15);
}