/* ICONS BADGES AVATARS */
igx-icon {
  user-select: none;
}

igx-card-actions igx-badge,
igx-tab-item igx-icon {
  margin-right: 8px;
}

igx-grid-cell > igx-avatar {
  margin-right: 8px;
}
/* END ICONS */

/* NAVDRAWER */
.igx-nav-drawer__aside--pinned {
  position: fixed;
}
/* END NAVDRAWER */

/* SNACKBAR */
igx-snackbar {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
  z-index: 10000;
}
/* END SNACKBAR */

/* DIVIDER */
igx-divider {
  width: 100%;
}
/* END DIVIDER */

igx-card-content h4 {
  margin: 24px 0px 0px 8px;
}

.igx-linear-bar__base {
  height: 12px;
}

/* Overlay */
.igx-overlay {
  color: $primary;
}
/* END Overlay */

/* Badge */
.igx-badge__circle--info {
  background-color: $secondary;
}
/* END Badge */

/* List */
.igx-list__item-thumbnail {
  align-self: inherit;
}
/* END List */

.color-success {
  color: var(--igx-success-500);
}

.color-error {
  color: var(--igx-error-500);
}

.color-warn {
  color: var(--igx-warn-500);
}
