$app-palette: igx-palette($primary, $secondary);

@include igx-palette-vars($app-palette);

html, body {
  height: 100%;
  min-width: 380px;
  background-color: $background;
}

.navigatable {
  cursor: pointer;
}

.navigatable:focus,
.navigatable:active {
  outline: none;
}

/* Typography */
.igx-typography {
  color: $primary;
}
/* END Typography */

.content {
  height: 100%;
  width: 100%;
}

.horizontal {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
}

.horizontal-center {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.horizontal-info__right {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 600;
}

.title.margin-left {
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: igx-color($app-palette, secondary);
}

.margin-bottom {
  margin-bottom: 16px;
}

.highlight {
  color: $secondary;
  font-weight: 600;
}

.igx-input-group__textarea,
textarea {
  resize: none;
  min-height: 128px;
}

.submit-button {
  width: 100%;
}

.login-divider {
  height: 16px;
  margin-left: 8px;
}

.content-container {
  display: grid;
  grid-template-columns: minmax(45%, 1fr) minmax(45%, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 24px;
  width: 1280px;
  min-width: 380px;
  padding: 16px;
  margin: auto;
  min-height: calc(100% - 57px);
}

  .content-container h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .content-container h4 {
    font-size: 1.75rem;
  }

  .content-container p {
    font-size: 1rem;
  }

.content-container-row {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

  .content-container-row.min-height-row {
    min-height: 210px;
  }

.content-container-column {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

  .content-container-column.align-center {
    align-items: center;
  }

  .content-container-column p {
    margin: 0;
  }

  .content-container-column ul {
    padding-inline-start: 40px;
    list-style: disc;
  }

  .content-container-column img {
    width: auto;
    margin: 8px 0;
  }

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-background {
  background-color: rgba($color: #000, $alpha: 0.25);
}

.drawer-action {
  margin-right: 16px;
}

.space-out-button {
  margin: 8px 12px;
}

/* Loading */
.loading-overview {
  display: flex;
  min-height: calc(100% - 57px);
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  padding: 0 16px;
  color: $primary;
}
/* END Loading */

.overview-container-card {
  width: 80%;
  margin: auto;
  padding-top: 24px;
  color: white;
  min-height: calc(100% - 57px);
}

.card-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-auto-rows: max-content;
  padding-top: 12px;
  margin: auto;
  min-height: calc(100% - 57px);
}

  .overview-container-card .card-wrapper,
  .overview-container-card .strat-filter-header {
    width: 100%;
  }

  .overview-container-card h4 {
    margin-top: 0;
  }

  .overview-container-card h4.margin-top {
    margin-top: 1.75rem;
  }


.top-level-container {
  min-width: 380px;
}

.main-content-wrapper {
  height: calc(100% - 57px);
  min-width: 380px;
  display: flex;
}

.action-button-container {
  position: relative;
  display: flex;
  align-items: center;
}

.notifications-badge {
  position: absolute;
  top: 0;
  left: 22px;
}

/* Footer */

.footer {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 12px 36px 0 36px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-row > p {
  margin: 8px 4px;
}

.footer-row > a {
  width: 32px;
  font-size: 1.7rem;
}

/* END Footer */

.social-media-icon {
  margin-left: 4px;
}

.search-group {
  width: 256px;
}

.preview-image {
  -webkit-box-shadow: 0px 24px 48px -12px rgba(4,8,29,0.45);
  -moz-box-shadow: 0px 24px 48px -12px rgba(4,8,29,0.45);
  box-shadow: 0px 24px 48px -12px rgba(4,8,29,0.45);
  border-radius: 20px;
}

.subscription-form-input {
  min-width: 348px;
}

.submit-email {
  height: 50px;
  margin: 0 8px;
}

.contacts {
  display: flex;
  min-width: 128px;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

  .contacts igx-icon {
    --igx-icon-size: 64px;
    color: white;
  }

.partner {
  margin: 16px;
}

.grid-vs-divider {
  margin: 0 8px;
}

.grid-team-name {
  width: 200px;
  margin-left: 4px;
}

.login-button {
  width: 250px;
}

.registration-form,
.igx-dialog__window-content,
.igx-dialog__window-content > form  {
  display: grid;
  row-gap: 12px;
}

  .igx-dialog__window-content > * {
    width: 100%;
  }

@media only screen and (max-width: 720px) {
  .search-group {
    width: auto;
  }

  .footer {
    padding: 12px 12px 0 12px;
  }

  .submit-email {
    height: 48px;
    margin: 8px auto;
  }

  .success-dialog-content {
    width: 380px;
  }

  .platinum {
    width: 348px;
    height: 200px;
  }

  .loading-overview {
    width: 100%;
  }
}

@media only screen and (max-width: 1280px) {
  .overview-container-card,
  .card-wrapper,
  .search-result-summary,
  .strat-filter-header {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .slide {
    width: auto;
    height: auto;
  }

  .content-container {
    grid-template-columns: minmax(348px, 1fr);
    width: 100%;
  }

  .slide-info h1,
  .content-container h1 {
    font-size: 1.55rem;
    margin: 0;
    line-height: 2rem;
  }

  .slide-info p,
  .content-container p {
    font-size: 0.85rem;
  }

  .loading-overview {
    width: 80%;
  }
}

@media only screen and (min-width: 1921px) {
  .slide1 {
    background-position: initial;
  }
}
