<div class="loading-overview">
  <h6>You need to associate a <span class="highlight">Steam account</span> for registration!</h6>
  <button type="icon"
          igxButton="raised"
          class="navigatable steam-login"
          [igxButtonBackground]="loginColor"
          igxButtonColor="#fff"
          (click)="login('Steam')">
    <igx-icon fontSet="login-icons" name="Steam"></igx-icon>
    <igx-divider [vertical]="true" [inset]="'0 0 0 8px'" [ngClass]="'login-divider'"></igx-divider>
    <span class="label-margin-left">Sign-in with Steam</span>
  </button>
</div>