:host {
  .group-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    padding: 48px 0;
  }

  // @media only screen and (min-width: 1921px) {
  //   .group-columns {
  //     display: grid;
  //     grid-template-columns: minmax(45%, 1fr) minmax(45%, 1fr);
  //     grid-column-gap: 48px;
  //     grid-row-gap: 16px;
  //     padding: 48px 0;
  //   }
  // }
}
