<form (ngSubmit)="searchPlayers()">
  <div class="form-row">
    <div>
      <label for="lineup" i18n>Players playing as</label>
      <igx-radio-group class="search-role-group" id="lineup">
        <igx-radio *ngFor="let slot of activeLineup" [(ngModel)]="searchModel.role" class="search-role" name="role" [value]="slot.role">{{ slot.roleName }}</igx-radio>
      </igx-radio-group>
    </div>

    <div *ngIf="authUser">
      <label for="availability" i18n>A minimum overlap with my</label>
      <div class="search-role-group">
        <igx-radio-group class="search-role-group" id="availability">
          <igx-radio [(ngModel)]="userOverlap" class="search-role" name="userOverlap" [value]="0" i18n>Availability</igx-radio>
          <igx-radio [(ngModel)]="userOverlap" class="search-role" name="userOverlap" [value]="1" i18n>Team practice</igx-radio>
        </igx-radio-group>
      </div>
      <igx-select *ngIf="userOverlap && teamAdmin.length" name="teamOverlap" [(ngModel)]="searchModel.teamId">
        <label for="team-select" igxLabel i18n>Select team</label>
        <igx-select-item *ngFor="let team of teamAdmin"
                         [value]="team.teamId"
                         [text]="team.teamName">
          <igx-avatar [src]="team.teamAvatar" [initials]="team.teamName" [roundShape]="true">
          </igx-avatar>
          <span class="title margin-left">
            {{ team.teamName }}
          </span>
        </igx-select-item>
      </igx-select>
    </div>

    <div class="slider-holder" *ngIf="authUser">
      <label for="overlap" i18n>Minimum overlap of</label>
      <igx-slider name="scheduleOverlap"
                  id="overlap"
                  [step]="5"
                  [minValue]="0"
                  [maxValue]="40"
                  [showTicks]="true"
                  [primaryTicks]="5"
                  [secondaryTicks]="1"
                  [(ngModel)]="searchModel.scheduleOverlap">
      </igx-slider>
      <label i18n>Hours availability</label>
    </div>
  </div>
  <button class="search-button" igxButton="outlined" igxRipple i18n>Search</button>
</form>
