<form (ngSubmit)="searchPlayers()">
  <div class="form-row">
    <div>
      <label for="lineup" i18n>Players playing as</label>
      <igx-radio-group class="search-role-group" [(ngModel)]="searchModel.role" name="role" id="lineup">
        @for (slot of activeLineup; track slot.role) {
          <igx-radio class="search-role" [value]="slot.role">{{ slot.roleName }}</igx-radio>
        }
      </igx-radio-group>
    </div>

    @if (authUser) {
      <div>
        <label for="availability" i18n>A minimum overlap with my</label>
        <div class="search-role-group">
          <igx-radio-group class="search-role-group" id="availability" [(ngModel)]="userOverlap" name="userOverlap">
            <igx-radio class="search-role" [value]="0" i18n>Availability</igx-radio>
            <igx-radio class="search-role" [value]="1" i18n>Team practice</igx-radio>
          </igx-radio-group>
        </div>
        @if (userOverlap && teamAdmin.length) {
          <igx-select name="teamOverlap" [(ngModel)]="searchModel.teamId">
            <label for="team-select" igxLabel i18n>Select team</label>
            @for (team of teamAdmin; track team.teamId) {
              <igx-select-item
                [value]="team.teamId"
                [text]="team.teamName">
                <igx-avatar [src]="team.teamAvatar" [initials]="team.teamName" shape="circle">
                </igx-avatar>
                <span class="title margin-left">
                  {{ team.teamName }}
                </span>
              </igx-select-item>
            }
          </igx-select>
        }
      </div>
      <div class="slider-holder">
        <label for="overlap" i18n>Minimum hours overlap of availability</label>
        <igx-slider name="scheduleOverlap"
          id="overlap"
          [step]="5"
          [minValue]="0"
          [maxValue]="40"
          [showTicks]="true"
          [primaryTicks]="5"
          [secondaryTicks]="1"
          [(ngModel)]="searchModel.scheduleOverlap">
          <ng-template igxSliderTickLabel let-value>
            {{ parseInt(value, 10) }}
          </ng-template>
        </igx-slider>
      </div>
    }
  </div>
  <button class="search-button" igxButton="outlined" igxRipple i18n>Search</button>
</form>
