:host {
  .players-list {
    max-height: 500px;
    overflow: auto;
  }

  .details-container {
    width: 100%;
  }

  .jersey-details {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
