<div class="content-container">
  <div class="content-container-row">
    <igx-grid #grid1
              [data]="registrations"
              [paging]="true"
              primaryKey="id"
              [showGroupArea]="true"
              [allowFiltering]="true"
              [groupingExpressions]="grouping"
              (cellEdit)="confirmRegistration($event)"
              [cellSelection]="selectionMode.none">

      <igx-grid-toolbar>
        <igx-grid-toolbar-title i18n>Tournament Registrations</igx-grid-toolbar-title>
      </igx-grid-toolbar>

      <igx-column field="email" i18n-header header="Email">
      </igx-column>
      <igx-column field="companyId" i18n-header header="Company">
      </igx-column>
      <igx-column field="dateSubmitted" [dataType]="gridDataType.Date" [sortable]="true" i18n-header header="Date Submitted">
      </igx-column>
      <igx-column field="game" [groupable]="true" i18n-header header="Game">
        <span *igxCell="let value">
          {{ value ? 'StarCraft II' : 'CS:GO' }}
        </span>
      </igx-column>
      <igx-column field="tournamentName" [groupable]="true" [hidden]="true" i18n-header header="League">
      </igx-column>
      <igx-column field="hash" i18n-header header="Hash">
      </igx-column>
      <igx-column field="state" [editable]="true" [dataType]="gridDataType.Boolean" i18n-header header="Confirmed">
        <igx-icon *igxCell="let value" [class]="value ? 'color-success' : 'color-error'">{{ value ? 'check' : 'close' }}</igx-icon>
      </igx-column>

      <div *igxGroupByRow="let groupRow" class="igx-group-label">
        <igx-icon class="igx-group-label__icon">group_work</igx-icon>
        <span class="igx-group-label__column-name">{{groupRow.column?.header}}:</span>
        <span class="igx-group-label__text" *ngIf="groupRow.column?.field === 'game' else defaultGroupValue">{{ groupRow.value ? 'StarCraft II' : 'CS:GO' }}</span>
        <ng-template #defaultGroupValue>
          <span class="igx-group-label__text">{{ groupRow.value }}</span>
        </ng-template>
        <igx-badge [value]="groupRow.records.length" class="igx-group-label__count-badge"></igx-badge>
      </div>

      <igx-action-strip #regActionStrip>
        <button title="Save" igxButton="icon" igxRipple *ngIf="regActionStrip.context?.dirty || regActionStrip.context?.deleted"
            (click)="deleteRegistration(regActionStrip.context)">
            <igx-icon>save</igx-icon>
        </button>
        <button title="Delete" igxButton="icon" igxRipple *ngIf="!regActionStrip.context?.deleted"
            (click)="regActionStrip.context.delete()">
            <igx-icon>delete</igx-icon>
        </button>
      </igx-action-strip>

    </igx-grid>
  </div>

  <div class="content-container-row">
    <igx-grid #grid1
              [data]="orders"
              primaryKey="id"
              [paging]="true"
              [allowFiltering]="true"
              (cellEdit)="editDone($event)"
              [cellSelection]="selectionMode.none">

      <igx-grid-toolbar>
        <igx-grid-toolbar-title i18n>Orders</igx-grid-toolbar-title>
      </igx-grid-toolbar>

      <igx-column field="orderDate" [dataType]="gridDataType.Date" width="165px" [sortable]="true" i18n-header header="Order date">
      </igx-column>
      <igx-column field="email" i18n-header header="Email">
      </igx-column>
      <igx-column field="name" i18n-header header="Full name">
        <span *igxCell="let cell = cell">
          {{ cell.row.rowData.firstName }} {{ cell.row.rowData.lastName }}
        </span>
      </igx-column>
      <igx-column field="phoneNumber" i18n-header header="Phone #">
        <span *igxCell="let value">
          +359 {{ value }}
        </span>
      </igx-column>
      <igx-column field="address" i18n-header header="Full address">
        <span *igxCell="let cell = cell">
          {{ cell.row.rowData.city }}, {{ cell.row.rowData.streetAddress }}
        </span>
      </igx-column>
      <igx-column field="promoCode" i18n-header header="Promo code">
      </igx-column>
      <igx-column field="confirmed" [dataType]="gridDataType.Boolean" [editable]="true" i18n-header header="Confirmed">
        <igx-icon *igxCell="let value" [class]="value ? 'color-success' : 'color-error'">{{ value ? 'check' : 'close' }}</igx-icon>
      </igx-column>
      <igx-column field="shipped" [dataType]="gridDataType.Boolean" [editable]="true" i18n-header header="Shipped">
        <igx-icon *igxCell="let value" [class]="value ? 'color-success' : 'color-error'">{{ value ? 'check' : 'close' }}</igx-icon>
      </igx-column>

      <div *igxGridDetail="let dataItem" class="horizontal details-container space-evenly">
        <div class="column-center" *ngFor="let details of dataItem.jerseys">
          <img src="/assets/wallpapers/jersey-small.webp" alt="Esports Business League jersey" />
          <div i18n>{{details.cut ? 'Female' : 'Male'}}</div>
          <div class="highlight">{{ details.size | sizeName }}</div>
        </div>
      </div>

      <igx-action-strip #ordersActionStrip>
        <button title="Save" igxButton="icon" igxRipple *ngIf="ordersActionStrip.context?.dirty || ordersActionStrip.context?.deleted"
            (click)="deleteOrder(ordersActionStrip.context)">
            <igx-icon>save</igx-icon>
        </button>
        <button title="Delete" igxButton="icon" igxRipple *ngIf="!ordersActionStrip.context?.deleted"
            (click)="ordersActionStrip.context.delete()">
            <igx-icon>delete</igx-icon>
        </button>
      </igx-action-strip>
    </igx-grid>
  </div>
</div>

<div class="content-container">
  <div class="content-container-row">
    <h3 i18n>Tournaments and Roles</h3>
  </div>
  <form #currentLeagueForm="ngForm" *ngFor="let league of tournaments; let i = index" (ngSubmit)="updateTournament(league)">
    <igx-input-group>
      <label igxLabel [for]="'leagueName' + i" i18n>Tournament name</label>
      <input type="text" [id]="'leagueName' + i" [name]="'leagueName' + i" #leagueName igxInput [required]="true" [(ngModel)]="league.name" />
      <igx-suffix *ngIf="leagueName.value" (click)="league.name = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel [for]="'leagueLogo' + i" i18n>Tournament logo</label>
      <input type="text" [id]="'leagueLogo' + i" [name]="'leagueLogo' + i" #leagueLogo igxInput [required]="true" [(ngModel)]="league.logo" />
      <igx-suffix *ngIf="leagueLogo.value" (click)="league.logo = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel [for]="'leagueDescription' + i" i18n>Tournament description</label>
      <textarea type="text" [id]="'leagueDescription' + i" [name]="'leagueDescription' + i" #leagueDescription igxInput [required]="true" [(ngModel)]="league.description"></textarea>
      <igx-suffix *ngIf="leagueDescription.value" (click)="league.description = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-date-picker [name]="'leagueStartDate' + i" [required]="true" [(ngModel)]="league.startDate">
      <label igxLabel i18n>Start date</label>
    </igx-date-picker>

    <igx-date-picker [name]="'leagueEndDate' + i" [required]="true" [(ngModel)]="league.endDate">
      <label igxLabel i18n>End date</label>
    </igx-date-picker>

    <igx-checkbox [name]="'active' + i" [(ngModel)]="league.active" i18n>Active</igx-checkbox>

    <button igxButton [disabled]="!currentLeagueForm.valid || !currentLeagueForm.touched" i18n>Submit</button>
  </form>

  <form #leagueForm="ngForm" (ngSubmit)="updateTournament()">
    <igx-input-group>
      <label igxLabel for="tournamentName" i18n>Tournament name</label>
      <input type="text" id="tournamentName" name="tournamentName" #tournamentName igxInput [required]="true" [(ngModel)]="tournament.name" />
      <igx-suffix *ngIf="tournamentName.value" (click)="tournament.name = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel for="tournamentLogo" i18n>Tournament logo</label>
      <input type="text" id="tournamentLogo" name="tournamentLogo" #tournamentLogo igxInput [required]="true" [(ngModel)]="tournament.logo" />
      <igx-suffix *ngIf="tournamentLogo.value" (click)="tournament.logo = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel for="tournamentDescription" i18n>Tournament description</label>
      <textarea type="text" id="tournamentDescription" name="tournamentDescription" #tournamentDescription igxInput [required]="true" [(ngModel)]="tournament.description"></textarea>
      <igx-suffix *ngIf="tournamentDescription.value" (click)="tournament.description = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-date-picker name="startDate" [required]="true" [(ngModel)]="tournament.startDate">
      <label igxLabel i18n>Start date</label>
    </igx-date-picker>

    <igx-date-picker name="endDate" [required]="true" [(ngModel)]="tournament.endDate">
      <label igxLabel i18n>End date</label>
    </igx-date-picker>

    <button igxButton [disabled]="!leagueForm.valid || !leagueForm.touched" i18n>Submit</button>
  </form>

  <div>
    <igx-chips-area>
      Roles
      <igx-chip *ngFor="let role of roles">{{role}}</igx-chip>
      <igx-chip *ngIf="!roles" i18n>No Roles Defined</igx-chip>
    </igx-chips-area>
    <igx-input-group>
      <label igxLabel i18n>New role</label>
      <input type="text" #roleinput igxInput />
    </igx-input-group>
    <button igxButton (click)="submitRole(roleinput.value)" i18n>Submit</button>
  </div>
</div>
