<div class="content-container">
  <div class="content-container-row">
    <igx-grid #grid1
              [data]="registrations"
              [height]="'550px'"
              primaryKey="id"
              [showGroupArea]="true"
              [allowFiltering]="true"
              (cellEdit)="confirmRegistration($event)"
              [cellSelection]="selectionMode.none">

      <igx-grid-toolbar>
        <igx-grid-toolbar-title>Регистрации</igx-grid-toolbar-title>
      </igx-grid-toolbar>

      <igx-column field="email" header="Имейл Адрес">
      </igx-column>
      <igx-column field="companyId" header="Компания">
      </igx-column>
      <igx-column field="dateSubmitted" [dataType]="gridDataType.Date" [sortable]="true" header="Направена на">
        <span *igxCell="let value">
          {{ value | date }}
        </span>
      </igx-column>
      <igx-column field="game" [groupable]="true" header="Лига">
        <span *igxCell="let value">
          {{ value ? 'StarCraft II' : 'CS:GO' }}
        </span>
      </igx-column>
      <igx-column field="hash" header="Код">
      </igx-column>
      <igx-column field="state" [editable]="true" [dataType]="gridDataType.Boolean" header="Потвърдена">
        <igx-icon *igxCell="let value" [class]="value ? 'color-success' : 'color-error'">{{ value ? 'check' : 'close' }}</igx-icon>
      </igx-column>

      <div *igxGroupByRow="let groupRow" class="igx-group-label">
        <igx-icon class="igx-group-label__icon">group_work</igx-icon>
        <span class="igx-group-label__column-name">{{groupRow.column.header}}:</span>
        <span class="igx-group-label__text">{{ groupRow.value ? 'StarCraft II' : 'CS:GO' }}</span>
        <igx-badge [value]="groupRow.records.length" class="igx-group-label__count-badge"></igx-badge>
      </div>

    </igx-grid>
  </div>

  <div class="content-container-row">
    <igx-grid #grid1
              [data]="orders"
              [height]="'550px'"
              primaryKey="id"
              toolbarTitle="Поръчки"
              [allowFiltering]="true"
              (cellEdit)="editDone($event)"
              [cellSelection]="selectionMode.none">

      <igx-grid-toolbar></igx-grid-toolbar>

      <igx-column field="orderDate" [dataType]="gridDataType.Date" [sortable]="true" header="Направена на">
        <span *igxCell="let value">
          {{ value | date }}
        </span>
      </igx-column>
      <igx-column field="email" header="Имейл Адрес">
      </igx-column>
      <igx-column field="name" header="Име">
        <span *igxCell="let cell = cell">
          {{ cell.row.rowData.firstName }} {{ cell.row.rowData.lastName }}
        </span>
      </igx-column>
      <igx-column field="phoneNumber" header="Телефон">
        <span *igxCell="let value">
          +359 {{ value }}
        </span>
      </igx-column>
      <igx-column field="address" header="Адрес">
        <span *igxCell="let cell = cell">
          {{ cell.row.rowData.city }}, {{ cell.row.rowData.streetAddress }}
        </span>
      </igx-column>
      <igx-column field="promoCode" header="Промо код">
      </igx-column>
      <igx-column field="confirmed" [dataType]="gridDataType.Boolean" [editable]="true" header="Потвърдена">
        <igx-icon *igxCell="let value" [class]="value ? 'color-success' : 'color-error'">{{ value ? 'check' : 'close' }}</igx-icon>
      </igx-column>
      <igx-column field="shipped" [dataType]="gridDataType.Boolean" [editable]="true" header="Изпратена">
        <igx-icon *igxCell="let value" [class]="value ? 'color-success' : 'color-error'">{{ value ? 'check' : 'close' }}</igx-icon>
      </igx-column>

      <div *igxGridDetail="let dataItem" class="horizontal details-container space-evenly">
        <div class="column-center" *ngFor="let details of dataItem.jerseys">
          <img src="/assets/wallpapers/jersey-small.webp" alt="Esports Business League jersey" />
          <div>{{details.cut ? 'Дамска' : 'Мъжка'}}</div>
          <div class="highlight">{{ details.size | sizeName }}</div>
        </div>
      </div>
    </igx-grid>
  </div>
</div>

<div class="content-container">
  <div class="content-container-row">
    <h3>Tournaments and Roles</h3>
  </div>
  <form #currentLeagueForm="ngForm" *ngFor="let league of tournaments; let i = index" (ngSubmit)="updateTournament(league)">
    <igx-input-group>
      <label igxLabel [for]="'leagueName' + i">Tournament name</label>
      <input type="text" [id]="'leagueName' + i" [name]="'leagueName' + i" #leagueName igxInput [required]="true" [(ngModel)]="league.name" />
      <igx-suffix *ngIf="leagueName.value" (click)="league.name = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel [for]="'leagueLogo' + i">Tournament logo</label>
      <input type="text" [id]="'leagueLogo' + i" [name]="'leagueLogo' + i" #leagueLogo igxInput [required]="true" [(ngModel)]="league.logo" />
      <igx-suffix *ngIf="leagueLogo.value" (click)="league.logo = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel [for]="'leagueDescription' + i">Tournament description</label>
      <textarea type="text" [id]="'leagueDescription' + i" [name]="'leagueDescription' + i" #leagueDescription igxInput [required]="true" [(ngModel)]="league.description"></textarea>
      <igx-suffix *ngIf="leagueDescription.value" (click)="league.description = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-date-picker [name]="'leagueStartDate' + i" [required]="true" [(ngModel)]="league.startDate">
      <label igxLabel>Start Date</label>
    </igx-date-picker>

    <igx-date-picker [name]="'leagueEndDate' + i" [required]="true" [(ngModel)]="league.endDate">
      <label igxLabel>End Date</label>
    </igx-date-picker>

    <igx-checkbox [name]="'active' + i" [(ngModel)]="league.active">Active</igx-checkbox>

    <button igxButton [disabled]="!currentLeagueForm.valid || !currentLeagueForm.touched">Submit</button>
  </form>

  <form #leagueForm="ngForm" (ngSubmit)="updateTournament()">
    <igx-input-group>
      <label igxLabel for="tournamentName">Tournament name</label>
      <input type="text" id="tournamentName" name="tournamentName" #tournamentName igxInput [required]="true" [(ngModel)]="tournament.name" />
      <igx-suffix *ngIf="tournamentName.value" (click)="tournament.name = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel for="tournamentLogo">Tournament logo</label>
      <input type="text" id="tournamentLogo" name="tournamentLogo" #tournamentLogo igxInput [required]="true" [(ngModel)]="tournament.logo" />
      <igx-suffix *ngIf="tournamentLogo.value" (click)="tournament.logo = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group>
      <label igxLabel for="tournamentDescription">Tournament description</label>
      <textarea type="text" id="tournamentDescription" name="tournamentDescription" #tournamentDescription igxInput [required]="true" [(ngModel)]="tournament.description"></textarea>
      <igx-suffix *ngIf="tournamentDescription.value" (click)="tournament.description = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-date-picker name="startDate" [required]="true" [(ngModel)]="tournament.startDate">
      <label igxLabel>Start Date</label>
    </igx-date-picker>

    <igx-date-picker name="endDate" [required]="true" [(ngModel)]="tournament.endDate">
      <label igxLabel>End Date</label>
    </igx-date-picker>

    <button igxButton [disabled]="!leagueForm.valid || !leagueForm.touched">Submit</button>
  </form>

  <div>
    <igx-chips-area>
      Roles
      <igx-chip *ngFor="let role of roles">{{role}}</igx-chip>
      <igx-chip *ngIf="!roles">No Roles Defined</igx-chip>
    </igx-chips-area>
    <igx-input-group>
      <label igxLabel>New role</label>
      <input type="text" #roleinput igxInput />
    </igx-input-group>
    <button igxButton (click)="submitRole(roleinput.value)">Submit</button>
  </div>
</div>
