igx-icon {
  cursor: pointer;
  user-select: none;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player {
  display: flex;
  flex: 1 0 240px;
  align-items: center;
}

.player__info {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 24px;
}

.player__stats {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-left: 24px;
}

.icon-avatar {
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.country-badge {
  position: absolute;
  top: -4px;
  left: 24px;
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.name {
  font-weight: 600;
}

.phone {
  font-size: 0.875em;
}
