<p>These players are currently looking for group or team.</p>
<igx-input-group type="search" class="search">
    <igx-prefix>
        <igx-icon>search</igx-icon>
    </igx-prefix>
    <input #search igxInput placeholder="Search" [(ngModel)]="searchContact">
    <igx-suffix *ngIf="search.value.length > 0" (click)="searchContact = null">
        <igx-icon>clear</igx-icon>
    </igx-suffix>
</igx-input-group>
<igx-list>
  <igx-list-item isHeader="true"> Active CS:GO Players </igx-list-item>
  <igx-list-item #item *ngFor="let user of activeUsers | igxFilter: filterContacts;">
    <div class="item-container">
      <div class="contact">
        <igx-avatar [src]="user.avatarMedium" roundShape="true"></igx-avatar>
        <div class="contact__info">
          <span class="name">{{ user.steamID }}</span>
          <!-- <span class="phone">{{ contact.phone }}</span> -->
        </div>
      </div>
      <!-- <igx-icon name="star" [color]="contact.isFavorite ? 'orange' : 'lightgray'" (click)="toggleFavorite(item)"></igx-icon> -->
    </div>
  </igx-list-item>
</igx-list>