<h4>These players are currently looking for a team.</h4>
<igx-input-group type="search" class="search">
    <igx-prefix>
        <igx-icon>search</igx-icon>
    </igx-prefix>
    <input #search igxInput placeholder="Search" [(ngModel)]="searchPlayer">
    <igx-suffix *ngIf="search.value.length > 0" (click)="searchplayer = null">
        <igx-icon>clear</igx-icon>
    </igx-suffix>
</igx-input-group>
<igx-list #players [isLoading]="true">
  <ng-template igxDataLoading>
      <div class="center-message"><span>Fetching data from our server...</span></div>
  </ng-template>
  <ng-template igxEmptyList>
      <div class="center-message"><span>Nobody is active...</span></div>
  </ng-template>
  <igx-list-item #item *ngFor="let user of activeUsers">
    <div class="item-container">
      <div class="horizontal">
        <igx-avatar [src]="user.steamUser.avatarMedium" roundShape="true">
          <igx-avatar [src]="'assets/country-flags/svg/' + user.steamUser.country.toLowerCase() + '.svg'" [roundShape]="true" [title]="user.steamUser.country" class="country-badge"></igx-avatar>
        </igx-avatar>
        <div class="horizontal-info__left">
          <span class="title">
            <a [routerLink]="['/player-details', user.steamUser.steamID64]">
              {{ user.steamUser.steamID }}
              <!-- <igx-avatar [src]="'assets/csgo-ranks/icons/skillgroup14.png'" class="skill-badge" [roundShape]="true"></igx-avatar> -->
            </a>
          </span>
          <span class="subtitle">{{ user.steamUser.realname }}</span>
        </div>
      </div>
      
      <div class="horizontal-info__right">
        <igx-circular-bar class="icon-avatar" [value]="user.userStats.killDeathRatio" [max]="2" [animate]="true" [textVisibility]="false" title="KDR"></igx-circular-bar>
        <igx-avatar src="assets/hs-img.jpg" title="Headshot Percentage" roundShape="true" class="icon-avatar"></igx-avatar>
      </div>

      <div class="horizontal-info__right">
        <span class="title">{{ user.userStats.killDeathRatio }}</span>
        <span>{{ user.userStats.headshotPercentage }}%</span>
      </div>
    </div>
  </igx-list-item>
</igx-list>
