<div igxLayout>
  <igx-nav-drawer [pinThreshold]="1600" id="navigation" #drawer>
    <ng-template igxDrawer>
      <span igxDrawerItem [isHeader]="true">Esports Business League</span>
      <span igxDrawerItem igxRipple routerLink="tournament">
        <igx-icon>emoji_events</igx-icon>
        <span i18n>Tournaments</span>
      </span>
      <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="shop">
        <igx-icon>shopping_cart</igx-icon>
        <span i18n>Shop</span>
      </span>
      <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/format">
        <igx-icon>playlist_add_check</igx-icon>
        <span i18n>Tournament format</span>
      </span>
      <span igxDrawerItem igxRipple routerLink="/" fragment="partners">
        <igx-icon>people_alt</igx-icon>
        <span i18n>Our partners</span>
      </span>
      <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/crew">
        <igx-icon>people</igx-icon>
        <span i18n>Our crew</span>
      </span>
      <span igxDrawerItem igxRipple routerLink="/" fragment="aboutus">
        <igx-icon>chat</igx-icon>
        <span i18n>Contact us</span>
      </span>
    </ng-template>

    @if (drawer.pin) {
      <ng-template igxDrawerMini>
        <span igxDrawerItem [isHeader]="true">&nbsp;</span>
        <span igxDrawerItem igxRipple routerLink="tournament" i18n-title title="Tournaments">
          <igx-icon>emoji_events</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="shop" i18n-title title="Shop">
          <igx-icon>shopping_cart</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/format" i18n-title title="Tournament format">
          <igx-icon >playlist_add_check</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="partners" i18n-title title="Our partners">
          <igx-icon>people_alt</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/crew" i18n-title title="Our crew">
          <igx-icon>people</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="aboutus" i18n-title title="Contact us">
          <igx-icon>chat</igx-icon>
        </span>
      </ng-template>
    }
  </igx-nav-drawer>

  <div igxFlex igxLayout igxLayoutDir="columns" class="top-level-container">
    <igx-navbar class="bellum-gens-navbar">
      <igx-navbar-action>
        <igx-icon class="drawer-action navigatable" (click)="drawer.toggle()">menu</igx-icon>
        <img [ngSrc]="'/assets/eb-league-logo-blue.webp'" width="130" height="40" class="navigatable" alt="Esports Business League" routerLink="/" />
      </igx-navbar-action>

      <bg-languages></bg-languages>
      <bg-login></bg-login>
    </igx-navbar>

    <igx-banner #cookiesBanner>
      <igx-icon>settings</igx-icon>
      <span i18n>This site uses cookies</span>
      <igx-banner-actions>
        <a href="https://www.cookiesandyou.com/" target="_blank" rel="noopener" i18n>Cookies and You</a>
        <button igxButton igxRipple (click)="acceptCookies()" i18n>I Understand</button>
      </igx-banner-actions>
    </igx-banner>

    <bg-success-error></bg-success-error>

    <div class="main-content-wrapper">
      <div class="content">
        <router-outlet></router-outlet>

        <footer class="footer">
          <igx-divider></igx-divider>
          <div class="footer-row">
            <p>Copyright © Bellum Gens, 2019-{{year}}</p>

            <igx-divider style="margin: 0 12px; height: 32px;" [vertical]="true"></igx-divider>

            <a href="mailto:info@eb-league.com" i18n-title title="Email us">
              <igx-icon>email</igx-icon>
            </a>
            <a href="https://www.facebook.com/esportsbleague/" i18n-title title="Like us on Facebook" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="facebook"></igx-icon>
            </a>
            <a href="https://twitter.com/EsportBLeague" i18n-title title="Follow us on Twitter" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="twitter"></igx-icon>
            </a>
            <a href="https://www.instagram.com/esportsbleague/" i18n-title title="Follow us on Instagram" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="instagram"></igx-icon>
            </a>
            <a href="https://www.linkedin.com/company/bellum-gens/" i18n-title title="Follow us on Linked-in" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="linkedin"></igx-icon>
            </a>
            <a href="https://www.youtube.com/@EsportsBusinessLeague" i18n-title title="Subscribe to our Youtube channel" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="youtube"></igx-icon>
            </a>
            <a href="https://www.twitch.tv/ebleague_a" i18n-title title="Follow us on Twitch" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="twitch"></igx-icon>
            </a>
            <a href="https://discord.gg/bnTcpa9" i18n-title title="Join our Discord server" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="discord"></igx-icon>
            </a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
