<div class="overview-container-card">
  <igx-card type="outlined">
    <igx-card-header>
      <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/csgo-watermark.webp"></igx-avatar>
      <h1 igxCardHeaderTitle>CS:GO Лига</h1>
    </igx-card-header>
    <igx-card-content>
      <div class="participants-container">
        <h4 style="width: 100%">Участници</h4>
        <igx-circular-bar *ngIf="loading" [indeterminate]="true"></igx-circular-bar>
        <div *ngFor="let registration of registrations" class="registration-slot">
          <igx-avatar [src]="registration.Team.TeamAvatar"
                      [initials]="registration.Team.TeamName"
                      [title]="registration.Company"
                      size="medium"
                      [roundShape]="true">
          </igx-avatar>
          <igx-badge *ngIf="registration.UserId === authUser?.id && registration.State === 0"
                      type="warning"
                      icon="priority_high"
                      title="Вашата регистрация все още не е потвърдена! За да потвърдим регистрацията трябва да платите таксата за участие!"
                      class="registration-badge-style">
          </igx-badge>

          <a [href]="environment.bellumgens + '/team/' + registration.Team.CustomUrl" target="_blank">{{ registration.Team.TeamName }}</a>
        </div>
      </div>

      <igx-grid [cellSelection]="selectionMode.none"
                [data]="csgomatches"
                height="550px"
                emptyGridMessage="Няма намерени срещи..."
                [isLoading]="loadingMatches"
                [allowFiltering]="true"
                [filteringExpressionsTree]="initialFilter">

        <igx-grid-toolbar>
          <igx-grid-toolbar-title>График с всички CS:GO срещи</igx-grid-toolbar-title>
          <igx-grid-toolbar-actions>
            <a href="https://challonge.com/ebleague_csgo" target="_blank" rel="noopener">Вижте бракетът за сезон 2 тук</a>
          </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="StartTime" width="220px" [dataType]="gridDataType.Date" header="Начало">
          <ng-template igxCell let-value>
            {{ value | date:'MMM d, y, h:mm a' }}
          </ng-template>
        </igx-column>

        <igx-column field="MatchDetails" header="Среща" [filterable]="false">
          <div *igxCell="let cell = cell">
            <igx-avatar igxListThumbnail
                        [src]="cell.rowData.Team1.TeamAvatar"
                        [initials]="cell.rowData.Team1.TeamName"
                        [roundShape]="true">
            </igx-avatar>
            <a [href]="environment.bellumgens + '/team/' + cell.rowData.Team1.CustomUrl"
               [class]="cell.rowData.WinnerTeamId === cell.rowData.Team1.TeamId ? 'highlight grid-team-name' : 'grid-team-name'">
              {{ cell.rowData.Team1.TeamName }}
            </a>

            <span class="grid-vs-divider">vs.</span>

            <igx-avatar igxListThumbnail
                        [src]="cell.rowData.Team2.TeamAvatar"
                        [initials]="cell.rowData.Team2.TeamName"
                        [roundShape]="true">
            </igx-avatar>
            <a [href]="environment.bellumgens + '/team/' + cell.rowData.Team2.CustomUrl"
               [class]="cell.rowData.WinnerTeamId === cell.rowData.Team2.TeamId ? 'highlight grid-team-name' : 'grid-team-name'">
              {{ cell.rowData.Team2.TeamName }}
            </a>
          </div>
        </igx-column>

        <ng-template igxGridDetail let-dataItem>
          <div class="horizontal-center" *ngFor="let map of dataItem.Maps">
            <div class="score-container">
              {{ map.Team1Score }}
            </div>

            <igx-avatar [src]="map.Map | csgomapimage" [initials]="map.Map | csgomapname" [title]="map.Map | csgomapname"></igx-avatar>

            <div class="score-container">
              {{ map.Team2Score }}
            </div>
          </div>

          <div class="horizontal-center" *ngIf="dataItem.NoShow">
            Служебна победа.
          </div>

          <div class="horizontal-center" *ngIf="!dataItem.Maps.length && !dataItem.NoShow">
            Срещата предстои да се играе или няма записани резултати за тази среща...
          </div>
        </ng-template>
      </igx-grid>

      <div class="group-columns">
        <igx-grid *ngFor="let group of groups"
                  [cellSelection]="selectionMode.none"
                  [data]="group.Participants">

          <igx-grid-toolbar>
            <igx-grid-toolbar-title>{{group.Name}}</igx-grid-toolbar-title>
          </igx-grid-toolbar>

          <igx-column field="Team" header="Отбор" width="22%">
            <div *igxCell="let value">
              <igx-avatar igxListThumbnail
                          [src]="value.TeamAvatar"
                          [initials]="value.TeamName"
                          [roundShape]="true">
              </igx-avatar>
              <a igxListLineTitle [href]="environment.bellumgens + '/team/' + value.CustomUrl" target="_blank">
                {{ value.TeamName }}
              </a>
            </div>
          </igx-column>

          <igx-column field="Company" header="Компания" width="15%">
          </igx-column>
          <igx-column field="Matches" [dataType]="gridDataType.Number" header="Срещи" width="9%">
          </igx-column>
          <igx-column field="Wins" [dataType]="gridDataType.Number" header="Победи" width="9%">
          </igx-column>
          <igx-column field="OTWins" [dataType]="gridDataType.Number" header="OT Победи" title="Победи в добавено време" width="9%">
          </igx-column>
          <igx-column field="OTLosses" [dataType]="gridDataType.Number" header="OT Загуби" title="Загуби в добавено време" width="9%">
          </igx-column>
          <igx-column field="Losses" [dataType]="gridDataType.Number" header="Загуби" width="9%">
          </igx-column>
          <igx-column field="RoundDifference" [dataType]="gridDataType.Number" header="+/- Рундове" width="9%">
            <span *igxCell="let value" [class]="value > 0 ? 'color-success' : value < 0 ? 'color-error' : ''">
              {{ value }}
            </span>
          </igx-column>
          <igx-column field="TeamPoints" [dataType]="gridDataType.Number" header="Точки" width="9%">
          </igx-column>

        </igx-grid>
      </div>

    </igx-card-content>
  </igx-card>
</div>
