.team-nav-container {
  padding: 8px;
  max-width: 340px;
}

.group-name {
  margin-left: 8px;
}

.team-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}