
<div class="team-nav-container">
  <p *ngIf="!authUser">You need to login to view your teams.</p>
  <p *ngIf="authUser && !authUser.teams.length">You are not part of any teams.</p>
  <button *ngIf="authUser" class="submit-button" igxButton="outlined" igxRipple (click)="createTeam.open()">Create New Team</button>

  <igx-card class="card-margins" *ngFor="let team of authUser?.teams">
    <igx-card-header>
      <igx-avatar [src]="team.TeamAvatar" [initials]="team.TeamName" roundShape="true"></igx-avatar>
      <div class="igx-card-header__tgroup">
        <h3 class="igx-card-header__title--small">{{ team.TeamName }}</h3>
        <h5 class="igx-card-header__subtitle team-description">{{ team.Description }}</h5>
      </div>
    </igx-card-header>
    <igx-card-actions>
      <div class="igx-card-actions__bgroup">
        <button igxButton igxRipple [routerLink]="['/team', team.CustomUrl]">Team Details</button>
        <button igxButton igxRipple (click)="confirm.open(team)">Abandon Team</button>
      </div>
    </igx-card-actions>
  </igx-card>
</div>

<app-team-new #createTeam [authUser]="authUser"></app-team-new>

<app-confirm #confirm title="Are you sure?" (ok)="abandonTeam($event)">
  You will leave this team permanently. If you own the team and are the only team member, then the team will also be deleted...
</app-confirm>
