
<div class="team-nav-container">
  <p *ngIf="!authUser">You need to login to view your teams.</p>
  <p *ngIf="authUser && !authUser.teams.length">You are not part of any teams.</p>
  <button *ngIf="authUser" class="submit-button" igxButton="outlined" igxRipple (click)="createTeam.open()">Create New Team</button>

  <igx-card class="card-margins" *ngFor="let team of authUser?.teams">
    <igx-card-header>
      <igx-avatar [src]="team.TeamAvatar" [initials]="team.TeamName" roundShape="true"></igx-avatar>
      <div class="igx-card-header__tgroup">
        <h3 class="igx-card-header__title--small">{{ team.TeamName }}</h3>
        <h5 class="igx-card-header__subtitle team-description">{{ team.Description }}</h5>
      </div>
    </igx-card-header>
    <igx-card-actions>
      <div class="igx-card-actions__bgroup">
        <button igxButton igxRipple [routerLink]="['/team', team.TeamId]">Team Details</button>
        <button igxButton igxRipple (click)="confirm.open(team)">Abandon Team</button>
      </div>
    </igx-card-actions>
  </igx-card>
</div>

<igx-dialog #createTeam closeOnOutsideSelect="true" *ngIf="authUser">
  <div class="create-team">
    <igx-list>
      <igx-list-item *ngIf="authUser.steamUser.groups.length" [isHeader]="true">Import from Steam Group</igx-list-item>
      <igx-input-group type="search" class="search">
        <igx-prefix>
            <igx-icon>search</igx-icon>
        </igx-prefix>
        <label for="searchGroups" igxLabel>Search Groups</label>
        <input #search igxInput id="searchGroups" [(ngModel)]="searchGroups">
        <igx-suffix *ngIf="search.value.length > 0" (click)="searchGroups = null">
            <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <igx-list-item *ngFor="let group of authUser.steamUser.groups | groupsFilter:searchGroups" (click)="createFromSteam(group)">
        <div class="horizontal-center">
          <igx-avatar [src]="group.avatarFull" [initials]="group.groupName" roundShape="true">
          </igx-avatar>
          <div class="group-name">
            {{ group.groupName }}
          </div>
        </div>
      </igx-list-item>
      <igx-list-item [isHeader]="true">Register with form</igx-list-item>
      <igx-list-item>
        <igx-input-group>
          <input #teamName igxInput placeholder="Team name" minlength="2" required [(ngModel)]="newTeam.TeamName">
          <igx-suffix *ngIf="teamName.value.length > 0" (click)="newTeam.TeamName = null">
              <igx-icon>clear</igx-icon>
          </igx-suffix>
        </igx-input-group>
      </igx-list-item>
      <igx-list-item>
        <igx-input-group>
          <textarea #teamDescripton igxInput placeholder="Add a team motto or recruitment information" minlength="2" required [(ngModel)]="newTeam.Description">
          </textarea>
          <igx-suffix *ngIf="teamDescripton.value.length > 0" (click)="newTeam.Description = null">
              <igx-icon>clear</igx-icon>
          </igx-suffix>
        </igx-input-group>
      </igx-list-item>
      <igx-list-item>
        <igx-input-group>
          <igx-prefix>
            <igx-icon>link</igx-icon>
          </igx-prefix>
          <input #teamAvatar igxInput placeholder="Team Avatar URL" [(ngModel)]="newTeam.TeamAvatar">
          <igx-suffix *ngIf="teamAvatar.value.length > 0" (click)="newTeam.TeamAvatar = null">
              <igx-icon>clear</igx-icon>
          </igx-suffix>
        </igx-input-group>
      </igx-list-item>
      <igx-list-item>
        <button igxButton igxRipple (click)="createFromForm()" [disabled]="teamName.invalid">Register</button>
      </igx-list-item>
    </igx-list>
  </div>
</igx-dialog>

<app-confirm #confirm title="Are you sure?" (ok)="abandonTeam($event)">
  You will leave this team permanently. If you own the team and are the only team member, then the team will also be deleted...
</app-confirm>