<div igxLayout>
  <div igxFlex igxLayout igxLayoutDir="columns">
    <igx-navbar title="[Beta] Bellum Gens: Looking for Group">
      <igx-action-icon class="home-button">
        <igx-icon igxActionIcon fontSet="material" [routerLink]="'/home'">home</igx-icon>
      </igx-action-icon>
      <igx-input-group type="search" class="search-group" #searchGroup>
        <igx-prefix>
          <igx-icon class="button-icon">search</igx-icon>
        </igx-prefix>
        <input #searchInput igxInput (focus)="advancedSearch.open()" class="search-input" placeholder="Search" />
        <igx-suffix *ngIf="searchInput.value.length > 0" (click)="searchInput.value = ''">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <igx-icon class="button-icon" [igxToggleAction]="myTeam" [overlaySettings]="overlaySettings" *ngIf="authUser">people</igx-icon>
      <igx-icon class="button-icon" [igxToggleAction]="notifications" [overlaySettings]="overlaySettings" *ngIf="authUser">notifications</igx-icon>
      <igx-badge class="notifications-badge" *ngIf="authUser?.Notifications.length" [value]="authUser.Notifications | unreadNotifications" type="info"></igx-badge>

      <app-login [authUser]='authUser'></app-login>
    </igx-navbar>
    <igx-banner #advancedSearch>
      Advanced search for:
      <app-search [authUser]="authUser"></app-search>
      <igx-banner-actions>
        <button igxButton="flat" (click)="advancedSearch.close()">Hide</button>
      </igx-banner-actions>
    </igx-banner>

    <igx-drop-down #quickSearch>
      <app-quick-search></app-quick-search>
    </igx-drop-down>
    <igx-drop-down #myTeam>
      <app-team-nav [authUser]="authUser"></app-team-nav>
    </igx-drop-down>
    <igx-drop-down #notifications>
      <app-notifications [authUser]="authUser"></app-notifications>
    </igx-drop-down>
    <app-success-error></app-success-error>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
