
:host > div {
  height: 100%;
}

.top-level-container {
  min-width: 412px;
}

.main-content-wrapper {
  height: 100%;
  min-width: 412px;
  display: flex;
  flex-basis: row nowrap;
}

.content {
  height: 100%;
  width: 100%;
}

.action-button-container {
  position: relative;
  display: flex;
  align-items: center;
}

.notifications-badge {
  position: absolute;
  top: -12px;
  left: 12px;
}

.search-group {
  width: 256px;
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 24px 36px 0 36px;
}

.footer igx-divider {
  width: 100%;
}

.footer-row {
  display: flex;
  align-self: center;
  align-items: center;
}

.social-media-icon {
  margin-left: 4px;
}

@media only screen and (max-width: 720px) {
  .search-group {
    width: auto;
  }

  .footer {
    padding: 24px 12px 0 12px;
  }
}
