
:host > div {
  height: 100%;
}

.main-content-wrapper {
  height: 100%;
  display: flex;
  padding: 16px;
  flex-basis: row nowrap;
}

.content {
  height: 100%;
}

.action-button-container {
  position: relative;
  display: flex;
  align-items: center;
}

.notifications-badge {
  position: absolute;
  top: -12px;
  left: 12px;
}

.search-group {
  width: 256px;
}

.search-input {
  caret-color: white;
}

.discord-container {
  height: 100%;
  margin-left: 16px;
}

.discord-container > iframe {
  height: 100%;
}

@media only screen and (max-width: 720px) {
  .search-group {
    width: auto;
  }
}

@media only screen and (max-width: 1600px) {
  .main-content-wrapper {
    padding: 8px;
  }

  .discord-container {
    display: none;
  }

  .content {
    width: 100%;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1601px) {
  .content {
    width: calc(100% - 350px);
    justify-content: flex-start;
  }
}