
:host > div {
  height: 100%;
}

.content {
  padding: 16px;
  height: 100%;
}

.home-button {
  height: 24px;
}

.notifications-badge {
  position: relative;
  top: -12px;
  left: -24px;
}

@media only screen and (max-width: 1024px) {
  .content {
    padding: 0 8px;
    justify-content: flex-start;
  }
}
