<form #tapplication="ngForm" (ngSubmit)="leagueRegistration()">

  <igx-divider></igx-divider>
  <div class="form-wrapper">
    <h2 id="registration" class="registration-title">Регистрация Сезон 2</h2>

    <igx-select name="game" [required]="true" [disabled]="!authUser" class="registration-form-input" [(ngModel)]="application.Game" (ngModelChange)="showDetails()">
      <label igxLabel>{{ authUser ? 'Изберете лига (игра)' : 'Първо трябва да влезете в акаунта си'}}</label>
      <igx-select-item *ngFor="let game of games" [value]="game.id">
        {{ game.name }}
      </igx-select-item>
      <igx-hint *ngIf="application.Game === 0 && !authUser.steamId">*Вашият профил няма асоциран Steam акаунт...</igx-hint>
    </igx-select>
  </div>

  <div #appDetails class="form-wrapper application-details">

    <igx-input-group class="registration-form-input">
      <label igxLabel for="email">Имейл адрес</label>
      <igx-prefix>
        <igx-icon>email</igx-icon>
      </igx-prefix>
      <input type="email" id="email" #userMail name="email" [required]="true" igxInput pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="application.Email" />
      <igx-suffix *ngIf="userMail.value" (click)="application.Email = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-select id="team" #team name="team" [required]="true" [(ngModel)]="application.TeamId" class="registration-form-input" *ngIf="application.Game === gameEnum.CSGO" >
      <label igxLabel for="email">Изберете своя отбор</label>
      <igx-prefix>
        <igx-icon>people</igx-icon>
      </igx-prefix>
      <igx-select-item *ngFor="let team of authUser?.teams" [value]="team.teamId" [text]="team.teamName">
        <igx-avatar [src]="team.teamAvatar" [initials]="team.teamName" class="team-avatar" [roundShape]="true"></igx-avatar>
        <span class="title margin-left">{{ team.teamName }}</span>
      </igx-select-item>
      <igx-select-item (click)="newTeam.open(false)">
        Създай нов отбор...
      </igx-select-item>
    </igx-select>

    <igx-input-group class="registration-form-input" *ngIf="application.Game === gameEnum.StarCraft2" >
      <label igxLabel for="email">Battle tag</label>
      <igx-prefix>
        <igx-icon fontSet="login-icons" name="battlenet"></igx-icon>
      </igx-prefix>
      <input id="battletag" #battletag name="battletag" [required]="true" igxInput pattern="^[a-zA-Z0-9._%+-]+#[0-9]{4,6}$" [(ngModel)]="application.BattleNetId" />
      <igx-suffix *ngIf="battletag.value" (click)="application.BattleNetId = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group class="registration-form-input">
      <label igxLabel for="company">Компания</label>
      <igx-prefix>
        <igx-icon>work</igx-icon>
      </igx-prefix>
      <input id="company" #company name="company" igxInput [igxAutocomplete]="companiesDD" [(ngModel)]="application.CompanyId" [required]="true" />
      <igx-suffix *ngIf="company.value" (click)="application.CompanyId = null">
        <igx-icon>clear</igx-icon>
      </igx-suffix>
      <igx-hint>*Изберете компанията с която ще асоцирате вашето участие...</igx-hint>
    </igx-input-group>
    <igx-drop-down #companiesDD maxHeight="320px">
      <igx-drop-down-item *ngFor="let company of companies | startsWith:application.CompanyId" [value]="company">
        {{ company }}
      </igx-drop-down-item>
    </igx-drop-down>

    <div class="horizontal-center">
      <igx-checkbox #termsAccepted id="accept" name="accept" class="accept-terms-checkbox">
        <label for="accept">Приемам <span class="highlight navigatable" (click)="scrollToTerms($event)">условията за записване</span>.</label>
      </igx-checkbox>
    </div>

    <button igxButton="outlined" class="submit-registration" [disabled]="tapplication.invalid || !termsAccepted.checked || inProgress">Регистрирай ме</button>
  </div>
</form>

<app-team-new #newTeam [authUser]="authUser"></app-team-new>
