:host {
  .registration-title {
    margin-top: 8px;
  }

  .application-details {
    height: 0;
    overflow: hidden;
  }

  .application-details-show {
    height: 308px;
    transition: height 1s .4s;
  }

  .accept-terms-checkbox {
    margin: 12px;
  }

  .submit-registration {
    height: 48px;
    margin: 8px auto;
  }

  .registration-form-input {
    width: 380px;
    margin: 4px 0;
  }

  .team-avatar {
    width: 32px;
    min-width: 32px;
    height: 32px;
  }

  @media only screen and (max-width: 550px) {
    .success-dialog-content {
      width: 380px;
    }

    .registration-form-input {
      width: 348px;
    }

    .registration-title {
      font-size: 2.6rem;
      line-height: 3rem;
    }
  }
}
