<igx-list *ngIf="authUser">
  <igx-list-item [isHeader]="true">Notifications for {{ authUser.username }}</igx-list-item>
  <igx-list-item *ngIf="!authUser.notifications?.length"><span igxListLine>No new notifications.</span></igx-list-item>
  <igx-list-item *ngFor="let notification of authUser.notifications | sortNotifications:pipeTrigger" [class]="notificationClass[notification.State]">
    <igx-avatar igxListThumbnail [src]="notification.TeamInfo.TeamAvatar" [initials]="notification.TeamInfo.TeamName" [roundShape]="true">
    </igx-avatar>
    <h3 igxListLineSubTitle>
      You have been invited to join <a [routerLink]="['/team', notification.TeamInfo.CustomUrl]">{{ notification.TeamInfo.TeamName }}</a>
    </h3>
    <span igxListLineSubTitle>{{ notification.Sent | date }}</span>
    <div igxListAction *ngIf="notification.State | disabledNotifications:true else read">
      <button igxButton="flat" igxRipple [disabled]="actionInProgress" (click)="acceptInvitation(notification)">
        {{actionInProgress ? actionText : 'Accept'}}
      </button>
      <button igxButton="flat" igxRipple [disabled]="actionInProgress" (click)="rejectInvitation(notification)">
        {{actionInProgress ? actionText : 'Reject'}}
      </button>
    </div>

    <ng-template #read>
      <button igxButton="flat" igxRipple [disabled]="true">{{ notification.State | notificationState }}</button>
    </ng-template>
  </igx-list-item>
</igx-list>
