<div class="overview-container-card">
  <igx-card type="outlined">
    <igx-card-header>
      <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/sc2-watermark.webp"></igx-avatar>
      <h1 igxCardHeaderTitle>StarCraft II Лига</h1>
    </igx-card-header>
    <igx-card-content>
      <h4>Участници</h4>
      <div class="participants-container">
        <igx-circular-bar *ngIf="loading" [indeterminate]="true"></igx-circular-bar>
        <div *ngFor="let registration of registrations" class="registration-slot">
          <igx-avatar [src]="registration.user.avatarMedium" [initials]="registration.user.username" size="medium" [roundShape]="true">
          </igx-avatar>
          <igx-badge *ngIf="registration.userId === authUser?.id && registration.state === 0"
                     type="warning"
                     icon="priority_high"
                     title="Вашата регистрация все още не е потвърдена! За да потвърдим регистрацията трябва да платите таксата за участие!"
                     class="registration-badge-style">
          </igx-badge>

          <a [href]="environment.bellumgens + '/players/' + (registration.user.customURL || registration.userId)" target="_blank">{{ registration.battleTag }}</a>

          <span>[{{ registration.companyId }}]</span>
        </div>
        <igx-divider></igx-divider>
      </div>

      <igx-grid [cellSelection]="selectionMode.none"
                [data]="sc2matches"
                height="550px"
                emptyGridMessage="Няма намерени срещи..."
                [isLoading]="loadingMatches"
                [allowFiltering]="true"
                [filteringExpressionsTree]="initialFilter">

        <igx-grid-toolbar>
          <igx-grid-toolbar-title>График с всички StarCraft II срещи</igx-grid-toolbar-title>
          <igx-grid-toolbar-actions>
            <a href="https://challonge.com/ebleague_starcraft" target="_blank" rel="noopener">Вижте бракетът за сезон 2 тук</a>
          </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="startTime" width="220px" [dataType]="gridDataType.Date" header="Начало">
          <ng-template igxCell let-value>
            {{ value | date:'MMM d, y, h:mm a' }}
          </ng-template>
        </igx-column>

        <igx-column field="matchDetails" header="Среща" [filterable]="false">
          <div *igxCell="let cell = cell">
            <igx-avatar igxListThumbnail
                        [src]="cell.rowData.player1.avatarMedium"
                        [initials]="cell.rowData.player1.username"
                        [roundShape]="true">
            </igx-avatar>
            <span [class]="cell.rowData.player1Points > cell.rowData.player2Points ? 'highlight grid-team-name' : 'grid-team-name'">
              {{ cell.rowData.player1.battleNetId }}
            </span>

            <span class="grid-vs-divider">vs.</span>

            <igx-avatar
                        [src]="cell.rowData.player2.avatarMedium"
                        [initials]="cell.rowData.player2.username"
                        [roundShape]="true">
            </igx-avatar>
            <span [class]="cell.rowData.player2Points > cell.rowData.player1Points ? 'highlight grid-team-name' : 'grid-team-name'">
              {{ cell.rowData.player2.battleNetId }}
            </span>
          </div>
        </igx-column>

        <ng-template igxGridDetail let-dataItem>
          <div class="horizontal-center" *ngFor="let map of dataItem.maps">
            <div class="score-container">
              <igx-icon *ngIf="map.winnerId === dataItem.player1Id">check</igx-icon>
            </div>

            <div>{{ map.map | sc2MapName }}</div>

            <div class="score-container">
              <igx-icon *ngIf="map.winnerId === dataItem.player2Id">check</igx-icon>
            </div>
          </div>

          <div class="horizontal-center" *ngIf="dataItem.noShow">
            Служебна победа.
          </div>

          <div class="horizontal-center" *ngIf="!dataItem.maps.length && !dataItem.noShow">
            Срещата предстои да се играе или няма записани резултати за тази среща...
          </div>
        </ng-template>
      </igx-grid>

      <div class="group-columns">
        <igx-grid *ngFor="let group of groups"
                  [cellSelection]="selectionMode.none"
                  [data]="group.participants">

          <igx-grid-toolbar>
            <igx-grid-toolbar-title>{{group.name}}</igx-grid-toolbar-title>
          </igx-grid-toolbar>

          <igx-column field="user" header="Отбор" width="20%">
            <div *igxCell="let value">
              <igx-avatar igxListThumbnail
                          [src]="value.avatarMedium"
                          [initials]="value.username"
                          [roundShape]="true">
              </igx-avatar>
              <a igxListLineTitle [href]="environment.bellumgens + '/players/' + (value.customURL || value.id)" target="_blank">
                {{ value.username }}
              </a>
            </div>
          </igx-column>

          <igx-column field="battleTag" header="Battle.net Battle Tag" width="20%">
          </igx-column>
          <igx-column field="companyId" header="Компания" width="20%">
          </igx-column>
          <igx-column field="matches" [dataType]="gridDataType.Number" header="Срещи" width="10%">
          </igx-column>
          <igx-column field="wins" [dataType]="gridDataType.Number" header="Победи" width="10%">
          </igx-column>
          <igx-column field="losses" [dataType]="gridDataType.Number" header="Загуби" width="10%">
          </igx-column>
          <igx-column field="playerPoints" [dataType]="gridDataType.Number" header="Точки" width="10%">
          </igx-column>

        </igx-grid>
      </div>

    </igx-card-content>
  </igx-card>
</div>
