<div class="overview-container-card">
  <igx-card type="outlined">
    <igx-card-header>
      <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/sc2-watermark.webp"></igx-avatar>
      <h1 igxCardHeaderTitle>StarCraft II Лига</h1>
    </igx-card-header>
    <igx-card-content>
      <div class="participants-container">
        <h4 style="width: 100%">Участници</h4>
        <igx-circular-bar *ngIf="loading" [indeterminate]="true"></igx-circular-bar>
        <div *ngFor="let registration of registrations" class="registration-slot">
          <igx-avatar [src]="registration.User.avatarMedium" [initials]="registration.User.username" size="medium" [roundShape]="true">
          </igx-avatar>
          <igx-badge *ngIf="registration.UserId === authUser?.id && registration.State === 0"
                     type="warning"
                     icon="priority_high"
                     title="Вашата регистрация все още не е потвърдена! За да потвърдим регистрацията трябва да платите таксата за участие!"
                     class="registration-badge-style">
          </igx-badge>

          <a [href]="environment.bellumgens + '/players/' + (registration.User.customURL || registration.UserId)" target="_blank">{{ registration.BattleTag }}</a>
        </div>
      </div>

      <igx-grid [cellSelection]="selectionMode.none"
                [data]="sc2matches"
                height="550px"
                [showToolbar]="true"
                emptyGridMessage="Няма намерени срещи..."
                [isLoading]="loading"
                [allowFiltering]="true"
                toolbarTitle="График с всички StarCraft II срещи">

        <igx-column field="StartTime" width="220px" [dataType]="gridDataType.Date" header="Начало">
          <ng-template igxCell let-value>
            {{ value | date:'MMM d, y, h:mm a' }}
          </ng-template>
        </igx-column>

        <igx-column field="MatchDetails" header="Среща" [filterable]="false">
          <div *igxCell="let cell = cell">
            <igx-avatar igxListThumbnail
                        [src]="cell.rowData.Player1.avatarMedium"
                        [initials]="cell.rowData.Player1.username"
                        [roundShape]="true">
            </igx-avatar>
            <span [class]="cell.rowData.Player1Points > cell.rowData.Player2Points ? 'highlight grid-team-name' : 'grid-team-name'">
              {{ cell.rowData.Player1.battleNetId }}
            </span>

            <span class="grid-vs-divider">vs.</span>

            <igx-avatar
                        [src]="cell.rowData.Player2.avatarMedium"
                        [initials]="cell.rowData.Player2.username"
                        [roundShape]="true">
            </igx-avatar>
            <span [class]="cell.rowData.Player2Points > cell.rowData.Player1Points ? 'highlight grid-team-name' : 'grid-team-name'">
              {{ cell.rowData.Player2.battleNetId }}
            </span>
          </div>
        </igx-column>

        <ng-template igxGridDetail let-dataItem>
          <div class="horizontal-center" *ngFor="let map of dataItem.Maps">
            <div class="score-container">
              <igx-icon *ngIf="map.WinnerId === dataItem.Player1Id">check</igx-icon>
            </div>

            <div>{{ map.Map | sc2MapName }}</div>

            <div class="score-container">
              <igx-icon *ngIf="map.WinnerId === dataItem.Player2Id">check</igx-icon>
            </div>
          </div>

          <div class="horizontal-center" *ngIf="dataItem.NoShow">
            Служебна победа.
          </div>

          <div class="horizontal-center" *ngIf="!dataItem.Maps.length && !dataItem.NoShow">
            Срещата предстои да се играе или няма записани резултати за тази среща...
          </div>
        </ng-template>

        <div *igxToolbarCustomContent>
          <a href="https://challonge.com/ebleague_starcraft" target="_blank" rel="noopener">Вижте бракетът за сезон 2 тук</a>
        </div>
      </igx-grid>

      <div class="group-columns">
        <igx-grid *ngFor="let group of groups"
                  [cellSelection]="selectionMode.none"
                  [data]="group.Participants"
                  [showToolbar]="true"
                  [toolbarTitle]="group.Name">

          <igx-column field="User" header="Отбор" width="20%">
            <div *igxCell="let value">
              <igx-avatar igxListThumbnail
                          [src]="value.avatarMedium"
                          [initials]="value.username"
                          [roundShape]="true">
              </igx-avatar>
              <a igxListLineTitle [href]="environment.bellumgens + '/players/' + (value.customURL || value.id)" target="_blank">
                {{ value.username }}
              </a>
            </div>
          </igx-column>

          <igx-column field="BattleTag" header="Battle.net Battle Tag" width="20%">
          </igx-column>
          <igx-column field="Company" header="Компания" width="20%">
          </igx-column>
          <igx-column field="Matches" [dataType]="gridDataType.Number" header="Срещи" width="10%">
          </igx-column>
          <igx-column field="Wins" [dataType]="gridDataType.Number" header="Победи" width="10%">
          </igx-column>
          <igx-column field="Losses" [dataType]="gridDataType.Number" header="Загуби" width="10%">
          </igx-column>
          <igx-column field="PlayerPoints" [dataType]="gridDataType.Number" header="Точки" width="10%">
          </igx-column>

        </igx-grid>
      </div>

    </igx-card-content>
  </igx-card>
</div>
