
<form (ngSubmit)="searchTeams()">
  <div class="form-row">
    <div>
      <label for="lineup">Teams looking for:</label>
      <igx-radio-group id="lineup" class="role-slots">
        <igx-radio *ngFor="let slot of activeLineup" [(ngModel)]="searchModel.role" name="role" [value]="slot.role">{{ slot.roleName }}</igx-radio>
      </igx-radio-group>
    </div>
  
    <igx-input-group *ngIf="authUser">
      <igx-prefix>
          <igx-icon>search</igx-icon>
      </igx-prefix>
      <label igxLabel for="overlap">Minimum overlap of...</label>
      <input #overlap type="number" name="scheduleOverlap" autocomplete="off" [(ngModel)]="searchModel.scheduleOverlap" igxInput>
      <igx-suffix *ngIf="overlap.value !== '0'">
          <igx-icon (click)="searchModel.scheduleOverlap = 0">clear</igx-icon>
      </igx-suffix>
      <igx-hint>Hours availability</igx-hint>
    </igx-input-group>
  </div>
  <button class="submit-button" igxButton="flat">Submit</button>
</form>
<div *ngIf="!authUser">
  <p><b class="highlight">NOTE: </b>Signing in gives you access to more search options!</p>
  <app-login></app-login>
</div>