
<form (ngSubmit)="searchTeams()">
  <div class="form-row">
    <div>
      <label for="lineup">Teams looking for</label>
      <igx-radio-group id="lineup" class="role-slots">
        <igx-radio *ngFor="let slot of activeLineup" [(ngModel)]="searchModel.role" name="role" [value]="slot.role">{{ slot.roleName }}</igx-radio>
      </igx-radio-group>
    </div>

    <div class="slider-holder" *ngIf="authUser">
      <label for="overlap">Minimum overlap of</label>
      <igx-slider #overlap name="scheduleOverlap" [minValue]="0" [maxValue]="60" [(ngModel)]="searchModel.scheduleOverlap">
  
      </igx-slider>
      <label>Hours availability</label>
    </div>
  </div>
  <button class="submit-button" igxButton="flat" igxRipple>Submit</button>
</form>
<div *ngIf="!authUser">
  <p><b class="highlight">NOTE: </b>Signing in gives you access to more search options!</p>
  <app-login></app-login>
</div>