<div class="overview-container-card">
  <igx-grid [cellSelection]="selectionMode.none"
            [data]="matches"
            height="550px"
            [primaryKey]="'id'"
            (onRowDeleted)="deleteMatch($event)"
            #matchGrid
            emptyGridMessage="Няма намерени срещи..."
            [isLoading]="loading"
            [allowFiltering]="true">

    <igx-grid-toolbar>
      <igx-grid-toolbar-title>Всички StarCraft II Срещи</igx-grid-toolbar-title>
      <igx-grid-toolbar-actions>
        <button igxButton="outlined" (click)="addNewMatch(); newMatchDialog.open()">
          <igx-icon>add_circle_outline</igx-icon>Добави нова среща
        </button>
      </igx-grid-toolbar-actions>
    </igx-grid-toolbar>

    <igx-column field="startTime" width="220px" [dataType]="'date'" header="Начало">
      <ng-template igxCell let-value>
        {{ value | date:'MMM d, y, h:mm a' }}
      </ng-template>
    </igx-column>

    <igx-column field="teams" header="Среща" [filterable]="false">
      <div *igxCell="let cell = cell">
        <igx-avatar igxListThumbnail
                    [src]="cell.rowData.player1.avatarMedium"
                    [initials]="cell.rowData.player1.username"
                    [roundShape]="true">
        </igx-avatar>
        <span [class]="cell.rowData.player1Points > cell.rowData.player2Points ? 'highlight grid-team-name' : 'grid-team-name'">
          {{ cell.rowData.player1.battleNetId }}
        </span>

        <span class="grid-vs-divider">vs.</span>

        <igx-avatar
                    [src]="cell.rowData.player2.avatarMedium"
                    [initials]="cell.rowData.player2.username"
                    [roundShape]="true">
        </igx-avatar>
        <span [class]="cell.rowData.player2Points > cell.rowData.player1Points ? 'highlight grid-team-name' : 'grid-team-name'">
          {{ cell.rowData.player2.battleNetId }}
        </span>
      </div>
    </igx-column>

    <igx-column field="actions" width="160px" header=" " [filterable]="false">
      <div class="match-actions" *igxCell="let cell = cell">
        <igx-icon class="navigatable" title="Добави резултати" (click)="editMatch(cell.rowData, newMatchMapDialog)">add</igx-icon>
        <igx-icon class="navigatable" (click)="editMatch(cell.rowData, newMatchDialog)">edit</igx-icon>
        <igx-icon class="navigatable" (click)="confirmMatch.open(cell.rowData)">delete_forever</igx-icon>
      </div>
    </igx-column>

    <ng-template igxGridDetail let-dataItem>
      <div class="horizontal-center" *ngFor="let map of dataItem.Maps">
        <div class="score-container">
          <igx-icon *ngIf="map.winnerId === dataItem.player1Id">check</igx-icon>
        </div>

        <div>{{ map.map | sc2MapName }}</div>

        <div class="score-container">
          <igx-icon *ngIf="map.winnerId === dataItem.player2Id">check</igx-icon>
        </div>
      </div>

      <div class="horizontal-center" *ngIf="dataItem.noShow">
        Служебна победа.
      </div>

      <div class="horizontal-center" *ngIf="!dataItem.maps.length && !dataItem.noShow">
        Срещата предстои да се играе или няма записани резултати за тази среща...
      </div>
    </ng-template>
  </igx-grid>

  <igx-card type="outlined" class="margin-top">
    <igx-card-header>
      <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/sc2-watermark.webp"></igx-avatar>
      <h1 igxCardHeaderTitle>Участници - StarCraft II Лига</h1>
      <h2 igxCardHeaderSubtitle>Драг и дроп за да влезат в някоя от групите</h2>
    </igx-card-header>
    <igx-card-content>
      <div class="horizontal-center registration-container">
        <igx-circular-bar *ngIf="loading" [indeterminate]="true"></igx-circular-bar>
        <div *ngFor="let registration of registrations | notInGroup:'tournamentSC2GroupId':pipeTrigger" class="registration-slot">
          <igx-avatar [src]="registration.user.avatarMedium"
                      [initials]="registration.user.username"
                      size="medium"
                      [roundShape]="true"
                      [igxDrag]="registration">
          </igx-avatar>
          <igx-badge *ngIf="registration.state === 0"
                     type="warning"
                     icon="priority_high"
                     title="Тази регистрация още не е потвърдена. Не е платена таксата за участие."
                     class="registration-badge-style">
          </igx-badge>

          <a [href]="environment.bellumgens + '/players/' + (registration.user.customURL || registration.userId)" target="_blank">{{ registration.battleTag }}</a>
        </div>
      </div>
      <div class="card-wrapper">
        <igx-card *ngFor="let group of groups">
          <igx-card-header>
            <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/sc2-watermark.webp"></igx-avatar>
            <h1 *ngIf="!group.inEdit" igxCardHeaderTitle>{{group.name}}</h1>
            <igx-input-group *ngIf="group.inEdit" igxCardHeaderTitle>
              <label igxLabel for="groupName">Име на групата</label>
              <input type="text" id="groupName" name="groupName" #groupName igxInput [required]="true" [(ngModel)]="group.name" />
              <igx-suffix *ngIf="groupName.value" (click)="group.name = null">
                <igx-icon>clear</igx-icon>
              </igx-suffix>
            </igx-input-group>

            <div class="action-buttons">
              <igx-icon class="navigatable action-icon-button" title="Редактирай групата" *ngIf="!group.inEdit" (click)="group.inEdit = true">edit</igx-icon>
              <igx-icon class="navigatable action-icon-button" title="Изтрий групата" *ngIf="!group.inEdit" (click)="confirmGroup.open(group.id)">delete</igx-icon>

              <igx-icon class="navigatable action-icon-button" *ngIf="group.inEdit" (click)="group.inEdit = false">cancel</igx-icon>
              <igx-icon class="navigatable action-icon-button" *ngIf="group.inEdit" (click)="submitGroup(group)">done</igx-icon>
            </div>
          </igx-card-header>

          <igx-card-content>
            <igx-list class="group-list" igxDrop (dropped)="addToGroup($event, group)">
              <igx-list-item *ngFor="let participant of group.participants">
                <igx-avatar igxListThumbnail [src]="participant.user.avatarMedium" [roundShape]="true"></igx-avatar>
                <a igxListLineTitle [href]="environment.bellumgens + '/players/' + (participant.user.customURL || participant.userId)" target="_blank">
                  {{ participant.user.username }}
                </a>
                <span igxListLineTitle>
                  {{ participant.battleTag }}
                </span>

                <igx-icon class="navigatable" title="Премахни от групата" (click)="removeFromGroup(participant, group)">delete</igx-icon>
              </igx-list-item>
            </igx-list>
          </igx-card-content>
        </igx-card>

        <igx-card class="new-group-card">
          <igx-card-header>
            <igx-avatar igxCardThumbnail [roundShape]="true" src="/assets/wallpapers/sc2-watermark.webp"></igx-avatar>
            <h1 *ngIf="!newGroup.inEdit" igxCardHeaderTitle>Нова група</h1>

            <igx-input-group *ngIf="newGroup.inEdit" igxCardHeaderTitle>
              <label igxLabel for="groupName">Име на групата</label>
              <input type="text" id="groupName" name="groupName" #groupName igxInput [required]="true" [(ngModel)]="newGroup.name" />
              <igx-suffix *ngIf="groupName.value" (click)="newGroup.name = null">
                <igx-icon>clear</igx-icon>
              </igx-suffix>
            </igx-input-group>
          </igx-card-header>

          <igx-card-content class="new-group-body">
            <igx-icon *ngIf="!newGroup.inEdit" class="navigatable" (click)="newGroup.inEdit = true">add_circle_outline</igx-icon>

            <button type="button" *ngIf="newGroup.inEdit" igxButton (click)="newGroup.inEdit = false">Cancel</button>
            <button type="button" *ngIf="newGroup.inEdit" igxButton (click)="submitGroup(newGroup)">Submit</button>
          </igx-card-content>
        </igx-card>
      </div>
    </igx-card-content>
  </igx-card>
</div>

<igx-dialog #newMatchDialog
            title="Нова среща"
            leftButtonLabel="Cancel"
            (onLeftButtonSelect)="newMatchDialog.close()"
            rightButtonLabel="Submit"
            (onRightButtonSelect)="submitMatch(); newMatchDialog.close()">
  <div class="match-details">
    <igx-date-picker [(ngModel)]="matchInEdit.startTime">
      <label igxLabel>Дата</label>
    </igx-date-picker>

    <igx-time-picker [itemsDelta]="{hours: 1, minutes: 15, seconds: 1}" [(ngModel)]="matchInEdit.startTime">
      <label igxLabel>Начало</label>
    </igx-time-picker>

    <igx-select [(ngModel)]="matchInEdit.player1Id">
      <label igxLabel>Играч 1</label>
      <igx-select-item *ngFor="let registration of registrations"
                        [value]="registration.userId"
                        [text]="registration.battleTag">
        <igx-avatar [src]="registration.user.avatarMedium" [initials]="registration.battleTag"></igx-avatar>
        {{ registration.battleTag }}
      </igx-select-item>
    </igx-select>

    vs.

    <igx-select [(ngModel)]="matchInEdit.player2Id">
      <label igxLabel>Играч 2</label>
      <igx-select-item *ngFor="let registration of registrations"
                        [value]="registration.userId"
                        [text]="registration.battleTag">
        <igx-avatar [src]="registration.user.avatarMedium" [initials]="registration.battleTag"></igx-avatar>
        {{ registration.battleTag }}
      </igx-select-item>
    </igx-select>
  </div>
</igx-dialog>

<igx-dialog #newMatchMapDialog
            title="Резултати"
            leftButtonLabel="Cancel"
            (onLeftButtonSelect)="newMatchMapDialog.close()"
            rightButtonLabel="Submit"
            (onRightButtonSelect)="submitMatchMaps(); newMatchMapDialog.close()">
  <div class="match-details">

    <div class="horizontal-center">
      <igx-input-group>
        <label igxLabel>Точки {{ matchInEdit.player1?.battleNetId }}</label>
        <input type="number" igxInput [(ngModel)]="matchInEdit.player1Points" />
      </igx-input-group>
      <span class="grid-vs-divider">:</span>
      <igx-input-group>
        <label igxLabel>Точки {{ matchInEdit.player2?.battleNetId }}</label>
        <input type="number" igxInput [(ngModel)]="matchInEdit.player2Points" />
      </igx-input-group>
    </div>

    <div *ngFor="let map of matchInEdit.maps">
      <igx-select [(ngModel)]="map.map">
        <label igxLabel>Карта</label>
        <igx-select-item *ngFor="let map of mapList" [value]="map.id">
          {{ map.map }}
        </igx-select-item>
      </igx-select>

      <igx-select [(ngModel)]="map.winnerId">
        <label igxLabel>Победител</label>
        <igx-select-item *ngFor="let registration of registrations | getPlayers:matchInEdit.player1Id:matchInEdit.player2Id"
                          [value]="registration.userId"
                          [text]="registration.battleTag">
          <igx-avatar [src]="registration.user.avatarMedium" [initials]="registration.battleTag"></igx-avatar>
          {{ registration.battleTag }}
        </igx-select-item>
      </igx-select>

      <button igxButton class="submit-button" (click)="deleteMatchMap(map, matchInEdit.maps)">
        <igx-icon>delete_forever</igx-icon>Изтрий Тази Карта
      </button>
    </div>

    <igx-checkbox *ngIf="!matchInEdit.maps || !matchInEdit.maps.length" [(ngModel)]="matchInEdit.noShow">Служебна победа</igx-checkbox>

    <button *ngIf="matchInEdit.id"
            igxButton="outlined"
            (click)="matchInEdit.maps.push({ sc2MatchId: matchInEdit.id })">
      <igx-icon>add_circle_outline</igx-icon>Добави Карта за Мача
    </button>
  </div>
</igx-dialog>

<bg-confirm #confirmGroup title="Сигурни ли сте?" (ok)="deleteGroup($event)">
  Това ще изтрие групата перманентно... Отборите ще трябва да се разпределят в нови групи.
</bg-confirm>

<bg-confirm #confirmMatch title="Сигурни ли сте?" (ok)="matchGrid.deleteRowById($event.Id)">
  Това ще изтрие срещата перманентно...
</bg-confirm>
