<div class="loading-overview">
  <h4 class="color-success" i18n>Регистрацията ви е получена успешно!</h4>
  <p i18n>Вашата регистрация ще бъде потвърдена след като преведете таксата за участие (60лв. с ДДС за лигата по StarCraft II, или 300лв. с ДДС за лигата по CS:GO).</p>
  <p i18n>Регистрацията ви ще бъде показана като потвърдена в рамките на 2 работни дни след превод на таксата за участие по нашата банкова сметка:</p>
  <ul>
    <li i18n>Име на Банката: <span class="highlight">ОББ</span></li>
    <li i18n>Титуляр: <span class="highlight">Белум Генс</span></li>
    <li i18n>Сметка: <span class="highlight">BG90UBBS80021087375040</span></li>
    <li>BIC/SWIFT: <span class="highlight">UBBSBGSF</span></li>
  </ul>
  <p i18n>Моля при превода да сложите в основанието уникалния код, който сме генерирали за вашата регистрация: <span class="highlight">{{ application?.hash }}</span>. Можете да намерите кода и през вашият профил.</p>
  <p i18n>Изпратили сме и имейл на посоченият от вас адрес (<span class="highlight">{{application?.email}}</span>) с тези детайли.</p>
  <p i18n>Ако ви е нужна фактура, моля да се свържете с нас на <a href="mailto:info@eb-league.com">info@eb-league.com</a>!</p>
</div>
