.loading-overview {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loading-user-data {
  height: 128px;
  max-height: 128px;
  width: 128px;
  max-width: 128px;
}