<div igxLayout>
  <igx-nav-drawer style="flex-shrink: 0" [pinThreshold]="1600" id="navigation" #drawer>
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Bellum Gens</span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="myteams">
          <igx-icon>people</igx-icon>
          <span>My teams</span>
          <igx-badge class="notifications-badge" *ngIf="teams?.length > 0" [value]="teams?.length.toString()" type="info"></igx-badge>
        </span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="notifications">
          <igx-icon>notifications</igx-icon>
          <igx-badge class="notifications-badge" *ngIf="unreadNotifications > 0" [value]="unreadNotifications.toString()" type="info"></igx-badge>
          <span>Notifications</span>
        </span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="user/strategies">
          <igx-icon>person</igx-icon>
          <span>My Strategies</span>
        </span>
        <igx-divider></igx-divider>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="strategies">
          <igx-icon>playlist_add_check</igx-icon>
          <span>CS:GO Strategies</span>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="partners">
          <igx-icon>people_alt</igx-icon>
          <span>Partners</span>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="aboutus">
          <igx-icon>chat</igx-icon>
          <span>Contacts</span>
        </span>
      </nav>
    </ng-template>

    <ng-template igxDrawerMini *ngIf="drawer.pin">
      <nav>
        <span igxDrawerItem [isHeader]="true">&nbsp;</span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="myteams" title="My Teams">
          <igx-icon>people</igx-icon>
          <igx-badge class="notifications-badge" *ngIf="teams?.length > 0" [value]="teams?.length.toString()" type="info"></igx-badge>
        </span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="notifications" title="Notifications">
          <igx-icon>notifications</igx-icon>
          <igx-badge class="notifications-badge" *ngIf="unreadNotifications > 0" [value]="unreadNotifications.toString()" type="info"></igx-badge>
        </span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="user/strategies" title="My strategies">
          <igx-icon>person</igx-icon>
        </span>
        <igx-divider></igx-divider>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="strategies" title="CS:GO Strategies">
          <igx-icon>playlist_add_check</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="partners" title="Partners">
          <igx-icon>people_alt</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="aboutus" title="About us">
          <igx-icon>chat</igx-icon>
        </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <div igxFlex igxLayout igxLayoutDir="columns" class="top-level-container">
    <igx-navbar class="bellum-gens-navbar" title="Bellum Gens">
      <igx-navbar-action>
        <igx-icon class="drawer-action" (click)="drawer.toggle()">menu</igx-icon>
        <igx-avatar class="navigatable" [src]="'/assets/bg-avatar.webp'" title="Bellum Gens" [roundShape]="true" routerLink="/"></igx-avatar>
      </igx-navbar-action>
      <igx-input-group type="search" class="search-group" #searchGroup>
        <igx-prefix>
          <igx-icon>search</igx-icon>
        </igx-prefix>
        <label igxLabel for="searchInput">Search</label>
        <input id="searchInput" #searchInput igxInput (focus)="advancedSearch.open()" class="search-input" />
        <igx-suffix *ngIf="searchInput.value.length > 0" (click)="searchInput.value = ''">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <bg-login [authUser]="authUser"></bg-login>
    </igx-navbar>

    <igx-banner #cookiesBanner>
      <igx-icon>settings</igx-icon>
      This site uses cookies.
      <igx-banner-actions>
        <a href="https://www.cookiesandyou.com/" target="_blank" rel="noopener">Cookies and You</a>
        <button igxButton igxRipple (click)="acceptCookies()">I Understand</button>
      </igx-banner-actions>
    </igx-banner>

    <igx-banner #advancedSearch>
      Advanced search for:
      <app-search></app-search>
      <igx-banner-actions>
        <button igxButton="flat" igxRipple (click)="advancedSearch.close()">Hide</button>
      </igx-banner-actions>
    </igx-banner>

    <igx-drop-down #quickSearch>
      <app-quick-search></app-quick-search>
    </igx-drop-down>

    <bg-success-error></bg-success-error>

    <div class="main-content-wrapper">
      <div class="content">
        <router-outlet></router-outlet>

        <footer class="footer">
          <igx-divider></igx-divider>
          <div class="footer-row">
            <p>Copyright © Bellum Gens, 2019-2021</p>

            <igx-divider style="margin: 0 12px; height: 32px;" [vertical]="true"></igx-divider>

            <a href="mailto:info@eb-league.com" title="Email us">
              <igx-icon>email</igx-icon>
            </a>
            <a href="https://www.facebook.com/bellumgens/" title="Follow us on Facebook" target="_blank" rel="noopener">
              <igx-icon fontSet="login-icons" name="facebook"></igx-icon>
            </a>
            <a href="https://twitter.com/BellumGens" title="Follow us on Twitter" target="_blank" rel="noopener">
              <igx-icon fontSet="login-icons" name="twitter"></igx-icon>
            </a>
            <a href="https://www.linkedin.com/company/bellum-gens/" title="Follow us on Linked-in" target="_blank" rel="noopener">
              <igx-icon fontSet="login-icons" name="linkedin"></igx-icon>
            </a>
            <a href="https://discord.gg/bnTcpa9" title="Join our Discord server" target="_blank" rel="noopener">
              <igx-icon fontSet="login-icons" name="discord"></igx-icon>
            </a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>


