
:host > div {
  height: 100%;
}

.top-level-container {
  min-width: 380px;
}

.main-content-wrapper {
  height: 100%;
  min-width: 380px;
  display: flex;
}

.action-button-container {
  position: relative;
  display: flex;
  align-items: center;
}

.notifications-badge {
  position: absolute;
  top: 0;
  left: 22px;
}

.search-group {
  width: 256px;
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 24px 36px 0 36px;
}

.footer-row {
  display: flex;
  align-self: center;
  align-items: center;
}

.footer-row > p {
  margin: 8px 4px;
  font-size: 0.65rem;
}

.footer-row > a {
  height: 24px;
}

.social-media-icon {
  margin-left: 4px;
}

@media only screen and (max-width: 720px) {
  .search-group {
    width: auto;
  }

  .footer {
    padding: 24px 12px 0 12px;
  }
}
