<div class="overview-container-card">
  <div class="team-details-header">
    <igx-avatar [initials]="team.TeamName" [src]="team.TeamAvatar" roundShape="true" [size]="'large'">
    </igx-avatar>
    <div class="horizontal-info__left">
      <h1 class="igx-card-header__title">{{ team.TeamName }}</h1>
      <h3 class="igx-card-header__subtitle">{{ team.Description }}</h3>
    </div>
    <div *ngIf="!userIsMember && team.TeamId" class="horizontal-info__right">
      <app-team-application [authUser]="authUser"></app-team-application>
    </div>
    <div *ngIf="userIsMember && team.Discord" class="horizontal-info__right">
      <a [href]="team.Discord" target="_blank" rel="noopener"><igx-icon class="discord-icon" fontSet="weapon-icons" name="discord"></igx-icon></a>
    </div>
  </div>
  <igx-tabs>
    <igx-tabs-group>
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>people_outline</igx-icon>
          <div class="igx-tabs__item-label">Team Details</div>
        </div> 
      </ng-template>

      <app-team-details [team]="team" [userId]="authUser?.SteamUser?.steamID64" [isAdmin]="userIsAdmin"></app-team-details>
    </igx-tabs-group>

    <igx-tabs-group *ngIf="userIsMember">
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>playlist_add_check</igx-icon>
          <div class="igx-tabs__item-label">Team Strats</div>
        </div> 
      </ng-template>

      <app-team-strategies [isAdmin]="userIsAdmin" [isEditor]="userIsEditor"></app-team-strategies>
    </igx-tabs-group>

    <!-- <igx-tabs-group [disabled]="true">
        <ng-template igxTab>
          <div class="horizontal-center">
            <igx-icon>date_range</igx-icon>
            <div class="igx-tabs__item-label">Team Calendar (Coming Soon)</div>
          </div> 
        </ng-template>
    </igx-tabs-group> -->

    <igx-tabs-group *ngIf="userIsAdmin">
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>settings</igx-icon>
          <div class="igx-tabs__item-label">Preferences</div>
        </div> 
      </ng-template>
      
      <app-team-preferences [team]="team" [adminId]="authUser?.SteamUser?.steamID64"></app-team-preferences>
    </igx-tabs-group>
  </igx-tabs>
</div>