<div class="overview-container-card">
  <div class="team-details-header">
    <igx-avatar [initials]="team.TeamName" [src]="team.TeamAvatar" roundShape="true" [size]="'large'">
    </igx-avatar>
    <div class="horizontal-info__left">
      <h1 class="igx-card-header__title">{{ team.TeamName }}</h1>
    </div>
    <div class="horizontal-info__right">
      {{ team.Description }}
    </div>
    <div *ngIf="!userIsMember && team.TeamId" class="horizontal-info__right">
      <app-team-application></app-team-application>
    </div>
  </div>
  <igx-tabs>
    <igx-tabs-group>
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>people_outline</igx-icon>
          <div class="igx-tabs__item-label">Team Details</div>
        </div> 
      </ng-template>

      <app-team-details [team]="team" [authUser]="authUser"></app-team-details>
    </igx-tabs-group>

    <igx-tabs-group *ngIf="userIsMember">
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>playlist_add_check</igx-icon>
          <div class="igx-tabs__item-label">Team Strats</div>
        </div> 
      </ng-template>

      <app-team-strategies [isAdmin]="userIsAdmin"></app-team-strategies>
    </igx-tabs-group>

    <igx-tabs-group [disabled]="true">
        <ng-template igxTab>
          <div class="horizontal-center">
            <igx-icon>date_range</igx-icon>
            <div class="igx-tabs__item-label">Team Calendar (Coming Soon)</div>
          </div> 
        </ng-template>
      <app-team-calendar [practiceSchedule]="team.PracticeSchedule" [isAdmin]="userIsAdmin"></app-team-calendar>
    </igx-tabs-group>

    <igx-tabs-group *ngIf="userIsAdmin">
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>settings</igx-icon>
          <div class="igx-tabs__item-label">Settings</div>
        </div> 
      </ng-template>
      
      <app-team-notifications [team]="team"></app-team-notifications>
    </igx-tabs-group>
    <!-- <igx-tabs-group label="Team Calendar">
      <app-team-calendar [practiceSchedule]="team.PracticeSchedule" [isAdmin]="userIsAdmin"></app-team-calendar>
    </igx-tabs-group>
    <igx-tabs-group *ngIf="userIsMember" label="Notifications" icon="notifications">
        <ng-template igxTab>
          <div class="horizontal-center">
            <igx-icon fontSet="material">notifications</igx-icon>
            <div class="igx-tabs__item-label">Notifications</div>
            <igx-badge [value]="notifications | unreadNotifications" type="info"></igx-badge>
          </div> 
        </ng-template>
      <app-team-notifications></app-team-notifications>
    </igx-tabs-group> -->
  </igx-tabs>
</div>