<div class="horizontal-center">
  <form class="team-info-form" #teamInfo="ngForm" (ngSubmit)="updateTeamInfo()">
    <h4 class="igx-card-header__subtitle">Team Info</h4>
    <igx-input-group class="team-info-input">
      <label for="teamName" igxLabel>Name</label>
      <input #teamName igxInput id="teamName" name="teamName" minlength="2" required [(ngModel)]="team.TeamName" />
      <igx-suffix *ngIf="teamName.value.length > 0" (click)="teamName.value = null">
          <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <igx-input-group class="team-info-input">
      <label for="teamAvatar" igxLabel>Avatar</label>
      <input #teamAvatar igxInput id="teamAvatar" name="teamAvatar" [(ngModel)]="team.TeamAvatar" />
      <igx-suffix *ngIf="teamAvatar.value.length > 0" (click)="teamAvatar.value = null">
          <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <igx-input-group class="team-info-input">
      <label for="teamDescription" igxLabel>Description</label>
      <textarea #teamDescription igxInput id="teamDescription" name="teamDescription" minlength="2" required [(ngModel)]="team.Description"></textarea>
      <igx-suffix *ngIf="teamDescription.value.length > 0" (click)="teamDescription.value = null">
          <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <button igxButton="raised" igxRipple class="submit-button team-info-input" [disabled]="teamInfo.invalid">Update Team Info</button>
  </form>
</div>