@use '@infragistics/igniteui-angular/theming' as igx;
@forward '@infragistics/igniteui-angular/theming';

$primary: #4dd7f7;
$secondary: #bccf00;
$gray: #fff;
$background: #001845;
$banner-background: #2C3D93;
$background-gradient: linear-gradient(to right, $background, #001845);
$background-gradient-lighter: linear-gradient(135deg, #2f3978 0%, #10193f 100%);

$app-palette: igx.palette(
  $primary: $primary,
  $secondary: $secondary,
  $surface: $background,
  $gray: $gray
);

$my-type-scale: igx.extend(
  igx.$material-type-scale,
  (
    h1: igx.type-style(
      $font-family: "Anton, Oswald, sans-serif",
      $font-size: 96px,
      $font-weight: normal,
      $line-height: 96px,
      $text-transform: uppercase
    ),
    h2: igx.type-style(
      $font-family: "Rajdhani, Fira Sans Condensed, sans-serif",
      $font-size: 36pt,
      $font-weight: bold,
      $text-transform: uppercase
    ),
    h3: igx.type-style(
      $font-family: "Rajdhani, Fira Sans Condensed, sans-serif",
      $font-size: 24pt,
      $font-weight: bold
    ),
    h6: igx.type-style(
      $font-family: "Rajdhani, Fira Sans Condensed, sans-serif",
      $font-size: 16pt,
      $font-weight: bold
    ),
    body-1: igx.type-style(
      $font-family: "Rajdhani, Fira Sans Condensed, sans-serif",
      $font-size: 14pt,
      $font-weight: normal,
      $margin-top: 1.75rem,
      $margin-bottom: 1rem
    ),
    body-2: igx.type-style(
      $font-family: "Rajdhani, Fira Sans Condensed, sans-serif",
      $font-size: 14pt,
      $font-weight: normal,
      $margin-top: 1.75rem,
      $margin-bottom: 1rem
    ),
    subtitle-1: igx.type-style(
      $font-family: "Rajdhani, Fira Sans Condensed, sans-serif",
      $font-size: 14pt
    ),
    subtitle-2: igx.type-style(
      $font-family: "Rajdhani, Fira Sans Condensed, sans-serif",
      $font-size: 14pt
    ),
    button: igx.type-style(
      $font-family: "Anton, Oswald, sans-serif",
      $font-size: 18px,
      $font-weight: normal,
      $text-transform: uppercase
    )
  )
);
