@use '@infragistics/igniteui-angular/theming' as igx;
@forward '@infragistics/igniteui-angular/theming';

$primary: white;
$secondary: #FF0A3A;
$gray: white;
$background: #192053;
$banner-background: #2C3D93;
$background-gradient: linear-gradient(to right, $background, #04081D);
$background-gradient-lighter: linear-gradient(135deg, #2f3978 0%, #10193f 100%);

$app-palette: igx.palette(
  $primary: $primary,
  $secondary: $secondary,
  $surface: $background,
  $gray: $gray,
  $info: igx.color(igx.$dark-material-palette, 'info'),
  $success: igx.color(igx.$dark-material-palette, 'success'),
  $error: igx.color(igx.$dark-material-palette, 'error'),
  $warn: igx.color(igx.$dark-material-palette, 'warn')
);
@include igx.palette($app-palette);
