<div igxLayout>
  <igx-nav-drawer id="navigation" #drawer>
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Esports Business League</span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/csgo">
          <igx-icon>people</igx-icon>
          Лига по CS:GO
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/sc2">
          <igx-icon>people</igx-icon>
          Лига по StarCraft II
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/format">
          <igx-icon>playlist_add_check</igx-icon>
          Формат на лигата
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/crew">
          <igx-icon>people</igx-icon>
          Нашият екип
        </span>
        <span igxDrawerItem igxRipple (click)="navigateToBG()">
          <igx-avatar [src]="'/assets/bg-avatar.webp'"
                [roundShape]="true"
                title="Управление на отбори и стратегии">
          </igx-avatar>
          https://bellumgens.com
        </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <div igxFlex igxLayout igxLayoutDir="columns" class="top-level-container">
    <igx-navbar class="bellum-gens-navbar">
      <igx-action-icon>
        <igx-icon class="drawer-action" (click)="drawer.toggle()">menu</igx-icon>
        <img [src]="'/assets/eb-league-logo-blue.webp'" class="navigatable" alt="Esports Business League" routerLink="/" />
      </igx-action-icon>

      <bg-login [authUser]="authUser"></bg-login>
    </igx-navbar>

    <igx-banner #cookiesBanner>
      <igx-icon>settings</igx-icon>
      This site uses cookies.
      <igx-banner-actions>
        <a href="https://www.cookiesandyou.com/" target="_blank" rel="noopener">More Information</a>
        <button igxButton igxRipple (click)="acceptCookies()">I Understand</button>
      </igx-banner-actions>
    </igx-banner>

    <app-success-error></app-success-error>

    <div class="main-content-wrapper">
      <div class="content">
        <router-outlet></router-outlet>

        <footer class="footer">
          <igx-divider></igx-divider>
          <div class="footer-row">
            <p>
              We would also appreciate if you follow us on social media.
            </p>
            <a href="https://twitter.com/EsportBLeague" target="_blank" rel="noopener" title="Twitter">
              <igx-icon fontSet="login-icons" name="Twitter"></igx-icon>
            </a>
            <a href="https://www.facebook.com/esportsbleague" target="_blank" rel="noopener" class="social-media-icon" title="Facebook">
              <igx-icon fontSet="login-icons" name="Facebook"></igx-icon>
            </a>
            <p>Copyright © Bellum Gens, 2019-2020</p>
          </div>
        </footer>
      </div>
      <!-- <div class="discord-container">
        <iframe src="https://discordapp.com/widget?id=314362408783052800&theme=dark" width="350" allowtransparency="true" frameborder="0"></iframe>
      </div> -->
    </div>
  </div>
</div>
