<div igxLayout>
  <igx-nav-drawer style="flex-shrink: 0" [pinThreshold]="1600" id="navigation" #drawer>
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Esports Business League</span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/csgo/">
          <igx-avatar [src]="'/assets/wallpapers/csgo-watermark.webp'"
                [roundShape]="true">
          </igx-avatar>
          Лига по CS:GO
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/sc2/">
          <igx-avatar [src]="'/assets/wallpapers/sc2.webp'"
                [roundShape]="true">
          </igx-avatar>
          Лига по StarCraft II
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="finals">
          <igx-icon>emoji_events</igx-icon>
          Финали
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="shop">
          <igx-icon>shopping_cart</igx-icon>
          Магазин
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/format">
          <igx-icon>playlist_add_check</igx-icon>
          Формат на лигата
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="partners">
          <igx-icon>people_alt</igx-icon>
          Нашите партньори
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/crew">
          <igx-icon>people</igx-icon>
          Нашият екип
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="aboutus">
          <igx-icon>chat</igx-icon>
          Контакти
        </span>
        <a igxDrawerItem igxRipple [href]="environment.bellumgens" target="_blank">
          <igx-avatar [src]="'/assets/bg-avatar.webp'"
                [roundShape]="true"
                title="Управление на отбори и стратегии">
          </igx-avatar>
          Bellum Gens
        </a>
      </nav>
    </ng-template>

    <ng-template igxDrawerMini *ngIf="drawer.pin">
      <nav>
        <span igxDrawerItem [isHeader]="true">&nbsp;</span>
        <span igxDrawerItem
              igxRipple
              routerLinkActive="igx-nav-drawer__item--active"
              routerLink="tournament/csgo/"
              title="Лига по CS:GO">
          <igx-avatar [src]="'/assets/wallpapers/csgo-watermark.webp'"
                [roundShape]="true">
          </igx-avatar>
        </span>
        <span igxDrawerItem
              igxRipple
              routerLinkActive="igx-nav-drawer__item--active"
              routerLink="tournament/sc2/"
              title="Лига по StarCraft II">
          <igx-avatar [src]="'/assets/wallpapers/sc2.webp'"
                [roundShape]="true">
          </igx-avatar>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="finals" title="Финали">
          <igx-icon>emoji_events</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="shop" title="Магазин">
          <igx-icon>shopping_cart</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/format" title="Формат на лигата">
          <igx-icon >playlist_add_check</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="partners" title="Нашите партньори">
          <igx-icon>people_alt</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="tournament/crew" title="Нашият екип">
          <igx-icon>people</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="aboutus" title="Контакти">
          <igx-icon>chat</igx-icon>
        </span>
        <a igxDrawerItem igxRipple [href]="environment.bellumgens" target="_blank" title="Bellum Gens: Управление на отбори и стратегии">
          <igx-avatar [src]="'/assets/bg-avatar.webp'"
                [roundShape]="true">
          </igx-avatar>
        </a>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <div igxFlex igxLayout igxLayoutDir="columns" class="top-level-container">
    <igx-navbar class="bellum-gens-navbar">
      <igx-action-icon>
        <igx-icon class="drawer-action" (click)="drawer.toggle()">menu</igx-icon>
        <img [src]="'/assets/eb-league-logo-blue.webp'" class="navigatable" alt="Esports Business League" routerLink="/" />
      </igx-action-icon>

      <bg-login [authUser]="authUser"></bg-login>
    </igx-navbar>

    <igx-banner #cookiesBanner>
      <igx-icon>settings</igx-icon>
      This site uses cookies.
      <igx-banner-actions>
        <a href="https://www.cookiesandyou.com/" target="_blank" rel="noopener">More Information</a>
        <button igxButton igxRipple (click)="acceptCookies()">I Understand</button>
      </igx-banner-actions>
    </igx-banner>

    <bg-success-error></bg-success-error>

    <div class="main-content-wrapper">
      <div class="content">
        <router-outlet></router-outlet>

        <footer class="footer">
          <igx-divider></igx-divider>
          <div class="footer-row">
            <p>Copyright © Bellum Gens, 2019-2020</p>
            <a href="mailto:info@eb-league.com" title="Имейл" style="color: white">
              <igx-icon>email</igx-icon>
            </a>
            <a href="https://www.facebook.com/esportsbleague/" title="Facebook" target="_blank" rel="nofollow">
              <igx-icon fontSet="login-icons" name="Facebook"></igx-icon>
            </a>
            <a href="https://twitter.com/EsportBLeague" title="Twitter" target="_blank" rel="nofollow">
              <igx-icon fontSet="login-icons" name="Twitter"></igx-icon>
            </a>
            <a href="https://discord.gg/bnTcpa9" title="Discord" target="_blank" rel="nofollow">
              <igx-icon class="discord-icon" fontSet="login-icons" name="Discord"></igx-icon>
            </a>
          </div>
        </footer>
      </div>
      <!-- <div class="discord-container">
        <iframe src="https://discordapp.com/widget?id=314362408783052800&theme=dark" width="350" allowtransparency="true" frameborder="0"></iframe>
      </div> -->
    </div>
  </div>
</div>
