<div class="login-buttons">
  <button *ngFor="let provider of loginProviders"
          igxButton="raised"
          class="login-button navigatable"
          [igxButtonBackground]="loginColors[provider.Name]"
          igxButtonColor="#fff"
          (click)="login(provider)">
    <igx-icon fontSet="login-icons" [name]="provider.Name.toLowerCase()"></igx-icon>
    <igx-divider [vertical]="true" [inset]="'0 0 0 8px'" [ngClass]="'login-divider'"></igx-divider>
    <span class="submit-button">{{ provider.Name }}</span>
  </button>
</div>
