igx-snackbar {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
  z-index: 10000;
}

.snackbar-msg {
  display: flex;
}

.msg-container {
  margin-left: 8px;
  padding-top: 2px;
}