igx-snackbar {
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
  z-index: 10000;
}

.color-success {
  color: var(--igx-linear-bar-fill-color-success);
}

.color-error {
  color: var(--igx-linear-bar-fill-color-danger);
}
