igx-snackbar {
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
  z-index: 10000;
}

.color-success {
  color: var(--igx-input-group-success-secondary-color);
}

.color-error {
  color: var(--igx-input-group-error-secondary-color);
}
