:host {
  .strat-editor-host {
    display: flex;
    justify-content: space-evenly;
    height: calc(100% - 45px);
    padding-top: 16px;
  }

  .drawing-board {
    border: 1px solid #939393;
  }

  .editor-elements {
    display: flex;
    flex-flow: column;
    color: white;
    max-width: 240px;
    padding: 0 4px;
  }

  .editor-elements.list-container {
    overflow-y: auto;
  }

  .map-choice {
    margin: 0px 8px 8px 0px;
  }

  .layer-list {
    overflow: visible;
  }

  .layer-info {
    --igx-list-item-background-hover: none;
  }

  .layer-selected {
    margin-top: 16px;
    margin-right: 8px;
  }

  .editor-element-icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
    margin: 4px;
  }

  .editor-freeflow-element {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 4px;
  }

  .selected-element {
    outline: 2px solid var(--ig-secondary-500);
  }

  .editor-elements-section {
    margin-bottom: 32px;
  }

  .editor-credits {
    font-size: 0.75rem;
    margin-top: auto;
  }

  .hidden-layer {
    opacity: 0.6;
  }
}
