<div igxLayout>
  <igx-nav-drawer [pinThreshold]="1600" id="navigation" #drawer>
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Bellum Gens</span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="team/myteams">
          <igx-icon>people</igx-icon>
          <span i18n>My Teams</span>
          <igx-badge class="notifications-badge" *ngIf="teams?.length > 0" [value]="teams.length" type="info"></igx-badge>
        </span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="notifications">
          <igx-icon>notifications</igx-icon>
          <span i18n>Notifications</span>
          <igx-badge class="notifications-badge" *ngIf="unreadNotifications > 0" [value]="unreadNotifications" type="info"></igx-badge>
        </span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="strategies/user">
          <igx-icon>person</igx-icon>
          <span i18n>My Strategies</span>
        </span>
        <igx-divider *ngIf="authUser"></igx-divider>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="strategies/public">
          <igx-icon>playlist_add_check</igx-icon>
          <span i18n>CS:GO Strategies</span>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="partners">
          <igx-icon>people_alt</igx-icon>
          <span i18n>Partners</span>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="aboutus">
          <igx-icon>chat</igx-icon>
          <span i18n>Contacts</span>
        </span>
      </nav>
    </ng-template>

    <ng-template igxDrawerMini *ngIf="drawer.pin">
      <nav>
        <span igxDrawerItem [isHeader]="true">&nbsp;</span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="team/myteams" i18n-title title="My Teams">
          <igx-icon>people</igx-icon>
          <igx-badge class="notifications-badge" *ngIf="teams?.length > 0" [value]="teams.length" type="info"></igx-badge>
        </span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="notifications" i18n-title title="Notifications">
          <igx-icon>notifications</igx-icon>
          <igx-badge class="notifications-badge" *ngIf="unreadNotifications > 0" [value]="unreadNotifications" type="info"></igx-badge>
        </span>
        <span igxDrawerItem igxRipple *ngIf="authUser" routerLinkActive="igx-nav-drawer__item--active" routerLink="strategies/user" i18n-title title="My Strategies">
          <igx-icon>person</igx-icon>
        </span>
        <igx-divider *ngIf="authUser"></igx-divider>
        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="strategies/public" i18n-title title="CS:GO Strategies">
          <igx-icon>playlist_add_check</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="partners" i18n-title title="Partners">
          <igx-icon>people_alt</igx-icon>
        </span>
        <span igxDrawerItem igxRipple routerLink="/" fragment="aboutus" i18n-title title="About us">
          <igx-icon>chat</igx-icon>
        </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <div igxFlex igxLayout igxLayoutDir="columns" class="top-level-container">
    <igx-navbar class="bellum-gens-navbar" [title]="title">
      <igx-navbar-action>
        <igx-icon class="drawer-action navigatable" (click)="drawer.toggle()">menu</igx-icon>
        <igx-avatar class="navigatable" [src]="'/assets/bg-avatar.webp'" title="Bellum Gens" shape="circle" routerLink="/"></igx-avatar>
      </igx-navbar-action>
      <igx-input-group type="search" class="search-group" #searchGroup>
        <igx-prefix>
          <igx-icon>search</igx-icon>
        </igx-prefix>
        <label igxLabel for="searchInput" i18n>Search</label>
        <input id="searchInput" #searchInput igxInput (focus)="advancedSearch.open()" class="search-input" />
        <igx-suffix *ngIf="searchInput.value.length > 0" (click)="searchInput.value = ''">
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>

      <bg-languages></bg-languages>
      <bg-login></bg-login>
    </igx-navbar>

    <igx-banner #cookiesBanner>
      <igx-icon>settings</igx-icon>
      <span i18n>This site uses cookies.</span>
      <igx-banner-actions>
        <a href="https://www.cookiesandyou.com/" target="_blank" rel="noopener" i18n>Cookies and You</a>
        <button igxButton igxRipple (click)="acceptCookies()" i18n>I Understand</button>
      </igx-banner-actions>
    </igx-banner>

    <igx-banner #advancedSearch>
      <span i18n>Advanced search for:</span>
      <app-search></app-search>
      <igx-banner-actions>
        <button igxButton="flat" igxRipple (click)="advancedSearch.close()" i18n>Hide</button>
      </igx-banner-actions>
    </igx-banner>

    <igx-drop-down #quickSearch>
      <app-quick-search></app-quick-search>
    </igx-drop-down>

    <bg-success-error></bg-success-error>

    <div class="main-content-wrapper">
      <div class="content">
        <router-outlet></router-outlet>

        <footer class="footer">
          <igx-divider></igx-divider>
          <div class="footer-row">
            <p>Copyright © Bellum Gens, 2019-{{year}}</p>

            <igx-divider style="margin: 0 12px; height: 32px;" [vertical]="true"></igx-divider>

            <a href="mailto:info@bellumgens.com" i18n-title title="Email us">
              <igx-icon>email</igx-icon>
            </a>
            <a href="https://www.facebook.com/bellumgens/" i18n-title title="Like us on Facebook" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="facebook"></igx-icon>
            </a>
            <a href="https://twitter.com/BellumGens" i18n-title title="Follow us on Twitter" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="twitter"></igx-icon>
            </a>
            <a href="https://www.linkedin.com/company/bellum-gens/" i18n-title title="Follow us on Linked-in" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="linkedin"></igx-icon>
            </a>
            <a href="https://discord.gg/bnTcpa9" i18n-title title="Join our Discord server" target="_blank" rel="noopener">
              <igx-icon family="login-icons" name="discord"></igx-icon>
            </a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>


