:host ::ng-deep {
  > div {
    min-height: 100%;
  }

  .notifications-badge {
    position: absolute;
    top: 0;
    left: 22px;
  }

  .search-group {
    width: 256px;
  }

  .logo {
    width: 120px;
    height: 44px;
  }

  .igx-nav-drawer {
    --igx-nav-drawer-size: 320px;
  }

  @media only screen and (max-width: 720px) {
    .search-group {
      width: auto;
    }

    .igx-navbar, .igx-navbar__right {
      gap: 0;
    }
  }
}

