:host {
  // iframe {
  //   border-radius: 20px;
  // }

  // .slide {
  //   height: 450px;
  //   border-radius: 24px;
  // }

  // .slide.slide1 {
  //   background-image: url('/assets/wallpapers/csgo-bg2.webp');
  // }

  // .slide.slide2 {
  //   background-image: url('/assets/wallpapers/sc2-bg2.webp');
  // }

  // .slide {
  //   min-height: 450px;
  // }

  // .slide h1 {
  //   margin-bottom: 1rem;
  //   line-height: 5rem;
  // }

  .slide1 {
    background-image: url('/assets/wallpapers/jumbotron-1920x600.webp');
    background-position: center;
  }

  .home-page-slide-columns {
    display: grid;
    height: auto;
    grid-template-columns: 50%;
    grid-column-gap: 48px;
    grid-row-gap: 16px;
    padding: 24px 72px 48px 72px;
  }

  .slide-info-column {
    max-width: 1000px;
    min-width: 348px;
    padding: 52px;
    margin: auto;
  }

  .slide-info-column h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    line-height: 5rem;
  }

  .slide-info-column p {
    font-size: 1rem;
  }

  .intro-column h1 {
    font-weight: 700;
    letter-spacing: 0px;
    max-width: 965px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .intro-column p {
    margin-top: 0;
  }

  .info-button {
    margin-left: 24px;
    margin-top: 0;
  }

  // .platinum {
  //   width: 380px;
  //   height: 200px;
  // }

  // .gold {
  //   width: 220px;
  //   height: 150px;
  // }

  .logistics {
    max-width: 150px;
  }

  .first-place {
    max-width: 130px;
  }

  .second-place {
    max-width: 110px;
  }

  .third-forth-place {
    max-width: 100px;
  }

  .winner-wrapper {
    display: flex;
    flex-flow: column;
    margin: 24px;
    min-height: 96px;
    justify-content: center;
    align-items: center;
  }

  // igx-linear-bar {
  //   margin-top: 18px;
  //   margin-bottom: 24px;
  // }

  @media only screen and (max-width: 2206px) {
    .home-page-slide-columns {
      grid-template-columns: 60%;
    }
  }

  @media only screen and (max-width: 1840px) {
    .home-page-slide-columns {
      grid-template-columns: 70%;
    }
  }

  @media only screen and (max-width: 1540px) {
    .intro-column h1 {
      font-size: 4.5rem;
      font-weight: 900;
      line-height: 5.5rem;
      max-width: 725px;
    }
  }

  @media only screen and (max-width: 1084px) {
    .home-page-slide-columns {
      grid-template-columns: 80%;
    }
  }

  @media only screen and (max-width: 970px) {
    .home-page-slide-columns {
      grid-template-columns: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .home-page-slide-columns {
      padding: 16px 16px 12px 16px;
    }
  }

  @media only screen and (max-width: 550px) {
    // .platinum {
    //   width: 348px;
    //   height: 150px;
    // }

    .intro-column h1 {
      font-size: 3.2rem;
      line-height: 4rem;
    }

    .intro-column p {
      line-height: 1.5rem;
    }

    .content-container-row h2 {
      font-size: 2.6rem;
      line-height: 3rem;
    }

    .content-container-column h3 {
      font-size: 2.2rem;
      line-height: 2.5rem;
    }

    .content-container-column h4 {
      font-size: 2rem;
      line-height: 2.2rem;
    }

    .content-container-row p {
      margin: 0;
    }

    .slide1 {
      background-position: center;
      background-position-x: -1200px;
    }

    .info-button {
      margin-left: 0;
      margin-top: 12px;
    }
  }
}
