.preferences-container {
  padding: 32px 16px;
}

  .preferences-container button:not(:first-child) {
    margin-top: 16px;
  }

.align-bottom {
  margin-top: auto;
}

.space-out {
  margin-top: 16px;
}