<div class="overview-container-card">
  <div class="team-details-header">
    <igx-avatar [initials]="team?.TeamName" [src]="team?.TeamAvatar" roundShape="true" [size]="'large'">
    </igx-avatar>
    <div class="horizontal-info__left">
      <h1 class="igx-card-header__title">{{ team?.TeamName }}</h1>
      <h3 class="igx-card-header__subtitle">{{ team?.Description }}</h3>
    </div>
    <div *ngIf="!userIsMember && team?.TeamId" class="horizontal-info__right">
      <app-team-application [authUser]="authUser" [team]="team"></app-team-application>
    </div>
    <div *ngIf="userIsMember && team?.Discord" class="horizontal-info__right">
      <a [href]="team.Discord" target="_blank" rel="noopener">
        <igx-icon class="discord-icon" fontSet="login-icons" name="discord-full-logo"></igx-icon>
      </a>
    </div>
  </div>
  <igx-tabs>
    <igx-tab-item routerLink="details"
                  routerLinkActive #rla1="routerLinkActive"
                  [isSelected]="rla1.isActive">
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>people_outline</igx-icon>
          <div class="igx-tabs__item-label">Details</div>
        </div>
      </ng-template>
    </igx-tab-item>

    <igx-tab-item routerLink="competitions"
                  routerLinkActive #rla2="routerLinkActive"
                  [isSelected]="rla2.isActive">
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>sports_esports</igx-icon>
          <div class="igx-tabs__item-label">Competitions</div>
        </div>
      </ng-template>
    </igx-tab-item>

    <igx-tab-item *ngIf="userIsMember"
                  routerLink="strategies"
                  routerLinkActive #rla2="routerLinkActive"
                  [isSelected]="rla2.isActive">
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>playlist_add_check</igx-icon>
          <div class="igx-tabs__item-label">Strategies</div>
        </div>
      </ng-template>
    </igx-tab-item>

    <igx-tab-item *ngIf="userIsAdmin"
                  routerLink="preferences"
                  routerLinkActive #rla3="routerLinkActive"
                  [isSelected]="rla3.isActive">
      <ng-template igxTab>
        <div class="horizontal-center">
          <igx-icon>settings</igx-icon>
          <div class="igx-tabs__item-label">Preferences</div>
        </div>
      </ng-template>
    </igx-tab-item>
  </igx-tabs>
  <router-outlet></router-outlet>
</div>
