<div class="card-wrapper">
  <igx-card *ngFor="let member of crewMembers">
    <igx-card-header>
      <h1 igxCardHeaderTitle>{{ member.name }}</h1>
      <h2 igxCardHeaderSubtitle>{{ member.position }}</h2>
      <h3 igxCardHeaderSubtitle i18n>Родно място: {{ member.birthplace }}</h3>
    </igx-card-header>
    <igx-card-media>
      <img [src]="member.image" [alt]="member.name" />
    </igx-card-media>
    <igx-card-actions [reverse]="true">
      <a igxButton *ngIf="member.facebook" [href]="member.facebook" target="_blank" rel="noopener">
        <igx-icon fontSet="login-icons" name="facebook"></igx-icon>
        <span>Facebook</span>
      </a>
      <a igxButton *ngIf="member.instagram" [href]="member.instagram" target="_blank" rel="noopener">
        <igx-icon fontSet="login-icons" name="instagram"></igx-icon>
        <span>Instagram</span>
      </a>
      <a igxButton *ngIf="member.twitter" [href]="member.twitter" target="_blank" rel="noopener">
        <igx-icon fontSet="login-icons" name="twitter"></igx-icon>
        <span>Twitter</span>
      </a>
    </igx-card-actions>
  </igx-card>
</div>
