<button *ngIf="authUser" class="submit-button" igxButton="raised" igxRipple (click)="createTeam.open()" i18n>
  <igx-icon>add_circle_outline</igx-icon><span>Create New CS:GO Team</span>
</button>

<div class="card-wrapper">
  <p *ngIf="!authUser" i18n>You need to login to view your teams.</p>

  <igx-card class="team-card" *ngFor="let team of teams | async" elevated>
    <igx-card-header>
      <igx-avatar igxCardThumbnail [src]="team.teamAvatar" [initials]="team.teamName" shape="circle"></igx-avatar>
      <h3 igxCardHeaderTitle>{{ team.teamName }}</h3>
    </igx-card-header>
    <igx-card-content>
      <p>{{ team.description }}</p>
    </igx-card-content>
    <igx-card-actions>
      <button igxButton="outlined" igxRipple [routerLink]="['/team', team.customUrl]" igxEnd>
        <igx-icon>visibility</igx-icon>
        <span i18n>View Team</span>
      </button>
      <button igxButton="outlined" igxRipple (click)="confirm.open(team)" igxEnd>
        <igx-icon>delete_forever</igx-icon>
        <span i18n>Abandon Team</span>
      </button>
    </igx-card-actions>
  </igx-card>
</div>

<app-team-new #createTeam [authUser]="authUser"></app-team-new>

<bg-confirm #confirm i18n-title title="Are you sure?" (ok)="abandonTeam($event)">
  <p i18n>You will leave this team permanently. If you own the team and are the only team member, then the team will also be deleted...</p>
</bg-confirm>
