:host {
  .map-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
  }

  .map-inactive {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  .map-column {
    max-width: 320px
  }
}
