<!-- New strategy dialog-->
<igx-dialog #newStrat closeOnOutsideSelect="true" (onClose)="resetStrategy()">
  <form #strategyForm="ngForm" (ngSubmit)="submitStrategy()" class="new-strategy">
    <span>Add a new team strategy</span>
    <igx-input-group>
      <label for="strategyName" igxLabel>Title</label>
      <input #strategyName name="strategyName" id="strategyName" igxInput minlength="2" required [(ngModel)]="newStrategy.Title">
      <igx-suffix *ngIf="strategyName.value.length > 0" (click)="newStrategy.Title = null">
          <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <igx-input-group class="space-out">
      <label for="strategyDescription" igxLabel>Description</label>
      <textarea #strategyDescription id="strategyDescription" name="strategyDescription" igxInput minlength="2" required [(ngModel)]="newStrategy.Description">
      </textarea>
      <igx-suffix *ngIf="strategyDescription.value.length > 0" (click)="newStrategy.Description = null">
          <igx-icon>clear</igx-icon>
      </igx-suffix>
    </igx-input-group>

    <div class="horizontal-center space-between space-out">
      <igx-radio-group>
        <igx-radio name="strategySide" [(ngModel)]="newStrategy.Side" [value]="0">
          T-Side
        </igx-radio>
        <igx-radio name="strategySide" [(ngModel)]="newStrategy.Side" [value]="1">
          CT-Side
        </igx-radio>
      </igx-radio-group>

      <igx-switch name="strategyPublic" [(ngModel)]="newStrategy.Visible">Public</igx-switch>
    </div>

    <igx-select id="mapSelector" class="space-out" name="mapSelector" [(ngModel)]="newStrategy.Map">
      <label for="mapSelector" igxLabel>Map</label>
      <igx-select-item *ngFor="let map of mapList" (click)="selectedMap = map" [value]="map.id">
        {{ map.map }}
      </igx-select-item>
    </igx-select>

    <div class="column-wrapper space-out">
      <igx-input-group>
        <igx-prefix>
          <igx-icon>link</igx-icon>
        </igx-prefix>
        <label for="strategyUrl" igxLabel>Link to a video/resource</label>
        <input #strategyUrl name="strategyUrl" id="strategyUrl" igxInput placeholder="Link to a video/resource" pattern="^(?:http(s)?:\/\/)[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" [(ngModel)]="newStrategy.Url">
        <igx-suffix *ngIf="strategyUrl.value.length > 0" (click)="newStrategy.Url = null">
            <igx-icon>clear</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <span class="separate">OR</span>
      <button type="button" igxButton="outlined" class="strat-editor-button" [disabled]="selectedMap.disabled || strategyForm.invalid" (click)="createAndRedirect()">Go to Strat Editor</button>
    </div>

    <iframe *ngIf="getVideoEmbedLink()" class="video-frame space-out" [src]="newStrategy.Url | safeVideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <button igxButton="outlined" igxRipple [disabled]="strategyForm.invalid" class="submit-button space-out">Submit</button>
  </form>
</igx-dialog>
<!-- END New strategy dialog -->
