<div class="card-wrapper">
  <h2 class="content-container-row" i18n>Active tournaments</h2>
  <h5 class="content-container-row" *ngIf="!tournaments || !tournaments.length" i18n>No active tournaments found...</h5>
  <igx-card *ngFor="let tournament of tournaments" elevated>
    <igx-card-media>
      <img [ngSrc]="tournament.logo" width="352" height="300" [alt]="tournament.name" />
    </igx-card-media>
    <igx-card-header>
      <h4 igxCardHeaderTitle>{{tournament.name}}</h4>
      <span igxCardHeaderSubtitle>{{tournament.startDate | date}} - {{tournament.endDate | date}}</span>
    </igx-card-header>
    <igx-card-content>
      <p>{{tournament.description}}</p>
      <div class="horizontal-center margin-top">
        <img ngSrc="/assets/wallpapers/csgo-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="CS:GO" [routerLink]="['csgo', tournament.id]" />
        <img ngSrc="/assets/wallpapers/starcraft2-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="StarCraft II" [routerLink]="['sc2', tournament.id]" />
      </div>
    </igx-card-content>
  </igx-card>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Upcoming tournaments</h2>
    <h5 *ngIf="!upcoming || !upcoming.length" i18n>No upcoming tournaments found...</h5>
  </div>
  <igx-card *ngFor="let tournament of upcoming" elevated>
    <igx-card-media>
      <img [ngSrc]="tournament.logo" width="352" height="300" [alt]="tournament.name" />
    </igx-card-media>
    <igx-card-header>
      <h4 igxCardHeaderTitle>{{tournament.name}}</h4>
      <span igxCardHeaderSubtitle>{{tournament.startDate | date}} - {{tournament.endDate | date}}</span>
    </igx-card-header>
    <igx-card-content>
      <p>{{tournament.description}}</p>
      <div class="horizontal-center margin-top">
        <img ngSrc="/assets/wallpapers/csgo-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="CS:GO" [routerLink]="['csgo', tournament.id]" />
        <img ngSrc="/assets/wallpapers/starcraft2-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="StarCraft II" [routerLink]="['sc2', tournament.id]" />
      </div>
    </igx-card-content>
  </igx-card>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Finished tournaments</h2>
    <h5 *ngIf="!past || !past.length" i18n>No finished tournaments found...</h5>
  </div>
  <igx-card *ngFor="let tournament of past" elevated>
    <igx-card-media>
      <img [ngSrc]="tournament.logo" width="352" height="300" [alt]="tournament.name" />
    </igx-card-media>
    <igx-card-header>
      <h4 igxCardHeaderTitle>{{tournament.name}}</h4>
      <span igxCardHeaderSubtitle>{{tournament.startDate | date}} - {{tournament.endDate | date}}</span>
    </igx-card-header>
    <igx-card-content>
      <p>{{tournament.description}}</p>
      <div class="horizontal-center margin-top">
        <img ngSrc="/assets/wallpapers/csgo-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="CS:GO" [routerLink]="['csgo', tournament.id]" />
        <img ngSrc="/assets/wallpapers/starcraft2-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="StarCraft II" [routerLink]="['sc2', tournament.id]" />
      </div>
    </igx-card-content>
  </igx-card>
</div>
