<div class="card-wrapper">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3320904478097217"
      crossorigin="anonymous"></script>
  <!-- Display Ad horizontal 1 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3320904478097217"
      data-ad-slot="9044957402"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <h2 class="content-container-row" i18n>Active tournaments</h2>
  @if (!tournaments || !tournaments.length) {
    <h5 class="content-container-row" i18n>No active tournaments found...</h5>
  }
  @for (tournament of tournaments; track tournament.id) {
    <igx-card elevated>
      <igx-card-media>
        <img [ngSrc]="tournament.logo" width="352" height="300" [alt]="tournament.name" />
      </igx-card-media>
      <igx-card-header>
        <h4 igxCardHeaderTitle>{{tournament.name}}</h4>
        <span igxCardHeaderSubtitle>{{tournament.startDate | date}} - {{tournament.endDate | date}}</span>
      </igx-card-header>
      <igx-card-content>
        <p>{{tournament.description}}</p>
        <div class="horizontal-center margin-top">
          <!-- <img ngSrc="/assets/wallpapers/csgo-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="Counter-Strike" [routerLink]="['csgo', tournament.id]" /> -->
          <img ngSrc="/assets/wallpapers/starcraft2-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="StarCraft II" [routerLink]="['sc2', tournament.id]" />
        </div>
      </igx-card-content>
    </igx-card>
  }

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Upcoming tournaments</h2>
    @if (!upcoming || !upcoming.length) {
      <h5 i18n>No upcoming tournaments found...</h5>
    }
  </div>
  @for (tournament of upcoming; track tournament.id) {
    <igx-card elevated>
      <igx-card-media>
        <img [ngSrc]="tournament.logo" width="352" height="300" [alt]="tournament.name" />
      </igx-card-media>
      <igx-card-header>
        <h4 igxCardHeaderTitle>{{tournament.name}}</h4>
        <span igxCardHeaderSubtitle>{{tournament.startDate | date}} - {{tournament.endDate | date}}</span>
      </igx-card-header>
      <igx-card-content>
        <p>{{tournament.description}}</p>
        <div class="horizontal-center margin-top">
          <!-- <img ngSrc="/assets/wallpapers/csgo-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="Counter-Strike" [routerLink]="['csgo', tournament.id]" /> -->
          <img ngSrc="/assets/wallpapers/starcraft2-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="StarCraft II" [routerLink]="['sc2', tournament.id]" />
        </div>
      </igx-card-content>
    </igx-card>
  }

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Finished tournaments</h2>
    @if (!past || !past.length) {
      <h5 i18n>No finished tournaments found...</h5>
    }
  </div>
  @for (tournament of past; track tournament.id) {
    <igx-card elevated>
      <igx-card-media>
        <img [ngSrc]="tournament.logo" width="352" height="300" [alt]="tournament.name" />
      </igx-card-media>
      <igx-card-header>
        <h4 igxCardHeaderTitle>{{tournament.name}}</h4>
        <span igxCardHeaderSubtitle>{{tournament.startDate | date}} - {{tournament.endDate | date}}</span>
      </igx-card-header>
      <igx-card-content>
        <p>{{tournament.description}}</p>
        <div class="horizontal-center margin-top">
          <img ngSrc="/assets/wallpapers/csgo-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="Counter-Strike" [routerLink]="['csgo', tournament.id]" />
          <img ngSrc="/assets/wallpapers/starcraft2-logo.webp" width="250" height="107" class="navigatable tournament-image" alt="StarCraft II" [routerLink]="['sc2', tournament.id]" />
        </div>
      </igx-card-content>
    </igx-card>
  }
</div>
