

<div class="news-section">
  <igx-card [horizontal]="horizontal">

    <div igxLayout igxLayoutDir="column" igxFlex [igxFlexGrow]="1">
      <igx-card-header>
        <h1 igxCardHeaderTitle>Интервю с <span class="highlight">Борис 'SuGaRBuNNy' Попов</span></h1>
        <h2 igxCardHeaderSubtitle>Победител от Сезон 1 по StarCraft II</h2>
      </igx-card-header>

      <igx-card-content class="interview-body">
        <h6>Коя беше най-оспорваната ви среща?</h6>
        <p>Най-оспорваната среща определено беше срещу WhiskeyJack. Личеше си, че беше готов да играе финал.</p>

        <h6>Как се подготвихте за финала?</h6>
        <p>Играх доста игри и по-специално TvP. Бях играл няколко пъти срещу WhiskeyJack вече, а срещу учителя му, така че много добре бях запознат със стила на игра, срещу който трябваше да играя.</p>

        <h6>Какво беше чувството, когато победихте?</h6>
        <p>Чувството беше уникално, надявам се повече хора да го изпитат, за пръв път станах Шампион по Старкрафт 2 и нямам търпение за следващия сезон!</p>

        <h6>Кой беше най-хубавият момент от турнира?</h6>
        <p>За мен най-хобавият момент беше този, когато разбрах, че вече бях спечелил последната игра от турнира и беше само въпрос на време опонента ми да напише GG.</p>

        <h6>Доволни ли сте от организацията?</h6>
        <p>Да! Организацията беше доста добра.</p>

        <h6>Бихте ли участвали в подобен формат отново?</h6>
        <p>Да, играенето в турнир с дълъг формат определено ми хареса.</p>

        <h6>Подкрепяха ли ви колегите по време на турнира?</h6>
        <p>Бях споделил на някои колеги, че ще играя във финалите на турнира, и всички те ме гледаха как играя.</p>

        <h6>Какво бихте казали на бъдещите участници в лигата?</h6>
        <p>Да не се предават и винаги да се опитват да стават по-добри и да си разширяват кръгозора, защото ако противникът им е сериозен, той вече го е направил и е една стъпка напред.</p>
      </igx-card-content>
    </div>
    <igx-card-media>
        <img src="/assets/crew/sugarbunny.webp">
    </igx-card-media>
  </igx-card>
</div>
