:host {
  .team-invites {
    height: 56px;
    padding: 8px;
  }

  /* User Profile */
  .card-wrapper.profile-view-layout {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .player-avatar {
    width: 144px;
    height: 144px;
    border-radius: 16px;
  }

  .team-avatar-link {
    cursor: pointer;
    margin: 0 16px 16px 0;
  }

  .team-avatar-link:focus,
  .team-avatar-link:active {
    outline: none;
  }

  .country-badge-large {
    position: relative;
    top: -63px;
    left: -38px;
    width: 52px;
    height: 52px;
    min-width: 52px;
  }

  .invite-button {
    margin-left: auto;
  }

  .stats-progress {
    width: auto;
    height: auto;
    // --igx-circular-bar-progress-circle-color: linear-gradient(to right, $progress-success, $secondary);
  }

  .top-weapon {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  /* END User Profile */

  /* User Overview */

  .player-detail__stats {
    border: 1px solid var(--igx-card-outline-color);
    min-height: 335px;
    height: fit-content;
  }

    .player-detail__stats .igx-circular-bar__text {
      font-size: 1.55rem;
    }

  .weapon-image {
    height: 100%;
    width: 100%;
  }

  .weapon-image-small {
    height: 60px;
    width: 60px;
  }

  .card-title-no-grow {
    flex-grow: 0;
  }
  /* END User Overview */

  @media only screen and (min-width: 1660px) {
    .player-detail__stats.map-pool {
      grid-column: 3 / -1;
    }

    .player-detail__stats {
      height: auto;
    }
  }

  @media only screen and (min-width: 1992px) {
    .player-detail__stats.map-pool {
      grid-column: 2 / -1;
    }
  }

}
