/* You can add global styles to this file, and also import other style files */
/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";
@import "~minireset.css/minireset";

@include igx-core();

@include igx-typography(
  $font-family: "'Poppins', sans-serif"
);

$primary: white !default;
$secondary: #FF0A3A !default;
$background: #192053;
$banner-background: #2C3D93;
$background-gradient: linear-gradient(to right, $background, #04081D);
$background-gradient-lighter: linear-gradient(135deg, rgba(47,57,120,1) 0%, rgba(16,25,63,1) 100%);

:root {
  --app-secondary-color: #FF0A3A;
}

$app-palette: igx-palette($primary, $secondary);

$include: (igx-avatar,
           igx-navbar,
           igx-list,
           igx-ripple,
           igx-icon,
           igx-overlay,
           igx-button,
           igx-button-group,
           igx-dialog,
           igx-input-group,
           igx-drop-down,
           igx-badge,
           igx-card,
           igx-chip,
           igx-time-picker,
           igx-checkbox,
           igx-tabs,
           igx-expansion-panel,
           igx-radio,
           igx-snackbar,
           igx-circular-bar,
           igx-linear-bar,
           igx-slider,
           igx-switch,
           igx-divider,
           igx-banner);

@include igx-dark-theme(
    $palette: $app-palette,
    $exclude: map-keys(map-remove($components, $include...),),
    $legacy-support: false
);

/* Navbar */
$navbar-theme: igx-navbar-theme(igx-palette($background, $secondary),
                                $background: $background-gradient,
                                $text-color: white,
                                $shadow: 0px 15px 30px 0px rgba(0,0,0,0.4),
                                $idle-icon-color: white,
                                $hover-icon-color: $secondary);
@include igx-css-vars($navbar-theme);
/* END Navbar */

/* Card */
$card-theme: igx-card-theme($background: $background-gradient-lighter,
                            $header-text-color: rgba(255, 255, 255, 0.87),
                            $resting-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4),
                            $hover-shadow: 0px 15px 30px 0px rgba(0,0,0,0.7));
@include igx-css-vars($card-theme);
/* END Card */

/* List */
$list-theme: igx-list-theme($background: transparent,
                            $header-background: transparent,
                            $item-background: transparent,
                            $item-background-active: rgba(0, 0, 0, 0.11));
@include igx-css-vars($list-theme);
/* END List */

/* Input Group */
$input-group-theme: igx-input-group-theme($search-background: transparent, $idle-text-color: white, $filled-text-color: white, $focused-text-color: white, $placeholder-color: #999);
@include igx-css-vars($input-group-theme);
/* END Input Group */

/* Banner */
$banner-theme: igx-banner-theme($banner-background: $banner-background);
@include igx-css-vars($banner-theme);
/* END Banner */

/* Radio */
$radio-theme: igx-radio-theme($label-color: white, $empty-color: $secondary);
@include igx-css-vars($radio-theme);
/* END Radio */

/* Tabs */
$tabs-theme: igx-tabs-theme($item-background: $background, $indicator-color: $secondary);
@include igx-css-vars($tabs-theme);
/* END Tabs */

/* Drop Down */
$drop-down-theme: igx-drop-down-theme($background-color: $background);
@include igx-css-vars($drop-down-theme);
/* END Drop Down */

/* Dialog */
$dialog-theme: igx-dialog-theme($background: $background);
@include igx-css-vars($dialog-theme);
/* END Dialog */

/* Snackbar */
$snackbar-theme: igx-snackbar-theme($background: $banner-background, $border-radius: 24px);
@include igx-css-vars($snackbar-theme);
/* END Snackbar */

/* Badge */
.igx-badge__circle--info {
  background-color: $secondary;
}
/* END Badge */

/* Progress Circular */
$circular-progress-bar-theme: igx-progress-circular-theme($progress-circle-color: $secondary);
@include igx-css-vars($circular-progress-bar-theme);
/* END Progress Circular */

/* Expansion Panel */
$expansion-panel-theme: igx-expansion-panel-theme($header-background: $background, $header-focus-background: $background, $body-background: $background);
@include igx-css-vars($expansion-panel-theme);
/* END Expansion Panel */

/* Time Picker */
$time-picker-theme: igx-time-picker-theme($background-color: $background);
@include igx-css-vars($time-picker-theme);
/* END Time Picker */

/* Time Picker */
$overlay-theme: igx-overlay-theme($background-color: rgba(35, 51, 132, 0.7));
@include igx-css-vars($overlay-theme);
/* END Time Picker */

html, body {
  height: 100%;
  background-image: $background-gradient;
}

/* ICONS */
igx-icon {
  user-select: none;
}

igx-tab-item igx-icon {
  margin-right: 8px;
}

.igx-typography .igx-tabs__item-label {
  letter-spacing: 0.07rem;
}

.navigatable {
  cursor: pointer;
}

.navigatable:focus,
.navigatable:active {
  outline: none;
}

/* END ICONS */

.igx-card-header__title {
  color: var(--igx-card-header-text-color);
}

.content p {
  margin: 15px;
}

.list-container {
  display: flex;
  flex-flow: column nowrap;
  width: 320px;
  + .list-container {
    margin-left: 16px;
  }
}

.igx-list__item-thumbnail {
  align-self: inherit;
}

/* Team and Player Details */
.left-details-container {
  width: 250px;
  min-width: 250px;
  padding-right: 16px;
}

.right-details-container {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
}

.overview-container-card {
  padding: 8px 0 8px 0;
  color: white;
}

.overview-container {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: nowrap;
}
/* END Team and Player Details */

.igx-overlay {
  color: $primary;
}

.center-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 24px;
  min-height: 320px;
}

/* Loading */
.loading-indicator {
  margin: 16px;
  width: 66px;
  height: 66px;
}

.loading-indicator-small {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.loading-overview {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: $primary;
}

.loading-user-data {
  height: 128px;
  max-height: 128px;
  width: 128px;
  max-width: 128px;
}
/* END Loading */

igx-card-content h4 {
  margin: 24px 0px 0px 8px;
}

.overview-container-card h4 {
  margin-top: 0;
}

.overview-container-card h4.margin-top {
  margin-top: 1.75rem;
}

.horizontal {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
}

.space-between {
  justify-content: space-between;
}

.center-items {
  text-align: center;
}

.horizontal-center {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  align-items: center;
}

.horizontal-space-between {
  display: flex;
  flex: 1 0 60px;
  align-items: center;
  justify-content: space-between;
}

.horizontal-info__left {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 24px;
}

.list-container .horizontal-info__left {
  max-width: 135px;
}

.horizontal-info__right {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
}

.horizontal-info__right--column {
  display: flex;
  flex-flow: column;
  margin-left: auto;
}

.title {
  font-weight: 600;
}

  .title.margin-left {
    margin-left: 8px;
  }

    .title.margin-left.player-summary-stat {
      min-width: 54px;
    }

a {
  text-decoration: none;
  color: igx-color($app-palette, secondary);
}

.margin-bottom {
  margin-bottom: 16px;
}

.country-badge-small {
  position: absolute;
  top: 12px;
  left: 42px;
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.igx-chip {
  margin: 4px 4px 4px 0;
}

.notification-disabled {
  opacity: 0.5;
}

.card-margins {
  margin-top: 8px;
}

.highlight {
  color: $secondary;
  font-weight: 600;
}

.navigation-item {
  margin: 0px 4px;
}

.igx-input-group__textarea, 
textarea {
  resize: none;
  min-height: 128px;
}

/* SEARCH */
.role-slots {
  display: flex;
  flex-flow: column;
}

.form-row {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.submit-button {
  width: 100%;
}

.slider-holder {
  min-width: 200px;
}

button igx-icon {
  margin-right: 4px;
}

.search-result {
  cursor: pointer;
  position: relative;
  display: flex;
  flex: 0 1 360px;
  min-width: 360px;
  margin-bottom: 24px;
  margin-right: 24px;
}

.search-result:focus {
  outline: none;
}

.icon-avatar {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: transparent;
}

.result-chips {
  padding: 8px 0;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-top: 12px;
}
/* END SEARCH */

.color-success {
  color: var(--igx-input-group-success-secondary-color);
}

.color-error {
  color: var(--igx-input-group-error-secondary-color);
}

.color-warn {
  color: var(--igx-input-group-warning-secondary-color);
}

.login-divider {
  height: 16px;
  margin-left: 8px;
}

@media only screen and (max-width: 680px) {
  .list-container .horizontal-info__left {
    max-width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .overview-container,
  .horizontal-space-between {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 550px) {
  .bellum-gens-navbar .igx-navbar__title {
    display: none;
  }
  
  .left-details-container {
    width: 100%;
  }
}