/* You can add global styles to this file, and also import other style files */
/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";
@include igx-core();

$primary: white !default;
$secondary: #FF0A3A !default;
$background: #192053;
$banner-background: #2C3D93;
$background-gradient: linear-gradient(to right, #192053, #04081D);

$app-palette: igx-palette($primary, $secondary);

$include: (igx-avatar,
           igx-navbar,
           igx-list,
           igx-ripple,
           igx-icon,
           igx-overlay,
           igx-button,
           igx-button-group,
           igx-dialog,
           igx-input-group,
           igx-drop-down,
           igx-badge,
           igx-card,
           igx-chip,
           igx-time-picker,
           igx-checkbox,
           igx-tabs,
           igx-expansion-panel,
           igx-radio,
           igx-snackbar,
           igx-circular-bar,
           igx-banner);

@include igx-dark-theme(
    $palette: $app-palette,
    $exclude: map-keys(map-remove($components, $include...),),
    $legacy-support: false
);

/* Navbar */
$navbar-theme: igx-navbar-theme(igx-palette($background, $secondary));
@include igx-css-vars($navbar-theme);
/* END Navbar */

/* Avatar */
$avatar-theme: igx-avatar-theme(igx-palette($background, $secondary));
@include igx-css-vars($avatar-theme);
/* END Avatar */

/* Input Group */
$input-group-theme: igx-input-group-theme($search-background: transparent, $idle-text-color: white, $filled-text-color: white, $focused-text-color: white, $placeholder-color: #999);
@include igx-css-vars($input-group-theme);
/* END Input Group */

/* Banner */
$banner-theme: igx-banner-theme($banner-background: $banner-background);
@include igx-css-vars($banner-theme);
/* END Banner */

/* Radio */
$radio-theme: igx-radio-theme($label-color: white, $empty-color: $secondary);
@include igx-css-vars($radio-theme);
/* END Radio */

/* Tabs */
$tabs-theme: igx-tabs-theme($item-background: $background);
@include igx-css-vars($tabs-theme);
/* END Tabs */

/* Drop Down */
$drop-down-theme: igx-drop-down-theme($background-color: $background);
@include igx-css-vars($drop-down-theme);
/* END Drop Down */

/* Dialog */
$dialog-theme: igx-dialog-theme($background: $background);
@include igx-css-vars($dialog-theme);
/* END Dialog */

/* Snackbar */
$snackbar-theme: igx-snackbar-theme($background: $banner-background);
@include igx-css-vars($snackbar-theme);
/* END Snackbar */

/* Badge */
.igx-badge__circle--info {
  background-color: $secondary;
}
/* END Badge */

/* Progress Circular */
$progress-bar-theme: igx-progress-circular-theme($progress-circle-color: $secondary);
@include igx-css-vars($progress-bar-theme);
/* END Progress Circular */

/* Expansion Panel */
$expansion-panel-theme: igx-expansion-panel-theme($header-background: $background, $header-focus-background: $background, $body-background: $background);
@include igx-css-vars($expansion-panel-theme);
/* END Expansion Panel */

/* Time Picker */
$time-picker-theme: igx-time-picker-theme($background-color: $background);
@include igx-css-vars($time-picker-theme);
/* END Time Picker */

// /* Avatar */
// $avatar-theme: igx-avatar-theme($app-palette);
// @include igx-avatar($avatar-theme);
// /* END Avatar */

// /* Navbar */
// $navbar-theme: igx-navbar-theme($app-palette);
// @include igx-navbar($navbar-theme);
// /* END Navbar */

// /* Ripple */
// $ripple-theme: igx-ripple-theme($app-palette);
// @include igx-ripple($ripple-theme);
// /* END Ripple */

// /* Icon */
// $icon-theme: igx-icon-theme($app-palette);
// @include igx-icon($icon-theme);
// /* END Icon */

// /* Overlay */
// $overlay-theme: igx-overlay-theme($app-palette);
// @include igx-overlay($overlay-theme);
// /* END Overlay */

// /* Input Group */
// $input-group-theme: igx-input-group-theme($app-palette);
// @include igx-input-group($input-group-theme);
// /* END Input Group */

// /* Button */
// $button-theme: igx-button-theme($app-palette);
// @include igx-button($button-theme);
// /* END Button */

// /* Card */
// $chips-theme: igx-chip-theme($app-palette);
// @include igx-chip($chips-theme);
// /* END Card */

// /* Checkbox */
// $checkbox-theme: igx-checkbox-theme($app-palette);
// @include igx-checkbox($checkbox-theme);
// /* END Checkbox */

// /* Expansion Panel */
// $expansion-panel-theme: igx-expansion-panel-theme($app-palette);
// @include igx-expansion-panel($expansion-panel-theme);
// /* END Expansion Panel */

// /* Radio */
// $radio-theme: igx-radio-theme($app-palette);
// @include igx-radio($radio-theme);
// /* END Radio */

html, body {
  height: 100%;
  background-image: $background-gradient;
}

/* ICONS */
igx-icon {
  cursor: pointer;
  user-select: none;
}

.button-icon {
  --igx-navbar-hover-icon-color: $secondary;
}

/* END ICONS */

.content p {
  margin: 15px;
}

.list-container {
  display: flex;
  flex-flow: column nowrap;
  width: 320px;
  + .list-container {
    margin-left: 16px;
  }
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Team and Player Details */
.left-details-container {
  width: 250px;
  min-width: 250px;
  padding-right: 16px;
}

.right-details-container {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
}

.overview-container-card {
  padding: 16px 0px 8px 8px;
  color: white;
}

.overview-container {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: nowrap;
}
/* END Team and Player Details */

.igx-navbar {
  background: $background-gradient;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4);
}

.igx-card,
.igx-list,
.igx-list__empty {
  background: linear-gradient(135deg, rgba(47,57,120,1) 0%, rgba(16,25,63,1) 100%);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.4);
}

.igx-list__header,
.igx-list__item-content {
  background-color: transparent;
}

.igx-list__item-content:active {
  background-color: rgba(0, 0, 0, 0.11)
}

.igx-overlay {
  color: $primary;
}

.center-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 24px;
  min-height: 320px;
}

.loading-indicator {
  margin: 16px;
  width: 66px;
  height: 66px;
}

igx-card-content h4 {
  margin: 24px 0px 0px 8px;
}

.horizontal {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row wrap;
  height: 100%;
}

.horizontal-center {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.horizontal-space-between {
  display: flex;
  flex: 1 0 60px;
  align-items: center;
  justify-content: space-between;
}

.horizontal-info__left {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 24px;
}

.horizontal-info__right {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
}

.title {
  font-weight: 600;
}

.subtitle {
  font-size: 0.875em;
}

a {
  text-decoration: none;
  color: igx-color($app-palette, secondary);
}

.igx-chip {
  margin: 4px;
}

.notification-disabled {
  opacity: 0.5;
}

.card-margins {
  margin: 8px 0px 0px 8px;
}

.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}

.map-column {
  display: flex;
  flex-flow: row wrap;
  margin: 8px;
  min-width: 200px;
}

.map-wrapper {
  max-width: 200px;
}

.map-inactive {
  opacity: 0.5;
}

.highlight {
  color: $secondary;
  font-weight: 600;
}

.navigation-item {
  margin: 0px 4px;
}

.igx-input-group__textarea, 
textarea {
  resize: none;
}

/* SEARCH */
.role-slots {
  display: flex;
  flex-flow: column;
}

.form-row {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.submit-button {
  width: 100%;
}
/* END SEARCH */


