/* You can add global styles to this file, and also import other style files */
/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";

$primary: #0c030a !default;
$secondary: #990116 !default;

$app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($app-palette, $legacy-support: false);

//$navbar-theme: igx-navbar-theme($background: #731963)
//@include igx-navbar($navbar-theme)

igx-icon {
  cursor: pointer;
  user-select: none;
}

.content p {
  margin: 15px;
}

.card-with-margins {
  margin-left: 16px;
}

.list-container {
  display: flex;
  flex-flow: column nowrap;
  width: 320px;
  + .list-container {
    margin-left: 16px;
  }
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 24px;
  height: 100%;
  min-height: 320px;
}

igx-card-content h4 {
  margin: 24px 0px 0px 8px;
}

.horizontal {
  display: flex;
  flex: 0 0 auto;
}

.horizontal-center {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.horizontal-space-between {
  display: flex;
  flex: 1 0 60px;
  align-items: center;
  justify-content: space-between;
}

.horizontal-info__left {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 24px;
}

.horizontal-info__right {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 24px;
}

.title {
  font-weight: 600;
}

.subtitle {
  font-size: 0.875em;
}

a {
  text-decoration: none;
  color: igx-color($app-palette, secondary);
}

.igx-chip {
  margin: 4px;
}

.notification-disabled {
  opacity: 0.5;
}

.card-wrapper {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
}

.map-column {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 25%;
  align-content: flex-start;
  margin: 16px;
  min-width: 200px;
}

.map-wrapper {
  max-width: 200px;
}

.map-inactive {
  opacity: 0.5;
}

textarea {
  resize: none;
}