<div class="card-with-margins">
  <div class="horizontal">
    <div class="card-column-2">
      <igx-card>
        <igx-card-content>
          <button igxButton="raised" igxRipple>Add new T-Side strategy</button>
        </igx-card-content>
      </igx-card>
    </div>
    <div class="card-column-2">
      <igx-card>
        <igx-card-content>
          <button igxButton="raised" igxRipple>Add new CT-Side strategy</button>
        </igx-card-content>
      </igx-card>
    </div>
  </div>
</div>