.strat-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 24ch;
}

.strategy-card {
  height: fit-content;
}

.strat-image {
  cursor: zoom-in;
  max-height: 315px;
}

.strat-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 0 16px;
}

.new-strategy {
  display: flex;
  flex-flow: column;
  padding: 12px;
  min-width: 380px;
}

.video-frame {
  width: 560px;
  height: 315px;
}

.column-wrapper {
  display: flex;
  align-items: center;
}

.space-out {
  margin-top: 8px;
}

.separate {
  padding: 0 32px;
}

.empty-strategy.empty-strategy-content {
  min-height: 200px;
  justify-content: space-evenly;
}

.card-smaller-subtitle {
  font-size: 0.65rem;
}