.new-strategy {
  padding: 4px;
  min-width: 560px
}

.video-frame {
  width: 560px;
  height: 315px;
}

.strat {
  max-width: 592px;
  margin: 16px 0 0 16px;
}

.strat igx-card-header {
  justify-content: space-between;
}

.card-wrapper {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.strat-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 0 16px;
}

.maps-chip {
  margin-right: 4px;
}