<div class="card-with-margins">
  <div class="strat-filter-header">
    <div><h4>Maps</h4></div>
    <div>
      <button class="navigation-item" *ngIf="changes && isAdmin" igxButton="outlined" igxRipple (click)="saveMaps($event)">Save current maps</button>
      <button class="navigation-item" *ngIf="isEditor" igxButton="outlined" igxRipple (click)="openNewStrategy($event)">Add new strategy</button>
      <button class="navigation-item" igxButton="outlined" igxRipple (click)="viewAll = !viewAll; $event.stopPropagation();">{{viewAll ? 'View Active Duty' : 'View All'}}</button>
    </div>
  </div>
  <div class="strat-filter-header">
    <igx-chips-area>
      <igx-chip class="maps-chip" [selected]="map.IsPlayed" [selectable]="true" (onSelection)="changeMaps($event, map)" *ngFor="let map of maps | activeDutyMaps:viewAll">
        {{ map.Map | mapname }}
      </igx-chip>
    </igx-chips-area>
  </div>
  <div class="card-wrapper">
    <igx-card type="outlined" *ngFor="let strat of teamStrats | activeDutyMaps:viewAll:pipeTrigger | sidestrats:maps">
      <igx-card-header>
        <div>
          <h4 class="igx-card-header__title">{{ strat.Title }}</h4>
        </div>
      </igx-card-header>
      <igx-card-media>
        <iframe class="video-frame" *ngIf="isVideo(strat.Url)" [src]="strat.Url | safeVideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img *ngIf="strat.Image" [src]="strat.Image" class="strat-image" (click)="selectedStrat = strat; previewStrat.open()" />
      </igx-card-media>
      <igx-card-content>
        <p class="igx-card-header__subtitle">{{ strat.Description }}</p>
      </igx-card-content>
      <igx-card-actions *ngIf="isEditor" reverse="true">
        <button igxButton="flat" igxRipple (click)="editStrategy(strat)">
          <igx-icon title="edit strategy">edit</igx-icon>
          Edit
        </button>
        <button igxButton="flat" igxRipple (click)="confirm.open(strat)">
          <igx-icon title="delete strategy">delete_forever</igx-icon>
          Delete
        </button>
      </igx-card-actions>
    </igx-card>
  </div>
</div>

<igx-dialog #previewStrat closeOnOutsideSelect="true" [title]="selectedStrat?.Title" (onClose)="selectedStrat = null">
  <img *ngIf="selectedStrat" [src]="selectedStrat.Image" />
</igx-dialog>

<!-- New strategy dialog-->
<igx-dialog #newStrat closeOnOutsideSelect="true" (onClose)="resetStrategy()">
  <form #strategyForm="ngForm" (ngSubmit)="submitStrategy()" class="new-strategy">
    <igx-list>
      <igx-list-item [isHeader]="true">Add a new team strategy</igx-list-item>
      <igx-list-item>
        <igx-input-group>
          <label for="strategyName" igxLabel>Title</label>
          <input #strategyName name="strategyName" id="strategyName" igxInput minlength="2" required [(ngModel)]="newStrategy.Title">
          <igx-suffix *ngIf="strategyName.value.length > 0" (click)="strategyName.value = ''">
              <igx-icon>clear</igx-icon>
          </igx-suffix>
        </igx-input-group>
      </igx-list-item>
      <igx-list-item>
        <igx-input-group>
          <label for="strategyDescription" igxLabel>Description</label>
          <textarea #strategyDescription id="strategyDescription" name="strategyDescription" igxInput minlength="2" required [(ngModel)]="newStrategy.Description">
          </textarea>
          <igx-suffix *ngIf="strategyDescription.value.length > 0" (click)="strategyDescription.value = ''">
              <igx-icon>clear</igx-icon>
          </igx-suffix>
        </igx-input-group>
      </igx-list-item>
      <igx-list-item>
        <igx-radio name="strategySide" [(ngModel)]="newStrategy.Side" [value]="0">
          T-Side
        </igx-radio>
        <igx-radio name="strategySide" [(ngModel)]="newStrategy.Side" [value]="1">
          CT-Side
        </igx-radio>
      </igx-list-item>
      <igx-list-item>
        <igx-select id="mapSelector" name="mapSelector" [(ngModel)]="newStrategy.Map">
          <label for="mapSelector" igxLabel>Map</label>
          <igx-select-item *ngFor="let map of mapList" [value]="map.id">
            {{ map.map }}
          </igx-select-item>
        </igx-select>
      </igx-list-item>
      <igx-list-item>
        <div class="column-wrapper">
          <igx-input-group>
            <igx-prefix>
              <igx-icon>link</igx-icon>
            </igx-prefix>
            <label for="strategyUrl" igxLabel>Link to a video/resource</label>
            <input #strategyUrl name="strategyUrl" id="strategyUrl" igxInput placeholder="Link to a video/resource" pattern="^(?:http(s)?:\/\/)[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" [(ngModel)]="newStrategy.Url">
            <igx-suffix *ngIf="strategyUrl.value.length > 0" (click)="strategyUrl.value = ''">
                <igx-icon>clear</igx-icon>
            </igx-suffix>
          </igx-input-group>
          <span class="separate">OR</span>
          <button type="button" igxButton="flat" class="strat-editor-button" (click)="createAndRedirect()">Strat Editor</button>
        </div>
      </igx-list-item>
      <igx-list-item *ngIf="getVideoEmbedLink()">
        <iframe class="video-frame" [src]="newStrategy.Url | safeVideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </igx-list-item>
      <igx-list-item>
        <button igxButton="outlined" igxRipple [disabled]="strategyForm.invalid">Submit</button>
      </igx-list-item>
    </igx-list>
  </form>
</igx-dialog>
<!-- END New strategy dialog -->

<!-- Confirm -->
<app-confirm #confirm title="Are you sure?" (ok)="deleteStrat($event)">
  Pressing OK will permanently remove this strategy...
</app-confirm>
<!-- END Confirm -->