.team-info-column {
  display: flex;
  flex-flow: column;
  flex: 1 1 320px;
  padding: 0 8px;
  margin-top: 16px;
  align-self: baseline;
}

.team-info-input {
  margin: 16px 0 0 0;
  padding: 0 4px;
}

.switch-label {
  margin-right: 8px;
}