<igx-list #players [isLoading]="loading">
  <ng-template igxDataLoading>
    <div class="center-message">
      <span>Loading players...</span>
      <div class="loading-indicator">
        <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
      </div>
    </div>
  </ng-template>
  <igx-list-item [isHeader]="true">Newest Players</igx-list-item>
  <igx-list-item *ngFor="let user of activeUsers"
                class="navigatable"
                [routerLink]="['/players', user.steamUser.customURL || user.steamUser.steamID64]">
    <igx-avatar igxListThumbnail [src]="user.steamUser?.avatarIcon" [initials]="user.steamUser?.steamID" roundShape="true">
    </igx-avatar>
    <igx-avatar *ngIf="user.steamUser?.country"
                [src]="user.steamUser?.country | playerCountry"
                [roundShape]="true"
                [title]="user.steamUser?.country"
                class="country-badge-small">
    </igx-avatar>

    <h2 igxListLineTitle>
      <a>
        {{ user.steamUser.steamID }}
      </a>
    </h2>
    <h4 igxListLineSubTitle>{{ user.steamUser?.realname }}</h4>
  
    <div igxListAction *ngIf="!user.userStatsException else private">
        <div class="horizontal-center">
          <igx-circular-bar class="icon-avatar" [value]="user.userStats?.killDeathRatio" [max]="2" [animate]="true" [textVisibility]="false" title="KDR"></igx-circular-bar>
          <span>{{ user.userStats?.killDeathRatio }}</span>
        </div>
  
        <div class="horizontal-center">
          <igx-icon fontSet="weapon-icons" name="headshot" class="icon-avatar"></igx-icon>
          <span>{{ user.userStats?.headshotPercentage | number:'1.2' }}%</span>
        </div>
    </div>

    <ng-template #private>
      <span>Private</span>
    </ng-template>
  </igx-list-item>
</igx-list>