<igx-list #players [isLoading]="loading">
  <ng-template igxDataLoading>
    <div class="center-message">
      <span>Loading players...</span>
      <div class="loading-indicator">
        <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
      </div>
    </div>
  </ng-template>
  <igx-list-item [isHeader]="true">Newest Players</igx-list-item>
  <igx-list-item #item *ngFor="let user of activeUsers" class="navigatable" [routerLink]="['/players', user.steamUser.customURL || user.steamUser.steamID64]">
    <div class="horizontal-center">
      <igx-avatar [src]="user.steamUser?.avatarIcon" [initials]="user.steamUser?.steamID" roundShape="true">
      </igx-avatar>
      <igx-avatar *ngIf="user.steamUser?.country"
                  [src]="user.steamUser?.country | playerCountry"
                  [roundShape]="true"
                  [title]="user.steamUser?.country"
                  class="country-badge-small">
      </igx-avatar>
      <div class="horizontal-info__left">
        <span class="title highlight">
          {{ user.steamUser?.steamID }}
        </span>
        <span class="subtitle">{{ user.steamUser?.realname }}</span>
      </div>
    
      <div class="horizontal-info__right--column" *ngIf="!user.userStatsException">
          <div class="horizontal-center">
            <igx-circular-bar class="icon-avatar" [value]="user.userStats?.killDeathRatio" [max]="2" [animate]="true" [textVisibility]="false" title="KDR"></igx-circular-bar>
            <span class="title margin-left player-summary-stat">{{ user.userStats?.killDeathRatio }}</span>
          </div>
    
          <div class="horizontal-center">
            <igx-icon fontSet="weapon-icons" name="headshot" class="icon-avatar"></igx-icon>
            <span class="title margin-left player-summary-stat">{{ user.userStats?.headshotPercentage | number:'1.2' }}%</span>
          </div>
      </div>

      <div class="horizontal-info__right--column" *ngIf="user.userStatsException">
        <span class="title">Private</span>
      </div>
    </div>
  </igx-list-item>
</igx-list>