.country-badge-small {
  position: absolute;
  top: 4px;
  left: 42px;
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.skill-badge {
  position: absolute;
  top: 12px;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  min-width: 16px;
}
