igx-icon {
  cursor: pointer;
  user-select: none;
}

.steam-groups {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.steam-group-name {
  margin-left: 1em;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-column {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 16px 0px 0px 16px;
}
