<div class="card-wrapper">
  <div class="map-column map-wrapper" *ngFor="let map of mapPool | ordermaps">
    <igx-card [class]="map.IsPlayed ? '' : 'map-inactive'">
      <img width="100%" height="100%" [src]="map | mapimage" [alt]="map.Map | mapname" />
      <igx-card-actions>
        <span>{{ map.Map | mapname }}</span>
        <div class="igx-card-actions__igroup--end">
          <igx-checkbox [checked]="map.IsPlayed" [value]="map" [disabled]="readOnly" (change)="mapChange($event)"></igx-checkbox>
        </div>
      </igx-card-actions>
    </igx-card>
  </div>
</div>