<div class="map-wrapper">
  <igx-card *ngFor="let map of mapPool | activeDutyMaps:activeDuty | ordermaps" [class]="map.IsPlayed ? 'map-column' : 'map-column map-inactive'">
    <img class="map-image" [src]="map | mapimage" [alt]="map.Map | mapname" />
    <igx-card-actions>
      <span>{{ map.Map | mapname }}</span>
      <div class="igx-card-actions__igroup--end">
        <igx-checkbox [checked]="map.IsPlayed" [value]="map" [disabled]="readOnly" (change)="mapChange($event)"></igx-checkbox>
      </div>
    </igx-card-actions>
  </igx-card>
</div>