@media only screen and (max-width: 512px) {
  .map-column {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .map-image {
    height: auto;
  }
}

.map-column {
  display: flex;
  flex: 1 1 260px;
  margin: 8px;
  max-width: 260px;
}

.map-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.map-image {
  height: 146px;
}

.map-inactive {
  opacity: 0.5;
}