<div class="home-page-slide-columns slide slide1">
  <div class="intro-column">
    <h1 class="highlight">The Ultimate Gaming experience for your company</h1>
    <p i18n>Covid-19 changed the way teams in your company bond. Esports Business League is a team building charity esports event, where your company team can compete against teams from other companies. Participants in the Esports Business League so far include companies like VMware, DXC, SAP, Experian, TELUS, Modis, HP, Infragistics, Chaos Group and many more!</p>
    <button igxButton="raised" (click)="showContacts()" i18n>Learn more...</button>
  </div>
</div>

<!-- <div class="home-page-slide-columns">
  <div class="slide slide1">
    <div class="slide-info-column">
      <h1><a routerLink="tournament/csgo/">CS:GO League</a></h1><p>Регистрациите за Esports Business League Сезон 2 са отворени! Можете да регистрирате своят отбор до {{regDealine}}.</p>
      <igx-linear-bar [max]="16"
                      [value]="registrations | getRegCount:gameEnum.CSGO"
                      [text]="(registrations | getRegCount:gameEnum.CSGO) + ' / 16 записани'"
                      type="success"></igx-linear-bar>
      <button igxButton="raised"
              [disabled]="true">Регистрациите са затворени</button>
      <button igxButton="raised"
              [disabled]="true"
              (click)="!authUser ? openLogin('Първо влезте или се регистрирайте...') : registration.selectGame(gameEnum.CSGO)">Регистрирай се за CS:GO</button>
    </div>
  </div>
  <div class="slide slide2">
    <div class="slide-info-column">
      <h1><a routerLink="tournament/sc2/">StarCraft II League</a></h1>
      <p>Регистрациите за Esports Business League Сезон 2 са отворени! Можете да направите своята регистрация до {{regDealine}}.</p>
      <igx-linear-bar [max]="32"
                      [value]="registrations | getRegCount:gameEnum.StarCraft2"
                      [text]="(registrations | getRegCount:gameEnum.StarCraft2) + ' / 32 записани'"
                      type="success">
      </igx-linear-bar>
      <button igxButton="raised"
              [disabled]="true">Регистрациите са затворени</button>
      <button igxButton="raised"
              [disabled]="true"
              (click)="!authUser ? openLogin('Първо влезте или се регистрирайте...') : registration.selectGame(gameEnum.StarCraft2)">Регистрирай се за StarCraft II</button>
    </div>
  </div>
</div> -->

<div class="content-container">

  <!-- <app-tournament-registration #registration class="content-container-row" [tournamentId]="tournamentId"></app-tournament-registration> -->

  <div class="content-container-row">
    <h2 i18n>Season 2</h2>
  </div>

  <div class="content-container-row">
    <p i18n>Esports Business League Season 2 concluded on November 8th with grand finals in both StarCraft II and CS:GO! In the StarCraft II final SuGaRBuNNy [Nuvei] and IlPrincipino [UltraPlay] battled it out in a very compatitive BO5 where all 5 maps were played and the winner was <a href="https://bellumgens.com/players/76561198061226037" target="_blank" rel="noopener">SuGaRBuNNy [Nuvei]</a>. This makes him a reigning, defending champion in the StarCraft II category. The CS:GO final was between Plan-B [Modis] and 3nIGm4 [Infragistics]. The team from Modis <a href="https://bellumgens.com/team/Plan-B/details" target="_blank" rel="noopener">Plan-B</a> managed to win both maps. They got a relatively easy win on their map pick and the boys from Plan-B managed to take Infragistics 3nIGm4's map pick in overtime.</p>
  </div>

  <div class="content-container-column center-items">
    <div class="watermark csgo-watermark"></div>
    <h3 i18n>Champion</h3>
    <div class="horizontal-center">
      <img class="first-place" src="/assets/partners/plan-b.webp" alt="Plan-B [Modis]" title="Plan-B [Modis]" />
      <div class="winner-wrapper">
        <a href="https://bellumgens.com/team/Plan-B/details" class="igx-card-header__title" target="_blank" rel="noopener">Plan-B</a>
        <span class="igx-card-header__subtitle">Modis</span>
      </div>
    </div>

    <h4 i18n>Runner-up</h4>

    <div class="horizontal-center">
      <img class="second-place" src="/assets/partners/ig.webp" alt="3nIGm4 [Infragistics]" title="3nIGm4 [Infragistics]" />
      <div class="winner-wrapper">
        <a href="https://bellumgens.com/team/IG-Warriors/details" class="igx-card-header__title" target="_blank" rel="noopener">3nIGm4</a>
        <span class="igx-card-header__subtitle">Infragistics</span>
      </div>
    </div>

    <h5 i18n>3rd-4th Place</h5>
    <div class="horizontal-center space-evenly">
      <div class="horizontal-center">
        <img class="third-forth-place" src="/assets/partners/modis.webp" alt="Modis" title="Modis" />
        <div class="winner-wrapper">
          <a href="https://bellumgens.com/team/Mod1s/details" class="igx-card-header__title" target="_blank" rel="noopener">Mod1s</a>
          <span class="igx-card-header__subtitle">Modis</span>
        </div>
      </div>

      <div class="horizontal-center">
        <img class="third-forth-place" src="/assets/partners/chaosgroup.webp" alt="CHAOS [Chaos Group]" title="CHAOS [Chaos Group]" />
        <div class="winner-wrapper">
          <a href="https://bellumgens.com/team/CHAOS/details" class="igx-card-header__title" target="_blank" rel="noopener">CHAOS</a>
          <span class="igx-card-header__subtitle">Chaos Group</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content-container-column center-items">
    <div class="watermark sc2-watermark"></div>
    <h3 i18n>Champion</h3>

    <div class="winner-wrapper">
      <a class="igx-card-header__title" href="https://bellumgens.com/players/76561198061226037" target="_blank" rel="noopener">SuGaRBuNNy</a>
      <span class="igx-card-header__subtitle">Nuvei</span>
    </div>

    <h4 i18n>Runner-up</h4>

    <div class="winner-wrapper">
      <a class="igx-card-header__title" href="https://bellumgens.com/players/1a86fa91-1bfa-4787-94e6-a206f6893093" target="_blank" rel="noopener">IlPrincipino</a>
      <span class="igx-card-header__subtitle">UltraPlay</span>
    </div>

    <h5 i18n>3rd-4th Place</h5>
    <div class="horizontal-center space-evenly">
      <div class="winner-wrapper third-forth-place-text">
        <a class="igx-card-header__title" href="https://bellumgens.com/players/76561198203040732" target="_blank" rel="noopener">msrm</a>
        <span class="igx-card-header__subtitle">Рюгис-М</span>
      </div>

      <div class="winner-wrapper">
        <a class="igx-card-header__title" href="https://bellumgens.com/players/76561199015442941" target="_blank" rel="noopener">kOliO</a>
      </div>
    </div>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n id="contacts">Follow us for updates</h2>
  </div>

  <div class="content-container-row">
    <div class="contacts">
      <a href="https://www.facebook.com/esportsbleague/" i18n-title title="Like us on Facebook" target="_blank" rel="noopener">
        <img src="/assets/social/facebook-150x150.webp" alt="Facebook" />
      </a>
      <a href="https://twitter.com/EsportBLeague" i18n-title title="Follow us on Twitter" target="_blank" rel="noopener">
        <img src="/assets/social/twitter-150x150.webp" alt="Twitter" />
      </a>
      <a href="https://www.instagram.com/esportsbleague/" i18n-title title="Follow us on Instagram" target="_blank" rel="noopener">
        <img src="/assets/social/instagram-150x150.webp" alt="Instagram" />
      </a>
      <a href="https://www.linkedin.com/company/bellum-gens/" i18n-title title="Follow us on Linked-in" target="_blank" rel="noopener">
        <img src="/assets/social/linkedin-150x150.webp" alt="Linked-in" />
      </a>
      <a href="https://www.youtube.com/c/EsportsBusinessLeague" i18n-title title="Subscribe to our Youtube channel" target="_blank" rel="noopener">
        <img src="/assets/social/youtube-150x150.webp" alt="YouTube" />
      </a>
      <a href="https://www.twitch.tv/ebleague_a" i18n-title title="Follow us on Twitch" target="_blank" rel="noopener">
        <img src="/assets/social/twitch-150x150.webp" alt="Twitch" />
      </a>
      <a href="https://discord.gg/bnTcpa9" i18n-title title="Join our Discord server" target="_blank" rel="noopener">
        <img src="/assets/social/discord-150x150.webp" alt="Discord" />
      </a>
    </div>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>What is Esports Business League?</h2>
  </div>

  <div class="content-container-column left-column">
    <img src="/assets/wallpapers/cover.webp" class="preview-image" alt="Esports Business League" />
  </div>

  <div class="content-container-column">
    <p i18n>Esports Business League is a charity esports event, which provides working gamers with an arena for competition between individuals and teams from different companies. Each season of the league is 4-8 weeks in length. Matches take place on week days after working hours Monday-Thursday. The league culminates with finals where the teams and players who have accumulated the most points during the season meet. All league matches are being broadcasted live on our <a href="https://www.twitch.tv/ebleague_a" i18n-title title="Follow us on Twitch" target="_blank" rel="noopener">Twitch</a> channels.</p>
    <h3 i18n>When?</h3>
    <p i18n>Get ready for Season 3 of the one of a kind esports office league! Starting this season, Esports Business League becomes a charity event, through which participants will be able to choose the charity campaign they wish to support. Registrations will open soon!</p>
    <p i18n>Registrations are open until reaching the deadline, or until all the available spots have been filled.</p>
    <p i18n>Season 3 of the Esports Business League will begin <span class="highlight">{{ dates.compStart | date }}</span>.</p>
    <p i18n>Esports Business League Season 3 finals will be held <span class="highlight">{{ dates.compStart | date }}</span>.</p>
  </div>



  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 id="terms" i18n>Terms and conditions</h2>
  </div>

  <div class="content-container-column left-column">
    <p i18n>All team members must be <span class="highlight">current employees of the company associated with the team registration, should not have any active engagement or affiliation with a professional esports organization, and haven't participated in professional esports matches as players in the past 24 months from the date of registration</span>. The team is allowed to have standins/substitute players and they have to comply with the same conditions as the main players on the team. Substitutes can be added to the team post registration, as long as they comply with the aforementioned conditions. Individual players (StarCraft II) must be <span class="highlight">current employees of the company associated with their registration</span>. The company represented by the team/individual must be provided at the time of registration.</p>
    <p i18n>Registrations are open until the deadline is reached, {{ dates.regDeadline }}, or until all open slots have been filled (16 CS:GO teams, 32 StarCraft II players). Successful registration completion requires registration fee payment - 300 BGN (VAT incl.) per team or 60 BGN (VAT incl.) per individual competitor. Registration fee paymant is done with a bank transfer after the registration form has been submitted. <span class="highlight">All registration fees are being added to the prize pool fund. At the end of the season the prize pool will be donated to a charitable cause chosen by the winners!</span></p>
  </div>
  <div class="content-container-column">
    <img src="/assets/wallpapers/jersey.webp" alt="Esports Business League" />
  </div>

  <!-- <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>Избрани Моменти</h2>
  </div>

  <div class="content-container-column left-column">
    <iframe class="twitch-stream" title="Highlight video" src="https://www.youtube.com/embed/Aocaj_kVdfA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="content-container-column">
    <iframe class="twitch-stream" title="Highlight video" src="https://www.youtube.com/embed/yt35XM_avg8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> -->

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Tournament format</h2>
  </div>

  <div class="content-container-column">
    <h3 class="navigatable" routerLink="/format" i18n>CS:GO League</h3>
    <ul>
      <li i18n>3-7 weeks</li>
      <li i18n>2 groups with up to 8 teams each</li>
      <li i18n>1-2 matches per team per week</li>
      <li i18n>Matches are in BO1 or BO3 format</li>
      <li i18n>Round robin format</li>
      <li i18n>Each team earns points weekly</li>
      <li i18n>Finals weekend with the 4 best teams from the group stage</li>
      <li i18n>Full information about the format can be found <a routerLink="/format">here</a></li>
    </ul>
  </div>

  <div class="content-container-column">
    <h3 class="navigatable" routerLink="/format" i18n>StarCraft II League</h3>
    <ul>
      <li i18n>3-7 weeks</li>
      <li i18n>4 groups with up to 8 players each</li>
      <li i18n>1-2 matches per player per week</li>
      <li i18n>Matches are in BO3 format</li>
      <li i18n>Round robin format</li>
      <li i18n>Each player earns points weekly</li>
      <li i18n>Finals weekend with the 8 best players from the group stage</li>
      <li i18n>Full information about the format can be found <a routerLink="/format">here</a></li>
    </ul>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 i18n>Prizes</h2>
  </div>

  <div class="content-container-column justify-start">
    <h3 i18n>CS:GO League</h3>
    <p i18n>The prize pool is funded by the registration fees.</p>
    <p i18n>The winning team in the CS:GO league will appropriate 75% of the prize pool towards their choice of a charitable cause.</p>
    <p i18n>The runner-up team in the CS:GO league will appropriate 25% of the prize pool towards their choice of a charitable cause.</p>
  </div>

  <div class="content-container-column justify-start">
    <h3 i18n>StarCraft II League</h3>
    <p i18n>The prize pool is funded by the registration fees.</p>
    <p i18n>The winner in the StarCraft II league will appropriate 75% of the prize pool towards their choice of a charitable cause.</p>
    <p i18n>The runner-up in the StarCraft II league will appropriate 25% of the prize pool towards their choice of a charitable cause.</p>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 id="partners" i18n>Partners</h2>
    <!-- <div class="horizontal-center">
      <a href="https://www.isobar.com/bg/en/" target="_blank" rel="noopener">
        <igx-icon fontSet="partners" name="isobar" title="Isobar solves complex business challenges through digital marketing and technology. #1 Digital agency in Bulgaria with 200+ ecommerce experts, growing for 12+ years." class="partner platinum"></igx-icon>
      </a>
      <a href="https://www.vmware.com/" target="_blank" rel="noopener">
        <igx-icon fontSet="partners" name="vmware" title="VMware is a global leader in cloud infrastructure and business mobility. The company helps customers realize possibilities by accelerating their digital transformation journeys. Over the range of 12 years VMware Bulgaria has transformed from a purely R&D facility to a multifunctional hub with product, revenue generating professional services and business operations teams and is now one of the three core strategic sites for VMware globally." class="partner platinum"></igx-icon>
      </a>
      <a href="https://telusinternational.avature.net/careers/SearchJobsBulgaria?3_53_3=5183" target="_blank" rel="noopener">
        <igx-icon fontSet="partners" name="telus" title="TELUS International Europe is the biggest employer in the BPO sector in Bulgaria, with a team of over 3000 people in Sofia and Plovdiv, and serves clients in over 40 languages." class="partner platinum"></igx-icon>
      </a>
      <a href="https://www8.hp.com/us/en/gaming/omen.html" target="_blank" rel="noopener">
        <igx-icon fontSet="partners" name="omen" title="All matches at the EB-League finals will be played on OMEN desktop machines and OMEN 240hz monitors!" class="partner platinum"></igx-icon>
      </a>
    </div> -->
    <!-- <div class="horizontal-center">
      <a href="https://www.vmware.com/" target="_blank" rel="noopener" title="VMware is a global leader in cloud infrastructure and business mobility. The company helps customers realize possibilities by accelerating their digital transformation journeys. Over the range of 12 years VMware Bulgaria has transformed from a purely R&D facility to a multifunctional hub with product, revenue generating professional services and business operations teams and is now one of the three core strategic sites for VMware globally.">
        <igx-icon fontSet="partners" name="vmware" class="partner gold"></igx-icon>
      </a>
      <a href="https://careers.paysafe.com/sofiaengineeringteams/" target="_blank" rel="noopener" title="С над 1200 служители, Paysafe е сред най-големите софтуерни компании и желани работодатели в България.">
        <igx-icon fontSet="partners" name="paysafe" class="partner gold"></igx-icon>
      </a>
      <a href="https://www.modis.com/en-bg/" target="_blank" rel="noopener">
        <igx-icon fontSet="partners" name="modis" title="Modis is a global leader in professional solutions for IT, Engineering and Life Sciences. With more than 20 years of experience the company has established office locations in Europe, North America, Asia and Australia." class="partner gold"></igx-icon>
      </a>
    </div> -->
    <div class="horizontal-center">
      <a href="http://bprogaming.com/" i18n-title title="BPro Gaming is the first professional esports club in Bulgaria. During the past 4 years BPro has developed a number of professional players, team and infrastructure." target="_blank" rel="noopener">
        <img src="/assets/partners/bpro.webp" i18n-alt alt="BPro Gaming is the first professional esports club in Bulgaria. During the past 4 years BPro has developed a number of professional players, team and infrastructure." class="partner logistics" />
      </a>
      <a href="https://www.facebook.com/BSLesports/" i18n-title title="BSL a one of a kind StarCraft II league in Bulgaria and are contributing to the deveopment of Bulgarian talent in this esport! All StarCraft 2 games in the Esports Business League will be casted by the them!" target="_blank" rel="noopener">
        <img src="/assets/partners/bsl.webp" i18n-alt alt="BSL a one of a kind StarCraft II league in Bulgaria and are contributing to the deveopment of Bulgarian talent in this esport! All StarCraft 2 games in the Esports Business League will be casted by the them!" class="partner logistics" />
      </a>
    </div>
  </div>

  <!-- <div class="content-container-row">
    <h2>Сезон 1</h2>
  </div>

  <div class="content-container-column center-items">
    <div class="watermark csgo-watermark"></div>
    <h2>Шампиони</h2>
    <a href="https://bellumgens.com/team/BPro-Veterans/details" target="_blank" rel="noopener">
      <img class="first-place" src="/assets/partners/bpro_veterans.webp" alt="Bpro Veterans" title="Bpro Veterans" />
    </a>

    <h3>Второ място</h3>
    <a href="https://bellumgens.com/team/DXC/details" target="_blank" rel="noopener">
      <img class="second-place" src="https://sofiatech.bg/wp-content/uploads/2019/01/DXC-Technology-Logo.png" alt="DXC" title="DXC" />
    </a>

    <h4>Трето-четвърто място</h4>
    <div class="horizontal-center space-evenly">
      <a href="https://bellumgens.com/team/Mod1s/details" target="_blank" rel="noopener">
        <img class="third-forth-place" src="/assets/partners/modis.webp" alt="Modis" title="Modis" />
      </a>

      <a href="https://bellumgens.com/team/IG-Warriors/details" target="_blank" rel="noopener">
        <img class="third-forth-place" src="/assets/partners/ig.webp" alt="3nIGm4 [Infragistics]" title="3nIGm4 [Infragistics]" />
      </a>
    </div>
  </div>

  <div class="content-container-column center-items">
    <div class="watermark sc2-watermark"></div>
    <h2>Шампион</h2>

    <a class="first-place-text" href="https://bellumgens.com/players/76561198061226037" target="_blank" rel="noopener">
      SuGaRBuNNy [C3I]
    </a>

    <h3>Второ място</h3>
    <a class="second-place-text" href="https://bellumgens.com/players/76561198809508330" target="_blank" rel="noopener">
      t0ssboy [HP]
    </a>

    <h4>Трето-четвърто място</h4>
    <div class="horizontal-center space-evenly">
      <a class="third-forth-place-text" href="https://bellumgens.com/players/76561198798145467" target="_blank" rel="noopener">
        LEv0n
      </a>

      <a class="third-forth-place-text" href="https://bellumgens.com/players/76561199015442941" target="_blank" rel="noopener">
        kOliO
      </a>
    </div>
  </div> -->

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 id="aboutus" i18n>About us</h2>
    <p i18n>Esports Бизнес Лигата is organized by Bellum Gens - organization focused on the development and popularization of esports in Bulgaria and on the Balkans. Bellum Gens was founded as an amateur project by two friends - gamers. We want to make esports a recognizable topic for the business and thus to help the development of all esports project in Bulgaria and on the Balkans.</p>

    <h2 i18n>Contact us</h2>
    <form #subscription="ngForm" (ngSubmit)="subscribe()">
      <div class="horizontal">
        <igx-input-group type="border" class="subscription-form-input">
          <label igxLabel for="subemail" i18n>Email</label>
          <igx-prefix>
            <igx-icon>email</igx-icon>
          </igx-prefix>
          <input type="email" id="subemail" #subMail name="subemail" igxInput pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userEmail" />
          <igx-suffix *ngIf="subMail.value" (click)="userEmail = null">
            <igx-icon>clear</igx-icon>
          </igx-suffix>
          <igx-hint i18n>Get email updates from us!</igx-hint>
        </igx-input-group>

        <button igxButton="outlined" class="submit-email" [disabled]="subscription.invalid || !userEmail" i18n>Subscribe</button>
      </div>
    </form>
  </div>
</div>
