<div class="home-page-slide-columns">
  <div class="slide slide1">
    <div class="slide-info-column">
      <h1><a routerLink="/csgo">CS:GO League</a></h1>
      <!-- <iframe src="https://player.twitch.tv/?channel=ebleague_a&parent=eb-league.com" frameborder="0" allowfullscreen="true" scrolling="no" class="twitch-stream"></iframe> -->
      <p>Регистрациите за Esports Business League Сезон 2 са отворени! Можете да регистрирате своят отбор до 31ви август 2020. Второто издание на Esports Business League започва с онлайн фаза на 14ти септември, 2020.</p>
      <igx-linear-bar [max]="16"
                      [value]="registrations | getRegCount:gameEnum.CSGO"
                      [text]="(registrations | getRegCount:gameEnum.CSGO) + ' / 16 записани'"
                      type="success"></igx-linear-bar>
      <button igxButton="raised" (click)="registration.selectGame(gameEnum.CSGO)">Регистрирай се за CS:GO лига</button>
    </div>
  </div>
  <div class="slide slide2">
    <div class="slide-info-column">
      <h1><a routerLink="/sc2">StarCraft II League</a></h1>
      <!-- <iframe src="https://player.twitch.tv/?channel=ebleague_b&parent=eb-league.com" frameborder="0" allowfullscreen="true" scrolling="no" class="twitch-stream"></iframe> -->
      <p>Регистрациите за Esports Business League Сезон 2 са отворени! Можете да направите своята регистрация до 31ви август 2020. Второто издание на Esports Business League започва с онлайн фаза на 14ти септември 2020.</p>
      <igx-linear-bar [max]="32"
                      [value]="registrations | getRegCount:gameEnum.StarCraft2"
                      [text]="(registrations | getRegCount:gameEnum.StarCraft2) + ' / 32 записани'"
                      type="success"></igx-linear-bar>
      <button igxButton="raised" (click)="registration.selectGame(gameEnum.StarCraft2)">Регистрирай се за StarCraft II лига</button>
    </div>
  </div>
</div>

<bg-login-dialog #loginDialog></bg-login-dialog>

<div class="content-container">
  <app-tournament-registration #registration class="content-container-row"></app-tournament-registration>
  <div class="content-container-row">
    <h2 id="finals">Финали Сезон 1</h2>
  </div>

  <div class="content-container-row">
    <p>Първият сезон на Esports Business League приключи на 12ти април с два грандиозни финала по StarCraft II и CS:GO! В категорията по StarCraft II, на финалът премериха сили t0ssboy [HP] и SuGaRBuNNy [C3I], като от успорваният BO5 победител излезе <a href="https://bellumgens.com/players/76561198061226037" target="_blank">SuGaRBuNNy [C3I]</a>. В категорията по CS:GO, на финалът премериха сили Bpro Veterans и DXC. След 3 инфарктни карти, победители излязоха <a href="https://bellumgens.com/team/BPro-Veterans/details" target="_blank">Bpro Veterans</a>.</p>
  </div>

  <div class="content-container-column center-items">
    <div class="watermark csgo-watermark"></div>
    <h2>Шампиони</h2>
    <a href="https://bellumgens.com/team/BPro-Veterans/details" target="_blank">
      <img class="first-place" src="/assets/partners/bpro_veterans.webp" alt="Bpro Veterans" title="Bpro Veterans" />
    </a>

    <h3>Второ място</h3>
    <a href="https://bellumgens.com/team/DXC/details" target="_blank">
      <img class="second-place" src="https://sofiatech.bg/wp-content/uploads/2019/01/DXC-Technology-Logo.png" alt="DXC" title="DXC" />
    </a>

    <h4>Трето-четвърто място</h4>
    <div class="horizontal-center space-evenly">
      <a href="https://bellumgens.com/team/Mod1s/details" target="_blank">
        <img class="third-forth-place" src="/assets/partners/modis.webp" alt="Modis" title="Modis" />
      </a>

      <a href="https://bellumgens.com/team/IG-Warriors/details" target="_blank">
        <img class="third-forth-place" src="https://i.ibb.co/6NX8D3L/5875-Infragistics-logo-1400x1400.png" alt="3nIGm4 [Infragistics]" title="3nIGm4 [Infragistics]" />
      </a>
    </div>
  </div>

  <div class="content-container-column center-items">
    <div class="watermark sc2-watermark"></div>
    <h2>Шампион</h2>

    <a class="first-place-text" href="https://bellumgens.com/players/76561198061226037" target="_blank">
      SuGaRBuNNy
    </a>

    <h3>Второ място</h3>
    <a class="second-place-text" href="https://bellumgens.com/players/76561198809508330" target="_blank">
      t0ssboy
    </a>

    <h4>Трето-четвърто място</h4>
    <div class="horizontal-center space-evenly">
      <a class="third-forth-place-text" href="https://bellumgens.com/players/76561198798145467" target="_blank">
        LEv0n
      </a>

      <a class="third-forth-place-text" href="https://bellumgens.com/players/76561199015442941" target="_blank">
        kOliO
      </a>
    </div>
  </div>

  <div class="content-container-column left-column">
    <iframe class="twitch-stream" src="https://www.youtube.com/embed/0wu6E_42zr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
  </div>

  <div class="content-container-column">
    <h4>Какво е Esports Business League?</h4>
    <p>Esports Business League предоставя арена за аматьорско състезание между отбори сформирани на работното място. Първият сезон на лигата ще се проведе в рамките на 8 седмици. Срещите се провеждат след работно време от понеделник до четвъртък включително. Лигата ще приключи с LAN финали до които ще достигнат отборите и играчите с най-много събрани точки през сезона. Всички срещи от лигата ще бъдат излъчвани и коментирани на живо през нашите канали.</p>
    <h4>Кога?</h4>
    <p>Регистрации се приемат в периода 15ти Октомври, 2019 - 13ти Януари, 2020, или до изчерпване на местата.</p>
    <p>Провеждането на първи сезон на лигата ще започне на <span class="highlight">27ми Януари, 2020</span>.</p>
    <p>LAN финалите на първи сезон на лигата ще бъдат на <span class="highlight">11-12ти Април, 2020</span>.</p>
  </div>

  <div class="content-container-column left-column">
    <h4 id="terms">Условия за записване</h4>
    <p>Условията за участие са, че всички членове на отбора трябва да бъдат текущи служители на работното място към което е асоцииран отбора и не трябва да имат ангажименти като играчи в професионални Esports организации. Отборът може да има резерви, които трябва да отговарят на същото условие, но могат да бъдат добавяни и след регистрацията. Индивидуалните състезатели (StarCraft II) трябва да бъдат активно заети към работното място, с което се асоциират в регистрацията. При записване ще се изисква да се предостави информация за това коя е компанията която отбора/индивидуалния състезател представлява.</p>
    <p>Записването ще бъде отворено до изтичане на крайния срок, 13ти Януари, 2020, или достигане на максималния брой отбори (16 CS:GO), или индивидуални състезатели (32 StarCraft II). Приключването на регистрацията изисква и заплащането на входна такса - 300лв. с вкл. ДДС на отбор или 60лв. с вкл. ДДС на индивидуален състезател. Заплащането на таксата става по банков път след регистрацията.</p>
    <p>Всеки отбор ще получи като подарък 5 ексклузивни Esports Business League jersey. Всеки индивидуален състезател също ще получи като подарък jersey.</p>
  </div>
  <div class="content-container-column">
    <img src="/assets/wallpapers/cover.webp" class="preview-image" alt="Esports Business League" />
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>Избрани Моменти</h2>
  </div>

  <div class="content-container-column left-column">
    <iframe class="twitch-stream" src="https://www.youtube.com/embed/Aocaj_kVdfA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="content-container-column">
    <iframe class="twitch-stream" src="https://www.youtube.com/embed/yt35XM_avg8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>Формат на Лигата</h2>
  </div>

  <div class="content-container-column">
    <h4 class="navigatable" routerLink="/format">CS:GO Лига</h4>
    <ul>
      <li>7 седмици - формат лига</li>
      <li>2 групи по 8 отбора</li>
      <li>1 среща седмично за всеки отбор</li>
      <li>Всяка среща е best-of-one с overtime</li>
      <li>Всеки срещу всеки, до изчерпване на противниците</li>
      <li>Всеки отбор събира точки седмично</li>
      <li>LAN финал уикенд между 4те отбора събрали най-много точки в групите</li>
      <li>Пълна информация за формата ще намерите <a routerLink="/format">тук</a></li>
    </ul>
  </div>

  <div class="content-container-column">
    <h4 class="navigatable" routerLink="/format">StarCraft II Лига</h4>
    <ul>
      <li>7 седмици - формат лига</li>
      <li>4 групи с по до 8 играча</li>
      <li>1-2 срещи седмично за всеки играч</li>
      <li>Всяка среща е best-of-three</li>
      <li>Всеки срещу всеки, до изчерпване на противниците</li>
      <li>Всеки играч събира точки седмично</li>
      <li>LAN финал уикенд между 8те играча събрали най-много точки в групите</li>
      <li>Пълна информация за формата ще намерите <a routerLink="/format">тук</a></li>
    </ul>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>Награди</h2>
  </div>

  <div class="content-container-column justify-start">
    <h4>CS:GO Лига</h4>
    <p>Отборите финалисти в лигата по CS:GO ще се състезават за награди на обща стойност 8000 лв.</p>
    <p>Отборът победител в CS:GO лигата ще получи награда на стойност 4000 лв.</p>
    <p>Отборът, класирал се втори, ще получи награда на стойност 2000 лв.</p>
    <p>Остатъкът от наградния фонд ще бъде разпределен между останалите участници във финалите.</p>
    <!-- <img src="/assets/wallpapers/Global_elite_experience.webp" alt="ESL One Cologne 2020 Global Elite Pass (5 man)" /> -->
  </div>

  <div class="content-container-column justify-start">
    <h4>StarCraft II Лига</h4>
    <p>Финалистите в лигата по StarCraft II ще се състезават за награди на обща стойност 2000 лв.</p>
    <p>Победителят в StarCraft II лигата ще получи награда на стойност 1000 лв.</p>
    <p>Състезателят, класирал се втори, ще получи награда на стойност 500 лв.</p>
    <p>Остатъкът от наградния фонд ще бъде разпределен между останалите участници във финалите.</p>
    <!-- <img src="/assets/wallpapers/blizz_con.webp" alt="BlizCon 2020 Ticket" /> -->
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 id="partners">Партньори</h2>
    <div class="horizontal-center">
      <a href="https://www.isobar.com/bg/en/" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="isobar" title="Isobar solves complex business challenges through digital marketing and technology. #1 Digital agency in Bulgaria with 200+ ecommerce experts, growing for 12+ years." class="partner platinum"></igx-icon>
      </a>
      <a href="https://www.vmware.com/" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="vmware" title="VMware is a global leader in cloud infrastructure and business mobility. The company helps customers realize possibilities by accelerating their digital transformation journeys. Over the range of 12 years VMware Bulgaria has transformed from a purely R&D facility to a multifunctional hub with product, revenue generating professional services and business operations teams and is now one of the three core strategic sites for VMware globally." class="partner platinum"></igx-icon>
      </a>
      <a href="https://telusinternational.avature.net/careers/SearchJobsBulgaria?3_53_3=5183" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="telus" title="TELUS International Europe is the biggest employer in the BPO sector in Bulgaria, with a team of over 3000 people in Sofia and Plovdiv, and serves clients in over 40 languages." class="partner platinum"></igx-icon>
      </a>
      <a href="https://www8.hp.com/us/en/gaming/omen.html" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="omen" title="All matches at the EB-League finals will be played on OMEN desktop machines and OMEN 240hz monitors!" class="partner platinum"></igx-icon>
      </a>
    </div>
    <div class="horizontal-center">
      <a href="https://www.modis.com/en-bg/" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="modis" title="Modis is a global leader in professional solutions for IT, Engineering and Life Sciences. With more than 20 years of experience the company has established office locations in Europe, North America, Asia and Australia." class="partner gold"></igx-icon>
      </a>
    </div>
    <div class="horizontal-center">
      <a href="http://bprogaming.com/" title="BPro e първата професионална клубна организация по електронни спортове в България. През последните 4 години BPro са изградили множество състезатели, отбори и инфраструктура" target="_blank" rel="nofollow">
        <img src="/assets/partners/bpro.webp" alt="BPro e първата професионална клубна организация по електронни спортове в България. През последните 4 години BPro са изградили множество състезатели, отбори и инфраструктура" class="partner logistics" />
      </a>
      <a href="https://www.facebook.com/BSLesports/" title="BSL организират първата по рода си лига по StarCraft II в България и допринасят за развитието на талантите ни в този #esport! Всички StarCraft 2 игри от Esports Business League ще бъдат коментирани от тях!" target="_blank" rel="nofollow">
        <img src="/assets/partners/bsl.webp" alt="Те организират първата по рода си лига по StarCraft II в България и допринасят за развитието на талантите ни в този #esport! Всички StarCraft 2 игри от Esports Business League ще бъдат коментирани от тях!" class="partner logistics" />
      </a>
    </div>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 id="aboutus">За Нас</h2>
    <p>
      Esports Бизнес Лигата се организира от Белум Генс - организация фокусирана върху развитието и популяризирането на esports в България. Белум Генс е основана като аматьорски проект от двама приятели - геймъри. Искаме да направим esports тема, която е разбираема за бизнеса в България и по този начин да подпомогнем развитието на други esports проекти в България - наши, както и външни. За тази цел търсим да си партнираме с всички в България, които са ангажирани с esports, или имат интерес към esports. Пишете ни, ако смятате че имаме пресечни точки!
    </p>

    <h2>Контакти</h2>
    <form #subscription="ngForm" (ngSubmit)="subscribe()">
      <div class="horizontal">
        <igx-input-group type="border" class="subscription-form-input">
          <label igxLabel for="subemail">Имейл адрес</label>
          <igx-prefix>
            <igx-icon>email</igx-icon>
          </igx-prefix>
          <input type="email" id="subemail" #subMail name="subemail" igxInput pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userEmail" />
          <igx-suffix *ngIf="subMail.value" (click)="userEmail = null">
            <igx-icon>clear</igx-icon>
          </igx-suffix>
          <igx-hint>Оставете имейла си за да получавате известия от нас!</igx-hint>
        </igx-input-group>

        <button igxButton="outlined" class="submit-email" [disabled]="subscription.invalid || !userEmail">Запиши се</button>
      </div>
    </form>

    <div class="contacts">
      <a href="mailto:info@eb-league.com" title="Имейл" style="color: white">
        <igx-icon>email</igx-icon>
      </a>
      <a href="https://www.facebook.com/esportsbleague/" title="Facebook" target="_blank" rel="nofollow">
        <igx-icon fontSet="login-icons" name="Facebook"></igx-icon>
      </a>
      <a href="https://twitter.com/EsportBLeague" title="Twitter" target="_blank" rel="nofollow">
        <igx-icon fontSet="login-icons" name="Twitter"></igx-icon>
      </a>
      <a href="https://discord.gg/bnTcpa9" title="Discord" target="_blank" rel="nofollow">
        <igx-icon class="discord-icon" fontSet="login-icons" name="Discord"></igx-icon>
      </a>
    </div>
  </div>
</div>
