<div class="home-page-slide-columns">
  <div class="slide slide1">
    <div class="slide-info-column">
      <!-- <h1><a routerLink="/csgo">CS:GO League</a></h1> -->
      <iframe src="https://player.twitch.tv/?channel=ebleague_a" frameborder="0" allowfullscreen="true" scrolling="no" class="twitch-stream"></iframe>
      <!-- <p>Регистрациите за първия сезон на Esports Business League проключиха! Първото издание на Esports Business League започва с онлайн фаза на 27ми януари 2020.</p>
      <igx-linear-bar [max]="16"
                      [value]="registrations | getRegCount:gameEnum.CSGO"
                      [text]="(registrations | getRegCount:gameEnum.CSGO) + ' / 16 записани'"
                      type="success"></igx-linear-bar>
      <button igxButton="raised" routerLink="/csgo">Отиди до CS:GO лига</button> -->
    </div>
  </div>
  <div class="slide slide2">
    <div class="slide-info-column">
      <!-- <h1><a routerLink="/sc2">StarCraft II League</a></h1> -->
      <iframe src="https://player.twitch.tv/?channel=ebleague_b" frameborder="0" allowfullscreen="true" scrolling="no" class="twitch-stream"></iframe>
      <!-- <p>Регистрациите за първия сезон на Esports Business League проключиха! Първото издание на Esports Business League започва с онлайн фаза на 27ми януари 2020.</p>
      <igx-linear-bar [max]="32"
                      [value]="registrations | getRegCount:gameEnum.StarCraft2"
                      [text]="(registrations | getRegCount:gameEnum.StarCraft2) + ' / 32 записани'"
                      type="success"></igx-linear-bar>
      <button igxButton="raised" routerLink="/sc2">Отиди до StarCraft II лига</button> -->
    </div>
  </div>
</div>

<bg-login-dialog #loginDialog></bg-login-dialog>

<div class="content-container">
  <!-- <app-tournament-registration class="content-container-row"></app-tournament-registration> -->

  <div class="content-container-column left-column">
    <img src="/assets/wallpapers/cover.webp" class="preview-image" alt="Esports Business League" />
  </div>
  <div class="content-container-column">
    <h4>Какво е Esports Business League?</h4>
    <p>Esports Business League предоставя арена за аматьорско състезание между отбори сформирани на работното място. Първият сезон на лигата ще се проведе в рамките на 8 седмици. Срещите се провеждат след работно време от понеделник до четвъртък включително. Лигата ще приключи с LAN финали до които ще достигнат отборите и играчите с най-много събрани точки през сезона. Всички срещи от лигата ще бъдат излъчвани и коментирани на живо през нашите канали.</p>
    <h4>Кога?</h4>
    <p>Регистрации се приемат в периода 15ти Октомври, 2019 - 13ти Януари, 2020, или до изчерпване на местата.</p>
    <p>Провеждането на първи сезон на лигата ще започне на <span class="highlight">27ми Януари, 2020</span>.</p>
    <p>LAN финалите на първи сезон на лигата ще бъдат на <span class="highlight">11-12ти Април, 2020</span>.</p>
  </div>

  <div class="content-container-column left-column">
    <h4 id="terms">Условия за записване</h4>
    <p>Единственото условие за участие е всички членове на отбора да бъдат текущи служители на работното място към което е асоцииран отбора. Отборът може да има резерви, които трябва да отговарят на същото условие, но могат да бъдат добавяни и след регистрацията. Индивидуалните състезатели (StarCraft II) трябва да бъдат активно заети към работното място, с което се асоциират в регистрацията. При записване ще се изисква да се предостави информация за това коя е компанията която отбора/индивидуалния състезател представлява.</p>
    <p>Записването ще бъде отворено до изтичане на крайния срок, 13ти Януари, 2020, или достигане на максималния брой отбори (16 CS:GO), или индивидуални състезатели (32 StarCraft II). Приключването на регистрацията изисква и заплащането на входна такса - 300лв. с вкл. ДДС на отбор или 60лв. с вкл. ДДС на индивидуален състезател. Заплащането на таксата става по банков път след регистрацията.</p>
    <p>Всеки отбор ще получи като подарък 5 ексклузивни Esports Business League jersey. Всеки индивидуален състезател също ще получи като подарък jersey.</p>
  </div>

  <div class="content-container-column">
    <img src="/assets/wallpapers/LandingPage_image_2.webp" class="preview-image" alt="Terms and Conditions" />
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>Формат на Лигата</h2>
  </div>

  <div class="content-container-column">
    <h4 class="navigatable" routerLink="/format">CS:GO Лига</h4>
    <ul>
      <li>7 седмици - формат лига</li>
      <li>2 групи по 8 отбора</li>
      <li>1 среща седмично за всеки отбор</li>
      <li>Всяка среща е best-of-one с overtime</li>
      <li>Всеки срещу всеки, до изчерпване на противниците</li>
      <li>Всеки отбор събира точки седмично</li>
      <li>LAN финал уикенд между 4те отбора събрали най-много точки в групите</li>
      <li>Пълна информация за формата ще намерите <a routerLink="/format">тук</a></li>
    </ul>
  </div>

  <div class="content-container-column">
    <h4 class="navigatable" routerLink="/format">StarCraft II Лига</h4>
    <ul>
      <li>7 седмици - формат лига</li>
      <li>4 групи с по до 8 играча</li>
      <li>1-2 срещи седмично за всеки играч</li>
      <li>Всяка среща е best-of-three</li>
      <li>Всеки срещу всеки, до изчерпване на противниците</li>
      <li>Всеки играч събира точки седмично</li>
      <li>LAN финал уикенд между 8те играча събрали най-много точки в групите</li>
      <li>Пълна информация за формата ще намерите <a routerLink="/format">тук</a></li>
    </ul>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>Награди</h2>
  </div>

  <div class="content-container-column justify-start">
    <h4>CS:GO Лига</h4>
    <p>Отборите финалисти в лигата по CS:GO ще се състезават за награди на обща стойност €8000.</p>
    <p>Отборът победител в CS:GO лигата ще получи награда на стойност €4000.</p>
    <p>Отборът, класирал се втори, ще получи награда на стойност €2000.</p>
    <p>Остатъкът от наградния фонд ще бъде разпределен между останалите участници във финалите.</p>
    <!-- <img src="/assets/wallpapers/Global_elite_experience.webp" alt="ESL One Cologne 2020 Global Elite Pass (5 man)" /> -->
  </div>

  <div class="content-container-column justify-start">
    <h4>StarCraft II Лига</h4>
    <p>Финалистите в лигата по StarCraft II ще се състезават за награди на обща стойност €2000.</p>
    <p>Победителят в StarCraft II лигата ще получи награда на стойност €1000.</p>
    <p>Състезателят, класирал се втори, ще получи награда на стойност €500.</p>
    <p>Остатъкът от наградния фонд ще бъде разпределен между останалите участници във финалите.</p>
    <!-- <img src="/assets/wallpapers/blizz_con.webp" alt="BlizCon 2020 Ticket" /> -->
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 id="partners">Партньорства</h2>
    <div class="horizontal-center">
      <a href="https://www.isobar.com/bg/en/" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="isobar" title="Isobar solves complex business challenges through digital marketing and technology. #1 Digital agency in Bulgaria with 200+ ecommerce experts, growing for 12+ years." class="partner platinum"></igx-icon>
      </a>
      <a href="https://www.vmware.com/" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="vmware" title="VMware is a global leader in cloud infrastructure and business mobility. The company helps customers realize possibilities by accelerating their digital transformation journeys. Over the range of 12 years VMware Bulgaria has transformed from a purely R&D facility to a multifunctional hub with product, revenue generating professional services and business operations teams and is now one of the three core strategic sites for VMware globally." class="partner platinum"></igx-icon>
      </a>
      <a href="https://telusinternational.avature.net/careers/SearchJobsBulgaria?3_53_3=5183" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="telus" title="TELUS International Europe is the biggest employer in the BPO sector in Bulgaria, with a team of over 3000 people in Sofia and Plovdiv, and serves clients in over 40 languages." class="partner platinum"></igx-icon>
      </a>
    </div>
    <div class="horizontal-center">
      <a href="https://www.modis.com/en-bg/" target="_blank" rel="nofollow">
        <igx-icon fontSet="partners" name="modis" title="Modis is a global leader in professional solutions for IT, Engineering and Life Sciences. With more than 20 years of experience the company has established office locations in Europe, North America, Asia and Australia." class="partner gold"></igx-icon>
      </a>
    </div>
    <div class="horizontal-center">
      <a href="http://bprogaming.com/" title="BPro e първата професионална клубна организация по електронни спортове в България. През последните 4 години BPro са изградили множество състезатели, отбори и инфраструктура" target="_blank" rel="nofollow">
        <img src="/assets/partners/bpro.webp" alt="BPro e първата професионална клубна организация по електронни спортове в България. През последните 4 години BPro са изградили множество състезатели, отбори и инфраструктура" class="partner logistics" />
      </a>
      <a href="https://www.facebook.com/BSLesports/" title="BSL организират първата по рода си лига по StarCraft II в България и допринасят за развитието на талантите ни в този #esport! Всички StarCraft 2 игри от Esports Business League ще бъдат коментирани от тях!" target="_blank" rel="nofollow">
        <img src="/assets/partners/bsl.webp" alt="Те организират първата по рода си лига по StarCraft II в България и допринасят за развитието на талантите ни в този #esport! Всички StarCraft 2 игри от Esports Business League ще бъдат коментирани от тях!" class="partner logistics" />
      </a>
    </div>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2>За Нас</h2>
    <p>
      Esports Бизнес Лигата се организира от Белум Генс - организация фокусирана върху развитието и популяризирането на esports в България. Белум Генс е основана като аматьорски проект от двама приятели - геймъри. Искаме да направим esports тема, която е разбираема за бизнеса в България и по този начин да подпомогнем развитието на други esports проекти в България - наши, както и външни. За тази цел търсим да си партнираме с всички в България, които са ангажирани с esports, или имат интерес към esports. Пишете ни, ако смятате че имаме пресечни точки!
    </p>

    <h2>Контакти</h2>
    <form #subscription="ngForm" (ngSubmit)="subscribe()">
      <div class="horizontal">
        <igx-input-group type="border" class="subscription-form-input">
          <label igxLabel for="subemail">Имейл адрес</label>
          <igx-prefix>
            <igx-icon>email</igx-icon>
          </igx-prefix>
          <input type="email" id="subemail" #subMail name="subemail" igxInput pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userEmail" />
          <igx-suffix *ngIf="subMail.value" (click)="userEmail = null">
            <igx-icon>clear</igx-icon>
          </igx-suffix>
          <igx-hint>Оставете имейла си за да получавате известия от нас!</igx-hint>
        </igx-input-group>

        <button igxButton="outlined" class="submit-email" [disabled]="subscription.invalid || !userEmail">Запиши се</button>
      </div>
    </form>

    <div class="contacts">
      <a href="mailto:info@eb-league.com" title="Имейл" style="color: white">
        <igx-icon>email</igx-icon>
      </a>
      <a href="https://www.facebook.com/esportsbleague/" title="Facebook" target="_blank" rel="noopener">
        <igx-icon fontSet="login-icons" name="Facebook"></igx-icon>
      </a>
      <a href="https://twitter.com/EsportBLeague" title="Twitter" target="_blank" rel="noopener">
        <igx-icon fontSet="login-icons" name="Twitter"></igx-icon>
      </a>
      <a href="https://discord.gg/bnTcpa9" title="Discord" target="_blank" rel="noopener">
        <igx-icon class="discord-icon" fontSet="login-icons" name="Discord"></igx-icon>
      </a>
    </div>
  </div>
</div>
