:host {
  iframe {
    border-radius: 20px;
  }
}

.slide {
  height: 450px;
  border-radius: 24px;
}

.slide.slide1 {
  background-image: url('/assets/wallpapers/CSGO_BG.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.slide.slide2 {
  background-image: url('/assets/wallpapers/SC2_BG_2.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-form-input {
  min-width: 348px;
}

.submit-email {
  height: 50px;
  margin: 0 8px;
}

.contacts {
  display: flex;
  min-width: 128px;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 16px;
}

.partner {
  margin: 16px;
}

.platinum {
  width: 380px;
  height: 300px;
}

.gold {
  width: 220px;
  height: 150px;
}

.logistics {
  width: 150px;
}

.slide-info-column {
  padding: 25px;
}

.tickets-frame {
  width: 100%;
  height: 723px;
}

@media only screen and (max-width: 550px) {
  .submit-email {
    height: 48px;
    margin: 8px auto;
  }

  .success-dialog-content {
    width: 380px;
  }

  .platinum {
    width: 348px;
    height: 200px;
  }
}
