.major-stream-row {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  padding-bottom: 16px;
}

.major-stream-column {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}

.social-media-icon {
  width: 48px;
}

@media only screen and (max-width: 520px) {
  .video-container {
    width: 433px;
    height: 244px;
  }
}

@media only screen and (max-width: 1600px) {
  .video-container {
    width: 648px;
    height: 365px;
  }
}

@media only screen and (min-width: 1601px) {
  .video-container {
    width: 798px;
    height: 448px;
  }
}

@media only screen and (min-width: 1925px) {
  .video-container {
    width: 1153px;
    height: 649px;
  }
}