<div class="major-stream-row">
  <div class="major-stream-column">
    <h4>IEM Katowice Major - Stream A</h4>
    <iframe src="https://player.twitch.tv/?channel=esl_csgo" frameborder="0" scrolling="no" class="video-container"></iframe>
  </div>
  <div class="major-stream-column">
    <h4>IEM Katowice Major - Stream B</h4>
    <iframe src="https://player.twitch.tv/?channel=esl_csgob" frameborder="0" scrolling="no" class="video-container"></iframe>
  </div>
</div>
<div class="major-stream-row">
  <!-- <div class="item-container">
    <app-players class="list-container"></app-players>
    <app-teams class="list-container"></app-teams>
  </div> -->

  <div class="middle-card">
    <igx-card>
      <igx-card-header>
        <h3 class="igx-card-header__title">Bellum Gens - Looking for group</h3>
        <h5 class="igx-card-header__subtitle">We just launched an early alpha for the IEM Katowice 2019 Major. Enjoy watching the two streams side-by-side, and explore the site.</h5>
      </igx-card-header>
      <igx-card-content>
        <div class="middle-card">
          <p class="igx-card-content__text">Currently, a lot of the modules on the site are work in progress. We would appreciate any feedback you may have on our <a href="https://discordapp.com/invite/xhptZX?utm_source=Discord%20Widget&utm_medium=Connect" target="_blank">Discord channel</a>, or on the wesite's <a href="https://github.com/BellumGens/bellum-gens" target="_blank">GitHub repository</a> as this project is open source.</p>
          <p class="igx-card-content__text">We would also appreciate if you follow us on social media.</p>
          <a href="https://twitter.com/BellumGens" target="_blank"><img src="/assets/twitterlogo_1x.png" class="social-media-icon" /></a>
          <a href="https://www.facebook.com/BellumGens" target="_blank"><img src="/assets/flogo_rgb_hex-brc-site-250.png" class="social-media-icon" /></a>
          <p class="igx-card-content__text">Copyright © Bellum Gens, 2019</p>
        </div>
      </igx-card-content>
      <!-- <igx-card-actions *ngIf="!authUser">
        <app-login></app-login>
      </igx-card-actions> -->
    </igx-card>
  </div>
</div>