<div class="horizontal">
  <igx-input-group type="border" class="user-stats-search">
    <igx-prefix>
      <igx-icon class="button-icon">search</igx-icon>
    </igx-prefix>
    <label igxLabel for="profileInput">Provide Profile URL, SteamID64 or Steam Username to view CS:GO user stats...</label>
    <input id="profileInput" #searchInput igxInput class="search-input" (keyup.enter)="viewStats(searchInput.value)" />
    <igx-suffix *ngIf="searchInput.value.length > 0" (click)="searchInput.value = ''">
      <igx-icon>clear</igx-icon>
    </igx-suffix>
  </igx-input-group>
</div>
<div class="major-stream-row">
  <app-players class="list-container"></app-players>
  <div class="major-stream-column">
    <h4>IEM Katowice Major</h4>
    <iframe title="IEM Katowice Major Stream A" src="https://player.twitch.tv/?channel=esl_csgo" frameborder="0" scrolling="no" class="video-container"></iframe>
  </div>
  <iframe src="https://www.twitch.tv/embed/esl_csgo/chat?darkpopout" frameborder="0" scrolling="no" class="chat-container"></iframe>
</div>
<div class="major-stream-row">

  <div class="middle-card">
    <igx-card>
      <igx-card-header>
        <h3 class="igx-card-header__title">Bellum Gens - Looking for group</h3>
        <h5 class="igx-card-header__subtitle">The Bellum Gens application is now in Beta! Enjoy!</h5>
      </igx-card-header>
      <igx-card-content>
        <div class="middle-card">
          <p class="igx-card-content__text">Bellum Gens is a CS:GO team finding and team management application, which allows players to look for teams matching their skill and availability, and team owners to manage their teams' roster and general organization. Bellum Gens provides you with a single place to manage your team's schedule, strategies and to allow each player to succeed in the context of a team, because CS:GO is a team game!</p>
          <p class="igx-card-content__text">Currently, a lot of the modules on the site are work in progress. We would appreciate any feedback you may have on our <a href="https://discord.gg/NCWbte6" target="_blank" rel="noopener">Discord channel</a>, or on the wesite's <a href="https://github.com/BellumGens/bellum-gens" target="_blank" rel="noopener">GitHub repository</a> as this project is open source.</p>
          <p class="igx-card-content__text">We would also appreciate if you follow us on social media.</p>
          <a href="https://twitter.com/BellumGens" target="_blank" rel="noopener"><img src="/assets/twitterlogo_1x.png" alt="twitter" class="social-media-icon" /></a>
          <a href="https://www.facebook.com/BellumGens" target="_blank" rel="noopener"><img src="/assets/flogo_rgb_hex-brc-site-250.png" alt="facebook" class="social-media-icon" /></a>
          <p class="igx-card-content__text">Copyright © Bellum Gens, 2019</p>
        </div>
      </igx-card-content>
    </igx-card>
  </div>
</div>