.major-stream-row {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  padding-bottom: 16px;
}

/* .major-stream-column {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
} */

.social-media-icon {
  width: 48px;
}

/* .chat-container {
  min-height: 500px;
} */

.user-stats-search {
  margin-bottom: 8px;
  width: 100%;
}

.middle-card {
  display: flex;
  flex: 1 1 320px;
  margin-left: 16px;
}

@media only screen and (max-width: 680px) {
  .list-container {
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
  }

  .middle-card {
    flex: 1 1 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 681px) and (max-width: 1020px) {
  .list-container {
    flex: 1 1 45%;
    width: 50%;
    margin-bottom: 8px;
  }

  .middle-card {
    flex: 1 1 100%;
    margin: 0;
  }
}

/* @media only screen and (max-width: 520px) {
  .video-container {
    width: 433px;
    height: 244px;
  }
}

@media only screen and (max-width: 1600px) {
  .major-stream-row {
    flex: 1 1;
  }

  .video-container {
    width: 648px;
    height: 365px;
  }
}

@media only screen and (min-width: 1601px) {
  .video-container {
    width: 798px;
    height: 448px;
  }
}

@media only screen and (min-width: 1925px) {
  .video-container {
    width: 1153px;
    height: 649px;
  }
} */