.major-stream-row {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  padding-bottom: 16px;
}

.social-media-icon {
  margin-left: 4px;
}

.user-stats-search {
  margin-bottom: 8px;
  width: 100%;
}

.middle-card {
  display: flex;
  flex: 1 1 320px;
  margin-left: 16px;
  height: fit-content;
}

@media only screen and (max-width: 680px) {
  .list-container {
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
  }

  .middle-card {
    flex: 1 1 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 681px) and (max-width: 1020px) {
  .list-container {
    flex: 1 1 45%;
    width: 50%;
    margin-bottom: 8px;
  }

  .middle-card {
    flex: 1 1 100%;
    margin: 0;
  }
}