<div class="content-container">
  <div class="content-container-row">
    <h1>Bellum Gens Elite</h1>
    <p i18n>Bellum Gens Elite is a premier esports event organized in Bulgaria. If you're interested in sponsoring Bellum Gens Elite, our contacts are at the bottom!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HcY0qUrRnJw?si=46RWHQ4ZQcokgblL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column">
    <img ngSrc="/assets/wallpapers/bellum-gens-elite-winners.webp" width="600" height="401" class="preview-image" alt="Bellum Gens Elite - Stara Zagora Winners" />
  </div>
  <div class="content-container-column">
    <h2 i18n>Bellum Gens Elite - Stara Zagora</h2>
    <p i18n>Bellum Gens is the organizer of the premier Bellum Gen Elite esports event. First held in the town of Stara Zagora, under the name <span class="highlight">Bellum Gens Elite - Stara Zagora</span>, BGE brought the top Counter-Strike talent in the region to compete under one roof for a prize pool of $10,000!</p>
    <p i18n>Bellum Gens Elite - Stara Zagora was one of the few LAN events held in 2020 and due to Covid-19, only 10 teams were able to participate in the finals.</p>
  </div>
</div>
