:host {
  display: flex;
  height: calc(100% - 45px);
  width: 100%;
  background-image: url('/assets/bge/bge-background-right.webp');
  background-repeat: no-repeat;
  background-color: #071365;
  background-position: center right;

  // @font-face {
  //   font-family: 'dge-ebold';
  //   src: url('/assets/fonts/dge-ebold.otf');
  // }

  // @font-face {
  //   font-family: 'rg-b';
  //   src: url('/assets/fonts/rg-r.otf');
  // }

  // @font-face {
  //   font-family: 'rg-r';
  //   src: url('/assets/fonts/rg-b.otf');
  // }

  .highlight {
    color: #bccf00;
  }

  .content-container-column iframe {
    width: 600px;
    height: 315px;
  }

  .content-container h1 {
    font-family: "Anton", "Oswald", sans-serif;
    font-size: 96px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 28px;
  }

  .content-container h2 {
    font-family: 'Rajdhani', "Fira Sans Condensed", sans-serif;
    font-size: 36pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
  }

  .content-container h3, .igx-card-header__title {
    font-family: 'Rajdhani', "Fira Sans Condensed", sans-serif;
    font-size: 20pt;
  }

  .content-container h3, .igx-card-header__subtitle {
    font-family: 'Rajdhani', "Fira Sans Condensed", sans-serif;
    font-size: 12pt;
  }

  .content-container p, ul {
    font-family: 'Rajdhani', "Fira Sans Condensed", sans-serif;
    font-weight: normal;
    font-size: 14pt;
  }

  .card-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
  }

  .country-badge-small {
    position: static;
    margin: 0 4px;
    width: 24px;
    height: 24px;
    background-color: transparent;
  }

  @media screen and (max-width: 1024px) {
    background-position: center;

    .content-container h1 {
      font-size: 36pt;
    }

    .content-container h2 {
      font-size: 24pt;
    }

    .content-container p {
      font-size: 12pt;
    }
  }
}
