<div class="content-container">
  <div class="content-container-row">
    <div class="horizontal-center">
      <img width="88" height="88" alt="BGE Logo" [src]="'/assets/login/bge-white-2024.svg'" />
      <h1>Bellum Gens Elite</h1>
    </div>
    <p i18n>Bellum Gens Elite is a premier esports LAN event organized in Bulgaria. Ancient history and traditions, and beautiful scenery combine with high-level action-packed esports competition to bring you an unforgettable experience.</p>
    <a [href]="this.ticketsUrl" target="_blank" igxButton="contained" class="cta-button-large" i18n>GET YOUR TICKETS NOW</a>
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-column">
    <h2 i18n>BGE - Stara Zagora 2024</h2>
    <ul style="margin-bottom: 12px;">
      <li i18n>StarCraft II</li>
      <li i18n>Qualifiers: <span class="highlight">20-21st</span> of July</li>
      <li i18n>Main Event: <span class="highlight">4-8th</span> of September</li>
      <li i18n><span class="highlight">16</span> players</li>
      <li i18n><span class="highlight">€10000</span> prize pool.</li>
      <li i18n>Summer Theater - Stara Zagora</li>
      <li i18n>Tickets available <span class="highlight">NOW</span>!</li>
    </ul>
    <p i18n><span class="highlight">Bellum Gens</span> join forces with the <span class="highlight">Bulgarian StarCraft League</span> and <span class="highlight">Stara Zagora Municipality</span> to bring you an epic esports experience!</p>
  </div>
  <div class="content-container-column">
    <iframe width="560" height="315" class="preview-image" src="https://www.youtube.com/embed/4ZtIooYGp_g?si=zOJOViSa8gZwzRLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <!-- <img ngSrc="/assets/bge/stara-zagora1.webp" width="600" height="337" class="preview-image" alt="Stara Zagora - Samara Monument" /> -->
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
  </div>

  <div id="confirmed-players" class="content-container-row">
    <h2 i18n>Invited Players</h2>
    <div class="card-wrapper">
      <igx-card *ngFor="let player of invitedPlayers">
        <igx-card-media>
          <img [src]="player.image" alt="Player Avatar" />
        </igx-card-media>
        <igx-card-header>
          <div igxCardHeaderTitle>
            <span>{{player.name}}</span>
            <igx-avatar [src]="player.country | countrySVG" *ngIf="player.country !== 'TBA'" shape="circle" [title]="player.country" class="country-badge-small"></igx-avatar>
            <!-- <igx-avatar [src]="player.race | sc2RaceThumb" shape="circle" [title]="player.race" class="country-badge-small"></igx-avatar>
            <igx-avatar [src]="player.country | countrySVG" shape="circle" size="small" [title]="player.country" class="country-badge-small"></igx-avatar> -->
          </div>
          <h4 igxCardHeaderSubtitle>{{player.team}}</h4>
        </igx-card-header>
      </igx-card>
    </div>
  </div>

  <div id="qualifiers" class="content-container-row">
    <h2 i18n>Qualified Players</h2>
    <div class="card-wrapper">
      <igx-card *ngFor="let player of qualifiedPlayers">
        <igx-card-media>
          <img [src]="player.image" alt="Player Avatar" />
        </igx-card-media>
        <igx-card-header>
          <div igxCardHeaderTitle>
            <span>{{player.name}}</span>
            <igx-avatar [src]="player.country | countrySVG" *ngIf="player.country !== 'TBA'" shape="circle" [title]="player.country" class="country-badge-small"></igx-avatar>
            <!-- <igx-avatar [src]="player.race | sc2RaceThumb" shape="circle" [title]="player.race" class="country-badge-small"></igx-avatar>
            <igx-avatar [src]="player.country | countrySVG" shape="circle" size="small" [title]="player.country" class="country-badge-small"></igx-avatar> -->
          </div>
          <h4 igxCardHeaderSubtitle>{{player.team}}</h4>
        </igx-card-header>
        <igx-card-content>
          <p>{{player.source}}</p>
        </igx-card-content>
      </igx-card>
    </div>
  </div>

  <!-- <div class="content-container-column">
    <igx-card>
      <igx-card-header>
        <div igxCardHeaderTitle>
          <span class="highlight">Global Open Qualifier</span>
        </div>
        <div igxCardHeaderSubtitle>
          {{ '2024-07-20T15:00:00+0200' | date: 'medium' }}
        </div>
      </igx-card-header>
      <igx-card-content>
        <ul>
          <li i18n>Open to all players holding a <span class="highlight">Grandmaster</span> rank</li>
          <li i18n><span class="highlight">Top 7</span> players qualify</li>
          <li i18n>Single-elimination bracket</li>
          <li i18n>Registration deadline <span class="highlight">{{ '2024-07-20T13:00:00+0200' | date: 'medium' }}</span></li>
          <li i18n>Qualifier checkin on Discord <span class="highlight">{{ '2024-07-20T13:00:00+0200' | date: 'medium' }}</span></li>
        </ul>
      </igx-card-content>
      <igx-card-actions>
        <a href="https://forms.gle/AF4XTmahvmkxy349A" igxButton="outlined" i18n>Register Here</a>
        <a href="/assets/bge/Rulebook - Bellum Gens Elite 2024.pdf" target="_blank" igxButton="outlined" i18n>View Rulebook</a>
        <a href="https://www.twitch.tv/bge_starazagora" igxButton="outlined">Stream</a>
      </igx-card-actions>
    </igx-card>
  </div>

  <div class="content-container-column">
    <igx-card>
      <igx-card-header>
        <div igxCardHeaderTitle>
          <span class="highlight">Bulgarian Open Qualifier</span>
        </div>
        <div igxCardHeaderSubtitle>
          {{ '2024-07-21T15:00:00+0200' | date: 'medium' }}
        </div>
      </igx-card-header>
      <igx-card-content>
        <ul>
          <li i18n>Limited to players from <span class="highlight">Bulgaria</span></li>
          <li i18n><span class="highlight">Top</span> player qualifies</li>
          <li i18n>Single-elimination bracket</li>
          <li i18n>Registration deadline <span class="highlight">{{ '2024-07-21T13:00:00+0200' | date: 'medium' }}</span></li>
          <li i18n>Qualifier checkin on Discord <span class="highlight">{{ '2024-07-21T13:00:00+0200' | date: 'medium' }}</span></li>
        </ul>
      </igx-card-content>
      <igx-card-actions>
        <a href="https://forms.gle/YZMsqCozLnvb6QNW6" igxButton="outlined" i18n>Register Here</a>
        <a href="/assets/bge/Rulebook - Bellum Gens Elite 2024.pdf" target="_blank" igxButton="outlined" i18n>View Rulebook</a>
        <a href="https://www.twitch.tv/bge_starazagora" igxButton="outlined">Stream</a>
      </igx-card-actions>
    </igx-card>
  </div> -->

  <div id="main-event-schedule" class="content-container-row">
    <h2 i18n>Main Event Schedule</h2>
    <div class="card-wrapper">
      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-04' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Pre-registration</span></li>
            <li i18n>All day: <span class="highlight">Media day</span></li>
          </ul>
        </igx-card-content>
      </igx-card>

      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-05' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Registration</span></li>
            <li i18n>14:00: <span class="highlight">Opening Ceremony</span></li>
            <li i18n>14:30: <span class="highlight">Tournament begins</span></li>
          </ul>
        </igx-card-content>
      </igx-card>

      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-06' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Registration</span> for late arrivals</li>
            <li i18n>13:00: <span class="highlight">Gates open</span></li>
            <li i18n>14:00: <span class="highlight">Tournament Day 2 begins</span></li>
          </ul>
        </igx-card-content>
      </igx-card>

      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-07' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Registration</span> for late arrivals</li>
            <li i18n>13:00: <span class="highlight">Gates open</span></li>
            <li i18n>14:00: <span class="highlight">Tournament Day 3 begins</span></li>
          </ul>
        </igx-card-content>
      </igx-card>

      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-08' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Registration</span> for late arrivals</li>
            <li i18n>13:00: <span class="highlight">Gates open</span></li>
            <li i18n>14:00: <span class="highlight">Opening Ceremony for finals day</span></li>
            <li i18n>14:30: <span class="highlight">Tournament Day 4 begins</span></li>
            <li i18n>19:30: <span class="highlight">Final Ceremony</span></li>
            <li i18n>20:00: <span class="highlight">Final</span></li>
          </ul>
        </igx-card-content>
      </igx-card>
    </div>
  </div>

  <div class="content-container-column">
    <img ngSrc="/assets/bge/summer-theater.webp" width="600" height="372" class="preview-image" alt="Summer Theater Stara Zagora" />
  </div>
  <div class="content-container-column">
    <h2 i18n>The Venue</h2>
    <p i18n>The <span class="highlight">Summer Theater in Stara Zagora</span> is located at the foot of largest city park in Bulgaria. This open-air masterpiece combines nature and ancient traditions with modern architecture into a unique experience for the audience.</p>
  </div>

  <div class="content-container-column">
    <h2 i18n>Stara Zagora</h2>
    <p i18n>The city hosting this event has more than <span class="highlight">8000 years of history</span>! Ancient forums, Roman murals and mosaics, 2000-year-old theaters, bath houses, and aqueducts, it's all beneath your feet and everywhere around you. Traditions and modern esports come together at this unique place!</p>
  </div>
  <div class="content-container-column">
    <img ngSrc="/assets/bge/roman-bathhouse.webp" width="600" height="395" class="preview-image" alt="Ancient Roman Structure" />
  </div>

  <div class="content-container-column">
    <iframe width="560" height="315" class="preview-image" src="https://www.youtube.com/embed/HcY0qUrRnJw?si=46RWHQ4ZQcokgblL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <!-- <img ngSrc="/assets/wallpapers/bellum-gens-elite-winners.webp" width="600" height="401" class="preview-image" alt="Bellum Gens Elite - Stara Zagora Winners" /> -->
  </div>
  <div class="content-container-column">
    <h2 i18n>Past Events</h2>
    <p i18n><span class="highlight">Bellum Gens Elite - Stara Zagora</span> 2020 brought the top Counter-Strike talent in the region to compete under one roof for a prize pool of $10,000!</p>
    <p i18n>Bellum Gens Elite - Stara Zagora was one of the few LAN events held in 2020 and due to Covid-19 lockdowns and travel restrictions, only 10 teams were able to participate in the LAN finals.</p>
  </div>

  <div class="content-container-column">
    <h2 i18n>Sponsorship Opportunities</h2>
    <p i18n><span class="highlight">Contact us</span> if you wish to sponsor this or any of the other event organized by Bellum Gens. Our contact info can be found at the footer of the page.</p>
  </div>
  <div class="content-container-column">
    <img ngSrc="/assets/bge/print-ads.webp" width="600" height="400" class="preview-image" alt="Ancient Roman Structure" />
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
  </div>

  <div class="content-container-row">
    <div class="horizontal-center">
      <h2 i18n>Organized With</h2>
    </div>
    <div class="horizontal-center">
      <a href="https://www.facebook.com/BSLesports/" i18n-title title="Bulgarian StarCraft League a one of a kind StarCraft II league in Bulgaria and are contributing to the deveopment of Bulgarian talent in this esport! All StarCraft 2 games in the Esports Business League are casted by the them!" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/bsl.webp" width="134" height="134" i18n-alt alt="Bulgarian StarCraft League a one of a kind StarCraft II league in Bulgaria and are contributing to the deveopment of Bulgarian talent in this esport! All StarCraft 2 games in the Esports Business League are casted by the them!" class="partner logistics" />
      </a>
      <a href="https://www.starazagora.bg/" i18n-title title="Stara Zagora is a 6000+ year-old city in the center of Bulgaria. We partner with Stara Zagora Municipality for the Bellum Gens Elite - Stara Zagora premier esports event!" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/logo-stz.png" width="384" height="134" i18n-alt alt="Stara Zagora is a 6000+ year-old city in the center of Bulgaria. We partner with Stara Zagora Municipality for the Bellum Gens Elite - Stara Zagora premier esports event!" class="partner logistics" />
      </a>
      <a href="https://visitstarazagora.bg/en" i18n-title title="Visit Stara Zagora" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/visit-stara-zagora.png" width="519" height="330" i18n-alt alt="Visit Stara Zagora" class="partner logistics" />
      </a>
      <a href="https://bulstream.com/" title="Bulstream" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/bulstream.png" width="512" height="512" alt="Bulstream" class="partner logistics" />
      </a>
    </div>
  </div>
</div>
