<div class="content-container">
  <div class="content-container-row">
    <div class="horizontal-center">
      <img width="88" height="88" alt="BGE Logo" [src]="'/assets/login/bge-white-2024.svg'" />
      <h1>Bellum Gens Elite</h1>
    </div>
    <p i18n>Bellum Gens Elite is a premier esports LAN event organized in Bulgaria. Ancient history and traditions, and beautiful scenery combine with high-level action-packed esports competition to bring you an unforgettable experience.</p>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3320904478097217"
        crossorigin="anonymous"></script>
    <!-- Display Ad horizontal -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3320904478097217"
        data-ad-slot="9044957402"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <a [href]="this.ticketsUrl" target="_blank" igxButton="contained" class="cta-button-large" i18n>GET YOUR TICKETS NOW</a>
  </div>

  <div class="content-container-column">
    <iframe class="preview-image" src="https://player.twitch.tv/?channel=bge_starazagora&parent=bellumgens.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
  </div>

  <div class="content-container-column">
    <p i18n>Join us live on <span class="highlight">{{ isoDate | date: 'long' }}</span> for Bellum Gens Elite Stara Zagora 2025 Americas open qualifier!</p>
    <h2 style="align-self: center" i18n><span class="highlight">{{days}} {{days !== 1 ? 'days' : 'day'}} {{hours | number:'2.0-0'}}:{{minutes | number:'2.0-0'}}:{{seconds | number:'2.0-0'}}</span> left!</h2>
    <a href="https://www.twitch.tv/bge_starazagora" target="_blank" igxButton="contained" style="margin-top: 12px" i18n>Watch on Twitch</a>
  </div>

  <!-- <div class="content-container-column">
    <iframe class="preview-image" width="560" height="315" src="https://www.youtube.com/embed/g1P4dYvGpA0?si=2L8m1OjZfdOVF1mi" title="BGE Stara Zagora 2024 Aftermovie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div> -->

  <div class="content-container-row">
    <igx-divider></igx-divider>
  </div>

  <!-- <div class="content-container-column">
    <p i18n>Join us live on <span class="highlight">{{ isoDate | date: 'long' }}</span> for Bellum Gens Elite future plans reveal!</p>
    <h2 style="align-self: center" i18n><span class="highlight">{{days}} {{days !== 1 ? 'days' : 'day'}} {{hours | number:'2.0-0'}}:{{minutes | number:'2.0-0'}}:{{seconds | number:'2.0-0'}}</span> left!</h2>
    <a href="https://www.twitch.tv/bge_starazagora" target="_blank" igxButton="contained" style="margin-top: 12px" i18n>Watch on Twitch</a>
  </div> -->

  <div class="content-container-column">
    <h2 i18n>BGE - Stara Zagora 2025</h2>
    <p i18n><span class="highlight">Bellum Gens Elite Stara Zagora</span> returns in 2025 for another epic showdown!</p>
    <ul>
      <li i18n>StarCraft II</li>
      <li i18n>Main Event: <span class="highlight">4-7th</span> of June</li>
      <li i18n><span class="highlight">4</span> invited players</li>
      <li i18n><span class="highlight">12</span> qualifying players</li>
      <li i18n>Summer Theater - Stara Zagora</li>
      <li><a class="highlight" [href]="this.ticketsUrl" target="_blank" i18n>Tickets Available Now</a></li>
    </ul>
    <p i18n>Stay tuned for more updates!</p>
  </div>
  <div class="content-container-column">
    <iframe class="preview-image" width="560" height="315" src="https://www.youtube.com/embed/g1P4dYvGpA0?si=2L8m1OjZfdOVF1mi" title="BGE Stara Zagora 2024 Aftermovie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <!-- <iframe width="560" height="315" class="preview-image" src="https://www.youtube.com/embed/4ZtIooYGp_g?si=zOJOViSa8gZwzRLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <img ngSrc="/assets/bge/stara-zagora1.webp" width="600" height="337" class="preview-image" alt="Stara Zagora - Samara Monument" />
    <img ngSrc="/assets/bge/bge-stage.webp" width="600" height="400" class="preview-image" alt="BGE Stara Zagora 2024 Champion: Clem" /> -->
  </div>

  <div id="confirmed-players" class="content-container-row">
    <h2 i18n>Invited Players</h2>
    <div class="card-wrapper">
      @for (player of invitedPlayers; track player.name) {
        <igx-card>
          <igx-card-media>
            <img [src]="player.image" alt="Player Avatar" />
          </igx-card-media>
          <igx-card-header>
            <div igxCardHeaderTitle>
              <span>{{player.name}}</span>
              @if (player.country !== 'TBA') {
                <igx-avatar [src]="player.country | countrySVG" shape="circle" [title]="player.country" class="country-badge-small"></igx-avatar>
              }
            </div>
            <h3 igxCardHeaderSubtitle>{{player.team}}</h3>
          </igx-card-header>
          @if(player.source) {
            <igx-card-content>
              <p>{{player.source}}</p>
            </igx-card-content>
          }
        </igx-card>
      }
    </div>
  </div>

  <div id="qualified-players" class="content-container-row">
    <h2 i18n>Qualified Players</h2>
    <div class="card-wrapper">
      @for (player of qualifiedPlayers; track player) {
        <igx-card>
          <igx-card-media>
            <img [src]="player.image" alt="Player Avatar" />
          </igx-card-media>
          <igx-card-header>
            <div igxCardHeaderTitle>
              <span>{{player.name}}</span>
              @if (player.country !== 'TBA') {
                <igx-avatar [src]="player.country | countrySVG" shape="circle" [title]="player.country" class="country-badge-small"></igx-avatar>
              }
            </div>
            <h3 igxCardHeaderSubtitle>{{player.team}}</h3>
          </igx-card-header>
          <igx-card-content>
            <p>{{player.source}}</p>
          </igx-card-content>
        </igx-card>
      }
    </div>
  </div>

  <div id="qualifiers" class="content-container-row">
    <h2 i18n>Qualifiers</h2>
  </div>

  <div class="content-container-column">
    <igx-card>
      <igx-card-header>
        <div igxCardHeaderTitle>
          <span class="highlight" i18n>Americas Open Qualifier</span>
        </div>
        <div igxCardHeaderSubtitle>
          {{ '2025-03-15T16:00:00Z' | date: 'medium' }}
        </div>
      </igx-card-header>
      <igx-card-content>
        <ul>
          <li i18n>Open to all <span class="highlight">Grandmaster</span> players from the <span class="highlight">Americas region</span></li>
          <li i18n><span class="highlight">Top 2</span> players qualify</li>
          <li i18n>Single-elimination bracket</li>
          <li i18n>Registration deadline <span class="highlight">{{ '2025-03-14T16:00:00Z' | date: 'medium' }}</span></li>
          <li i18n>Qualifier checkin <span class="highlight">{{ '2025-03-15T14:00:00Z' | date: 'medium' }}</span></li>
        </ul>
      </igx-card-content>
      <igx-card-actions>
        <!-- <a href="https://www.twitch.tv/bge_starazagora" igxEnd igxButton="outlined">Stream</a> -->
        <a href="/assets/bge/Rulebook - BGE Stara Zagora 2025.pdf" igxEnd target="_blank" igxButton="outlined" i18n>View Rulebook</a>
        <a igxButton="contained" igxEnd [routerLink]="['events', americasQualifierId]" i18n>View Participants</a>
      </igx-card-actions>
    </igx-card>
  </div>

  <div class="content-container-column">
    <igx-card>
      <igx-card-header>
        <div igxCardHeaderTitle>
          <span class="highlight" i18n>Asia Open Qualifier</span>
        </div>
        <div igxCardHeaderSubtitle>
          {{ '2025-03-22T08:00:00Z' | date: 'medium' }}
        </div>
      </igx-card-header>
      <igx-card-content>
        <ul>
          <li i18n>Open to all <span class="highlight">Grandmaster</span> players from the <span class="highlight">Asia region</span></li>
          <li i18n><span class="highlight">Top 4</span> players qualify</li>
          <li i18n>Single-elimination bracket</li>
          <li i18n>Registration deadline <span class="highlight">{{ '2025-03-21T08:00:00Z' | date: 'medium' }}</span></li>
          <li i18n>Qualifier checkin <span class="highlight">{{ '2025-03-22T06:00:00Z' | date: 'medium' }}</span></li>
        </ul>
      </igx-card-content>
      <igx-card-actions>
        <!-- <a href="https://www.twitch.tv/bge_starazagora" igxEnd igxButton="outlined">Stream</a> -->
        <a href="/assets/bge/Rulebook - BGE Stara Zagora 2025.pdf" igxEnd target="_blank" igxButton="outlined" i18n>View Rulebook</a>
        <a igxButton="outlined" igxEnd [routerLink]="['events', asiaQualifierId]" i18n>View Participants</a>
        <a igxButton="contained" igxEnd [routerLink]="['registration/', asiaQualifierId]" i18n>Sign-up to participate</a>
      </igx-card-actions>
    </igx-card>
  </div>

  <div class="content-container-column">
    <igx-card>
      <igx-card-header>
        <div igxCardHeaderTitle>
          <span class="highlight" i18n>Europe Open Qualifier</span>
        </div>
        <div igxCardHeaderSubtitle>
          {{ '2025-03-29T14:00:00Z' | date: 'medium' }}
        </div>
      </igx-card-header>
      <igx-card-content>
        <ul>
          <li i18n>Open to all <span class="highlight">Grandmaster</span> players from the <span class="highlight">Europe region</span></li>
          <li i18n><span class="highlight">Top 5</span> players qualify</li>
          <li i18n>Single-elimination bracket</li>
          <li i18n>Registration deadline <span class="highlight">{{ '2025-03-28T14:00:00Z' | date: 'medium' }}</span></li>
          <li i18n>Qualifier checkin <span class="highlight">{{ '2025-03-29T12:00:00Z' | date: 'medium' }}</span></li>
        </ul>
      </igx-card-content>
      <igx-card-actions>
        <!-- <a href="https://www.twitch.tv/bge_starazagora" igxEnd igxButton="outlined">Stream</a> -->
        <a href="/assets/bge/Rulebook - BGE Stara Zagora 2025.pdf" igxEnd target="_blank" igxButton="outlined" i18n>View Rulebook</a>
        <a igxButton="outlined" igxEnd [routerLink]="['events', europeQualifierId]" i18n>View Participants</a>
        <a igxButton="contained" igxEnd [routerLink]="['registration/', europeQualifierId]" i18n>Sign-up to participate</a>
      </igx-card-actions>
    </igx-card>
  </div>

  <div class="content-container-column">
    <igx-card>
      <igx-card-header>
        <div igxCardHeaderTitle>
          <span class="highlight" i18n>Balkan Open Qualifier</span>
        </div>
        <div igxCardHeaderSubtitle>
          {{ '2025-04-05T13:00:00Z' | date: 'medium' }}
        </div>
      </igx-card-header>
      <igx-card-content>
        <ul>
          <li i18n>Open to all <span class="highlight">Grandmaster</span> players from the <span class="highlight">Balkan region</span></li>
          <li i18n><span class="highlight">Top</span> player qualifies</li>
          <li i18n>Single-elimination bracket</li>
          <li i18n>Registration deadline <span class="highlight">{{ '2025-04-04T13:00:00Z' | date: 'medium' }}</span></li>
          <li i18n>Qualifier checkin <span class="highlight">{{ '2025-04-05T11:00:00Z' | date: 'medium' }}</span></li>
        </ul>
      </igx-card-content>
      <igx-card-actions>
        <!-- <a href="https://www.twitch.tv/bge_starazagora" igxEnd igxButton="outlined">Stream</a> -->
        <a href="/assets/bge/Rulebook - BGE Stara Zagora 2025.pdf" igxEnd target="_blank" igxButton="outlined" i18n>View Rulebook</a>
        <a igxButton="outlined" igxEnd [routerLink]="['events/', balkanQualifierId]" i18n>View Participants</a>
        <a igxButton="contained" igxEnd [routerLink]="['registration/', balkanQualifierId]" i18n>Sign-up to participate</a>
      </igx-card-actions>
    </igx-card>
  </div>

  <!-- <div id="telent" class="content-container-row">
    <h2 i18n>Talent</h2>
    <div class="card-wrapper">
      @for (caster of talent; track caster.name) {
        <igx-card>
          <igx-card-media>
            <img [src]="caster.image" alt="Player Avatar" />
          </igx-card-media>
          <igx-card-header>
            <div igxCardHeaderTitle>
              <span>{{caster.name}}</span>
              @if (caster.country !== 'TBA') {
                <igx-avatar [src]="caster.country | countrySVG" shape="circle" [title]="caster.country" class="country-badge-small"></igx-avatar>
              }
            </div>
            <h3 igxCardHeaderSubtitle>{{caster.role}}</h3>
          </igx-card-header>
        </igx-card>
      }
    </div>
  </div>

  <div id="main-event" class="content-container-row">
    <h2 i18n>Main Event Schedule</h2>
  </div>

  <div id="main-event-schedule" class="content-container-row">
    <div class="card-wrapper">
      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-04' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Pre-registration</span></li>
            <li i18n>All day: <span class="highlight">Media day</span></li>
            <li i18n>18:00: <span class="highlight">Meet the players</span></li>
          </ul>
        </igx-card-content>
      </igx-card>

      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-05' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Registration</span></li>
            <li i18n>14:00: <span class="highlight">Opening Ceremony</span></li>
            <li i18n>14:30: <span class="highlight">Tournament begins</span></li>
          </ul>
        </igx-card-content>
      </igx-card>

      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-06' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Registration</span> for late arrivals</li>
            <li i18n>12:00: <span class="highlight">Gates open</span></li>
            <li i18n>13:00: <span class="highlight">Tournament Day 2 begins</span></li>
          </ul>
        </igx-card-content>
      </igx-card>

      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-07' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Registration</span> for late arrivals</li>
            <li i18n>12:00: <span class="highlight">Gates open</span></li>
            <li i18n>13:00: <span class="highlight">Tournament Day 3 begins</span></li>
          </ul>
        </igx-card-content>
      </igx-card>

      <igx-card>
        <igx-card-header>
          <div igxCardHeaderTitle>
            {{ '2024-09-08' | date: 'longDate' }}
          </div>
        </igx-card-header>
        <igx-card-content>
          <ul>
            <li i18n>12:00: <span class="highlight">Registration</span> for late arrivals</li>
            <li i18n>13:00: <span class="highlight">Gates open</span></li>
            <li i18n>14:00: <span class="highlight">Opening Ceremony for finals day</span></li>
            <li i18n>14:30: <span class="highlight">Tournament Day 4 begins</span></li>
            <li i18n>19:30: <span class="highlight">Final Ceremony</span></li>
            <li i18n>20:00: <span class="highlight">Final</span></li>
          </ul>
        </igx-card-content>
      </igx-card>
    </div>
  </div> -->

  <div class="content-container-column">
    <img ngSrc="/assets/bge/bge-stage.webp" width="600" height="400" class="preview-image" alt="Summer Theater Stara Zagora" />
  </div>
  <div class="content-container-column">
    <h2 i18n>The Venue</h2>
    <p i18n>The <span class="highlight">Summer Theater in Stara Zagora</span> is located at the foot of largest city park in Bulgaria. This open-air masterpiece combines nature and ancient traditions with modern architecture into a unique experience for the audience.</p>
  </div>

  <div class="content-container-column">
    <h2 i18n>Stara Zagora</h2>
    <p i18n>The city hosting this event has more than <span class="highlight">8000 years of history</span>! Ancient forums, Roman murals and mosaics, 2000-year-old theaters, bath houses, and aqueducts, it's all beneath your feet and everywhere around you. Traditions and modern esports come together at this unique place!</p>
  </div>
  <div class="content-container-column">
    <iframe class="preview-image" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2944.6812473186187!2d25.618919277487052!3d42.434519271186154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a86996f04f12f7%3A0xafe149bad3c02de0!2z0JvQtdGC0LXQvSDRgtC10LDRgtGK0YA!5e0!3m2!1sen!2sbg!4v1737724650312!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="content-container-column">
    <img ngSrc="/assets/bge/bge-stats.webp" priority width="600" height="400" class="preview-image" alt="BGE Stara Zagora 2024: Stats" />
    <!-- <iframe width="560" height="315" class="preview-image" src="https://www.youtube.com/embed/4ZtIooYGp_g?si=zOJOViSa8gZwzRLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <img ngSrc="/assets/bge/stara-zagora1.webp" width="600" height="337" class="preview-image" alt="Stara Zagora - Samara Monument" /> -->
  </div>
  <div class="content-container-column">
    <h2 i18n id="bgebalkan" routerLink="bge-balkan-circuit" class="navigatable">BGE Balkan Circuit</h2>
    <p i18n><span class="highlight">Bellum Gens Elite Balkan</span> weekly online circuit launches in November 2024 and presents every player in the Balkan region with the opportunity to participate in weekly online matches to earn points towards cash prizes.</p>
    <ul>
      <li i18n>Online circuit starts <span class="highlight">{{ '2024-11-30' | date: 'longDate' }}</span></li>
      <li i18n><span class="highlight">Open</span> to everyone in the Balkan region</li>
      <li i18n>Compete weekly to earn points towards <span class="highlight">monthly cash prizes</span></li>
      <li i18n><span class="highlight">Improve</span> your personal gameplay!</li>
    </ul>
    <a i18n routerLink="bge-balkan-circuit" igxButton="contained" style="margin-top: 12px" i18n>Go to BGE Balkan Circuit</a>
  </div>

  <div class="content-container-row">
    <h2 i18n>Past Events</h2>
  </div>

  <div class="content-container-column">
    <h2 i18n>BGE - Stara Zagora 2024</h2>
    <p i18n><span class="highlight">Bellum Gens</span> joined forces with the <span class="highlight">Bulgarian StarCraft League</span> and <span class="highlight">Stara Zagora Municipality</span> to deliver an epic esports experience!</p>
    <ul style="margin-bottom: 12px;">
      <li i18n>StarCraft II</li>
      <li i18n>Qualifiers: <span class="highlight">20-21st</span> of July</li>
      <li i18n>Main Event: <span class="highlight">4-8th</span> of September</li>
      <li i18n><span class="highlight">16</span> players</li>
      <li i18n><span class="highlight">€10000</span> prize pool</li>
      <li i18n>Summer Theater - Stara Zagora</li>
      <li i18n><span class="highlight">Clement "Clem" Desplanches</span> is the 2024 champion!</li>
    </ul>
    <a href="https://drive.google.com/file/d/1IMuw9fx_ddOU56_p334b5t9e7j_o92fI/view?usp=sharing" target="_blank" igxButton="contained" style="margin-top: 12px" i18n>Download Replay Pack</a>
  </div>
  <div class="content-container-column">
    <img ngSrc="/assets/bge/clem-champion-2.webp" width="600" height="400" class="preview-image" alt="BGE Stara Zagora 2024 Champion: Clem" />
    <!-- <iframe width="560" height="315" class="preview-image" src="https://www.youtube.com/embed/4ZtIooYGp_g?si=zOJOViSa8gZwzRLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <img ngSrc="/assets/bge/stara-zagora1.webp" width="600" height="337" class="preview-image" alt="Stara Zagora - Samara Monument" /> -->
  </div>

  <div class="content-container-column">
    <iframe width="560" height="315" class="preview-image" src="https://www.youtube.com/embed/HcY0qUrRnJw?si=46RWHQ4ZQcokgblL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <!-- <img ngSrc="/assets/wallpapers/bellum-gens-elite-winners.webp" width="600" height="401" class="preview-image" alt="Bellum Gens Elite - Stara Zagora Winners" /> -->
  </div>
  <div class="content-container-column">
    <h2 i18n>BGE - Stara Zagora 2020</h2>
    <p i18n><span class="highlight">Bellum Gens Elite - Stara Zagora</span> 2020 brought the top Counter-Strike talent in the region to compete under one roof for a prize pool of $10,000!</p>
    <p i18n>Bellum Gens Elite - Stara Zagora was one of the few LAN events held in 2020 and due to Covid-19 lockdowns and travel restrictions, only 10 teams were able to participate in the LAN finals.</p>
  </div>

  <div class="content-container-column">
    <h2 i18n>Sponsorship Opportunities</h2>
    <p i18n><a href="mailto:info@bellumgens.com">Contact us</a> if you wish to sponsor this or any of the other event organized by Bellum Gens. Our social media contacts can be found at the footer of the page.</p>
  </div>
  <div class="content-container-column">
    <img ngSrc="/assets/bge/print-ads.webp" width="600" height="400" class="preview-image" alt="Ancient Roman Structure" />
  </div>

  <div class="content-container-row">
    <igx-divider></igx-divider>
    <h2 id="partners" i18n>Partners</h2>
    <div class="horizontal-center">
      <a routerLink="/partners/visit-stara-zagora" i18n-title title="Visit Stara Zagora">
        <img ngSrc="/assets/partners/visit-stara-zagora.png" width="519" height="330" i18n-alt alt="Visit Stara Zagora" class="partner gold" />
      </a>
      <!-- <a routerLink="/partners/techhub" title="TechHub.bg">
        <img ngSrc="/assets/partners/Logo_Techhub_white.png" width="512" height="512" alt="TechHub.bg" class="partner gold" />
      </a> -->
    </div>
  </div>

  <div class="content-container-row">
    <div class="horizontal-center">
      <h2 i18n>Organized With</h2>
    </div>
    <div class="horizontal-center">
      <a href="https://www.facebook.com/BGStarCraftLeague" i18n-title title="Bulgarian StarCraft League a one of a kind StarCraft II league in Bulgaria and are contributing to the development of Bulgarian talent in this esport! All StarCraft 2 games in the Esports Business League are casted by the them!" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/bsl.webp" width="134" height="134" i18n-alt alt="Bulgarian StarCraft League a one of a kind StarCraft II league in Bulgaria and are contributing to the development of Bulgarian talent in this esport! All StarCraft 2 games in the Esports Business League are casted by the them!" class="partner logistics" />
      </a>
      <a href="https://www.starazagora.bg/" i18n-title title="Stara Zagora is a 6000+ year-old city in the center of Bulgaria. We partner with Stara Zagora Municipality for the Bellum Gens Elite - Stara Zagora premier esports event!" target="_blank" rel="noopener">
        <img ngSrc="/assets/partners/logo-stz.png" width="384" height="134" i18n-alt alt="Stara Zagora is a 6000+ year-old city in the center of Bulgaria. We partner with Stara Zagora Municipality for the Bellum Gens Elite - Stara Zagora premier esports event!" class="partner logistics" />
      </a>
      <a routerLink="/partners/bulstream" title="Bulstream">
        <img ngSrc="/assets/partners/bulstream.png" width="512" height="512" alt="Bulstream" class="partner logistics" />
      </a>
    </div>
  </div>
</div>
