:host {
  igx-calendar {
    height: fit-content;
  }
}

.schedule-calendar {
  width: 348px;
}

.match-details {
  padding: 0 16px;
  min-width: 348px;
}

.match-score {
  display: grid;
  grid-template-columns: 75px minmax(100px, 1fr) 48px minmax(100px, 1fr);
  grid-column-gap: 16px;
  padding: 8px 0;
  align-items: center;
}

.results-button {
  grid-column: 1 / -1;
  align-items: center;
}

.match-time {
  text-align: center;
}

.match-text-content {
  padding: 0 8px;
}

.team-name {
  font-size: 0.75rem;
}

.match-text-content.align-center {
  text-align: center;
}

.match-text-content.align-right {
  text-align: right;
}

@media only screen and (max-width: 550px) {
  .match-time {
    grid-column: 1 / -1;
  }

  .match-score {
    grid-template-columns: 75px minmax(55px, 1fr) 48px minmax(150px, 1fr);
  }

  .match-summary {
    grid-template-columns: minmax(150px, 1fr) 48px minmax(150px, 1fr);
  }

  .match-details {
    padding: 0;
  }
}
