<div class="match-layout">
  <igx-calendar (onSelection)="daySelected($event)" [specialDates]="datesWithMatches">

  </igx-calendar>

  <igx-grid [cellSelection]="'none'"
            [data]="selectedMatches"
            showToolbar="true"
            emptyGridMessage="Няма намерени срещи в този ден..."
            [isLoading]="loading"
            [toolbarTitle]="'Срещи за ' + (today | date)">

    <igx-column field="StartTime" width="100px" header="Начало">
      <ng-template igxCell let-value>
        {{ value | date:'shortTime' }}
      </ng-template>
    </igx-column>

    <igx-column field="Teams" header="Среща">

      <ng-template igxCell let-cell="cell">
        <igx-avatar igxListThumbnail
                    [src]="cell.rowData.Player1.avatarMedium"
                    [initials]="cell.rowData.Player1.username"
                    roundShape="true">
        </igx-avatar>
        <span [class]="cell.rowData.Player1Points > cell.rowData.Player2Points ? 'highlight grid-team-name' : 'grid-team-name'">
          {{ cell.rowData.Player1.battleNetId }}
        </span>

        <span class="grid-vs-divider">vs.</span>

        <igx-avatar
                    [src]="cell.rowData.Player2.avatarMedium"
                    [initials]="cell.rowData.Player2.username"
                    roundShape="true">
        </igx-avatar>
        <span [class]="cell.rowData.Player2Points > cell.rowData.Player1Points ? 'highlight grid-team-name' : 'grid-team-name'">
          {{ cell.rowData.Player2.battleNetId }}
        </span>
      </ng-template>
    </igx-column>

    <ng-template igxGridDetail let-dataItem>
      <div class="horizontal-center" *ngFor="let map of dataItem.Maps">
        <div class="score-container">
          <igx-icon *ngIf="map.WinnerId === dataItem.Player1Id">check</igx-icon>
        </div>

        <div>{{ map.Map | sc2MapName }}</div>

        <div class="score-container">
          <igx-icon *ngIf="map.WinnerId === dataItem.Player2Id">check</igx-icon>
        </div>
      </div>

      <div class="horizontal-center" *ngIf="dataItem.NoShow">
        Служебна победа.
      </div>
    </ng-template>
  </igx-grid>
</div>
