<igx-list [isLoading]="true">
  <ng-template igxDataLoading>
      <div class="center-message"><span>Fetching data from our server...</span></div>
  </ng-template>
  <ng-template igxEmptyList>
      <div class="center-message"><span>No new notifications.</span></div>
  </ng-template>
  <igx-list-item *ngFor="let notification of authUser?.Notifications | sortNotifications">
    <div [class]="'horizontal ' + notificationClass[notification.State]">
      <igx-avatar [src]="notification.TeamInfo.TeamAvatar" roundShape="true">
      </igx-avatar>
      <div class="horizontal-info__left">
        <span class="title">
          You have been invited to join {{ notification.TeamInfo.TeamName }}
        </span>
        <span class="subtitle">{{notification.Sent | date}}</span>
      </div>
      <div class="horizontal-info__right">
        <button igxButton="flat" [disabled]="notification.State | disabledNotifications" (click)="acceptInvitation(notification)">Accept</button>
      </div>
      <div class="horizontal-info__right">
        <button igxButton="flat" [disabled]="notification.State | disabledNotifications" (click)="rejectInvitation(notification)">Reject</button>
      </div>
    </div>
  </igx-list-item>
</igx-list>

<igx-toast #error [displayTime]="7000" message="Error has occurred..."></igx-toast>
<igx-toast #saveSuccess [displayTime]="2000" message="Saved..."></igx-toast>