:host::ng-deep {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;

  igx-card {
    max-width: 1280px;
  }

  igx-card-content > p {
    margin: 12px;
  }

  igx-icon {
    --size: 40px;
  }
}
