<igx-tabs>
  <igx-tab-item routerLinkActive #rla1="routerLinkActive"
                [selected]="rla1.isActive">
    <igx-tab-header routerLink="techhub">
      <img igxPrefix ngSrc="/assets/partners/Logo_Techhub_white.png" width="200" height="200" alt="TechHub.bg" title="TechHub.bg" />
    </igx-tab-header>
  </igx-tab-item>

  <igx-tab-item routerLinkActive #rla2="routerLinkActive"
                [selected]="rla2.isActive">
    <igx-tab-header routerLink="visit-stara-zagora">
      <img igxPrefix ngSrc="/assets/partners/visit-stara-zagora.png" width="200" height="200" alt="Visit Stara Zagora" title="Visit Stara Zagora" />
    </igx-tab-header>
  </igx-tab-item>

  <igx-tab-item routerLinkActive #rla3="routerLinkActive"
                [selected]="rla3.isActive">
    <igx-tab-header routerLink="bulstream">
      <img igxPrefix ngSrc="/assets/partners/bulstream.png" width="220" height="200" alt="BulStream" title="BulStream" />
    </igx-tab-header>
  </igx-tab-item>
</igx-tabs>

<router-outlet></router-outlet>
