<igx-tabs>
  <igx-tab-item routerLinkActive #rla1="routerLinkActive"
                [selected]="rla1.isActive">
    <igx-tab-header routerLink="visit-stara-zagora">
      <img igxPrefix ngSrc="/assets/partners/visit-stara-zagora.png" width="200" height="200" class="partner-image" alt="Visit Stara Zagora" title="Visit Stara Zagora" />
    </igx-tab-header>
  </igx-tab-item>

  <!-- <igx-tab-item routerLinkActive #rla2="routerLinkActive"
                [selected]="rla2.isActive">
    <igx-tab-header routerLink="techhub">
      <img igxPrefix ngSrc="/assets/partners/Logo_Techhub_white.png" width="200" height="200" class="partner-image" alt="TechHub.bg" title="TechHub.bg" />
    </igx-tab-header>
  </igx-tab-item> -->

  <igx-tab-item routerLinkActive #rla3="routerLinkActive"
                [selected]="rla3.isActive">
    <igx-tab-header routerLink="bulstream">
      <img igxPrefix ngSrc="/assets/partners/bulstream.png" width="220" height="200" class="partner-image" alt="BulStream" title="BulStream" />
    </igx-tab-header>
  </igx-tab-item>

  <igx-tab-item routerLinkActive #rla4="routerLinkActive"
                [selected]="rla4.isActive">
    <igx-tab-header routerLink="stackit">
      <img igxPrefix ngSrc="/assets/partners/STACKIT_Logo_RGB_Regular_White-MZ.svg" width="240" height="200" class="partner-image" alt="STACKIT" title="STACKIT" />
    </igx-tab-header>
  </igx-tab-item>

  <igx-tab-item routerLinkActive #rla5="routerLinkActive"
                [selected]="rla5.isActive">
    <igx-tab-header routerLink="pcbuild">
      <img igxPrefix ngSrc="/assets/partners/PC-Build-Logo-Vector color.svg" width="100" height="100" class="partner-image" style="margin: 0 50px" alt="PCBuild" title="PCBuild" />
    </igx-tab-header>
  </igx-tab-item>

  <igx-tab-item routerLinkActive #rla6="routerLinkActive"
                [selected]="rla6.isActive">
    <igx-tab-header routerLink="healthygg">
      <img igxPrefix ngSrc="/assets/partners/hgg-01resized.png" width="220" height="100" class="partner-image" alt="Healthy GG" title="Healthy GG" />
    </igx-tab-header>
  </igx-tab-item>

  <igx-tab-item routerLinkActive #rla7="routerLinkActive"
                [selected]="rla7.isActive">
    <igx-tab-header routerLink="asrock">
      <img igxPrefix ngSrc="/assets/partners/ASRock_en_w.png" width="200" height="50" class="partner-image" alt="ASRock" title="ASRock" />
    </igx-tab-header>
  </igx-tab-item>

  <igx-tab-item routerLinkActive #rla8="routerLinkActive"
                [selected]="rla8.isActive">
    <igx-tab-header routerLink="deepcool">
      <img igxPrefix ngSrc="/assets/partners/deepcool.svg" width="200" height="50" class="partner-image" alt="DeepCool" title="DeepCool" />
    </igx-tab-header>
  </igx-tab-item>
</igx-tabs>

<router-outlet></router-outlet>

<p style="align-self: center" i18n>If you're interested in our sponsorship opportunities, <a href="mailto:info@bellumgens.com">get in touch</a>!</p>
