.time-pickers {
  padding: 16px;
}

.time-picker {
  width: 200px;
  margin: 0 16px;
}

.igx-chip__text {
  display: inline-block;
  min-width: 10ch;
  font-size: 0.85rem;
  font-weight: 600;
}

.igx-chip__subtext {
  min-width: 11ch;
  font-size: 0.74rem;
  font-weight: 200;
  margin-left: 4px;
  color: #FF0958;
}

igx-chip {
  width: 232px;
}

@media only screen and (max-width: 495px) {
  igx-chip {
    width: 100%;
  }
}