# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy bellumgens and ebleague to Azure Web Apps

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: npm install, build, and test
        run: |
          echo "@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/" >> ~/.npmrc
          echo "//packages.infragistics.com/npm/js-licensed/:_auth=${{ secrets.NPM_TOKEN }}" >> ~/.npmrc
          echo "//packages.infragistics.com/npm/js-licensed/:always-auth=true" >> ~/.npmrc
          npm install
          npm run build --if-present

      - name: Zip artifact for deployment
        run: zip release.zip ./dist/* -r

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: Login to Azure bellum-gens
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F1E837D6C5DE4CFD9C1819F41D4E5A85 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_6A280898C48A4D87A349A21B2AC458F0 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_987EB166EE8A42409D407C781A962941 }}

      - name: 'Deploy bellum-gens to Azure Web App'
        id: deploy-to-webapp-bellumgens
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'bellum-gens'
          slot-name: 'Production'
          package: ./dist/bellumgens

      - name: Login to Azure eb-league
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_317290C79BEF49CBAA0BAD4CDC2B76C5 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9F3F13AEBF9D47F1A268EF9B522E89FB }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_99C5716295DC4B3AA35E4BDEA96297E7 }}

      - name: 'Deploy eb-league to Azure Web App'
        id: deploy-to-webapp-ebleague
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'eb-league'
          slot-name: 'Production'
          package: ./dist/ebleague

